body { background:#333;
  
}

  .nav1{ margin:5px 0 0 0; padding:2px 2px;}


.nav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	
}

.nav1 ul li {
	
	float:left;
	background:#f4f3ef;
	width:120px;
	height:50px;
   
} 

        
 .ancSelected
{

	    background: rgba(0, 0, 0, 0) linear-gradient(#001f02, #3ac6a6) repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-weight: bold;
    height: 100%;
    margin: 1px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
 

.ancBasic{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: green;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #ffffff;
    display: block;
    font-weight: bold;
    margin:1px 1px 1px 1px;
    padding:7px;
	text-align: center;
	height:100%;
 text-decoration:none;

    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    width: 100%;

    background: -webkit-linear-gradient(#04c99d, #6fc9b5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#04c99d, #6fc9b5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#04c99d, #6fc9b5); /* For Firefox 3.6 to 15 */
}

 

.box{ margin:9px 0 0 9px;
      padding:0px 0 0 0px;
    float:left;
	text-align:center;
    background: #e8e9ea;
    width: 100px;
    border-radius: 4px;
    cursor:pointer;
    
    }
	
		
.box h3:hover{font-weight:bold; margin:0px; padding:5px; 
              font-family:Arial, Helvetica, sans-serif; 
              font-size:14px;height:45px; background:#887d73  
               ; color:#FFFFFF;  border-top-left-radius:3px;
          background: #db3030;     
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px; }
.leftside {
    background: #db3030 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #CACACA;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 2px;
    padding-top: 10px;
    width: 100%;
    color:White;
    border:solid 2px white;
}


.cate {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f1f1f1;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
 
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #dbdbdb;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dbdbdb;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dbdbdb;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
    border-bottom: 0px;
}
.cate {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffffff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #262c2d;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 10px;
    width: 100%;
}
.cate2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f1f1f1;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #dbdbdb;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #dbdbdb;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dbdbdb;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dbdbdb;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
}
.cate2 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffffff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #262c2d;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 10px;
    width: 100%;
}
.Search{ background-color:#333; margin:3px 0px 5px 0px; float:left; padding:10px 10px; width:100%;border-radius:2px;border:solid 2px white; }

.button1 {
    background: #14c9a2 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:inset -2px -5px 5px #20584c;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
    border:0px;
}
.button2 {
    background: #ee2a73 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:inset -2px -5px 5px #20584c;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
    border:0px;
}
.button3 {
    background: darkgreen none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:inset -2px -5px 5px #002300;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
    border:0px;
}
.button4 {
    background: #687942 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:inset -2px -5px 5px #20584c;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
    border:0px;
}
.button5 {
    background: #7950a8 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:inset -2px -5px 5px #20584c;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
    border:0px;
}
.button6 {
    background: #4575c5 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:inset -2px -5px 5px #002272;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
    border:0px;
}
.button7 {
    background: mediumvioletred none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow:inset -2px -5px 5px #9d005e;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    cursor:pointer;
    border:0px;
}
.button h2{ font-size:12px; }
.button1 {
    background: #f06671 none repeat scroll 0 0;
    border-radius: 3px;
       box-shadow:inset -2px -5px 5px #8d3c42;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
     cursor:pointer;
}
.button1 h2{ font-size:12px; }
.button2 {
    background: #cc0600 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: -2px -5px 5px #3f0200 inset;
    color: #ffffff;
    font-size: 12px;
    height: 50px;
    margin: 2px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
     cursor:pointer;
}
.button2 h2{ font-size:12px; }
