﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="manageusers.aspx.cs" Inherits="manageusers" %>

    <asp:Content ID="Content1" ContentPlaceHolderID="cntAdmin" Runat="Server">
        <script src="ViewModel/UserViewModel.js" type="text/javascript"></script>
        <script src="Scripts/jquery-2.0.3.min.js"></script>
        <script src="Scripts/knockout-3.0.0.js"></script>
        <script src="Scripts/knockout.validation.js" type="text/javascript"></script>
        <script src="js/jquery.jqGrid.js" type="text/javascript"></script>
        <script src="js/grid.locale-en.js" type="text/javascript"></script>
        <link href="js/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
        <link href="css/customcss/manageusers.css" rel="stylesheet" />

        <link href="js/ui.jqgrid.css" rel="stylesheet" type="text/css" />

        <script language="javascript" type="text/javascript">
            $(document).ready(

                function() {

                    //BindGrid();

                });
        </script>

        <div class="right_col manage-users-right-col" role="main">
            <div class="page-title">
                <div class="title_left">
                    <h3>Create User</h3>
                </div>
               <!-- <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                 <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                        </div> 
                    </div>
                </div> -->
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel edit_manage_user">
                        <div class="x_title">
                            <h2>Add/Edit Users </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left manageuser_leftform">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Designation <span class="required">*</span>
                                    </label>

                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <select data-bind="options: $root.Designations, optionsText: 'DesgName',optionsValue:'DesgID',value: Counter_NO"></select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Branch <span class="required">*</span>
                                    </label>

                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <select data-bind="options: $root.Branches, optionsText: 'BranchName',optionsValue:'BranchId',value: BranchId"></select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-6" for="last-name">User ID <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" data-bind="value:User_ID" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-6" for="last-name">Password <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="password" data-bind="value:UserPWD" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-6" for="last-name">Discontinued <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="checkbox" data-bind="checked:Discontinued" />
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <button type="button" data-bind="click:$root.InsertUpdate,text:ButtonText" class="btn btn-primary"></button>
                                        <button type="button" data-bind="click:$root.Cancel,visible:IsVisible" class="btn btn-danger">Cancel</button>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel edit_manage_user">
                         <!--   <div class="x_title">
                                <h2>Manage Users </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>-->
                            <div class="x_content">

                                <div>
                                    <table id="jQGridDemo">
                                    </table>
                                    <div id="jQGridDemoPager">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- /page content -->

            

        </div>
        <!-- footer content -->
            <footer>
                <div class="">
                    <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |
                        <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
    </asp:Content>