﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PreLogin.aspx.cs" Inherits="PreLogin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">



    <link href="js/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="css/customcss/login.css" rel="stylesheet" />
     <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
     <script src="js/jquery.jqGrid.js" type="text/javascript"></script>
     <script src="js/grid.locale-en.js" type="text/javascript"></script>
     <link href="js/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
     <script src="js/jquery-ui.js"></script>
    <script src="js/customValidation.js" type="text/javascript"></script>
   <script type="text/javascript" src="js/jquery.uilock.js"></script>


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pre Login</title>

    <!-- Bootstrap core CSS -->

    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <link href="fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/animate.min.css" rel="stylesheet" />

    <!-- Custom styling plus plugins -->
    <link href="css/custom.css" rel="stylesheet" />
    <link href="css/icheck/flat/green.css" rel="stylesheet" />


    <script src="js/jquery.min.js"></script>

   

</head>

<body>
    
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <form id="form1" runat="server">
                        <h4>Please Enter Master Key</h4>

                         <div class="login_inputs">
      
                        </div>

                      <div class="login_inputs"><input type="password" id="txtPassword" class="form-control" runat="server" placeholder="Password" required="" /></div>
                      <div class="login_content"><asp:Button id="btnLogin" class="btn btn-default submit" Text="Submit" OnClick="btnLogin_Click" runat="server"/></div>
                      <div class="clearfix"></div>
                    </form>
                </section>
                <!-- content -->
            </div>
          
        </div>

</body>

</html>
