﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ting.aspx.cs" Inherits="ting" %>

 
<%@ Register src="Templates/ucItemMaster.ascx" tagname="ucItemMaster" tagprefix="uc2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
   
    <uc2:ucItemMaster ID="ucItemMaster1" runat="server" />
    </form>
</body>
</html>
