﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="CurrentStock.aspx.cs" Inherits="Reports_CurrentStock" %>
<%@ Register assembly="DevExpress.XtraReports.v11.2.Web, Version=11.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>
<%@ Register TagPrefix="asp" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit"%>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
    <link href="css/CurrentStock.css" rel="stylesheet" />


 <style type="text/css">
#tblist tr{border-bottom:solid 1px silver;background:#EDEDED}
#tblist tr td{text-align:left;padding:2px}
#tblist tr:nth-child(even){background:#F7F7F7}
 
#tblistItem tr{border-bottom:solid 1px silver;background:#EDEDED}
#tblistItem tr td{text-align:left;padding:2px}
#tblistItem tr:nth-child(even){background:#F7F7F7}
 </style>
<script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function myFunction1() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput1");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblist");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblistItem");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(
   function () {
       $("#myInput1").hide();
       $("#td_1").hide();
       $("#<%=rdbSelect.ClientID %>").click(function () {
           $("#myInput1").show();
           $("#td_1").show();
       });
       $("#<%=rdbAll.ClientID %>").click(function () {

           $("#myInput1").hide();
           $("#td_1").hide();
       });
       $("#td_2").hide();
       $("#myInput").hide();
       $("#<%=rdbSelectGroup.ClientID %>").click(function () {
           $("#myInput").show();
           $("#td_2").show();
       });
       $("input[name ='department']").click(function () {
           var CompaniesId = $('input[name="department"]:checkbox:checked').map(function () {
               return this.value;
           }).get();

           $("#<%=hdnDept.ClientID %>").val(CompaniesId);
       });

       $("#<%=rdbAll.ClientID %>").change(
    function () {


        if ($("#<%=rdbAll.ClientID %>").prop('checked') == true) {
            $("#<%=rdbSelect.ClientID %>").prop('checked', false);

        }

    }
    );
       $("#<%=rdbSelect.ClientID %>").change(
    function () {

        if ($("#<%=rdbSelect.ClientID %>").prop('checked') == true) {

            $("#<%=rdbAll.ClientID %>").prop('checked', false);

        }

    }
    );



   });

</script>

<script type="text/javascript">

  
   
    $(document).ready(
   function () {

       
     

      
        $("#<%=rdbAllGroup.ClientID %>").click(function () {

            $("#myInput").hide();
            $("#td_2").hide();
        });
       $("input[name ='group']").click(function () {
           var ItemsId = $('input[name="group"]:checkbox:checked').map(function () {
               return this.value;
           }).get();


           $("#<%=hdnGroup.ClientID %>").val(ItemsId);
       });

       $("#<%=rdbAllGroup.ClientID %>").change(
    function () {


        if ($("#<%=rdbAllGroup.ClientID %>").prop('checked') == true) {
            $("#<%=rdbSelectGroup.ClientID %>").prop('checked', false);

        }

    }
    );
       $("#<%=rdbSelectGroup.ClientID %>").change(
    function () {

        if ($("#<%=rdbSelectGroup.ClientID %>").prop('checked') == true) {

            $("#<%=rdbAllGroup.ClientID %>").prop('checked', false);

        }

    }
    );



   });

</script>

<asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
<asp:HiddenField ID= "hdnDept" runat="server" />
<asp:HiddenField ID= "hdnGroup" runat="server" />

<div class="department_wise">
    <table class="department_header">
        <tr><td colspan="100%">CURRENT STOCK REPORT </td></tr>
    </table>


    <div class="sale_report">
         <table class="sale_report">
            <tr><td  class="choos_branch"><span>Choose Branch</span>
                <asp:DropDownList class="form-control" id="ddlBranch" runat="server" placeholder="Choose Branch"></asp:DropDownList></td>
            </tr>
    
            <tr>
                <td valign="top" width="100%">
                     <table class="report_left">
                         <tr><td><b>item</b></td><td></td></tr>
                        <tr>
                            <td>Item Type:</td>
                            <td><asp:DropDownList ID ="ddlItemType" runat="server"></asp:DropDownList></td>
                        </tr>
                        <tr>
                            <td>Godown:</td>
                            <td><asp:DropDownList ID ="ddlgodown" runat="server"></asp:DropDownList></td>
                        </tr>
                        <tr>
                            <td>Company:</td>
                            <td><asp:DropDownList ID ="ddlcompany" runat="server"></asp:DropDownList></td>
                        </tr>
                          <tr>
                              <td><asp:RadioButton ID="rdbAll" name="All" runat="server" Text="All" Checked="True" /></td> 
                              <td><asp:RadioButton ID="rdbSelect" runat="server" Text="Selected" /></td>  
                          </tr>
                          <tr>
                              <td id="td_1">Search</td><td> <input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Search for names.." title="Type in a name" /></td>
                          </tr>
                        

                          <tr>
                              <td><asp:RadioButton ID="rdbAllGroup" name="All" runat="server" Text="All" Checked="True" /></td> 
                              <td><asp:RadioButton ID="rdbSelectGroup"   runat="server" Text="Selected" /></td>  
                          </tr>
                          <tr>
                              <td id="td_2">Search</td><td> <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" /></td>
                          </tr>
                         </table>

                    <table class="report_right">
                        <tr>
                              <td class="headings" colspan="2">Department:</td>
                          </tr>
                          <tr>

                           <td colspan="2">
                          <div style="height: 181px; overflow: auto;">
                          <table style="width:100%" id="tblist">
                          <asp:Literal ID="ltDepartments" runat="server"></asp:Literal>
                      
                          </table>
                          </div>
                      
                          </td>
                         </tr>
                        </table>

                    <table class="report_right report_right_bottom">
                          <tr>
                              <td class="headings" colspan="2">Group:</td>
                          </tr>
                          <tr>

                          <td colspan="2">
                          <div style="height: 181px; overflow: auto;">
                          <table style="width:100%" id="tblistItem">
                          <asp:Literal ID="ltGroups" runat="server"></asp:Literal>
                      
                          </table>
                          </div>
                      
                          </td>
                         </tr>
                   </table>
                    </td>
                </tr>

                      <tr>          
                        <td class="sale_btn"><asp:Button ID="btnGetRecords" runat="server"  Text="Generate Report" style="margin-top:20px"
                            onclick="btnGetRecords_Click"/>
                        </td>
                      </tr>
</table>
</div>
  <dx:ReportToolbar ID="ReportToolbar1" runat="server" ShowDefaultButtons="False" 
            onunload="ReportToolbar1_Unload" width="800px" 
        ReportViewerID="ReportViewer1" >
            <Items>
                <dx:ReportToolbarButton ItemKind="Search" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="PrintReport" />
                <dx:ReportToolbarButton ItemKind="PrintPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton Enabled="False" ItemKind="FirstPage" />
                <dx:ReportToolbarButton Enabled="False" ItemKind="PreviousPage" />
                <dx:ReportToolbarLabel ItemKind="PageLabel" />
                <dx:ReportToolbarComboBox ItemKind="PageNumber" Width="65px">
                </dx:ReportToolbarComboBox>
                <dx:ReportToolbarLabel ItemKind="OfLabel" />
                <dx:ReportToolbarTextBox IsReadOnly="True" ItemKind="PageCount" />
                <dx:ReportToolbarButton ItemKind="NextPage" />
                <dx:ReportToolbarButton ItemKind="LastPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="SaveToDisk" />
                <dx:ReportToolbarButton ItemKind="SaveToWindow" />
                <dx:ReportToolbarComboBox ItemKind="SaveFormat" Width="70px">
                    <Elements>
                        <dx:ListElement Value="pdf" />
                        <dx:ListElement Value="xls" />
                        <dx:ListElement Value="xlsx" />
                        <dx:ListElement Value="rtf" />
                        <dx:ListElement Value="mht" />
                        <dx:ListElement Value="html" />
                        <dx:ListElement Value="txt" />
                        <dx:ListElement Value="csv" />
                        <dx:ListElement Value="png" />
                    </Elements>
                </dx:ReportToolbarComboBox>
            </Items>
            <Styles>
                <LabelStyle>
                <Margins MarginLeft="3px" MarginRight="3px" />
                </LabelStyle>
            </Styles>
        </dx:ReportToolbar>
    <dx:ReportViewer ID="ReportViewer1" runat="server" Width="800px">
    </dx:ReportViewer>


</div>


<%--   <table width="1050px" style="background-color:gray;color:white">

   <tr><td>Choose Branch</td><td><asp:DropDownList class="form-control" id="ddlBranch" runat="server" placeholder="Choose Branch" style="width:350px;margin-bottom:20px;height:32px" >                                  
         </asp:DropDownList></td></tr>

   <tr><td>Item Type:</td><td><asp:DropDownList ID ="ddlItemType" Width="150px" runat="server"></asp:DropDownList></td>
<td>Godown:</td><td><asp:DropDownList ID ="ddlgodown" Width="150px" runat="server"></asp:DropDownList></td>
<td>Company:</td><td><asp:DropDownList ID ="ddlcompany" Width="150px" runat="server"></asp:DropDownList></td>
<td>
        <asp:Button ID="btnGetRecords" runat="server"  Text="Generate Report" 
            onclick="btnGetRecords_Click"/></td></tr>
    </table>
    
        <dx:ReportToolbar ID="ReportToolbar1" runat="server" ShowDefaultButtons="False" 
            onunload="ReportToolbar1_Unload" width="1050px" 
        ReportViewerID="ReportViewer1" >
            <Items>
                <dx:ReportToolbarButton ItemKind="Search" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="PrintReport" />
                <dx:ReportToolbarButton ItemKind="PrintPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton Enabled="False" ItemKind="FirstPage" />
                <dx:ReportToolbarButton Enabled="False" ItemKind="PreviousPage" />
                <dx:ReportToolbarLabel ItemKind="PageLabel" />
                <dx:ReportToolbarComboBox ItemKind="PageNumber" Width="65px">
                </dx:ReportToolbarComboBox>
                <dx:ReportToolbarLabel ItemKind="OfLabel" />
                <dx:ReportToolbarTextBox IsReadOnly="True" ItemKind="PageCount" />
                <dx:ReportToolbarButton ItemKind="NextPage" />
                <dx:ReportToolbarButton ItemKind="LastPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="SaveToDisk" />
                <dx:ReportToolbarButton ItemKind="SaveToWindow" />
                <dx:ReportToolbarComboBox ItemKind="SaveFormat" Width="70px">
                    <Elements>
                        <dx:ListElement Value="pdf" />
                        <dx:ListElement Value="xls" />
                        <dx:ListElement Value="xlsx" />
                        <dx:ListElement Value="rtf" />
                        <dx:ListElement Value="mht" />
                        <dx:ListElement Value="html" />
                        <dx:ListElement Value="txt" />
                        <dx:ListElement Value="csv" />
                        <dx:ListElement Value="png" />
                    </Elements>
                </dx:ReportToolbarComboBox>
            </Items>
            <Styles>
                <LabelStyle>
                <Margins MarginLeft="3px" MarginRight="3px" />
                </LabelStyle>
            </Styles>
        </dx:ReportToolbar>
    
  
    <dx:ReportViewer ID="ReportViewer1" runat="server" Width="100%">
    </dx:ReportViewer>--%>

</asp:Content>