﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="deprtmentgroupwisesale23.aspx.cs" Inherits="Reports_deprtmentgroupwisesale" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
    <div>

        <asp:GridView ID="gv_display" runat="server"></asp:GridView>

    </div>
</asp:Content>

