﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="internalissuedept.aspx.cs" Inherits="Reports_internalissuedept" %>

<%@ Register assembly="DevExpress.XtraReports.v11.2.Web, Version=11.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>
<%@ Register TagPrefix="asp" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit"%>

<%@ Register TagPrefix="dx" Namespace="DevExpress.XtraReports.Web" Assembly="DevExpress.XtraReports.v11.2.Web" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
    <link href="css/InternalissueDept.css" rel="stylesheet" />
	<link href="css/internalissuedeptNew.css" rel="stylesheet" />

 <style type="text/css">
#tblist tr{border-bottom:solid 1px silver;background:#EDEDED}
#tblist tr td{text-align:left;padding:2px}
#tblist tr:nth-child(even){background:#F7F7F7}
 
#tblistItem tr{border-bottom:solid 1px silver;background:#EDEDED}
#tblistItem tr td{text-align:left;padding:2px}
#tblistItem tr:nth-child(even){background:#F7F7F7}
 </style>
<script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function myFunction1() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput1");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblist");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

  
    $(document).ready(
   function () {

       $("#td_1").hide();
       $("#myInput1").hide();
       $("#<%=rdbSelect.ClientID %>").click(function () {
           $("#myInput1").show();
           $("#td_1").show();
       });
       $("#<%=rdbAll.ClientID %>").click(function () {

           $("#myInput1").hide();
           $("#td_1").hide();
       });
       

    
       $("input[name ='department']").click(function () {
           var CompaniesId = $('input[name="department"]:checkbox:checked').map(function () {
               return this.value;
           }).get();

           //alert(CompaniesId)
           $("#<%=hdnsale.ClientID %>").val(CompaniesId);     
       });   

       $("#<%=rdbAll.ClientID %>").change(
    function () {


        if ($("#<%=rdbAll.ClientID %>").prop('checked') == true) {
            $("#<%=rdbSelect.ClientID %>").prop('checked', false);

        }

    }
    );
       $("#<%=rdbSelect.ClientID %>").change(
    function () {

        if ($("#<%=rdbSelect.ClientID %>").prop('checked') == true) {

            $("#<%=rdbAll.ClientID %>").prop('checked', false);

        }

    }
    );

    

   });

</script>

<script type="text/javascript">
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblistItem");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    $(document).ready(
   function () {
       $("#td_2").hide();
       $("#myInput").hide();
       $("#<%=rdbSelectItem.ClientID %>").click(function () {
           $("#myInput").show();
           $("#td_2").show();
       });
       $("#<%=rdbAllItem.ClientID %>").click(function () {

           $("#td_2").hide();
           $("#myInput").hide();
       });
       $("input[name ='item']").click(function () {
           var ItemsId = $('input[name="item"]:checkbox:checked').map(function () {
               return this.value;
           }).get();

           //alert(ItemsId)
           $("#<%=hdnItem.ClientID %>").val(ItemsId);
       });

       $("#<%=rdbAllItem.ClientID %>").change(
    function () {


        if ($("#<%=rdbAllItem.ClientID %>").prop('checked') == true) {
            $("#<%=rdbSelectItem.ClientID %>").prop('checked', false);

        }

    }
    );
       $("#<%=rdbSelectItem.ClientID %>").change(
    function () {

        if ($("#<%=rdbSelectItem.ClientID %>").prop('checked') == true) {

            $("#<%=rdbAllItem.ClientID %>").prop('checked', false);

        }

    }
    );



   });

</script>

<asp:ScriptManager ID="scrip1" runat="server"></asp:ScriptManager>
<asp:HiddenField ID= "hdnsale" runat="server" />
<asp:HiddenField ID= "hdnItem" runat="server" />
<div class="department_wise">
	<div style="text-align: center;"><h2 class="int-isue-dept-head">INTERNAL ISSUE DEPT REPORT</h2></div>
	<div class="int-isue-dept-top-panel">
		<div class="col-md-4 col-sm-4 col-xs-12 branch-col">
			<div class="int-isue-dept-branch-section">
				<span>Branch:</span><asp:DropDownList class="form-control" id="ddlBranch" runat="server" placeholder="Choose Branch"></asp:DropDownList>
			</div>
		</div> 
		<div class="col-md-5 col-sm-5 col-xs-12 date-col">
			<div class="int-isue-dept-date-section">
					<div class="int-isue-dept-date-part">
						<span>Date:</span><asp:TextBox ID="txtDateFrom" runat="server" class="form-control"></asp:TextBox>
                          <asp:CalendarExtender ID="cc1" TargetControlID="txtDateFrom" EnabledOnClient="true"  runat="server"></asp:CalendarExtender>
					</div>
					<div class="int-isue-dept-date-part">
						<span>To:</span><asp:TextBox ID="txtDateTo" name="All" runat="server" class="form-control"></asp:TextBox>
						<asp:CalendarExtender ID="CalendarExtender1" TargetControlID="txtDateTo" EnabledOnClient="true"  runat="server"></asp:CalendarExtender>
					</div>
			</div>
		</div> 
		<div class="col-md-3 col-sm-3 col-xs-12 btn-col">
			<div class="int-isue-dept-btn-section">
				<asp:Button ID="btnGetRecords" runat="server" CssClass="btn btn-success" Text="Generate Report" onclick="btnGetRecords_Click"/>
			</div>
		</div> 
	</div>
	<div class="int-isue-dept-bottom-panel">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="int-isue-dept-department-section">
				<span>Department:</span>
				<div class="int-isue-dept-department-radio">
					<asp:RadioButton ID="rdbAll" name="All" runat="server" Text="All" Checked="True" />
					<asp:RadioButton ID="rdbSelect"   runat="server" Text="Selected" />
					<div  id="td_1"><span>Search</span>
						<input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Search for names.." title="Type in a name" class="form-control">
					</div>
					  
				</div>
					<div style="height: 181px; overflow: auto;" class="int-isue-dept-department-radio-div">
						<table style="width:100%" id="tblist">
						<asp:Literal ID="ltDepartments" runat="server"></asp:Literal>
                      
						</table>
                    </div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="int-isue-dept-item-section">
				<span>Items:</span>
				<div class="int-isue-dept-item-radio">
					
					<asp:RadioButton ID="rdbAllItem" name="All" runat="server" Text="All" Checked="True" />
					<asp:RadioButton ID="rdbSelectItem"   runat="server" Text="Selected" />
					<div id="td_2"><span>Search</span><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." class="form-control" title="Type in a name"></div>
				</div>
					<div style="height: 181px; overflow: auto;"class="int-isue-dept-item-radio-div">
						<table style="width:100%" id="tblistItem">
						<asp:Literal ID="ltItems" runat="server"></asp:Literal>
                      
						</table>
				  </div>
			</div>
		</div>
	</div>
   <%-- <table class="department_header">
        <tr><td colspan="100%">INTERNAL ISSUE DEPT REPORT </td></tr>
   </table>--%>


    <div class="sale_report">
       <%--  <table class="sale_report">
            <tr><td class="choos_branch"><span>Choose Branch</span>  
                </td>
            </tr>
    
            <tr>
                <td valign="top" width="100%">
 

                <table class="report_left">
                    <tr>
                        <td><b>Select Date</b></td><td></td>
                    </tr>
                    <tr>
                      <td>From Date:</td>
                      <td>
                      </td>
                   </tr>

                    <tr>
                        <td>To Date:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td> 
                        <td></td>  
                    </tr>
                    <tr>
                        <td id="">Search</td>
                        <td> </td>
                    </tr>
                    </table>

                   <table class="report_right">
                        <tr><td class="headings">Department:</td><td></td></tr>
                      <tr>

                       <td colspan="2">
                    
                      
                      </td>
                     </tr>

                     <tr>
                         <td></td> 
                         <td></td>  
                     </tr>
                     <tr>
                         <td >Search</td>
                         <td> 
                         </td>
                     </tr>
                </table>

                <table class="report_right report_right_bottom">
                     <tr><td class="headings">Items:</td></tr>
                      <tr>
                          <td colspan="2">
                        
                      
                          </td>
                     </tr>
                </table>
            </td>
       </tr>

       <tr>
           <td class="sale_btn"></td>
       </tr>
                
    </table>--%>
 </div>
	<div class="int-isue-dept-rpt-toolbar"> 
		 <dx:ReportToolbar ID="ReportToolbar1" runat="server" ShowDefaultButtons="False" 
            onunload="ReportToolbar1_Unload" width="800px" 
        ReportViewerID="ReportViewer1" >
            <Items>
                <dx:ReportToolbarButton ItemKind="Search" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="PrintReport" />
                <dx:ReportToolbarButton ItemKind="PrintPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton Enabled="False" ItemKind="FirstPage" />
                <dx:ReportToolbarButton Enabled="False" ItemKind="PreviousPage" />
                <dx:ReportToolbarLabel ItemKind="PageLabel" />
                <dx:ReportToolbarComboBox ItemKind="PageNumber" Width="65px">
                </dx:ReportToolbarComboBox>
                <dx:ReportToolbarLabel ItemKind="OfLabel" />
                <dx:ReportToolbarTextBox IsReadOnly="True" ItemKind="PageCount" />
                <dx:ReportToolbarButton ItemKind="NextPage" />
                <dx:ReportToolbarButton ItemKind="LastPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="SaveToDisk" />
                <dx:ReportToolbarButton ItemKind="SaveToWindow" />
                <dx:ReportToolbarComboBox ItemKind="SaveFormat" Width="70px">
                    <Elements>
                        <dx:ListElement Value="pdf" />
                        <dx:ListElement Value="xls" />
                        <dx:ListElement Value="xlsx" />
                        <dx:ListElement Value="rtf" />
                        <dx:ListElement Value="mht" />
                        <dx:ListElement Value="html" />
                        <dx:ListElement Value="txt" />
                        <dx:ListElement Value="csv" />
                        <dx:ListElement Value="png" />
                    </Elements>
                </dx:ReportToolbarComboBox>
            </Items>
            <Styles>
                <LabelStyle>
                <Margins MarginLeft="3px" MarginRight="3px" />
                </LabelStyle>
            </Styles>
        </dx:ReportToolbar>
	</div>
    <dx:ReportViewer ID="ReportViewer1" runat="server" Width="800px">
    </dx:ReportViewer>
  
</div>
</asp:Content>

