﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="ReportStockLedger.aspx.cs" Inherits="ReportStockLedger" %>
<%@ Register assembly="DevExpress.XtraReports.v11.2.Web, Version=11.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>
<%@ Register TagPrefix="asp" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit"%>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
    <link href="css/ReportStockLedger.css" rel="stylesheet" />


<script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script type ="text/javascript">
    $(document).ready(
function () {


    $("#txtCode").change(
    function () {
        
        $("#<%=ddlProducts.ClientID %>").val($(this).val());

    }
    );



    $("#<%=ddlProducts.ClientID %>").change(
    function () {
       
        $("#txtCode").val($(this).val());

    }
    );





    $("#<%=rdbFinished.ClientID %>").change(
    function () {

        if ($("#<%=rdbFinished.ClientID %>").prop('checked') == true) {

            $("#<%=rdbSemiFinished.ClientID %>").prop('checked', false);
            $("#<%=rdbRaw.ClientID %>").prop('checked', false);
        }


    }
    );
    $("#<%=rdbSemiFinished.ClientID %>").change(
    function () {
        if ($("#<%=rdbSemiFinished.ClientID %>").prop('checked') == true) {

            $("#<%=rdbFinished.ClientID %>").prop('checked', false);
            $("#<%=rdbRaw.ClientID %>").prop('checked', false);
        }


    }
    );
    $("#<%=rdbRaw.ClientID %>").change(
    function () {
        if ($("#<%=rdbRaw.ClientID %>").prop('checked') == true) {

            $("#<%=rdbFinished.ClientID %>").prop('checked', false);
            $("#<%=rdbSemiFinished.ClientID %>").prop('checked', false);
        }


    }
    );

}
);
</script>
    <div class="department_wise">

            <table class="department_header">
                 <tr><td colspan="100%">STOCK LEDGER REPORT </td></tr>
            </table>
<asp:ScriptManager ID="scrip1" runat="server"></asp:ScriptManager>
   <div class="sale_report">
        <table class="sale_report">
            <tr>
                <td>Choose Type:</td>
                <td><asp:RadioButton ID="rdbFinished"  name ="all" runat="server" Text="Finished" Checked="True" AutoPostBack="True" 
                     oncheckedchanged="rdbFinished_CheckedChanged" />
                </td>
                <td><asp:RadioButton ID="rdbSemiFinished"  name ="all" runat="server" 
                    Text="Semi-Finished" AutoPostBack="True" 
                    oncheckedchanged="rdbSemiFinished_CheckedChanged" />
                </td>
                <td><asp:RadioButton ID="rdbRaw"  name ="all" runat="server" Text="Raw" 
                    AutoPostBack="True" oncheckedchanged="rdbRaw_CheckedChanged" />
                </td>
                <td></td>
            </tr>

           <tr>
               <td>Product</td>
               <td><asp:TextBox ID = "txtCode" runat="server" Text = "0" ClientIDMode = "Static" ></asp:TextBox></td>
               <td><asp:DropDownList ID ="ddlProducts" runat="server"></asp:DropDownList></td>
               <td>Godown:</td>
               <td><asp:DropDownList ID ="ddlgodown" runat="server"></asp:DropDownList></td>
           </tr>

           <tr>
               <td>Date From:</td>
               <td><asp:TextBox ID="txtDateFrom" runat="server" ></asp:TextBox>
                   <asp:CalendarExtender ID="cc1" TargetControlID="txtDateFrom" EnabledOnClient="true"  runat="server"></asp:CalendarExtender>
               </td>
               <td>Date To:</td>
               <td><asp:TextBox ID="txtDateTo" runat="server"></asp:TextBox>
                   <asp:CalendarExtender ID="CalendarExtender1" TargetControlID="txtDateTo" EnabledOnClient="true"  runat="server"></asp:CalendarExtender>
               </td>
               <td>
                   <asp:Button ID="btnGetRecords" runat="server"  Text="Generate Report" onclick="btnGetRecords_Click"/></td>
              </tr>
         </table>
       </div>
    
        <dx:ReportToolbar ID="ReportToolbar1" runat="server" ShowDefaultButtons="False" 
            onunload="ReportToolbar1_Unload" width="1050px" 
        ReportViewerID="ReportViewer1" >
            <Items>
                <dx:ReportToolbarButton ItemKind="Search" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="PrintReport" />
                <dx:ReportToolbarButton ItemKind="PrintPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton Enabled="False" ItemKind="FirstPage" />
                <dx:ReportToolbarButton Enabled="False" ItemKind="PreviousPage" />
                <dx:ReportToolbarLabel ItemKind="PageLabel" />
                <dx:ReportToolbarComboBox ItemKind="PageNumber" Width="65px">
                </dx:ReportToolbarComboBox>
                <dx:ReportToolbarLabel ItemKind="OfLabel" />
                <dx:ReportToolbarTextBox IsReadOnly="True" ItemKind="PageCount" />
                <dx:ReportToolbarButton ItemKind="NextPage" />
                <dx:ReportToolbarButton ItemKind="LastPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="SaveToDisk" />
                <dx:ReportToolbarButton ItemKind="SaveToWindow" />
                <dx:ReportToolbarComboBox ItemKind="SaveFormat" Width="70px">
                    <Elements>
                        <dx:ListElement Value="pdf" />
                        <dx:ListElement Value="xls" />
                        <dx:ListElement Value="xlsx" />
                        <dx:ListElement Value="rtf" />
                        <dx:ListElement Value="mht" />
                        <dx:ListElement Value="html" />
                        <dx:ListElement Value="txt" />
                        <dx:ListElement Value="csv" />
                        <dx:ListElement Value="png" />
                    </Elements>
                </dx:ReportToolbarComboBox>
            </Items>
            <Styles>
                <LabelStyle>
                <Margins MarginLeft="3px" MarginRight="3px" />
                </LabelStyle>
            </Styles>
        </dx:ReportToolbar>
    
  
    <dx:ReportViewer ID="ReportViewer1" runat="server" Width="100%">
    </dx:ReportViewer>

</div>
</asp:Content>



