﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="taxwisesalerpt.aspx.cs" Inherits="taxwisesalerpt" %>

<%@ Register assembly="DevExpress.XtraReports.v11.2.Web, Version=11.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>
<%@ Register TagPrefix="asp" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit"%>
<%@ Register assembly="DevExpress.XtraReports.v11.2.Web" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
     
 <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>

    <link href="css/taxwisesalerpt.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type ="text/javascript">



    $(document).ready(
function () {

    //    $("#<%=txtBillFrom.ClientID %>").prop('disabled', true);
    //    $("#<%=txtBillTo.ClientID %>").prop('disabled', true);
    $("#<%=rdbHsnWise.ClientID %>").change(
    function () {


        if ($("#<%=rdbHsnWise.ClientID %>").prop('checked') == true) {
            $("#<%=rdbTaxWise.ClientID %>").prop('checked', false);
              $("#<%=rdbConsolidate.ClientID %>").prop('checked', false);
            //$("#<%=txtBillFrom.ClientID %>").prop('disabled', true);
            //$("#<%=txtBillTo.ClientID %>").prop('disabled', true);
            $("#<%=txtDateFrom.ClientID %>").removeAttr('disabled');
            $("#<%=txtDateTo.ClientID %>").removeAttr('disabled');

        }


    }
    );
    $("#<%=rdbTaxWise.ClientID %>").change(
    function () {

        if ($("#<%=rdbHsnWise.ClientID %>").prop('checked') == true) {


            $("#<%=rdbHsnWise.ClientID %>").prop('checked', false);
              $("#<%=rdbConsolidate.ClientID %>").prop('checked', false);
            //            $("#<%=txtBillFrom.ClientID %>").removeAttr('disabled');
            //            $("#<%=txtBillTo.ClientID %>").removeAttr('disabled');
            $("#<%=txtDateFrom.ClientID %>").prop('disabled');
            $("#<%=txtDateTo.ClientID %>").prop('disabled');

        }


    }
    );

        $("#<%=rdbConsolidate.ClientID %>").change(
    function () {

     


        $("#<%=rdbHsnWise.ClientID %>").prop('checked', false);
         $("#<%=rdbTaxWise.ClientID %>").prop('checked', false);
   



    }
    );

}
);
</script>
    <div class="department_wise">

<table class="department_header">
 <tr><td colspan="100%">TAX WISE SALE REPORT </td></tr>
</table>
<asp:ScriptManager ID="scrip1" runat="server"></asp:ScriptManager>
<div class="sale_report">
 <table class="sale_report">
     <tr>
         <td>Choose Branch</td>
         <td><asp:DropDownList class="form-control" id="ddlBranch" runat="server" placeholder="Choose Branch"></asp:DropDownList></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td><asp:RadioButton ID="rdbDate" Checked="true" name ="all"   runat="server" Text="DateWise"  Visible="false"/></td>
         <td><asp:RadioButton ID="rdbBill" name ="all"   runat="server" Text="BillWise" Visible="false" /></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr><td><asp:RadioButton ID="rdbTaxWise" name ="all" Checked="true"  runat="server" Text="TaxWise" /></td>
         <td><asp:RadioButton ID="rdbHsnWise"  name ="all"   runat="server" Text="HSNWise" /></td>
         <td><asp:RadioButton ID="rdbConsolidate"  name ="all"   runat="server" Text="Consolidate" /></td>
    
     </tr>
     <tr>
         <td>Date From:</td>
         <td><asp:TextBox ID="txtDateFrom" runat="server"></asp:TextBox>
             <asp:CalendarExtender ID="cc1" TargetControlID="txtDateFrom" EnabledOnClient="true"  runat="server"></asp:CalendarExtender>
         </td>
         <td>Date To:</td>
         <td><asp:TextBox ID="txtDateTo" runat="server"></asp:TextBox><asp:CalendarExtender ID="CalendarExtender1" TargetControlID="txtDateTo" EnabledOnClient="true"  runat="server"></asp:CalendarExtender></td>
         <td>
            <asp:Button ID="btnGetRecords" runat="server"  Text="Generate Report" 
            onclick="btnGetRecords_Click"/>
         </td>
     </tr>
     <tr>
         <td></td>
         <td><asp:TextBox ID="txtBillFrom" Visible="false" runat="server" ></asp:TextBox></td>
         <td></td>
         <td><asp:TextBox ID="txtBillTo" runat="server" Visible="false"></asp:TextBox></td>
         <td></td>
     </tr>
</table>
    </div>
    
        <dx:ReportToolbar ID="ReportToolbar1" runat="server" ShowDefaultButtons="False" 
            onunload="ReportToolbar1_Unload" width="800px" 
        ReportViewerID="ReportViewer1" >
            <Items>
                <dx:ReportToolbarButton ItemKind="Search" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="PrintReport" />
                <dx:ReportToolbarButton ItemKind="PrintPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton Enabled="False" ItemKind="FirstPage" />
                <dx:ReportToolbarButton Enabled="False" ItemKind="PreviousPage" />
                <dx:ReportToolbarLabel ItemKind="PageLabel" />
                <dx:ReportToolbarComboBox ItemKind="PageNumber" Width="65px">
                </dx:ReportToolbarComboBox>
                <dx:ReportToolbarLabel ItemKind="OfLabel" />
                <dx:ReportToolbarTextBox IsReadOnly="True" ItemKind="PageCount" />
                <dx:ReportToolbarButton ItemKind="NextPage" />
                <dx:ReportToolbarButton ItemKind="LastPage" />
                <dx:ReportToolbarSeparator />
                <dx:ReportToolbarButton ItemKind="SaveToDisk" />
                <dx:ReportToolbarButton ItemKind="SaveToWindow" />
                <dx:ReportToolbarComboBox ItemKind="SaveFormat" Width="70px">
                    <Elements>
                        <dx:ListElement Value="pdf" />
                        <dx:ListElement Value="xls" />
                        <dx:ListElement Value="xlsx" />
                        <dx:ListElement Value="rtf" />
                        <dx:ListElement Value="mht" />
                        <dx:ListElement Value="html" />
                        <dx:ListElement Value="txt" />
                        <dx:ListElement Value="csv" />
                        <dx:ListElement Value="png" />
                    </Elements>
                </dx:ReportToolbarComboBox>
            </Items>
            <Styles>
                <LabelStyle>
                <Margins MarginLeft="3px" MarginRight="3px" />
                </LabelStyle>
            </Styles>
        </dx:ReportToolbar>
    
  
    <dx:ReportViewer ID="ReportViewer1" runat="server" Width="1000px">
    </dx:ReportViewer>

        <div style="width: 801px;">

            <asp:GridView ID="gvcst_sale" class="table_class table table-striped table-bordered table-hover" runat="server" BackColor="White" BorderColor="#999999" BorderStyle="Solid" Visible="false" BorderWidth="1px" CellPadding="3" ForeColor="Black" GridLines="Vertical" AutoGenerateColumns="False">
                <AlternatingRowStyle BackColor="#CCCCCC" />
                <FooterStyle BackColor="#CCCCCC" />
                <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
                <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                <SortedAscendingCellStyle BackColor="#F1F1F1" />
                <SortedAscendingHeaderStyle BackColor="#808080" />
                <SortedDescendingCellStyle BackColor="#CAC9C9" />
                <SortedDescendingHeaderStyle BackColor="#383838" />
                <Columns>
                    <asp:BoundField DataField="Customer_Name" HeaderText="Company Name" />
                    <asp:BoundField DataField="netamount" HeaderText="Net Amount" />
                </Columns>
            </asp:GridView>
        </div>
</div>
</asp:Content>



