﻿<%@ WebHandler Language="C#" Class="MngPackage" %>

using System;
using System.Web;

public class MngPackage : IHttpHandler, System.Web.SessionState.IRequiresSessionState
{
    
   public void ProcessRequest(HttpContext context)
    {

        System.Collections.Specialized.NameValueCollection forms = context.Request.Form;
        string strOperation = forms.Get("oper");
        string strResponse = string.Empty;


        string dateFrom = context.Request.QueryString["dateFrom"];
        string dateTo = context.Request.QueryString["dateTo"];
        string FromType = context.Request.QueryString["formtype"];
        int BranchId =Convert.ToInt32(HttpContext.Current.Request.Cookies[Constants.BranchId].Value);     
        HttpContext.Current.Session["FormType"] = FromType;


        //oper = null which means its first load.
        var jsonSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();

        var xss = jsonSerializer.Serialize(
         new BreakageExpiryBLL().GetBreakageByDate(Convert.ToDateTime(dateFrom), Convert.ToDateTime(dateTo),BranchId)
           );

        context.Response.Write(xss);

    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }
}