﻿.department_wise {
    width: 100%;
    float: left;
}
table.department_header {
    width: 100%;
    text-align: center;
}
.department_header td {
    font-size: 18px;
    background-color: #f06671;
    color: #fff;
    padding: 5px 0;
    font-weight: 600;
}
.sale_report {
    float: left;
    width: 100%;
    border-left: 1px solid #ddd;
    background-color: #eee;
    border-right: 1px solid #ddd;
        overflow: auto;
        margin: 0 0 10px;
}
.sale_report tr {
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.sale_report td {
    padding: 4px 8px;
    font-size: 12px;
}
.sale_report select {
    margin: 0px;
    width: 160px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.sale_report input {
    margin: 0px;
    width: 160px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.sale_report input#cntMaster_btnGetRecords {
    width: 125px !important;
    height: 39px !important;
    padding: 9px 0 !important;
    font-size: 15px !important;
    background-color: #03A9F4 !important;
    color: #fff;
}
#cntMaster_ReportViewer1_Div {
    width: 100% !important;
    float: left;
}
#cntMaster_ReportViewer1_Div #cntMaster_ReportViewer1_ContentFrame {
    width: 100% !important;
    float: left;
}
table#cntMaster_ReportToolbar1_Menu {
    width: 100% !important;
    margin: 0 0 10px;
}

.sale_report [type=radio] {
    width: auto !important;
    height: auto !important;
    box-shadow: none !important;
}
.ajax__calendar_container td {
    padding: unset !important;
    font-size: unset !important;
}
#cntMaster_cc1_popupDiv, #cntMaster_CalendarExtender1_popupDiv {
    z-index: 1;
}




