.bill-detailed-row
{
	border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin-bottom: 10px;
    padding-top: 10px;
}
.bil-detailed-report-radio-section {
    float: left;
    width: 100%;
    text-align: center;
}
.bil-detailed-report-radio-section span {
    font-weight: 700;
    width: auto;
    display: inline-block;
    position: relative;
    top: -15px;
    right: 3px;
}
.bil-detailed-report-radio-section table {
    display: inline-block;
}
.bill-detiled-report-second-panel {
    float: left;
    width: 100%;
	border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.bill-detailed-report-brachc-section {
    float: left;
    width: 100%;
}
.bill-detailed-report-brachc-section span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px
}
.bill-detailed-report-brachc-section select {
    width: 80%;
	padding:2px;	
}
.bill-detail-date-section {
    float: left;
    width: 100%;
}
.bill-detaied-date-part {
    float: left;
    width: 50%;
}
.bill-detaied-date-part span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;	
}
.bill-detaied-date-part input {
	width: 76%;
	padding: 2px;
	line-height: 1 !important;
}
.form-control
{
	font-size:13px !important;
}
.bill-detailed-pos-secction {
    float: left;
    width: 100%;
}
.bill-detailed-pos-secction span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.bill-detailed-pos-secction select {
    width: 80%;
	padding:2px;
}
.bill-detailed-button-section {
    float: left;
    width: 100%;
}
.bill-detailed-button-section input {
    margin-right: 10px;
}

.bill-detailed-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
.bill-detailed-rpt-cls table
{
	width:auto !important;
}
.bill-detailed-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
/*----responsive----*/
@media(max-width:440px) {
	.bil-detailed-report-radio-section span {
		top: -3px;
	}

	.bill-detaied-date-part span {
		width: 48px;
	}

	.bill-detaied-date-part input {
		width: 80%;
	}

	.bill-detailed-pos-secction span {
		width: 48px;
	}

	.bill-detail-date-section {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.bill-detailed-button-section {
		margin-top: 8px;
		text-align: center;
	}
	.bill-detaied-date-part {
		float: left;
		width: 100%;
	}
	.to-part{
		margin-top:8px;
	}
}
@media(min-width:441px) and (max-width:480px) {
	.bil-detailed-report-radio-section span {
		top: -3px;
	}

	.bill-detaied-date-part span {
		width: 48px;
	}

	.bill-detaied-date-part input {
		width: 60%;
	}

	.bill-detailed-pos-secction span {
		width: 48px;
	}

	.bill-detail-date-section {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.bill-detailed-button-section {
		margin-top: 8px;
		text-align: center;
	}
}
@media(min-width:481px) and (max-width:526px) {
	.bil-detailed-report-radio-section span {
		top: -3px;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	
	.bill-detail-date-section {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.bill-detailed-button-section {
		margin-top: 8px;
		text-align: center;
	}
	.bill-detaied-date-part span {
		width: 48px;
	}

	.bill-detaied-date-part input {
		width: 60%;
	}

	.bill-detailed-pos-secction span {
		width: 48px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.form-control {
		font-size: 12px !important;
	}
	
	.bill-detailed-pos-secction select {
		width: 66%;
	}
	.bill-detailed-report-brachc-section select {
		width: 66%;
	}
	.bill-detailed-report-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.bill-detailed-report-brachc-section span,.bill-detailed-pos-secction span {
		width: 48px;
	}
	.bill-detiled-report-second-panel {
		padding-bottom: 0;
	}
}
@media(min-width:992px) and (max-width:1200px) 
{
	.form-control {
		font-size: 12px !important;
	}
	.bill-detailed-report-brachc-section select {
		width: 75%
	}
	.bill-detaied-date-part input {
		width: 71%;
	}
	.bill-detailed-button-section input, .bill-detailed-button-section button {
		margin-right: 2px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.branch-col {
		width: 29%;
	}
	.date-col {
		width: 38%;
	}
	.pos-col {
		width: 23%;
	}
	.btn-col {
		width: 10%;
	}
}
/*----responsive----*/