﻿.form-control{
	font-size:12px !important;
	padding:6px 1px !important;
}
.billno-wise-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.billno-wise-sale-branch-section {
    float: left;
    width: 100%;
}
.billno-wise-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.billno-wise-sale-branch-section select{
	width:70%;
}
.billno-wise-sale-pos-section {
    float: left;
    width: 100%;
}
.billno-wise-sale-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.billno-wise-sale-pos-section select{
	width:70%;
}
.billno-wise-sale-user-section {
    float: left;
    width: 100%;
}
.billno-wise-sale-user-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.billno-wise-sale-user-section select{
	width:70%;
}
.billno-wise-sale-date-section {
    float: left;
    width: 100%;
}
.billno-wise-sale-date-part {
    float: left;
    width: 50%;
}
.billno-wise-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.billno-wise-sale-date-part input{
	width:67%;
}
.billno-wise-sale-mode-section {
    float: left;
    width: 100%;
}
.billno-wise-sale-mode-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.billno-wise-sale-mode-section select{
	width:70%;
}
.billno-wise-sale-btn-section {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.billno-wise-sale-btn-section input:hover{
	color:#fff;
}
.billno-wise-sale-report-tool-section {
	float: left;
	width: 100%;
}
/*----responsive----*/
@media(max-width:480px)
{
	.billno-wise-sale-head {
		font-size: 20px;
	}
	
}
@media(max-width:567px)
{
	.billno-wise-sale-report-tool-section #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
}
@media(max-width:767px) {
	.billno-wise-sale-branch-section span, .billno-wise-sale-pos-section span, .billno-wise-sale-user-section span,
	.billno-wise-sale-date-part span, .billno-wise-sale-mode-section span {
		width: 53px;
	}

	.billno-wise-sale-date-part input {
		width: 58%;
	}

	.billno-wise-sale-mode-section select, .billno-wise-sale-branch-section select, .billno-wise-sale-user-section select,
	.billno-wise-sale-pos-section select {
		width: 79%;
	}

	.billno-wise-sale-branch-section, .billno-wise-sale-pos-section, .billno-wise-sale-user-section, .billno-wise-sale-date-section {
		margin-bottom: 10px;
	}

	.billno-wise-sale-report-tool-section {
		overflow-x: auto;
	}
}
@media(min-width:768px) and (max-width:1200px)
{
	.billno-wise-sale-cst-col
	{
		width:50%;
		margin-bottom:10px;
	}
	.billno-wise-sale-branch-section span,.billno-wise-sale-user-section span,.billno-wise-sale-mode-section span {
		width: 53px;
	}
	.billno-wise-sale-date-part span,.billno-wise-sale-pos-section span {
		width: 39px;
	}
	.billno-wise-sale-date-part input {
		width: 40%;
	}
	.billno-wise-sale-btn-section {
		text-align: left;
		margin-top: 0;
	}
	.billno-wise-sale-top-panel {
		padding-bottom: 0;
	}
}
/*----responsive----*/