﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.breakage-expiry-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.breakage-expiry-all-section {
	float: left;
	width: 100%;
}
.breakage-expiry-all-section span {
	float: left;
	width: auto;
	padding-right: 3px;
	margin-top: 4px;
}
.breakage-expiry-company-section {
	float: left;
	width: 100%;
}
.breakage-expiry-company-section span {
	float: left;
	width: auto;
	padding-right: 3px;
	margin-top: 4px;
}
.breakage-expiry-company-section select {
	width: 63%;
}
.breakage-expiry-group-section {
	float: left;
	width: 100%;
}
.breakage-expiry-group-section span {
	float: left;
	width: auto;
	padding-right: 3px;
	margin-top: 4px;
}
.breakage-expiry-group-section select {
	width: 63%;
}
breakage-expiry-dep-section {
	float: left;
	width: 100%;
}
.breakage-expiry-dep-section span {
	float: left;
	width: auto;
	padding-right: 3px;
	margin-top: 4px;
}
.breakage-expiry-dep-section select {
	width: 63%;
}
.breakage-expiry-second-panel {
	float: left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #fff;
}
.breakage-expiry-branch-section {
	float: left;
	width: 100%;
}
.breakage-expiry-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.breakage-expiry-branch-section select {
	float: left;
	width: 60%;
}
.breakage-expiry-godown-section {
	float: left;
	width: 100%;
}
.breakage-expiry-godown-section span {
    float: left;
    width: 78px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.breakage-expiry-godown-section select {
	float: left;
	width: 63%;
}
.breakage-expiry-btn-section {
	float: left;
	width: 100%;
}
.breakage-expiry-btn-section input{
	margin-right:10px;
}
.breakage-expiry-rpt-cls
{
	width:100% !important;
	overflow: auto;
}


.breakage-expiry-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}

/*----responsive----*/
@media(max-width:480px)
{
	.breakage-expiry-head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(max-width:767px)
{
	.breakage-expiry-dep-section span,.breakage-expiry-all-section span,.breakage-expiry-company-section span,
	.breakage-expiry-group-section span,.breakage-expiry-branch-section span,.breakage-expiry-godown-section span {
		width: 90px;
	}
	.breakage-expiry-branch-section select,.breakage-expiry-godown-section select {
		width: 63%;
	}
	.breakage-expiry-company-section,.breakage-expiry-group-section,.breakage-expiry-branch-section,.breakage-expiry-godown-section {
		margin-bottom: 8px;
	}
	.breakage-expiry-btn-section {
		text-align: center;
	}

}
@media(min-width:991px)
{
	.breakage-expiry-rpt-cls table
	{
		width:auto !important;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.breakage-expiry-cst-col-all {
		width: 9%;
	}	
	.form-control {
		font-size: 12px !important;
		padding: 6px 1px !important;
	}
	.breakage-expiry-cst-col-cmpny {
		width: 30%;
	}
	.breakage-expiry-company-section select {
		width: 59%;
	}
	.breakage-expiry-cst-col-grp {
		width: 26%;
	}
	.breakage-expiry-cst-col-dep {
		width: 35%;
	}
	.breakage-expiry-dep-section select {
		width: 59%;
	}
	.breakage-expiry-branch-section select {
		width: 66%;
	}
	.breakage-expiry-group-section select {
		width: 65%;
	}
	.breakage-expiry-godown-section select {
		width: 62%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.breakage-expiry-cst-col-all {
		width: 9%;
	}	
	.breakage-expiry-cst-col-cmpny {
		width: 30%;
	}
	.breakage-expiry-company-section select {
		width: 55%;
	}
	.breakage-expiry-cst-col-grp {
		width: 26%;
	}
	.breakage-expiry-cst-col-dep {
		width: 35%;
	}
	.breakage-expiry-branch-section select {
		float: left;
		width: 71%;
	}
	.breakage-expiry-godown-section select {
		width: 60%;
	}
}
/*----responsive----*/