﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.cash-sum-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.cash-sum-branch-section {
	float: left;
	width: 100%;
}
.cash-sum-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.cash-sum-branch-section select {
    width: 75%;
}
.cash-sum-date-section {
	float: left;
	width: 100%;
}
.cash-sum-date-part {
	float: left;
	width: 50%;
}
.cash-sum-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.cash-sum-date-part input {
    width: 75%;
}
.cash-sum-btn-section {
	float: left;
	width: 100%;
}
.cash-sum-toolbar-rpt{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----Responsive----*/
@media(max-width:480px)
{
	.cash-sum-head {
		font-size: 22px;
	}
}
@media(max-width:567px)
{
	.cash-sum-toolbar-rpt  #cntMaster_ReportToolbar1_Menu
	{
		width:800px !important;
	}
}
@media(max-width:767px)
{
	.cash-sum-branch-section span,.cash-sum-date-part span {
		width: 57px;
	}
	.cash-sum-date-part input {
		width: 56%;
	}
	.cash-sum-branch-section select {
		width: 78%;
	}
	.cash-sum-branch-section, .cash-sum-date-section {
		margin-bottom: 10px;
	}
	.cash-sum-btn-section{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.cash-sum-branch-section select {
		width: 70%;
	}
	.cash-sum-dat-col {
		width: 40%;
	}
	.cash-sum-btn-col {
		width: 26%;
	}
	.cash-sum-date-part input {
		width: 65%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.cash-sum-date-part input {
		width: 70%;
	}
}
/*----Responsive----*/