﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.crcard-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.crcard-sale-branch-section {
	float: left;
	width: 100%;
}
.crcard-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.crcard-sale-branch-section select {
    width: 75%;
}
.crcard-sale-pos-section {
	float: left;
	width: 100%;
}
.crcard-sale-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.crcard-sale-pos-section select {
    width: 75%;
}
.crcard-sale-bank-section {
	float: left;
	width: 100%;
}
.crcard-sale-bank-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.crcard-sale-bank-section select {
    width: 72%;
}
.crcard-sale-date-section {
	float: left;
	width: 100%;
}
.crcard-sale-date-part {
	float: left;
	width: 50%;
}
.crcard-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.crcard-sale-date-part input {
    width: 68%;
}
.crcard-sale-user-section {
	float: left;
	width: 100%;
}
.crcard-sale-user-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.crcard-sale-user-section select {
    width: 75%;
}
.crcard-sale-btn-section {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.crcard-sale-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:480px)
{
	.crcard-sale-head {
		font-size: 20px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(max-width:567px)
{
	.crcard-sale-rpt-toolbar #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(max-width:767px)
{
	.crcard-sale-branch-section span,.crcard-sale-pos-section span,.crcard-sale-bank-section span,.crcard-sale-date-part span,.crcard-sale-user-section span {
		width: 57px;
	}
	.crcard-sale-bank-section select,.crcard-sale-branch-section select,.crcard-sale-pos-section select,.crcard-sale-user-section select {
		width: 78%;
	}
	.crcard-sale-date-part input {
		width: 55%;
	}
	.crcard-sale-branch-section,.crcard-sale-pos-section,.crcard-sale-bank-section,.crcard-sale-date-section,.crcard-sale-user-section {
		margin-bottom: 10px;
	}
}
@media(min-width:768px) and (max-width:1200px)
{
	.crcard-sale-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.crcard-sale-branch-section span,.crcard-sale-bank-section span,.crcard-sale-user-section span {
		width: 57px;
	}
	.crcard-sale-bank-section select {
		width: 75%;
	}
	.crcard-sale-date-part span,.crcard-sale-pos-section span {
		width: 39px;
	}
	.crcard-sale-date-part input {
		width: 50%;
	}
	.crcard-sale-btn-section{
		text-align:left;
		margin-top:0;
	}
	.crcard-sale-top-panel {
		padding-bottom: 0;
	}
}
/*----responsive----*/
