.credit-sale-top-panel {
    float: left;
    width: 100%;
	border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.credit-sale-branch {
    float: left;
    width: 100%;
}
.credit-sale-branch span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-sale-branch select {
    width: 75%;
    padding: 0;
    font-size: 13px;
}
.credit-sale-pos {
    float: left;
    width: 100%;
}
.credit-sale-pos span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-sale-pos select {
    width: 75%;
    padding: 0;
    font-size: 13px;
}
.credit-sale-date-section {
    float: left;
    width: 76%;
}
.credit-sale-date {
    float: left;
    width: 50%;
}
.credit-sale-date span {
   float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-sale-date input {
    width: 78%;
    line-height: 1 !important;
    padding: 2px;
    font-size: 13px;
}
.credit-sale-head {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.credit-sale-button input {
    margin-right: 10px;
}
.credit-sale-button {
		float: left;
		width: 24%;
}
.credit-sale-rpt-cls table {
	width: 100%;
}


/*responsive*/
@media(max-width:480px)
{
	.credit-sale-head h2 {
		font-size: 26px;
	}
	.credit-sale-branch {
		margin-bottom: 5px;
	}
	.credit-sale-pos {
		margin-bottom: 5px;
	}
	.credit-sale-date-section {
		margin-bottom:10px;
	}
	.credit-sale-date span {
		width: 55px;
	}
	.credit-sale-date input {
		width: 76%;
		padding:2px;
		font-size:12px;
	}
	.credit-sale-date.credit-sale-date-to {
		margin-top: 5px;
	}
	.credit-sale-button {
		text-align:center;
	}
	.credit-sale-branch select {
		width: 75%;
		padding: 2px;
		font-size: 12px !important;
	}
	.credit-sale-pos select {
		width: 75%;
		padding: 2px;
		font-size: 12px !important;
	}
	.credit-sale-date-section {
		float: left;
		width: 100%;
	}
	.credit-sale-button {
		float: left;
		width: 100%;
	}
	.credit-sale-pos span {
		width: 57px;
	}
	.credit-sale-date {
       width: 100%;
	}
}

@media(min-width:481px) and (max-width:767px)
{
	.credit-sale-date span {
		width: 55px;
	}
	.credit-sale-branch select {
		width: 80%;
		padding:2px;
	}
	.credit-sale-pos select {
		width: 80%;
		padding:2px;
	}
	.credit-sale-date input {
		width: 60%;
		line-height: 1 !important;
		padding: 2px;
	}
	.credit-sale-branch {
		margin-bottom: 5px;
	}
	.credit-sale-pos {
		margin-bottom: 5px;
	}
	.credit-sale-date-section {
		margin-bottom:10px;
	}
	.credit-sale-button {
		text-align:center;
	}
	.credit-sale-date-section {
		float: left;
		width: 100%;
	}
	.credit-sale-button {
		float: left;
		width: 100%;
	}
	.credit-sale-pos span {
		width: 57px;
	}

}

@media(max-width:767px)
{
	.credit-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
	.credit-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	
}

@media(min-width:768px) and (max-width:991px)
{
	.credit-sale-cst-col
	{
		width:50% !important;
	}
	.credit-sale-cst-coltwo
	{
		width:100% !important;
		padding-top:10px;
	}
	.credit-sale-branch span,.credit-sale-date span
	{
		width:57px;
	}
	.credit-sale-date-to span {
		width: auto !important;
	}
	.credit-sale-branch select {
		width: 76%;
		padding: 2px;
	}
	.credit-sale-pos select {
		width: 74%;
		padding: 2px;
	}
	.credit-sale-date input {
		width: 65%;
		padding:2px;
	}
	.credit-sale-button input {
		margin-right: 10px;
		margin-left: 15px;
	}
	.credit-sale-date-section {
		float: left;
		width: 75%;
	}
	.credit-sale-button {
		float: left;
		width: 25%;
	}
	.credit-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
	.credit-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	.credit-sale-date-section.credit-sale-cst-col.date-inner-col,.branch-col {
		width: 56% !important;
	}
	.credit-sale-button.credit-sale-cst-col.button-col,.pos-col {
		width: 44% !important;
	}
}

@media(min-width:992px) and (max-width:1024px)
{
	.credit-sale-branch select {
		width: 72%;
		padding: 2px;
		font-size: 13px;
	}
	.credit-sale-pos select {
		width: 72%;
		padding: 2px;
		font-size: 13px;
	}
	.credit-sale-date input {
		width: 75%;
		padding: 2px;
		font-size: 13px;
	}
	.credit-sale-button input, .credit-sale-button button {
		margin-right: 2px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.credit-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
	.credit-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	.branch-col {
		width: 32%;
	}
	.pos-col {
		width: 18%;
	}
}

@media(min-width:1025px) and (max-width:1200px)
{
	.credit-sale-branch select {
		width: 72%;
		padding: 2px;
		font-size: 13px;
	}
	.credit-sale-pos select {
		width: 72%;
		padding: 2px;
		font-size: 13px;
	}
	.credit-sale-date input {
		width: 75%;
		padding: 2px;
		font-size: 13px;
	}
	.credit-sale-button input, .credit-sale-button button {
		margin-right: 2px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.credit-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
	.credit-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	.branch-col {
		width: 32%;
	}
	.pos-col {
		width: 18%;
	}
}