.credit-card-sale-report-first-panel {
	float: left;
	width: 100%;
	border-top: 1px solid #fff;
	padding-top: 10px;
}
.credit-card-sale-branch-section {
    float: left;
    width: 100%;
}
.credit-card-sale-branch-section span {
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-card-sale-branch-section select {
    width: 77%;
}
.credit-card-sale-bank-section {
    float: left;
    width: 100%;
}
.credit-card-sale-bank-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-card-sale-bank-section select {
    width: 80%;
}
.credit-card-sale-date-section {
    float: left;
    width: 100%;
}
.credit-card-sale-date-part {
    float: left;
    width: 50%;
}
.credit-card-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-card-sale-date-part input {
    width: 77%;
    line-height: 1 !important;
    text-align: left;
    padding: 1px;
    box-sizing: border-box;
}
.credit-card-sale-report-second-panel {
    float: left;
    width: 100%;
    margin-top: 10px;
	margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px
}
.credit-card-sale-pos-section {
    float: left;
    width: 100%;
}
.credit-card-sale-pos-section span{
    float: left;
    width: 56px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-card-sale-pos-section select{
     width: 77%;
}
.credit-card-sale-user-section span {
    float: left;
    width: 43px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-card-sale-user-section select {
    width: 80%;
}
.credit-card-sale-button-section {
    float: left;
    width: 100%;
}
.credit-card-sale-button-section input {
    margin-right: 10px;
}

.credit-card-sale-rpt-cls table {
	width: 100%;
}


/*----Responsive----*/
@media(max-width:480px)
{
	.credit-card-sale-head h2 {
		font-size: 26px;
	}
	.credit-card-sale-report-first-panel span {
		width: 55px;
		margin-bottom: 5px;
	}
	.credit-card-sale-bank-section select {
		width: 77%;
	}
	.credit-card-sale-date-part input {
			width: 77%;
			padding: 2px;
	}
	.credit-card-sale-date-part {
		float: left;
		width: 100%;
	}
	.credit-card-sale-report-second-panel span {
		width: 55px;
		margin-bottom: 5px;
	}
	.credit-card-sale-button-section {
		text-align: center;
		margin-top: 5px;
	}
	.credit-card-sale-user-section select {
		width: 77%;
	}
}

@media(min-width:481px) and (max-width:767px)
{
	.credit-card-sale-report-first-panel span {
		width: 55px;
		margin-bottom: 5px;
	}
	.credit-card-sale-report-second-panel span {
		width: 55px;
		margin-bottom: 5px;
	}
	.credit-card-sale-date-part input {
		width: 64%;
		padding: 2px;
	}
	.credit-card-sale-button-section {
		text-align: center;
		margin-top: 5px;
	}
	.credit-card-sale-pos-section select {
		width: 82%;
	}
	.credit-card-sale-branch-section select {
		width: 82%;
	}
	.credit-card-sale-bank-section select {
		width: 82%;
	}
	.credit-card-sale-user-section select {
		width: 82%;
	}
}

@media(max-width:767px)
{
	.credit-card-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
	.credit-card-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	.credit-card-sale-report-second-panel {
		margin-top: 0;
	}
}

@media(min-width:768px) and (max-width:991px)
{
	.credit-card-sale-branch-section select {
		width: 70%;
		padding: 2px;
		font-size: 12px;
	}
	.credit-card-sale-bank-section select {
		width: 70%;
		font-size: 12px;
		padding: 2px;
	}
	.credit-card-sale-date-part input {
		width: 75%;
		padding: 2px;
		font-size: 12px;
	}
	.credit-card-sale-pos-section select {
		width: 70%;
		padding: 2px;
		font-size: 12px;
	}
	.credit-card-sale-user-section select {
		width: 70%;
	}
	.credit-card-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
	.credit-card-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	.credit-sale-branch, .credit-sale-bank {
		width: 50%;
	}
	.credit-sale-date {
		width: 100%;
	}
	.credit-sale-pos, .credit-sale-user {
		width: 50%;
	}
	.credit-sale-btn {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.credit-card-sale-date-part input {
		padding: 2px;
		font-size: 12px;
	}
	.credit-card-sale-date-section {
		padding-top: 10px;
	}
	.credit-card-sale-branch-section span, .date-part span, .credit-card-sale-pos-section span, .to-part span, .credit-card-sale-bank-section span, .credit-card-sale-user-section span {
		width: 60px;
		text-align: left;
		float: left;
	}
	.credit-card-sale-date-part.to-part span {
		margin-left: 15px;
	}
	.credit-card-sale-date-part.date-part input {
		width:67%;
	}
	.credit-card-sale-date-part.to-part input {
		width: 67%;
	}
}

@media(min-width:992px) and (max-width:1200px)
{
	.credit-card-sale-pos-section select {
		width: 71%;
		padding:2px
	}
	.credit-card-sale-bank-section select {
		width: 78%;
		padding: 2px;
	}
	.credit-card-sale-date-part input {
		width: 77%;
		padding: 2px;
	}
	.credit-card-sale-pos-section select {
		width: 71%;
		padding: 2px;
	}
	.credit-card-sale-branch-section select {
		width: 71%;
		padding:2px;
	}
	.credit-card-sale-user-section select {
		width: 78%;
		padding: 2px;
	}
	.credit-card-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
	.credit-card-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
		.credit-sale-bank, .credit-sale-user {
		width: 27%;
	}

	.credit-sale-date, .credit-sale-btn {
		width: 39%;
	}
}