﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.current-stock-top-panel {
    float: left;
    width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	margin-bottom:10px;
}
.current-stock-branch-section {
	float: left;
	width: 100%;
}
.current-stock-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.current-stock-branch-section select {
	width: 70%;
}
.current-stock-item-section {
    float: left;
    width: 100%;
}
.current-stock-item-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.current-stock-item-section select {
    width: 70%;
}
.current-stock-godown-section {
    float: left;
    width: 100%;
}
.current-stock-godown-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.current-stock-godown-section select {
    width: 70%;
}
.current-stock-company-section {
    float: left;
    width: 100%;
}
.current-stock-company-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.current-stock-company-section select {
    width: 70%;
}
.current-stock-second-panel {
    float: left;
    width: 100%;
}
.current-stock-radio-section {
    float: left;
    width: 40%;
}
.current-stock-dep-section {
    float: left;
    width: 60%;
}
div#td_1 {
    float: left;
    width: 100%;
}
div#td_1 span {
    float: left;
    width: 50px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 26px;
}
div#td_1 input {
    float: left;
    width: 70%;
}
.current-stock-dep-section span {
    float: left;
    width: 85px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 26px;
}
.current-stock-radio-grp-section{
	float: left;
    width: 40%;
}
.current-stock-grop-section {
    float: left;
    width: 60%;
}
div#td_2 {
    float: left;
    width: 100%;
}
div#td_2 span {
    float: left;
    width: 50px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 26px;
}
div#td_2 input {
    float: left;
    width: 70%;
}
.current-stock-grop-section span {
    float: left;
    width: 85px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 26px;
}
.current-stock-btn-panel {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
	margin-bottom:10px;
	margin-top:10px;
	border-top:1px solid #fff;
}
.current-stock-btn-panel input{
	margin-right:10px;
}
.current-stock-rpt-cls
{
	width:100% !important;
	overflow: auto;
}
.current-stock-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
/*----responsive----*/
@media(max-width:480px) {
	.current-stock-head {
		font-size: 22px;
	}
	.form-control {
		font-size: 12px !important;
	}
}
@media(max-width:767px)
{
	.current-stock-branch-section span,.current-stock-item-section span,.current-stock-godown-section span,.current-stock-company-section span {
		width: 73px;
	}	
	.current-stock-radio-section {
		width: 100%;
	}
	.current-stock-dep-section {
		width: 100%;
	}
	.current-stock-radio-grp-section {
		width: 100%;
	}
	.current-stock-grop-section {
        width: 100%;
	}
	.current-stock-branch-section, .current-stock-item-section, .current-stock-godown-section {
		margin-bottom: 8px;
	}
	div#td_1,div#td_2 {
		margin-bottom: 10px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.current-stock-cst-col
	{
		width:50%;
		margin-bottom:10px;
	}
	.current-stock-godown-section span,.current-stock-branch-section span {
		width: 65px;
	}
	.current-stock-item-section span, .current-stock-company-section span {
		width: 73px;
	}
	.current-stock-top-panel {
		padding-bottom: 0;
	}
	.current-stock-radio-section {
		width: 100%;
	}
	.current-stock-dep-section {
		width: 100%;
	}
	.current-stock-radio-grp-section {
		width: 100%;
	}
	.current-stock-grop-section {
        width: 100%;
	}
	div#td_1,div#td_2 {
		margin-bottom: 10px;
	}
}
@media(min-width:992px)
{
	.current-stock-rpt-cls table
	{
		width:auto !important;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.current-stock-item-section select {
		width: 58%;
	}
	.current-stock-godown-section select {
		width: 65%;
	}
	.current-stock-company-section select {
		width: 64%;
	}
	.form-control {
		font-size: 12px !important;
	}
	.branch-col {
		width: 30%;
	}
	.itm-col {
		width: 20%;
		padding-left: 0;
	}
}
@media(min-width:1201px)
{
	.current-stock-branch-section select {
		width: 75%;
	}
}
/*----responsive----*/