﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.customer-bills-top-panel {
    float: left;
    width: 100%;
	border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.customer-bills-branch-section {
    float: left;
    width: 100%;
}
.customer-bills-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.customer-bills-branch-section select {
    width: 75%;
}
.customer-bills-customer-section {
    float: left;
    width: 100%;
}
.customer-bills-customer-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.customer-bills-customer-section select {
    width: 75%;
}
.customer-bills-customer-section select {
    width: 70%;
}
.customer-bills-date-section {
    float: left;
    width: 100%;
}
.customer-bills-date-part {
    float: left;
    width: 50%;
}
.customer-bills-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.customer-bills-date-part input {
    width: 70%;
}
.customer-bills-btn-section {
    float: left;
    width: 100%;
}
.customer-bills-report-section {
    float: left;
    width: 100%;
    overflow: auto;
}
/*----responsive----*/
@media(max-width:420px)
{
	.customer-bills-date-part {
		float: left;
		width: 100%;
		margin-bottom: 8px;
	}
}
@media(max-width:480px)
{
	.customer-bills-head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}	
}
@media(min-width:421px) and (max-width:767px)
{
	.customer-bills-date-part input {
		width: 40%;
	}
	.customer-bills-date-section {
		margin-bottom: 8px;
	}
}
@media(max-width:767px)
{
	.customer-bills-customer-section span,.customer-bills-branch-section span,.customer-bills-date-part span {
		width: 75px;
	}
	.customer-bills-branch-section select {
		width: 70%;
	}
	.customer-bills-branch-section,.customer-bills-customer-section {
		margin-bottom: 8px;
	}
	.customer-bills-btn-section {
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.customer-bills-cst-col
	{
		width:50% !important;
		margin-bottom:10px;
	}
	.customer-bills-branch-section span, .customer-bills-date-part span {
		width: 57px;
	}
	.customer-bills-date-part input {
		width: 50%;
	}
	.customer-bills-date-part input {
		width: 50%;
	}
}
@media(min-width:992px) and (max-width:1200px) {
	.customer-bills-branch-section select {
		width: 72%;
	}

	.customer-bills-customer-section select {
		width: 63%;
	}

	.branch-col, .customer-col, .date-col {
		width: 33% !important;
	}

	.btn-col {
		width: 100% !important;
		text-align: center;
		margin-top: 10px;
	}
}

/*----responsive----*/