﻿.form-control
{
	font-size:13px !important;
	padding:6px 3px !important;
}
.daily-prod-rcpt-top-panel {
    float: left;
    width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.daily-prod-rcpt-branch-section {
    float: left;
    width: 100%;
}
.daily-prod-rcpt-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.daily-prod-rcpt-branch-section select {
    width: 77%;
}
.daily-prod-rcpt-date-section
{
	float:left;
	width:100%;
}
.daily-prod-rcpt-date-part {
    float: left;
    width: 50%;
}
.daily-prod-rcpt-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.daily-prod-rcpt-date-part input {
    width: 77%;
	line-height:1 !important;
}
.daily-prod-rcpt-radio-section {
    float: left;
    width: 100%;
    line-height: 34px;
}
.daily-prod-rcpt-btn-section {
    float: left;
    width: 100%;
 }
.daily-prod-rcpt-btn-section input{
   margin-right:10px;
 }
.sale-report-table td#sel_table,td#myInput1 {
    border-top: unset !important;
}
table.table.sale-report-table td {
    border-top: unset;
}
.sale-btm-bdr
{
	border-bottom:1px solid #ffffff;
}
td#sel_table td.headings
{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px
}
.daily-prod-rcpt-rpt-cls
{
	width: 100% !important;
	overflow: auto;
}
.daily-prod-rcpt-rpt-cls table
{
	width:auto !important;
}
.daily-prod-rcpt-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
/*----responsive----*/
@media(max-width:420px)
{
	.daily-prod-rcpt-date-part {
		float: left;
		width: 100%;
		margin-bottom:8px;
	}
}
@media(max-width:480px)
{
	.daily-prod-rcpt-head {
		font-size: 22px;
	}
	.form-control
	{
		font-size:12px !important;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.daily-prod-rcpt-date-part input {
		width: 67%;
	}
	.daily-prod-rcpt-branch-section select {
		width: 83.5%;
	}
	.daily-prod-rcpt-date-section {
		margin-bottom: 6px;
	}
}
@media(max-width:767px)
{
	.daily-prod-rcpt-branch-section span, .daily-prod-rcpt-date-part span {
		width: 57px;
	}
	.daily-prod-rcpt-branch-section {
		margin-bottom: 8px;
	}
	.daily-prod-rcpt-radio-section {
		line-height: 1;
		text-align: center;
	}
	.daily-prod-rcpt-btn-section {
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.daily-prod-rcpt-cst-col {
		width: 50%;
		margin-bottom:8px;
	}
	.daily-prod-rcpt-date-part input {
		width: 76%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.daily-prod-rcpt-branch-section select {
		width: 71%;
	}
	.daily-prod-rcpt-btn-section input {
		margin-right: 6px;
	}
	.branch-col {
		width: 32%;
	}
	.all-col {
		width: 15%;
	}
	.btn-col {
		width: 11%;
	}
}
/*----responsive----*/