﻿#smoothmenu_h {
    border: none;
}
body, html {
    overflow-x: hidden;
}
.page_tilte {
    background-color: #f06671;
}
#logo img {
    padding: 0px !important;
    width: 183px;
}
.user_box {
    margin: 0px;
}
.six.columns {
    margin: 0px;
    padding: 0 25px;
}
.user_box {
    margin: 0px !important;
    padding: 17px 0px !important;
    background-color: transparent !important;
    border: none !important;
}
.top_header {
    width: 100%;
    float: left;
    background-color: #46c9ac;
    padding: 6px 0px;
}
header {
    min-height: auto;
    width: 100%;
    float: left;
    padding: 0px;
}
.header_links {
    width: 100% !important;
    float: left;
    background-color: #f06671;
    margin: 0px;
}
.six_columns_right {
    float: right;
}
.head_form {
    margin: 0px;
}
#footer .twelve.columns {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.page_tilte a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding: 6px 0 6px 20px;
    text-align: left;
    border-bottom: 1px solid;
    cursor: pointer;
        font-weight: bold;
}
.child_menu li a {
    font-size: 15px;
    font-weight: 400;
    padding: 6px 0 6px 30px !important;
        border-left: 5px solid #46c9ac;
}
.child_menu li a:hover {
    background-color: #46c9ac !important;
}
.child_menu li a:focus {
    outline: none;
    background-color: transparent !important;
}
.page_tilte a:hover {
    text-decoration: none;
    background-color: #46c9ac;
    color: #ffff;
}
.page_tilte li {
    border-right: none;
}
span.open_btn {
    font-size: 35px;
    color: #fff;
    margin: 0 0 0 25px;
    cursor:pointer;
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 50px;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgb(240, 102, 113);
	overflow-x: hidden;
	transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 60px;
    color: #fff;
}
span.drop_icon {
    float: right;
    padding: 0 20px 0 0;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
/*media*/
@media screen and (max-width:767px) and (min-width:620px)
{
    .six.columns {text-align: center;}
    .overlay {top: 176px;}
    .page_tilte {overflow: auto; height: 344px;}
}
@media screen and (max-width:619px) and (min-width:500px)
{
    .six.columns {text-align: center;}
    .overlay {top: 176px;}
    .page_tilte {overflow: auto; height: 344px;}
}
@media screen and (max-width:499px) and (min-width:400px)
{
    .six.columns {text-align: center;}
    .overlay {top: 176px;}
    .page_tilte {overflow: auto; height: 344px;}
}
@media screen and (max-width:399px) and (min-width:320px) {
	.six.columns {
		text-align: center;
	}
	#footer .twelve.columns {
		font-size: 15px;
	}
	.overlay {
		top: 176px;
	}
	.page_tilte {
		overflow: auto;
		height: 344px;
	}
}