﻿.rpt-dashboard-first-panel {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}

/*----responsive----*/
@media(max-width:480px)
{
	#ddlBranch,#dd_customername
	{
		margin-bottom: 8px;
	}
	.btn-section-rpt-dashboard {
		text-align: center;
	}
	.rpt-dashboard-first-panel {
		height: 60px;
	}
	.progress_demo h1 {
		font-size: 22px !important;
	}
}
@media (min-width:481px) and (max-width:767px)
{
	#ddlBranch,#dd_customername
	{
		margin-bottom: 8px;
	}
	.btn-section-rpt-dashboard {
		text-align: center;
	}
	.progress_demo h1 {
		font-size: 28px !important;
	}
}
/*----responsive----*/