﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.delivery-receive-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.delivery-receive-branch-section {
	float: left;
	width: 100%;
}
.delivery-receive-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.delivery-receive-branch-section select {
    width: 75%;
}
.delivery-receive-date-section {
	float: left;
	width: 100%;
}
.delivery-receive-date-part {
	float: left;
	width: 50%;
}
.delivery-receive-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.delivery-receive-date-part input {
    width: 75%;
}
.delivery-receive-btn-section {
	float: left;
	width: 100%;
}
.delivery-receive-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}

/*----responsive----*/
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}
	.delivery-receive-head {
		font-size: 22px;
	}
}
@media(max-width:567px)
{
	.delivery-receive-rpt-toolbar #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(max-width:767px)
{
	.delivery-receive-branch-section span,.delivery-receive-date-part span {
		width: 57px;
	}
	.delivery-receive-date-part input {
		width: 55.5%;
	}
	.delivery-receive-branch-section select {
		width: 78%;
	}
	.delivery-receive-branch-section,.delivery-receive-date-section {
		margin-bottom: 10px;
	}
	.delivery-receive-btn-section{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.delivery-receive-branch-section select {
		width: 71%;
	}
	.delivery-receive-date-part input {
		width: 65%;
	}
	.branch-col {
		width: 41%;
	}
	.date-col {
		width: 38%;
	}
	.btn-col {
		width: 21%;
	}
}
/*----responsive----*/