.dep-branch-section {
    float: left;
    width: 100%;
}
.dep-branch-section span {
   float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dep-branch-section select {
    float: left;
    width: 77%;
	padding: 3px;
}
.dep-pos-section {
    float: left;
    width: 100%;
}
.dep-pos-section span {
   float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dep-pos-section select {
    float: left;
    width: 80%;
	padding: 3px;
}
.dep-pos-section {
    float: left;
    width: 100%;
}
.date-part {
    float: left;
    width: 50%;
}
.date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.date-part input {
    float: left;
    width: 77%;
    padding: 3px;
	line-height: 1 !important;
}
.dep-button-section {
    float: left;
    width: 100%;
}
.dep-button-section input {
    margin-right: 10px;
}
.departmetn-sale-top-panel {
	float: left;
	width: 100%;
	border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.form-control
{
	font-size:13px !important;
}

/*----responsive----*/
@media(max-width:480px)
{
	.dept-head-h2 {
		font-size: 21px;
	}
	.date-part input {
		width: 77%;
	}
	.dep-button-section {
		margin-top: 8px;
		text-align:center;
	}
	.dep-branch-section span {
		width: 57px;
	}
	.dep-pos-section span {
		width: 57px;
	}
	.dep-pos-section select {
		width: 77%;
	}
	.date-part span {
		width: 57px;
	}
	.dep-pos-section.dep-pos-mid-section {
		padding-top: 8px;
		padding-bottom: 8px;
		box-sizing: border-box;
	}
	.date-part {
		float: left;
		width: 100%;
	}
	.to-part {
		margin-top: 8px;
	}
}

@media (min-width:481px) and (max-width:767px)
{
	.dept-head-h2 {
		font-size: 26px;
	}
	.dep-branch-section span,.dep-pos-section span, .date-part span {
		width: 70px;
	}
	.date-part input {
		width: 60%;
	}
	.dep-button-section {
		margin-top: 8px;
		text-align:center;
	}
	.dep-pos-section.dep-pos-mid-section {
		padding-top: 8px;
		padding-bottom: 8px;
		box-sizing: border-box;
	}
	.dep-branch-section select {
		width: 80%;
	}
	
}
@media(max-width:767px)
{
	.department-wise-salre-rpt-cls table tr:nth-child(5) td:nth-child(3) table tr td table tr td table tr:nth-child(3) {
		display: none !important;
	}
	.department-wise-salre-rpt-cls {
		width: 100% !important;
		overflow: auto;
	}
	.department-wise-salre-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	/*report*/
	.rpt-bill-mob-secction {
		display: none;
		float: left;
		width: 100%;
		margin-top: 10px;
		background: #fff;
		padding: 10px 0;
	}
	.accordion:after {
	  content: '\002B';
	  color: #fff;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}
		
	#mobile-rpt {
	margin-bottom: 0;
	font-weight: 700;
	width: 100%;
	text-align: left;
	border-radius: 0;
	text-transform: uppercase;
	}
}
@media(min-width:768px)
{
	#mobile-rpt
	{
		display:none;
	}
	
}
@media (min-width:768px) and (max-width:991px) {
	
	.dpt-sale-cst-col
	{
		width:50%;
		margin-bottom:10px;
	}
	.dep-branch-section span,.date-part span {
		width: 57px;
	}
	.dep-branch-section select {
		width: 81%;
		font-size: 12px;
		padding: 1px;
	}
	.dep-pos-section select {
		width: 75%;
		font-size: 12px;
		padding: 1px;
	}
	.date-part input {
		width: 62%;
		padding: 1px;
		font-size: 12px;
	}
	.department-wise-salre-rpt-cls {
		width: 100% !important;
		overflow: auto;
	}
	.date-col,.branch-col {
		width: 60%;
	}
	.btn-col,.pos-col {
		width: 40%;
	}
}
@media (min-width:992px) and (max-width:1024px) {
	.form-control {
		font-size: 12px !important;
	}
	.date-part input {
		width: 71%;
		
	}
	.dep-branch-section select, .dep-pos-section select {
		
	}
	.dep-button-section input, .dep-button-section button {
		margin-right: 2px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.dep-branch-section select {
		float: left;
		width: 71%;
	}
	.branch-col {
		padding: 0;
		width: 30% !important;
	}
	.pos-col {
		width: 24%;
		padding: 0;
	}
	.date-col {
		padding: 0;
		width: 36%;
	}
	.btn-col {
		padding: 0;
		width: 10%;
	}
}
@media (min-width:1025px) and (max-width:1200px) {
	.dep-branch-section span, .dep-pos-section span, .date-part span {
		width: auto;
	}
	.dep-branch-section select {
		width: 71%;
	}
	.date-part input {
		width: 71%;
		padding: 2px 0px 2px 0px;
		font-size:13px;
	}
	.dep-branch-section select, .dep-pos-section select {
		font-size: 13px;
	}
	.dep-button-section input {
		margin-right: 6px;
	}
	.branch-col {
		padding: 0;
		width: 30% !important;
	}
	.pos-col {
		width: 24%;
		padding: 0;
	}
	.date-col {
		padding: 0;
		width: 36%;
	}
	.btn-col {
		padding: 0;
		width: 10%;
	}
}