﻿
.sale-report-table td#sel_table,td#myInput1 {
    border-top: unset !important;
}
.tbl-border{
	border-bottom:1px solid #fff;
	padding-bottom:10px;
}
	table.table.sale-report-table td {
    border: unset !important;
}
.form-control
{
	font-size:13px !important;
	padding:6px 3px !important;
}
.dept-grup-wise-sale-rpt-top-panel {
    float: left;
    width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.dept-grup-wise-sale-rpt-branch-section {
    float: left;
    width: 100%;
}
.dept-grup-wise-sale-rpt-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dept-grup-wise-sale-rpt-branch-section select {
    width: 77%;
}
.dept-grup-wise-sale-rpt-date-section {
    float: left;
    width: 100%;
}
.dept-grup-wise-sale-rpt-date-part {
    float: left;
    width: 50%;
}
.dept-grup-wise-sale-rpt-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dept-grup-wise-sale-rpt-date-part input {
    width: 77%;
	line-height:1 !important;
}
.dept-grup-wise-sale-rpt-pos-section {
    float: left;
    width: 100%;
}
.dept-grup-wise-sale-rpt-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dept-grup-wise-sale-rpt-pos-section select {
    width: 77%;
}
.dept-grup-wise-sale-rpt-radio-section {
    float: left;
    width: 100%;
    line-height: 34px;
}
.dept-grup-wise-sale-rpt-button-section {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.dept-grup-wise-sale-rpt-button-section input {
	margin-right:10px;
}
.dept-grup-wise-sale-rpt-cls
{
	width: 100% !important;
	overflow: auto;
	height:auto !important;
}
.dept-grup-wise-sale-rpt-cls table
{
	width:auto !important;
}
.dept-grup-wise-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.dept-grup-wise-sale-rpt-date-part {
		width: 100%;
		margin-bottom:10px;	

	}
}
@media(max-width:480px)
{
	.dept-grup-wise-sale-rpt-head {
		font-size: 21px;
	}
}
@media(min-width:421px) and (max-width:480px)
{
	.dept-grup-wise-sale-rpt-date-part input {
		width: 80%;
	}
	.dept-grup-wise-sale-rpt-date-section {
		margin-bottom: 8px;
	}
	.dept-grup-wise-sale-rpt-pos-section select, .dept-grup-wise-sale-rpt-branch-section select  {
		width: 80%;
	}
	.dept-grup-wise-sale-rpt-date-part {
		float: left;
		width: 100%;
	}
	.to-part{
		margin-top:8px;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.dept-grup-wise-sale-rpt-date-part input {
		width: 59%;
	}
	.dept-grup-wise-sale-rpt-date-section {
		margin-bottom: 8px;
	}
	.dept-grup-wise-sale-rpt-pos-section select, .dept-grup-wise-sale-rpt-branch-section select  {
		width: 80%;
	}
}
@media(max-width:767px)
{
	.dept-grup-wise-sale-rpt-branch-section span, .dept-grup-wise-sale-rpt-date-part span, .dept-grup-wise-sale-rpt-pos-section span {
		width: 57px;
	 }
	 .dept-grup-wise-sale-rpt-radio-section {
		text-align: center;
	 }
	 .dept-grup-wise-sale-rpt-button-section {
		margin-top: 0px;
	 }
	 .dept-grup-wise-sale-rpt-branch-section {
		margin-bottom: 8px;
	 }
}
@media(min-width:768px) and (max-width:991px)
{
	.dept-grup-wise-sale-rpt-cst-col
	{
		width:50%;
		margin-bottom:8px;
	}
	.dept-grup-wise-sale-rpt-date-part input {
		width: 75%;
	}
	.dept-grup-wise-sale-rpt-pos-section span, .dept-grup-wise-sale-rpt-branch-section span {
		width: 57px;
	}
	.dept-grup-wise-sale-rpt-button-section {
		margin-top: 0;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.dept-grup-wise-sale-rpt-date-part input {
		width: 72%;
	}
	.dept-grup-wise-sale-rpt-branch-section select {
		width: 72%;
	}
	.branch-col {
		padding: 0;
		width: 28%;
	}
	.date-col {
		padding: 0;
		width: 37%;
	}
	.pos-col {
		padding: 0 !important;
		width: 20% !important;
	}
	.all-col {
		padding: 0;
		width: 15%;
	}
}
/*----responsive----*/