﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.dep-wise-grp-wise-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.dep-wise-grp-wise-sale-branch-section {
	float: left;
	width: 100%;
}
.dep-wise-grp-wise-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dep-wise-grp-wise-sale-branch-section select {
    width: 75%;
}
.dep-wise-grp-wise-sale-date-section {
	float: left;
	width: 100%;
}
.dep-wise-grp-wise-sale-date-part {
	float: left;
	width: 50%;
}
.dep-wise-grp-wise-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dep-wise-grp-wise-sale-date-part input {
    width: 75%;
	line-height:1 !important;
}
.dep-wise-grp-wise-sale-pos-section {
	float: left;
	width: 100%;
}
.dep-wise-grp-wise-sale-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dep-wise-grp-wise-sale-pos-section select {
    width: 75%;
}
.dep-wise-grp-wise-sale-btn-section {
	float: left;
	width: 100%;
}
.dep-wise-grp-wise-sale-bottom-panel {
	float: left;
	width: 100%;
}
.dep-wise-grp-wise-sale-bottom-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
}
.dep-wise-grp-wise-sale-dep-section {
	float: left;
	width: 100%;
}
.dep-wise-grp-wise-sale-dep-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
	margin-top:6px;
}
.dep-wise-grp-wise-sale-dep-section span:nth-child(2), .dep-wise-grp-wise-sale-dep-section span:nth-child(3) {
	margin-right: 10px;
}
#sel_table {
	float: left;
	width: 79%;
}
#sel_table input[type="text"] {
	float: left;
	width: 27%;
}
#sel_table div {
	background: #fff;
	margin-left: 30px;
	float: left;
	width: 67%;
}
#tblist {
	width: 100%;
	float: left;
}
#tblist input {
	float: left;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
#tblist label{
	float:left;
	width:auto;
} 
/*----responsive----*/
@media(max-width:420px)
{
	.dep-wise-grp-wise-sale-date-part {
		float: left;
		width: 100%;
		margin-bottom:10px;
	}
}
@media(max-width:480px)
{
	.form-control{
		font-size:13px !important;
	}
	.dep-wise-grp-wise-sale-head {
		font-size: 21px;
	}
	#sel_table input[type="text"] {
		width: 100%;
		margin-bottom: 10px;
	}
	#sel_table {
		float: left;
		width: 100%;
	}
	#sel_table div {
		margin-left: 0;
		float: left;
		width: 100%;
	}
	#tblist {
		width: 100%;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.dep-wise-grp-wise-sale-date-part input {
		width: 68%;
		padding-left: 0 !important;
	}
	.dep-wise-grp-wise-sale-pos-section select,.dep-wise-grp-wise-sale-branch-section select {
		width: 84%;
	}
	.dep-wise-grp-wise-sale-date-section {
		margin-bottom:10px;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	#sel_table {
		float: left;
		width: 100%;
	}
	#sel_table input[type="text"] {
		float: left;
		width: 160px;
	}
	#sel_table div {
		width: 52%;
	}
}
@media(max-width:767px)
{
	.dep-wise-grp-wise-sale-branch-section span,.dep-wise-grp-wise-sale-pos-section span,.dep-wise-grp-wise-sale-date-part span {
		width: 57px;
	}
	.dep-wise-grp-wise-sale-branch-section,.dep-wise-grp-wise-sale-pos-section {
		margin-bottom: 10px;
	}
	.dep-wise-grp-wise-sale-btn-section {
		float: left;
		width: 100%;
		text-align: center;
	}
	.dep-wise-grp-wise-sale-rpt-cls
	{
		width: 100% !important;
		overflow-x:auto;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.dep-wise-grp-wise-sale-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.dep-wise-grp-wise-sale-rpt-cls
	{
		width: 100% !important;
		overflow-x:auto;
	}
	.dep-wise-grp-wise-sale-branch-section span,.dep-wise-grp-wise-sale-pos-section span {
		width: 57px;
	}
	#sel_table {
		float: left;
		width: 67%;
	}
	#sel_table div {
		width: 66%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.form-control{
		padding:6px 2px !important;
	}
	.dep-wise-grp-wise-sale-branch-section select {
		width: 71%;
	}
	.dep-wise-grp-wise-sale-date-part input {
		width: 71%;
	}
	#sel_table {
		width: 75%;
	}
	.branch-col {
		width: 33%;
	}
	.date-col {
		width: 40%;
	}
	.btn-col {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
} 
/*----responsive----*/