﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.foc-item-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.foc-item-branch-section {
	float: left;
	width: 100%;
}
.foc-item-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.foc-item-branch-section select {
    width: 75%;
}
.foc-item-date-section {
	float: left;
	width: 100%;
}
.foc-item-date-part {
	float: left;
	width: 50%;
}
.foc-item-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.foc-item-date-part input {
    width: 68%;
}
.foc-item-item-section {
	float: left;
	width: 100%;
}
.foc-item-item-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
	
}
.foc-item-radio-section{
	float:left;
	width:40%;
	margin-top:6px;
}
.foc-item-radio-section span,.foc-item-radio-section input,.foc-item-radio-section label{
	float:left;
}
 .foc-item-tbl-section {
	float: left;
	width: 50%;
	background:#fff;
}
#td_1{
	 float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.foc-item-radio-section label {
	margin-right: 40px;
	margin-top:2px;
}
#myInput1 {
	float: left;
	width: 70%;
}
.foc-item-second-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.foc-item-btn-section {
	float: left;
	width: 100%;
	text-align: center;
	
}
.foc-item-btn-section input{
	margin-right:10px;
}
.foc-item-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}

/*----responsive----*/
@media(max-width:480px)
{
	.foc-item-head {
		font-size: 19px;
	}
}
@media(max-width:567px)
{
	.foc-item-toolbar #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(max-width:767px)
{
	.foc-item-branch-section span,.foc-item-date-part span,.foc-item-item-section span {
		width: 57px;
	}
	.foc-item-date-part input {
		width: 56%;
	}
	.foc-item-branch-section select {
		width: 78%;
	}
	.foc-item-radio-section span {
		width: auto;
	}
	.foc-item-radio-section label {
		margin-right: 0px;
	}
	.foc-item-tbl-section {
		width: 100%;
		margin-top:10px;
	}
	.foc-item-radio-section {
		width:76%;
	}
	
	#myInput1 {
		float: left;
		width: 70%;
		
	}
	.search-section {
		float: left;
		width: 100%;
	}
	.foc-item-branch-section {
		margin-bottom: 10px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.foc-item-cst-col-branch,.foc-item-cst-col-date {
		width: 50%;
	}
	.foc-item-cst-col-item{
		width:100%;
		margin-top:10px;
	}
	.search-section {
		float: left;
		width: 100%;
	}
	.foc-item-tbl-section {
		width: 47%;
		margin-left: 40px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.foc-item-cst-col-branch,.foc-item-cst-col-date {
		width: 50%;
	}
	.foc-item-cst-col-item{
		width:100%;
		margin-top:10px;
	}
	.search-section {
		float: left;
		width: 100%;
	}
	.foc-item-tbl-section {
		width: 47%;
		margin-left: 62px;
	}
}
/*----responsive----*/