﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.foc-bill-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.foc-bill-branch-section {
	float: left;
	width: 100%;
}
.foc-bill-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.foc-bill-branch-section select {
    width: 75%;
}
.foc-bill-date-section {
	float: left;
	width: 100%;
}
.foc-bill-date-part {
	float: left;
	width: 50%;
}
.foc-bill-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.foc-bill-date-part input {
    width: 75% !important;
}
.foc-bill-btn-section {
	float: left;
	width: 100%;
}
.foc-bill-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:480px) {
	.foc-bill-head {
		font-size: 18px;
	}
}
@media(max-width:567px){
	.foc-bill-toolbar #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
}
@media(max-width:767px){
	.foc-bill-branch-section span,.foc-bill-date-part span {
		width: 57px;
	}
	.foc-bill-date-part input {
		width: 56% !important;
	}
	.foc-bill-branch-section select {
		width: 78%;
	}
	.foc-bill-btn-section {
		text-align: center;
	}
	.foc-bill-date-section {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
@media(min-width:768px) and (max-width:991px){
	.foc-bill-branch-section select {
		width: 71%;
	}
	.foc-bill-date-part input {
		width: 62% !important;
	}
	.branch-col {
		width: 38%;
		padding: 0;
	}
	.date-col {
		width: 36%;
		padding: 0;
	}
	.btn-col {
		padding: 0;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.foc-bill-date-part input {
		width: 70% !important;
	}
}
/*----responsive----*/