﻿.form-control {
    padding: 6px 2px !important;
    font-size: 13px !important;
}
.group-wise-sale-top-panel {
    float: left;
    width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.group-wise-sale-branch-section {
    float: left;
    width: 100%;
}
.group-wise-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.group-wise-sale-branch-section select {
    width: 76%;
}
.group-wise-sale-date-section {
    float: left;
    width: 100%;
}
.group-wise-sale-date-part {
    float: left;
    width: 50%;
}
.group-wise-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.group-wise-sale-date-part input {
    width: 76%;
	line-height:1 !important;
}
.group-wise-sale-pos-section {
    float: left;
    width: 100%;
}
.group-wise-sale-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.group-wise-sale-pos-section select {
    width: 76%;
}
.group-wise-sale-radio-section {
    float: left;
    width: 100%;
    line-height: 34px;
}
.group-wise-sale-button-section {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.group-wise-sale-button-section input
{
	margin-right:10px;
}
.group-wise-sale-rpt-cls
{
	width: 100% !important;
	overflow: auto;
}
.group-wise-sale-rpt-cls table
{
	width:auto !important;
}
.group-wise-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
.sale-report-table{
	border-bottom:1px solid #fff;
	padding-bottom:10px;
}
td#sel_table,td#myInput1 {
    border-top: unset !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.group-wise-sale-date-part {
		float: left;
		width: 100%;
		margin-bottom: 8px;
	}
}
@media(max-width:480px)
{
	.group-wise-sale-head {
		font-size: 24px;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.group-wise-sale-branch-section select,.group-wise-sale-pos-section select {
		width: 84%;
	}
	.group-wise-sale-date-part input {
		width: 68%;
	}
	.group-wise-sale-date-section {
		margin-bottom: 8px;
	}
}
@media(max-width:767px)
{
	.group-wise-sale-branch-section span, .group-wise-sale-pos-section span,.group-wise-sale-date-part span {
		width: 57px;
	}
	.group-wise-sale-radio-section {
		text-align: center;
	}
	.group-wise-sale-branch-section  {
		margin-bottom: 8px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.group-wise-sale-cst-col {
		width: 50%;
		margin-bottom:8px;
	}
	.group-wise-sale-branch-section span,.group-wise-sale-pos-section span {
		width: 57px;
	}

}
@media(min-width:992px) and (max-width:1200px)
{
	.group-wise-sale-branch-section select {
		width: 71%;
	}
	.group-wise-sale-date-part input {
		width: 71%;
	}
	.branch-col {
		padding: 0;
		width: 28%;
	}
	.date-col {
		width: 38%;
		padding: 0;
	}
	.pos-col {
		padding: 0;
		width: 20%;
	}
	.all-col {
		width: 14%;
		padding: 0;
	}
}
/*----responsive----*/