﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.grp-wise-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.grp-wise-sale-branch-section {
	float: left;
	width: 100%;
}
.grp-wise-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.grp-wise-sale-branch-section select {
    width: 75%;
}
.grp-wise-sale-date-section {
	float: left;
	width: 100%;
}
.grp-wise-sale-date-part {
	float: left;
	width: 50%;
}
.grp-wise-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.grp-wise-sale-date-part input {
    width: 75%;
}
.grp-wise-sale-btn-section {
	float: left;
	width: 100%;
}
.grp-wise-sale-bottom-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.grp-wise-sale-group-section {
	float: left;
	width: 100%;
}
.grp-wise-sale-group-section span {
	float: left;
	width: auto;
	font-weight: 700;
	padding-right: 3px;
	box-sizing: border-box;
}
.grp-wise-sale-group-section input, .grp-wise-sale-group-section label {
	float: left;
	width: auto;
}
.grp-wise-sale-group-section label {
	margin-right:10px;
	margin-top:2px;
}
.grp-wise-sale-grp-table {
	float: left;
	width: 404px;
}
.grp-wise-sale-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:480px)
{
	.form-control{
		font-size:13px !important;
	}
	.grp-wise-sale-head {
		font-size: 22px;
	}
	.grp-wise-sale-grp-table {
		width: 100%;
	}
}
@media(max-width:567px)
{
	.grp-wise-sale-rpt-toolbar #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.grp-wise-sale-grp-table {
		float: left;
		width: 55%;
	}
}
@media(max-width:767px)
{
	.grp-wise-sale-branch-section span,.grp-wise-sale-date-part span {
		width: 53px;
	}
	.grp-wise-sale-date-part input {
		width: 58%;
	}
	.grp-wise-sale-branch-section select {
		width: 79%;
	}
	.grp-wise-sale-branch-section,.grp-wise-sale-date-section {
		margin-bottom: 10px;
	}
	.grp-wise-sale-btn-section
	{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.grp-wise-sale-branch-section select {
		width: 72%;
	}
	.grp-wise-sale-date-part input {
		width: 68%;
	}
	.branch-col {
		width: 41%;
	}
	.date-col {
		padding: 0;
		width: 34%;
	}
}
/*----responsive----*/