﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.int-isu-dep-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.int-isu-dep-branch-section {
	float: left;
	width: 100%;
}
.int-isu-dep-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.int-isu-dep-branch-section select {
    width: 75%;
}
.int-isu-dep-date-section {
	float: left;
	width: 100%;
}
.int-isu-dep-date-part {
	float: left;
	width: 50%;
}
.int-isu-dep-date-part span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.int-isu-dep-date-part input {
    width: 75%;
}
.int-isu-dep-btn-section
{
	float: left;
	width: 100%;
}
.int-isu-dep-bottom-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.int-isu-dep-item-section {
	float: left;
	width: 100%;
}
.int-isu-dep-item-section span {
    float: left;
    width: auto;
    font-weight: 700; 
    padding-right: 3px;
    box-sizing: border-box;
    line-height:34px
}
.int-isu-dep-item-radio {
	float: left;
	width: 100%;
	margin-bottom:10px;
}
.int-isu-dep-item-radio label,.int-isu-dep-item-radio input{
	float:left;
	width:auto;
}
.int-isu-dep-item-radio label{
	margin-right:10px;
	margin-top:8px;
} 
.int-isu-dep-item-radio input[type="radio"] {
	margin-top: 10px;
}
.int-isu-dep-rpt-toolbar
{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:450px)
{
	.int-isu-dep-item-search {
		float: left;
		width: 100%;
	}
	.int-isu-dep-date-part input {
		font-size: 12px !important;
	}
	.int-isu-dep-branch-section select {
		font-size: 12px !important;
	}
}
@media(max-width:480px)
{
	.int-isu-dep-head {
		font-size: 18px;
	}
}
@media(max-width:567px)
{
	.int-isu-dep-rpt-toolbar #cntMaster_ReportToolbar1_Menu
	{
		width:800px !important;
	}
}
@media(max-width:767px)
{
	.int-isu-dep-branch-section span,.int-isu-dep-date-part span {
		width: 57px;
	}
	.int-isu-dep-date-part input {
		width: 56%;
	}
	.int-isu-dep-branch-section select {
		width: 78%;
	}
	.int-isu-dep-branch-section,.int-isu-dep-date-section {
		margin-bottom: 10px;
	}
	.int-isu-dep-btn-section{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.int-isu-dep-branch-section select {
		width: 71%;
	}
	.int-isu-dep-date-part input {
		width: 70%;
	}
	.branch-col {
		width: 41%;
	}
	.date-col {
		width: 40%;
	}
	.btn-col {
		width: 19%;
		padding: 0;
	}
}
/*----responsive----*/