﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.int-isue-dept-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.int-isue-dept-branch-section {
	float: left;
	width: 100%;
}
.int-isue-dept-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.int-isue-dept-branch-section select {
    width: 75%;
}
.int-isue-dept-date-section {
	float: left;
	width: 100%;
}
.int-isue-dept-date-part {
	float: left;
	width: 50%;
}
.int-isue-dept-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.int-isue-dept-date-part input {
    width: 75%;
}
.int-isue-dept-btn-section {
	float: left;
	width: 100%;
}
.int-isue-dept-bottom-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.int-isue-dept-department-section {
	float: left;
	width: 100%;
}
.int-isue-dept-department-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.int-isue-dept-department-radio {
	float: left;
	margin-top:10px;
	margin-bottom:10px;
	width:83%;
}
.int-isue-dept-department-radio-div{
	float:left;
	width:100%;
}
.int-isue-dept-department-radio label, .int-isue-dept-department-radio input {
    float: left;
    margin-top: 0;
}
.int-isue-dept-department-radio label{
	margin-right:10px;
}
#td_1 {
	float: left;
	margin-top:-9px;
}
#td_1 input {
	width: 76%;
}
.int-isue-dept-item-section {
	float: left;
	width: 100%;
}
.int-isue-dept-item-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.int-isue-dept-item-radio{
	float: left;
	margin-top:10px;
	margin-bottom:10px;
}
.int-isue-dept-item-radio label, .int-isue-dept-item-radio input {
    float: left;
    margin-top: 0;
}
.int-isue-dept-item-radio label{
	margin-right:10px;
}
.int-isue-dept-item-radio-div{
	float:left;
	width:100%;
}
#td_2 {
	float: left;
	margin-top:-9px;
}
#td_2 input {
	width: 76%;
}
.int-isue-dept-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:450px)
{
	.int-isue-dept-department-radio {
		width: 65%;
	}
}
@media(min-width:451px) and (max-width:480px)
{
	.int-isue-dept-department-radio {
		width: 77%;
	}
}
@media(max-width:480px)
{
	.int-isue-dept-head {
		font-size: 18px;
	}
	.form-control{
		font-size:12px !important;
	}
	#td_1 input,#td_2 input {
		width: 68%;
	}
	
	.int-isue-dept-item-radio {
		width: 78%;
	}
}
@media(max-width:567px)
{
	.int-isue-dept-rpt-toolbar #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	#td_1 {
		width: 62%;
	}
	#td_1 input {
		width: 73%;
	}
	.int-isue-dept-department-radio {
		width: 78%;
	}
} 
@media(min-width:568px) and (max-width:667px)
{
	.int-isue-dept-department-radio {
		width: 80%;
	}
}
@media(max-width:767px)
{
	.int-isue-dept-branch-section span,.int-isue-dept-date-part span {
		width: 57px;
	}
	.int-isue-dept-date-part input {
		width: 56%;
	}
	.int-isue-dept-branch-section select {
		width: 78%;
	}
	.int-isue-dept-branch-section,.int-isue-dept-date-section {
		margin-bottom: 10px;
	}
	.int-isue-dept-btn-section{
		text-align:center;
	}
	.int-isue-dept-item-section {
		margin-top: 10px;
	}
	
}
@media(min-width:768px) and (max-width:991px)
{
	.int-isue-dept-branch-section select {
		width: 71%;
	}
	.int-isue-dept-date-part input {
		width: 69%;
	}
	.int-isue-dept-department-radio {
		width: 71%;
	}
	.int-isue-dept-item-radio {
		width: 80%;
	}
	.branch-col {
		width: 41%;
	}
	.date-col {
		width: 39%;
	}
	.btn-col {
		width: 20%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.int-isue-dept-department-radio {
		width: 79%;
	}
}
/*----responsive----*/