﻿.item-wise-sale-top-panel {
    float: left;
    width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.item-wise-sale-branch-section {
    float: left;
    width: 100%;
}
.item-wise-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.item-wise-sale-branch-section select {
    width: 77%;
}
.item-wise-sale-choose-section {
    float: left;
}
.item-wise-sale-choose-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.item-wise-sale-choose-section select {
    width: 100% !important;
}

.item-wise-sale-pos-section {
    float: left;
    width: 100%;
}
.item-wise-sale-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.item-wise-sale-pos-section select {
    width: 76%;
}
.item-wise-sale-date-section {
    float: left;
    width: 100%;
}
.itme-wise-date-part {
    float: left;
    width: 50%;
}
.itme-wise-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.itme-wise-date-part input {
    width: 77%;
	line-height:1 !important;
}
.form-control {
    padding: 6px 2px !important;
    font-size: 13px !important;
}
.item-wise-sale-button-section {
    float: left;
    width: 100%;
}
.item-wise-sale-button-section input{
    margin-right: 10px;
}
.item-wise-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
.item-wise-sale-rpt-cls table
{
	width:auto !important;
}
.item-wise-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.itme-wise-date-part {
		width: 100%;
	}
	.itme-wise-date-part {
		margin-bottom: 8px;
	}
}
@media(min-width:421px) and (max-width:480px)
{
	.itme-wise-date-part input {
		width: 66%;
		line-height: 1 !important;
	}
	.item-wise-sale-pos-section select,.item-wise-sale-branch-section select {
		width: 83%;
	}	
	.item-wise-sale-date-section
	{
		margin-bottom:8px;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.itme-wise-date-part input {
		width: 56%;
		line-height: 1 !important;
	}
	.item-wise-sale-pos-section select,.item-wise-sale-branch-section select {
		width: 78%;
	}	
	.item-wise-sale-date-section
	{
		margin-bottom:8px;
	}
}
@media(max-width:480px)
{
	.form-control {
		font-size: 12px !important;
	}
	.item-wise-sale-head {
		font-size: 24px;
	}
}
@media(max-width:767px)
{
	.item-wise-sale-branch-section span,.item-wise-sale-pos-section span,.itme-wise-date-part span {
		width: 57px;
	}
	.item-wise-sale-branch-section, .item-wise-sale-pos-section {
		margin-bottom: 8px;
	}
	.item-wise-sale-button-section {
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.item-wise-sale-col{
		width:50%;
		margin-bottom:8px;
	}
	.item-wise-sale-branch-section span, .itme-wise-date-part span{
		width: 57px;
	}
	.item-wise-sale-branch-section select {
		width: 82%;
	}
	.itme-wise-date-part input {
		width: 64%;
	}
	.form-control
	{
		font-size:12px !important;
	}
	.date-col,.branch-col {
		width: 56%;
	}
	.btn-col,.pos-col{
		width:44%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.item-wise-sale-button-section input {
		margin-right: 6px;
	}
	.item-wise-sale-branch-section select {
		width: 71%;
	}
	.itme-wise-date-part input {
		width: 71%;
	}
	.branch-col {
		width: 31%;
	}
	.pos-col {
		width: 18%;
	}
	.date-col {
		width: 41%;
	}
	.btn-col {
		width: 10% !important;
	}
	.item-wise-sale-pos-section select {
		width: 71%;
	}
}
/*----responsive----*/