﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.itm-sale-detl-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.itm-sale-detl-branch-section {
	float: left;
	width: 100%;
}
.itm-sale-detl-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.itm-sale-detl-branch-section select {
    width: 75%;
}
.itm-sale-detl-pos-section {
	float: left;
	width: 100%;
}
.itm-sale-detl-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.itm-sale-detl-pos-section select {
    width: 75%;
}
.itm-sale-detl-date-section {
	float: left;
	width: 100%;
}
.itm-sale-detl-date-part {
	float: left;
	width: 50%;
}
.itm-sale-detl-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.itm-sale-detl-date-part input {
    width: 75%;
}
.itm-sale-detl-bottom-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.itm-sale-detl-item-section {
	float: left;
	width: 100%;
}
.itm-sale-detl-item-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
 }
.itm-sale-detl-item-section input{
	float:left;
	width:auto;
}
.itm-sale-detl-item-section label{
	float:left;
	width:auto;
	margin-right:10px;
	margin-top:2px;
}
.itm-sale-detl-item-table-section {
	float: left;
	width: 31%;
}
.itm-sale-detl-item-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:450px)
{
	.itm-sale-detl-item-table-section {
		float: left;
		width: 100%;
	}
}
@media(max-width:480px) {
	.form-control {
		font-size: 12px !important;
	}
	.itm-sale-detl-head {
		font-size: 22px;
	}
}
@media(min-width:451px) and (max-width:767px)
{
	.itm-sale-detl-item-table-section {
		float: left;
		width: 57%;
	}
}
@media(max-width:567px)
{
	.itm-sale-detl-item-rpt-toolbar #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
}
@media(max-width:767px)
{
	.itm-sale-detl-branch-section span,.itm-sale-detl-pos-section span,.itm-sale-detl-date-part span {
		width: 57px;
	}
	.itm-sale-detl-date-part input {
		width: 55%;
	}
	.itm-sale-detl-branch-section select,.itm-sale-detl-pos-section select {
		width: 78%;
	}
	.itm-sale-detl-branch-section,.itm-sale-detl-pos-section,.itm-sale-detl-date-section {
		margin-bottom: 10px;
	}
	.itm-sale-detl-btn-section{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.itm-sale-detl-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.itm-sale-detl-branch-section span,.itm-sale-detl-pos-section span {
		width: 57px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.itm-sale-detl-date-part input {
		width: 72%;
	}
	.itm-sale-detl-branch-section select {
		width: 72%;
	}
	.branch-col {
		width: 31%;
	}
	.date-col {
		width: 29%;
		padding: 0;
	}
	.pos-col {
		width: 23%;
		padding: 0;
	}
}
/*----responsive----*/