﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.multi-stck-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.multi-stck-branch-section {
	float: left;
	width: 100%;
}
.multi-stck-branch-section span {
    float: left;
    width: 71px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.multi-stck-branch-section select {
	float: left;
	width: 72%;
}
.multi-stck-godown-section {
	float: left;
	width: 100%;
}
.multi-stck-godown-section span {
    float: left;
    width: 80px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.multi-stck-godown-section select {
	float: left;
	width: 72%;
}
.multi-stck-cmpny-section {
	float: left;
	width: 100%;
}
.multi-stck-cmpny-section span {
	float: left;
	width: auto;
	line-height: 34px;
	margin-top: 4px;
	padding-right: 3px;
}
.multi-stck-cmpny-section .cls_chk {
	width: 90px;
}
.multi-stck-cmpny-section select {
	float: left;
	width: 43%;
}
.multi-stck-second-panel {
	float: left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
}
.multi-stck-group-section {
	float: left;
	width: 100%;
}
.multi-stck-group-section span {
	float: left;
	width: auto;
	line-height: 34px;
	margin-top: 4px;
	padding-right: 3px;
}
.multi-stck-group-section .cls_chk {
	width: 71px;
	float: left;
}
.multi-stck-group-section select {
	float: left;
	width: 43%;
}
.multi-stck-sub-group-section {
	float: left;
	width: 100%;
}
.multi-stck-sub-group-section span {
	float: left;
	width: auto;
	line-height: 34px;
	margin-top: 4px;
	padding-right: 3px;
}
.multi-stck-sub-group-section .cls_chk {
	width: 80px;
}
.multi-stck-sub-group-section select {
	float: left;
	width: 43%;
}
.multi-stck-dep-section {
	float: left;
	width: 100%;
}
.multi-stck-dep-section span {
	float: left;
	width: auto;
	line-height: 34px;
	margin-top: 4px;
	padding-right: 3px;
}
.multi-stck-dep-section .cls_chk {
	width: 90px;
}
.multi-stck-dep-section select {
	float: left;
	width: 43%;
}
.multi-stck-third-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.multi-stck-loc-section {
	float: left;
	width: 100%;
}
.multi-stck-loc-section span {
	float: left;
	width: auto;
	line-height: 34px;
	margin-top: 4px;
	padding-right: 3px;
}
.multi-stck-loc-section .cls_chk {
	width: 71px;
}
.multi-stck-loc-section select {
	float: left;
	width: 43%;
}
.multi-stck-clr-section {
	float: left;
	width: 100%;
}
.multi-stck-clr-section span {
	float: left;
	width: auto;
	line-height: 34px;
	margin-top: 4px;
	padding-right: 3px;
}
.multi-stck-clr-section .cls_chk {
	float: left;
	width: 80px;
}
.multi-stck-clr-section select {
	float: left;
	width: 43%;
}
.multi-stck-tax-section {
	float: left;
	width: 100%;
}
.multi-stck-tax-section span {
	float: left;
	width: auto;
	line-height: 34px;
	margin-top: 4px;
	padding-right: 3px;
}
.multi-stck-tax-section .cls_chk {
	float: left;
	width: 90px;
}
.multi-stck-tax-section select {
	float: left;
	width: 43%;
}
.multi-stck-btn-sectoin {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
}
.multi-stck-rpt-cls
{
	width:100% !important;
	overflow: auto;
}
.multi-stck-rpt-cls table
{
	width:auto !important;
}

.multi-stck-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
.multi-stck-btn-sectoin input {
	margin-right: 10px;
}
/*----responsive----*/
@media(max-width:420px)
{
	.multi-stck-cmpny-section span:nth-child(2),.multi-stck-group-section span:nth-child(2),.multi-stck-sub-group-section span:nth-child(2),
	.multi-stck-dep-section span:nth-child(2), .multi-stck-loc-section span:nth-child(2),.multi-stck-clr-section span:nth-child(2),
	.multi-stck-tax-section span:nth-child(2) {
		width: 60%;
	}

	.multi-stck-branch-section select, .multi-stck-godown-section select {
		width: 65%;
	}
	.multi-stck-cmpny-section span:nth-child(3), .multi-stck-group-section span:nth-child(3),.multi-stck-sub-group-section span:nth-child(3),
	.multi-stck-dep-section span:nth-child(3),.multi-stck-loc-section span:nth-child(3),.multi-stck-clr-section span:nth-child(3),
	.multi-stck-loc-section span:nth-child(3), .multi-stck-tax-section span:nth-child(3)  {
		width: 90px;
	}
	.multi-stck-cmpny-section select, .multi-stck-group-section select,.multi-stck-sub-group-section select,.multi-stck-dep-section select,
	.multi-stck-loc-section select,.multi-stck-tax-section select,.multi-stck-clr-section select {
		width: 65%;
	}
	.multi-stck-branch-section select, .multi-stck-godown-section select {
		width: 65%;
	}
}
@media(max-width:480px)
{
	.multi-stck-head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}
	
}
@media(min-width:421px) and (max-width:767px)
{
	.multi-stck-godown-section,.multi-stck-group-section,.multi-stck-sub-group-section,.multi-stck-loc-section,.multi-stck-clr-section {
		margin-bottom: 8px;
	}
	.multi-stck-group-section .cls_chk,.multi-stck-sub-group-section .cls_chk,.multi-stck-loc-section .cls_chk,
	.multi-stck-clr-section .cls_chk,.multi-stck-tax-section .cls_chk {
		width: 90px;
	}
	.multi-stck-godown-section select,.multi-stck-branch-section select {
		width: 68%;
	}
	
}

@media(max-width:767px)
{
	.multi-stck-branch-section span,.multi-stck-godown-section span {
		width: 90px;
	}
	.multi-stck-branch-section {
		margin-bottom: 8px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.form-control {
		font-size: 12px !important;
	}
	.multi-stck-branch-section select {
		width: 100%;
	}
	.multi-stck-godown-section select {
		width: 100%;
	}
	.multi-stck-cmpny-section select,.multi-stck-group-section select,.multi-stck-sub-group-section select,
	.multi-stck-dep-section select,.multi-stck-loc-section select,.multi-stck-clr-section select,.multi-stck-tax-section select {
		width: 100%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.multi-stck-branch-section select {
		width: 100%;
	}
	.multi-stck-godown-section select {
		width: 100%;
	}
	.multi-stck-cmpny-section select,.multi-stck-group-section select,.multi-stck-sub-group-section select,.multi-stck-dep-section select,
	.multi-stck-loc-section select,.multi-stck-clr-section select,.multi-stck-tax-section select {
		width: 100%;
	}
}
/*----responsive----*/