﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.neg-stck-second-panel {
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}
.neg-stck-all-section {
    float: left;
    width: 4%;
}
.neg-stck-all-section span{
    float: left;
    margin-top:4px;
	padding-right: 3px;
}
.neg-stck-all-section span label {
    padding-left: 3px;
}
.neg-stck-company-section {
    float: left;
    width: 19%;
}
.neg-stck-company-section span {
    float: left;
    padding-right: 3px;
	margin-top: 4px;
}
.neg-stck-company-section span label {
    padding-left: 3px;
}
.neg-stck-company-section select {
    width: 62%;
}
.neg-stck-group-section {
    float: left;
    width: 18%;
}
.neg-stck-group-section span {
    float: left;
    padding-right: 3px;
	margin-top: 4px;
}
.neg-stck-group-section label {
    padding-left: 3px;
}
.neg-stck-group-section select {
    width: 70%;
}
.neg-stck-dep-section {
    float: left;
    width: 24%;
}
.neg-stck-dep-section span {
    float: left;
    padding-right: 3px;
	margin-top: 4px;
}
.neg-stck-dep-section label {
    padding-left: 3px;
}
.neg-stck-dep-section select {
    width: 65%;
}
.neg-stck-top-panel {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
	margin-bottom:10px;
	text-align:center;
}
.neg-stck-branch-section {
    float: left;
    width: 20%;
}
.neg-stck-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.neg-stck-branch-section select {
    float: left;
    width: 73%;
}
.neg-stck-godown-section {
    float: left;
    width: 15%;
}
.neg-stck-godown-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.neg-stck-godown-section select {
    float: left;
    width: 60%;
}
.neg-stck-btn-section {
    float: left;
    width: 100%;
}
.neg-stck-btn-section input{
   margin-right:10px;
}
.neg-stck-rpt-cls
{
	width:100% !important;
	overflow: auto;
}

.neg-stck-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
.all-col {
    padding: 0;
}
.all-col select {
    padding: 0 !important;
    font-size: 11.5px !important;
}
/*----responsive----*/
@media(max-width:480px)
{
	.neg-stck-head {
		font-size: 22px;
	}
	.form-control {
		font-size: 12px !important;
	}
}
@media(min-width:992px)
{
	.neg-stck-rpt-cls table
	{
			width:auto !important;
	}
}
@media(max-width:767px)
{
	.neg-stck-all-section {
		width: 100%;
	}
	.neg-stck-company-section {
		width: 100%;
		margin-bottom:8px;
	}
	.neg-stck-group-section {
		width: 100%;
		margin-bottom:8px;
	}
	.neg-stck-dep-section {
		width: 100%;
		margin-bottom:8px;
	}
	.neg-stck-branch-section {
		width: 100%;
		margin-bottom:8px;
	}
	.neg-stck-godown-section {
		width: 100%;
	}
	.neg-stck-company-section select {
		width: 63%;
	}
	.neg-stck-group-section select {
		width: 63%;
	}
	.neg-stck-dep-section select {
		width: 63%;
	}
	.neg-stck-branch-section select {
		width: 63%;
	}
	.neg-stck-godown-section select {
		width: 63%;
	}
	.neg-stck-godown-section span,.neg-stck-branch-section span,.neg-stck-dep-section span,
	.neg-stck-group-section span,.neg-stck-company-section span,.neg-stck-all-section span {
		width: 93px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.neg-stck-all-section, .neg-stck-company-section, .neg-stck-group-section, .neg-stck-dep-section,
	.neg-stck-branch-section, .neg-stck-godown-section {
		width: 33%;
		margin-bottom:8px;
	}
	.neg-stck-dep-section select {
		width: 58%;
	}
	.form-control {
		font-size: 12px !important;
	}
	.neg-stck-branch-section select {
		width: 72%;
	}
	.neg-stck-godown-section select {
		width: 67%;
	}
	.neg-stck-second-panel {
		padding-bottom: 0;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	/*.neg-stck-company-section select {
		width: 53%;
	}
	.neg-stck-dep-section select {
		width: 56%;
	}
	.neg-stck-branch-section select {
		width: 65%;
	}
	.neg-stck-godown-section select {
		width: 51%;
	}
	.neg-stck-group-section select {
		width: 63%;
	}*/
	.neg-stck-all-section, .neg-stck-company-section, .neg-stck-group-section, .neg-stck-dep-section,
	.neg-stck-branch-section, .neg-stck-godown-section {
		width: 33%;
		margin-bottom:8px;
	}
	.neg-stck-dep-section select {
		width: 58%;
	}
	
	.neg-stck-branch-section select {
		width: 62%;
	}
	.neg-stck-godown-section select {
		width: 70%;
	}
	.neg-stck-second-panel {
		padding-bottom: 0;
	}
	.neg-stck-company-section span, .neg-stck-branch-section span {
		width: 79px;
	}
	.neg-stck-godown-section span,.neg-stck-group-section span {
		width: 65px;
	}
}
/*----responsive----*/