﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.small-grp-wise-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.small-grp-wise-branch-section {
	float: left;
	width: 100%;
}
.small-grp-wise-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.small-grp-wise-branch-section select {
    width: 75%;
}
.small-grp-wise-date-section {
	float: left;
	width: 100%;
}
.small-grp-wise-date-part {
	float: left;
	width: 50%;
}
.small-grp-wise-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.small-grp-wise-date-part input {
    width: 75%;
	line-height:1 !important;
}
.small-grp-wise-pos-section {
	float: left;
	width: 100%;
}
.small-grp-wise-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.small-grp-wise-pos-section select {
    width: 75%;
}
.small-grp-wise-btn-section {
	float: left;
	width: 100%;
}
.small-grp-wise-second-panel {
	float: left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	margin-bottom:10px;
}
.small-grp-wise-group-section {
	float: left;
	width: 100%;
}
.grp-section-span {
	float: left;
	width: 57px;
	font-weight: 700;
	padding-right: 3px;
	box-sizing: border-box;
	line-height: 34px;
}
.small-grp-wise-radio-section {
	float: left;
	width: 94%;
}
.small-grp-wise-radio-section span {
	float: left;
	width: auto;
	margin-right: 3px;
	padding: 6px !important;
}
.small-grp-wise-rpt-cls {
	width: 100% !important;
	overflow:auto;
}
.small-grp-wise-rpt-cls table{
	width: auto !important;
}
/*----responsive----*/
@media(max-width:420px)
{
	.small-grp-wise-date-part {
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
}
@media(max-width:480px)
{
	.small-grp-wise-head {
		font-size: 22px;
	}
	.form-control {
		font-size: 12px !important;
	}
	.small-grp-wise-radio-section {
		float: left;
		width: 75%;
	}
	.small-grp-wise-radio-section div {
		float: left;
		margin-top: 10px;
		width: 100% !important;
	}

}
@media(min-width:421px) and (max-width:767px)
{
	.small-grp-wise-date-part input {
		width: 66%;
	}
	.small-grp-wise-pos-section select,.small-grp-wise-branch-section select {
		width: 83%;
	}
	.small-grp-wise-date-section {
		margin-bottom: 10px;
	}
}
@media(max-width:767px)
{
	.small-grp-wise-branch-section span,.small-grp-wise-pos-section span,.small-grp-wise-date-part span {
		width: 57px;
	}
	.small-grp-wise-branch-section,.small-grp-wise-pos-section {
		margin-bottom: 10px;
	}
	.small-grp-wise-btn-section {
		text-align: center;
	}

}
@media(min-width:768px) and (max-width:991px)
{
	.small-grp-wise-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.small-grp-wise-pos-section span, .small-grp-wise-branch-section span {
		width: 57px;
	}
}
@media(min-width:992px) and (max-width:1200px) {
	.small-grp-wise-branch-section select {
		width: 71%;
	}

	.small-grp-wise-date-part input {
		width: 71%;
	}
	.form-control {
		padding: 6px 1px !important;
	}
	.branch-col {
		width: 31%;
	}
	.date-col {
		width: 40%;
	}
	.pos-col {
		width: 20%;
	}
	.btn-col {
		width: 9%;
		padding: 0;
	}
}
/*----responsive----*/