﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.order-booking-ddw-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	margin-bottom: 10px;
}
.order-booking-ddw-branch-section {
	float: left;
	width: 100%;
}
.order-booking-ddw-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.order-booking-ddw-branch-section select {
    width: 75%;
}
.order-booking-ddw-date-section {
	float: left;
	width: 100%;
}
.order-booking-ddw-date-part {
	float: left;
	width: 50%;
}
.order-booking-ddw-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.order-booking-ddw-date-part input {
    width: 75%;
	line-height:1 !important;
}
.order-booking-ddw-pos-section {
	float: left;
	width: 100%;
}
.order-booking-ddw-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.order-booking-ddw-pos-section select {
    width: 75%;
}
.order-booking-ddw-btn-section {
	float: left;
	width: 100%;
}
.order-booking-ddw-rpt-tool
{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----resposnsive----*/
@media(max-width:420px)
{
	.order-booking-ddw-date-part {
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
}
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}
	.oder-booking-ddw-head {
		font-size: 22px;
	}
	.order-booking-ddw-rpt-tool #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	.order-booking-ddw-rpt-tool #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
} 
@media(min-width:421px) and (max-width:767px)
{
	.order-booking-ddw-date-part input {
		width: 60%;
	}
	.order-booking-ddw-pos-section select,.order-booking-ddw-branch-section select {
		width: 80%;
	}
	.order-booking-ddw-date-section {
		margin-bottom: 10px;
	}
}
@media(max-width:767px)
{
	.order-booking-ddw-branch-section span,.order-booking-ddw-pos-section span,.order-booking-ddw-date-part span {
		width: 57px;
	}
	.order-booking-ddw-branch-section,.order-booking-ddw-pos-section {
		margin-bottom: 10px;
	}
	.order-booking-ddw-btn-section
	{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.oder-booking-ddw-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.order-booking-ddw-branch-section span,.order-booking-ddw-pos-section span{
		width: 57px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.order-booking-ddw-branch-section select {
		width: 71%;
	}
	.order-booking-ddw-date-part input {
		width: 71%;
	}
	.branch-col {
		width: 32%;
	}
	.date-col {
		width: 32%;
	}
	.pos-col {
		width: 19%;
	}
	.order-booking-ddw-pos-section select {
		width: 74%;
	}
}
/*----resposnsive----*/