﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.oder-booking-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	margin-bottom: 10px;
}
.order-booking-branch-section {
	float: left;
	width: 100%;
}
.order-booking-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.order-booking-branch-section select {
    width: 75%;
}
.order-booking-date-section {
	float: left;
	width: 100%;
}
.order-booking-date-part {
	float: left;
	width: 50%;
}
.order-booking-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.order-booking-date-part input {
    width: 75%;
	line-height:1 !important;
}
.order-booking-pos-section {
	float: left;
	width: 100%;
}
.order-booking-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.order-booking-pos-section select {
    width: 75%;
}
.order-booking-btn-section {
	float: left;
	width: 100%;
}
.order-booking-cls {
	width: 100% !important;
	overflow:auto;
}
.order-booking-cls table{
	width: auto !important;
}
.order-booking-cls table tr:nth-child(5) td:nth-child(3) table {
	width: 100% !important;
}
button#PrintButton {
	display: inline !important;
}
/*----resposnsive----*/
@media(max-width:420px)
{
	.order-booking-date-part {
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
}
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}
	.oder-booking-head {
		font-size: 22px;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.order-booking-date-part input {
		width: 67%;
	}
	.order-booking-pos-section select,.order-booking-branch-section select {
		width: 83.5%;
	}
	.order-booking-date-section {
		margin-bottom: 10px;
	}
}
@media(max-width:767px)
{
	.order-booking-branch-section span,.order-booking-pos-section span,.order-booking-date-part span {
		width: 57px;
	}
	.order-booking-branch-section,.order-booking-pos-section {
		margin-bottom: 10px;
	}
	.order-booking-btn-section
	{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.oder-booking-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.order-booking-branch-section span,.order-booking-pos-section span{
		width: 57px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.order-booking-branch-section select {
		width: 71%;
	}
	.order-booking-date-part input {
		width: 71%;
	}
	.branch-col {
		width: 33.33%;
	}
	.date-col {
		width: 42%;
	}
	.pos-col {
		width: 24%;
	}
	.btn-col {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
}
/*----resposnsive----*/