﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.oder-booking-balance-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.oder-booking-balance-branch-section {
	float: left;
	width: 100%;
}
.oder-booking-balance-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.oder-booking-balance-branch-section select {
    width: 75%;
}
.oder-booking-balance-date-section {
	float: left;
	width: 100%;
}
.oder-booking-balance-date-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.oder-booking-balance-date-section input {
    width: 75%;
}
.oder-booking-balance-btn-section {
	float: left;
	width: 100%;
	text-align: center;
}
.oder-booking-balance-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:480px) {
	.form-control {
		font-size: 12px !important;
	}
	.oder-booking-balance-head {
		font-size: 22px;
	}
}
@media(max-width:567px)
{
	.oder-booking-balance-rpt-toolbar #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(max-width:767px)
{
	.oder-booking-balance-date-section span,.oder-booking-balance-branch-section span {
		width: 84px;
	}
	.oder-booking-balance-branch-section,.oder-booking-balance-date-section {
		margin-bottom: 10px;
	}
	.oder-booking-balance-branch-section select,.oder-booking-balance-date-section input {
		width: 65%;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.oder-booking-balance-branch-section select {
		width: 72%;
	}
	.oder-booking-balance-date-section input{
		width:55%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.oder-booking-balance-date-section input {
		width: 68%;
	}
}
/*----responsive----*/