﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.pending-kot-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-bottom:10px;
}
.pending-kot-branch-section {
	float: left;
	width: 100%;
}
.pending-kot-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.pending-kot-branch-section select {
    width: 75%;
}
.pending-kot-table-section {
	float: left;
	width: 100%;
}
.pending-kot-table-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.pending-kot-table-section select {
    width: 25% ;
	float:left;
	margin-right:10px;
}
.pending-kot-date-section {
	float: left;
	width: 100%;
}
.pending-kot-date-part {
	float: left;
	width: 50%;
}
.pending-kot-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.pending-kot-date-part input {
    width: 75%;
	line-height:1!important;
}
.pending-kot-btn-section {
	float: left;
	width: 100%;
}
.pending-kot-rpt-cls
{
	width: 100% !important;
	overflow: auto;
}
.pending-kot-rpt-cls table
{
	width:auto !important;
}
.pending-kot-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
/*----Responsive----*/
@media(max-width:420px)
{
	.pending-kot-date-part {
		float: left;
		width: 100%;
		margin-bottom:10px;
	}
}
@media(min-width:421px) and (max-width:480px)
{
	.pending-kot-date-part input {
		width: 60%;
		line-height: 1 !important;
	}
	.pending-kot-date-section{
		margin-bottom:10px;
	}
	.pending-kot-branch-section select {
		width: 83%;
	}
	.pending-kot-date-part input {
		width: 66%;
		line-height: 1 !important;
	}
}
@media(max-width:480px)
{
	.pending-kot-head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.pending-kot-date-part input {
		width: 60%;
		line-height: 1 !important;
	}
	.pending-kot-date-section{
		margin-bottom:10px;
	}
	.pending-kot-branch-section select {
		width: 80%;
	}
	.pending-kot-date-part input {
		width: 60%;
		line-height: 1 !important;
	}
}
@media(max-width:767px)
{
	.pending-kot-branch-section span,.pending-kot-date-part span,.pending-kot-table-section span {
		width: 57px;
	}
	.pending-kot-branch-section,.pending-kot-table-section{
		margin-bottom:10px;
	}
	.pending-kot-btn-section {
		text-align:center;
	}
	
}
@media(min-width:768px) and (max-width:991px)
{
	.pending-kot-cst-col{
		width:48%;
		margin-bottom:10px; 
	}
	.col-md-4.col-sm-4.col-xs-12.pending-kot-cst-col.pending-kot-cst-col-date {
		width: 52%;
	}	
	.pending-kot-branch-section span,.pending-kot-table-section span {
		width: 57px;
	}
}
@media(min-width:992px) and (max-width:1024px){
	.pending-kot-cst-col-date {
		width: 42%;
	}
	.pending-kot-cst-col-branch {
		width: 33%;
	}
}
@media(min-width:1025px) and (max-width:1200px){
	.pending-kot-cst-col-date {
		width: 40%;
	}
	.pending-kot-cst-col-branch {
		width: 33%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.pending-kot-cst-col-table {
		width: 21%;
	}
	
	.pending-kot-branch-section select {
		width: 73%;
	}
	.pending-kot-date-part input {
		width: 72%;
	}
	.pending-kot-table-section select {
		width: 50px;
	}
}
/*----Responsive----*/