﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.purch-rate-diff-top-panel {
    float: left;
    width: 100%;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ffffff;
	border-top:1px solid #ffffff;
}
.purch-rate-diff-branch-section {
    float: left;
    width: 100%;
}
.purch-rate-diff-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purch-rate-diff-branch-section select {
    width: 75%;
}
.purch-rate-diff-date-section {
    float: left;
    width: 100%;
}
.purch-rate-diff-date-part {
    float: left;
    width: 50%;
}
.purch-rate-diff-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purch-rate-diff-date-part input {
    width: 75%;
	line-height:1 !important;
}
.purch-rate-diff-btn-section {
    float: left;
    width: 100%;
}
.purch-rate-diff-btn-section input{
    margin-right:10px;
}
.purch-rate-diff-btn-rpt-cls
{
	width: 100% !important;
	overflow: auto;
}
.purch-rate-diff-btn-rpt-cls table
{
	width:auto !important;
}
.purch-rate-diff-btn-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.purch-rate-diff-date-part {
		width: 100%;
		margin-bottom: 8px;
	}
}
@media(max-width:480px)
{
	.purch-rate-diff-head {
		font-size: 19px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.purch-rate-diff-date-part input {
		width: 67%;
	}
	.purch-rate-diff-branch-section select {
		width: 83.5%;
	}
	.purch-rate-diff-date-section {
		margin-bottom: 8px;
	}
}
@media(max-width:767px)
{
	.purch-rate-diff-branch-section span,.purch-rate-diff-date-part span {
		width: 57px;
	}
	.purch-rate-diff-branch-section {
		margin-bottom: 8px;
	}
	.purch-rate-diff-btn-section {
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.purch-rate-diff-cst-col{
		width:50%;
	}
	.purch-rate-diff-cst-col-btn{
		width:100%;
		text-align:center;
		margin-top:8px;
	}
	.purch-rate-diff-date-part input {
		width: 76%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.purch-rate-diff-branch-section select {
		width: 71%;
	}
}
/*----responsive----*/