﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.kot-utiliz-top-panel {
    float: left;
    width: 100%;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ffffff;
	border-top:1px solid #ffffff;
}
.kot-utiliz-branch-section {
    float: left;
    width: 100%;
}
.kot-utiliz-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.kot-utiliz-branch-section select {
    width: 75%;
}
.kot-utiliz-date-section {
    float: left;
    width: 100%;
}
.kot-utiliz-date-part {
    float: left;
    width: 50%;
}
.kot-utiliz-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.kot-utiliz-date-part input {
    width: 75%;
	line-height:1 !important;
}
.kot-utiliz-btn-section {
    float: left;
    width: 100%;
}
.kot-utiliz-btn-section input{
    margin-right:10px;
}
.kot-utiliz-rpt-cls
{
	width:100% !important;
	overflow: auto;
}
.kot-utiliz-rpt-cls table
{
	width:auto !important;
}
.kot-utiliz-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
/*----responsive----*/
@media(max-width:420px)
{
	.kot-utiliz-date-part {
		width: 100%;
		margin-bottom: 8px;
	}
}
@media(min-width:421px) and (max-width:480px)
{
	.kot-utiliz-date-part input {
		width: 66%;
	}
	.kot-utiliz-branch-section select {
		width: 83%;
	}
	.kot-utiliz-date-section {
		margin-bottom: 8px;
	}
}
@media(max-width:480px)
{
	.kot-utiliz--head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.kot-utiliz-date-part input {
		width: 60%;
	}
	.kot-utiliz-branch-section select {
		width: 80%;
	}
	.kot-utiliz-date-section {
		margin-bottom: 8px;
	}
}
@media(max-width:767px)
{
	.kot-utiliz-branch-section span,.kot-utiliz-date-part span {
		width: 57px;
	}
	.kot-utiliz-branch-section {
		margin-bottom: 8px;
	}
	.kot-utiliz-btn-section {
		text-align: center;
	}
	.kot-utiliz-rpt-cls
	{
		width:100% !important;
		overflow: auto;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.kot-utiliz-cst-col{
		width:48%;
	}
	.col-md-6.col-sm-6.col-xs-12.kot-utiliz-cst-col {
		width: 52%;
	}
	.kot-utiliz-cst-col-btn{
		width:100%;
		text-align:center;
		margin-top:8px;
	}
	.kot-utiliz-rpt-cls
	{
		width:100% !important;
		overflow: auto;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.kot-utiliz-branch-section select {
		width: 71%;
	}
}
/*----responsive----*/