﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.stck-ledger-top-panel {
    float: left;
    width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	margin-bottom:10px;
}
.stck-ledger-code-section {
    float: left;
    width: 100%;
	border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.stck-ledger-code-section span {
    float: left;
	width: 74px;
	padding-right:3px;
	margin-top: 4px;
}
.stck-code-txt-code {
    float: left;
    width: 20%;
    margin-right: 3px;
}
.stck-code-product-list {
    float: left;
    width: 57%;
}
.stck-ledger-name-section {
    float: left;
    width: 100%;
}
.stck-ledger-name-section span {
    float: left;
	width: 74px;
	padding-right:3px;
	
}
div#sel_table {
    float: left;
    width: 77%;
    background: #fff;
	padding:10px 6px;
}
.stck-ledger-godown-section {
    float: left;
    width: 100%;
}
.stck-ledger-godown-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.stck-ledger-godown-section select {
    width: 59%;
}
.stck-ledger-date-section {
    float: left;
	width: 100%;
}
.stck-ledger-date-part {
    float: left;
	width: 50%;
}
.stck-ledger-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.stck-ledger-date-part input {
    width: 77%;
	line-height:1 !important;
}
.stck-ledger-btn-section {
    float: left;
    width: 100%;
}
.stck-ledger-btn-section input{
    margin-right:10px;
}
.stck-ledger-rpt-cls
{
	width:100% !important;
	overflow: auto;
}
.stck-ledger-rpt-cls table
{
	width:auto !important;
}

.stck-ledger-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.stck-ledger-date-part {
		width: 100%;
	}
	.stck-code-txt-code {
		width: 70%;
	}
	.stck-code-product-list {
		width: 70%;
		margin-top: 8px;
	}
	div#sel_table {
		width: 98%;
	}
	.stck-ledger-date-part input {
		width: 70%;
		margin-bottom:8px;
	}
	.stck-ledger-godown-section select {
		width: 70%;
	}
	
}
@media(max-width:480px)
{
	.stck-ledger-head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(min-width:421px) and (max-width:480px)
{
	.stck-ledger-date-part input {
		width: 79%;
	}
	.stck-ledger-date-section,.date-part {
		margin-bottom: 8px;
	}
	.stck-ledger-godown-section select {
		width: 79%;
	}
	.stck-ledger-date-part {
		width: 100%;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.stck-ledger-date-part input {
		width: 61%;
	}
	.stck-ledger-date-section {
		margin-bottom: 8px;
	}
	.stck-ledger-godown-section select {
		width: 80.5%;
	}
	.stck-code-product-list {
		width: 59.5%;
	}
	div#sel_table {
		width: 80%;
	}
}
@media(max-width:767px)
{
	.stck-ledger-godown-section span, .stck-ledger-date-part span {
		width: 74px;
	}
	
	.stck-ledger-name-section {
		border-bottom: 1px solid #fff;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.stck-ledger-godown-section {
		margin-bottom: 8px;
	}	
	.stck-ledger-btn-section {
		text-align: center;
	}	
}
@media(min-width:768px) and (max-width:991px)
{
	.stck-ledger-cst-col{
		width:50%;
		margin-bottom:8px;
		padding:0;
	}
	.stck-code-product-list {
		width: 56%;
	}
	.form-control {
		font-size: 12px !important;
		padding:6px 1px !important;
	}
	.stck-ledger-godown-section span, .stck-ledger-date-part span {
		width: 65px;
	}
	.stck-ledger-date-part input {
		width: 64%;
	}
	.stck-ledger-godown-section select {
		width: 82%;
	}
	.code-col, .btn-col {
		width: 49%;
	}
	.date-col, .godown-col {
		width: 51%;
	}

}
@media(min-width:992px) and (max-width:1200px)
{
	.stck-ledger-cst-col{
		width:50%;
		margin-bottom:8px;
	}
	.stck-ledger-godown-section span, .stck-ledger-date-part span {
		width: 65px;
	}
	.stck-ledger-date-part input {
		width: 58%;
	}
	.stck-ledger-godown-section select {
		width: 79%;
	}
}
/*----responsive----*/