﻿.rpt-bill-cancel-top-panel {
    float: left;
    width: 100%;
	border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px
}
.rpt-bill-cancel-branch-section {
    float: left;
    width: 100%;
}
.rpt-bill-cancel-branch-section span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-bill-cancel-branch-section select {
    width: 77%;
	padding: 3px;
}
.rpt-bill-cancel-date-section {
    float: left;
    width: 100%;
}
.rpt-bill-cancel-date-part {
    float: left;
    width: 50%;
}
.rpt-bill-cancel-date-part span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-bill-cancel-date-part input {
    width: 76%;
	padding: 3px;
    line-height: 1 !important;
}
.rpt-bill-cancel-pos-section {
    float: left;
    width: 100%;
}
.rpt-bill-cancel-pos-section span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-bill-cancel-pos-section select {
    width: 77%;
	padding: 3px;
}
.form-control
{
	font-size:13px!important;
}
.rpt-bill-cancel-button-section {
    float: left;
    width: 100%;
}
.rpt-bill-cancel-button-section input{
    margin-right:10px;
}
.rpt-cstm-cls table
{
	width:auto !important;
}
.rpt-cstm-cls {
		width: 100% !important;
		float: left;
		overflow: auto;
}
/*----responsive----*/
@media(max-width:420px)
{
	.rpt-bill-cancel-date-part {
		float: left;
		width: 100%;
		margin-bottom: 8px;
	}
	.rpt-bill-cancel-date-part input {
		width: 77%;
	}
	.rpt-bill-cancel-date-section {
		margin-top: 8px;
		margin-bottom: 0px;
	}
}
@media(max-width:480px)
{
	.rpt-bill-cancel-branch-section span {
		width: 57px;
	}
	.rpt-bill-cancel-date-part span {
		width: 57px;
	}
	
	.rpt-bill-cancel-pos-section span
	{
		width:57px;
	}
	
	.rpt-bill-cancel-button-section {
		text-align: center;
		margin-top: 8px;
	}
	.rpt-bill-cancel-head
	{
		font-size:22px;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.rpt-bill-cancel-date-part input {
		width: 68%;
		padding:2px;
	}
	.rpt-bill-cancel-date-section {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.rpt-bill-cancel-branch-section select {
		width: 84%;
		padding: 2px;
	}
	.rpt-bill-cancel-pos-section select {
		width: 84%;
		padding: 2px;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.rpt-bill-cancel-date-part span {
		width: 57px;
	}
	.rpt-bill-cancel-pos-section span
	{
		width:57px;
	}
	.rpt-bill-cancel-date-section {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.rpt-bill-cancel-button-section {
		text-align: center;
		margin-top: 8px;
	}
	
}
@media(max-width:767px)
{
	.rpt-cstm-cls table  table tr td table tr td table tr:nth-child(1) td:nth-child(4)
	{
		display:none;
	}
	.rpt-cstm-cls table  table tr td table tr td table tr:nth-child(1) td:nth-child(5)
	{
		display:none;
	}.rpt-cstm-cls table  table tr td table tr td table tr:nth-child(1) td:nth-child(6)
	{
		display:none;
	}.rpt-cstm-cls table  table tr td table tr td table tr:nth-child(1) td:nth-child(7)
	{
		display:none;
	}
	.rpt-cstm-cls {
		width: 100% !important;
		float: left;
		overflow: auto;
	}
	.rpt-cstm-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
	.rpt-bill-mob-secction {
	display: none;
	float: left;
	width: 100%;
	margin-top: 10px;
	background: #fff;
	padding: 10px 0;
}
.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
	
	#mobile-rpt {
	margin-bottom: 0;
	font-weight: 700;
	width: 100%;
	text-align: left;
	border-radius: 0;
	text-transform: uppercase;
}
	.rpt-bill-cancel-button-section button {
		display: none !important;
	}
	.rpt-bill-cancel-button-section input {
		margin-right: 0;
	}
}
@media(min-width:768px)
{
	#mobile-rpt
	{
		display:none;
	}
	
}
@media(min-width:768px) and (max-width:991px)
{
	.rpt-bill-cancel-top-panel
	{
		padding-bottom:0;
	}
	.rpt-bill-cancel-cst-col
	{
		width:50%;
		margin-bottom:10px;
	}
	.rpt-bill-cancel-branch-section span,.rpt-bill-cancel-pos-section span  {
		width: 57px;
	}
	.rpt-bill-cancel-branch-section select {
		width: 61%;
	}
	.rpt-bill-cancel-date-part input {
		width: 76%;
	}
	.rpt-bill-cancel-pos-section select {
		width: 61%;
	}
	.rpt-cstm-cls {
		width: 100% !important;
		float: left;
		overflow: auto;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.rpt-bill-cancel-branch-section select {
		width: 71%;
	}
	.rpt-bill-cancel-date-part input {
		width: 71%;
	}
	.rpt-bill-cancel-button-section input, .rpt-bill-cancel-button-section button {
		margin-right: 2px;
		padding-left:4px;
		padding-right:4px;
	}
	.form-control
	{
		font-size:12px!important;
	}
	.rpt-cstm-cls {
		width: 100% !important;
		float: left;
		overflow: auto;
	}
	.branch-col {
		width: 31%;
	}
	.date-col {
		width: 36%;
		padding: 0;
	}
	.pos-col {
		width: 23%;
	}
	.btn-col {
		width: 10%;
	}
}
/*----responsive----*/

