﻿.form-control {
	font-size: 13px !important;
	padding: 6px 2px !important;
}
.company-wise-sale-top-panel {
    float: left;
    width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
	margin-bottom:10px;
}
.company-wise-sale-branch-section {
    float: left;
    width: 100%;
}
.company-wise-sale-branch-section span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px
}
.company-wise-sale-branch-section select {
    width: 77%;
}
.company-wise-sale-date-section {
    float: left;
    width: 100%;
}
.company-wise-sale-date-part {
    float: left;
    width: 50%;
}
.company-wise-sale-date-part span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px
}
.company-wise-sale-date-part input {
    width: 77%;
	line-height:1 !important;
}
.company-wise-sale-company-section {
    float: left;
    width: 100%;
}
.company-wise-sale-company-section span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px
}
.company-wise-sale-company-section select {
    width: 70%;
}
.company-wise-sale-pos-section {
    float: left;
    width: 100%;
}
.company-wise-sale-pos-section span{
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px
}
.company-wise-sale-pos-section select {
    width: 75%;
}
.company-wise-sale-button-section {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.company-wise-sale-button-section input{
	margin-right:10px;
}
.company-wise-sale-rpt-cls {
	width: 100% !important;
	overflow: auto;
}
.company-wise-sale-rpt-cls table
{
	width:auto !important;
}
.company-wise-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.company-wise-sale-date-part {
		float: left;
		width: 100%;
		margin-bottom:8px;
	}
	.company-wise-sale-date-part input {
		width: 70%;
	}
	.company-wise-sale-company-section select {
		width: 70%;
	}
	.company-wise-sale-branch-section select {
		width: 70%;
	}
	.company-wise-sale-pos-section select {
		width: 70%;
	}
}
@media(max-width:480px)
{
	.company-wise-sale-head h2 {
		font-size: 22px;
	}
	.form-control {
		font-size: 12px !important;
	}
}
@media(min-width:421px) and (max-width:480px)
{
	.company-wise-sale-date-part input {
		width: 78%;
	}
	.company-wise-sale-date-section
	{
		margin-bottom:8px;
	}
	.company-wise-sale-company-section select {
		width: 78%;
	}
	.company-wise-sale-branch-section select {
		width: 78%;
	}
	.company-wise-sale-pos-section select {
		width: 78%;
	}
	.company-wise-sale-date-part {
		width: 100%;
	}
	.to-part{
		margin-top:8px;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.company-wise-sale-date-part input {
		width: 60%;
	}
	.company-wise-sale-date-section
	{
		margin-bottom:8px;
	}
	.company-wise-sale-company-section select {
		width: 80%;
	}
	.company-wise-sale-branch-section select {
		width: 80%;
	}
	.company-wise-sale-pos-section select {
		width: 80%;
	}

}
@media(max-width:767px)
{
	.company-wise-sale-branch-section span, .company-wise-sale-date-part span, .company-wise-sale-company-section span, .company-wise-sale-pos-section span
	{
		width:71px;
	}
	.company-wise-sale-branch-section,.company-wise-sale-pos-section,.company-wise-sale-company-section {
		margin-bottom: 8px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.company-wise-sale-col {
		width: 50%;
		margin-bottom: 8px;
	}
	.company-wise-sale-company-section span,.company-wise-sale-branch-section span {
		width: 71px;
	}
	.company-wise-sale-branch-section select {
		width: 70%;
	}
	.company-wise-sale-date-part input {
		width: 76%;
	}
	.company-wise-sale-pos-section select {
		width: 84%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.form-control {
		font-size: 12px !important;
		padding: 6px 0px !important;
	}
	.company-wise-sale-branch-section select {
		width: 71%;
	}
	.company-wise-sale-date-part input {
		width: 71%;
	}
	.company-wise-sale-company-section select {
		width: 64%;
	}
	.company-wise-sale-pos-section select {
		width: 70%;
	}
	.branch-col {
		width: 26%;
		padding: 0;
	}
	.date-col {
		width: 35%;
		padding: 0;
	}
	.company-col {
		width: 22%;
		padding: 0;
	}
	.pos-col {
		padding: 0;
	}
}
/*----responsive----*/