﻿.rpt-dis-amt-top-panel {
    float: left;
    width: 100%;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
	margin-bottom:10px;
}
.rpt-dis-amt-branch-section
{
	float:left;
	width:100%;
}
.rpt-dis-amt-branch-section span
{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-dis-amt-branch-section select {
    width: 77%;
	padding: 3px;
}
.rpt-dis-amt-date-section {
    float: left;
    width: 100%;
}
.rpt-dis-amt-date-part {
    float: left;
    width: 50%;
}
.rpt-dis-amt-date-part span
{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-dis-amt-date-part input {
    width: 77%;
	padding: 3px;
	line-height:1 !important;
}
.rpt-dis-amt-pos-section {
    float: left;
    width: 100%;
}
.rpt-dis-amt-pos-section span
{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-dis-amt-pos-section select {
    width: 77%;
	padding: 3px;
}
.rpt-dis-amt-user-section {
    float: left;
    width: 100%;
}
.rpt-dis-amt-user-section span
{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-dis-amt-user-section select {
    width: 74%;
	padding: 3px;
}
.form-control
{
	font-size:13px !important;
}
.rpt-dis-amt-button-section {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.rpt-dis-amt-button-section input{
    margin-right: 10px;
}
.rpt-dis-amt-cls {
	width: 100% !important;
	overflow:auto;
}
.rpt-dis-amt-cls table{
	width: auto !important;
}
.rpt-dis-amt-cls table tr:nth-child(5) td:nth-child(3) table {
	width: 100% !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.rpt-dis-amt-date-part {
		float: left;
		width: 100%;
	}
	.rpt-dis-amt-date-part input {
		width: 77%;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.rpt-dis-amt-date-part input {
		width: 54%;
	}
}
@media(max-width:480px)
{
	.rpt-dis-amt-branch-section span
	{
		width:57px;
	}
	.rpt-dis-amt-date-part span {
		width: 57px;
	}
	
	.rpt-dis-amt-pos-section span {
		width: 57px;
	}
	.rpt-dis-amt-user-section span {
		width: 57px;
	}
	.rpt-dis-amt-user-section select {
		width:77%;
	}
	.rpt-dis-amt-date-part, .rpt-dis-amt-pos-section, .rpt-dis-amt-user-section {
		margin-top: 8px;
	}
	.rpt-dis-amt-head
	{
		font-size:22px;
	}
}
@media (min-width:481px) and (max-width:767px)
{
	.rpt-dis-amt-date-part span {
		width: 57px;
	}
	.rpt-dis-amt-date-part input {
		width: 54%;
	}
	.rpt-dis-amt-pos-section span {
		width: 57px;
	}
	.rpt-dis-amt-user-section span {
		width: 57px;
	}
	.rpt-dis-amt-user-section select {
		width:77%;
	}
	.rpt-dis-amt-date-part, .rpt-dis-amt-pos-section, .rpt-dis-amt-user-section {
		margin-top: 8px;
	}
}
@media(max-width:767px)
{
	.rpt-dis-mob-section
	{
		display:none;
		float: left;
		width: 100%;
		margin-top: 10px;
		background: #fff;
		padding: 10px 0;
	}
	#dis-mob-rpt{
		margin-bottom: 0;
		font-weight: 700;
		width: 100%;
		text-align: left;
		border-radius: 0;
		text-transform: uppercase;
	}
	.accordion:after {
	  content: '\002B';
	  color: #fff;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}

}
@media(min-width:768px)
{
	#dis-mob-rpt{
		display:none;
	}
}
@media(max-width:991px)
{
	.rpt-dis-amt-cls {
		width: 100% !important;
	}
	.rpt-dis-amt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.rpt-dis-amt-cst-col {
		width: 50%;
		margin-bottom: 10px;
	}
	.rpt-dis-amt-date-part input {
		width: 75%;
	}
	.rpt-dis-amt-button-section {
		margin-top: 0;
	}
	.rpt-dis-amt-pos-section span {
		width: 57px;
	}
	.rpt-dis-amt-user-section select {
		width: 83%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.rpt-dis-amt-branch-section select {
		width: 70%;
		padding: 1px;
	}
	.rpt-dis-amt-date-part input {
		width: 71%;
		padding: 1px;
	}
	.form-control {
		font-size: 12px !important;
	}
	.rpt-dis-amt-pos-section select {
		width: 77%;
		padding: 1px;
	}
	.rpt-dis-amt-user-section select {
		width: 68%;
		padding: 1px;
	}
}
/*----responsive----*/ 