﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.daily-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.daily-sale-branch-section {
	float: left;
	width: 100%;
}
.daily-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.daily-sale-branch-section select {
    width: 75%;
}
.daily-sale-pos-section {
	float: left;
	width: 100%;
}
.daily-sale-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.daily-sale-pos-section select {
    width: 75%;
}
.daily-sale-date-section {
	float: left;
	width: 100%;
}
.daily-sale-date-part {
	float: left;
	width: 50%;
}
.daily-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.daily-sale-date-part input {
    width: 75%;
}
.daily-sale-btn-section {
	float: left;
	width: 100%;
}
.daily-sale-btn-section input:hover{
	color:#fff;
}
.daily-sale-rpt-tool-div{
	 float: left;
     width: 100%;
}
/*----responsive----*/
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}	
	.daily-sale-head {
		font-size: 22px;
	}

}
@media(max-width:767px)
{
	.daily-sale-branch-section span,.daily-sale-pos-section span,.daily-sale-date-part span {
		width: 57px;
	}
	.daily-sale-date-part input {
		width: 56%;
	}
	.daily-sale-branch-section,.daily-sale-pos-section,.daily-sale-date-section {
		margin-bottom: 8px;
	}
	.daily-sale-rpt-tool-div
	{
		overflow-x:auto;
	}
	.daily-sale-rpt-tool-div #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
	.daily-sale-btn-section {
		text-align: center;
	}
	.daily-sale-branch-section select {
		width: 78%;
	}
	.daily-sale-pos-section select {
		width: 78%;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.daily-sale-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.daily-sale-branch-section span,.daily-sale-date-part span {
		width: 57px;
	}
	.daily-sale-date-part input {
		width: 51%;
	}
	
}
@media(min-width:992px) and (max-width:1200px)
{
	.daily-sale-date-part input {
		width: 70%;
	}
	.daily-sale-branch-section select {
		width: 70%;
	}
	.form-control {
		font-size: 12px !important;
	}
	.branch-col {
		width:30%;
	}
	.pos-col {
		width: 20%;
	}
}
/*----responsive----*/