﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.stck-small-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.stck-small-branch-section {
	float: left;
	width: 100%;
}
.stck-small-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.stck-small-branch-section select {
    width: 75%;
}
.stck-small-btn-section {
	float: left;
	width: 100%;
	text-align:right;
}
.stck-small-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----Responsive----*/
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}
	.stck-small-head {
		font-size: 22px;
	}
}
@media(max-width:567px){
	.stck-small-rpt-toolbar #cntMaster_ReportToolbar1_Menu{
		width:800px !important;
	}
}
@media(max-width:767px)
{
	.stck-small-btn-section {
		text-align: center;
		margin-top: 10px;
	}
}
/*----Responsive----*/