﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.customer-stock-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.customer-stock-branch-section {
	float: left;
	width: 100%;
}
.customer-stock-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.customer-stock-branch-section select {
    width: 75%;
}
.customer-stock-customer-section {
	float: left;
	width: 100%;
}
.customer-stock-customer-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.customer-stock-customer-section select {
    width: 69%;
}
.customer-stock-date-section {
	float: left;
	width: 100%;
}
.customer-stock-date-part {
	float: left;
	width: 50%;
}
.customer-stock-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.customer-stock-date-part input {
    width: 69%;
}
.customer-stock-rpt-toolbar{
	float:left;
	width:100% !important;
	overflow-x:auto;
}

/*----responsive----*/
@media(max-width:420px)
{
	.customer-stock-date-part {
		width: 100%;
		margin-bottom:10px;
	}
	.customer-stock-branch-section select {
		width: 69%;
	}
}
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}
	.customer-stock-head {
		font-size: 20px;
	}
}
@media(max-width:567px)
{
	.customer-stock-rpt-toolbar #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.customer-stock-date-part input {
		width: 40%;
	}
	.customer-stock-customer-section select,.customer-stock-branch-section select {
		width: 70%;
	}
	.customer-stock-date-section{
		margin-bottom:10px;
	}
}
@media(max-width:767px)
{
	.customer-stock-customer-section span,.customer-stock-branch-section span,.customer-stock-date-part span{
		width:75px;
	}
	
	.customer-stock-branch-section, .customer-stock-customer-section {
		margin-bottom: 10px;
	}
	.customer-stock-btn-section{
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.customer-stock-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.customer-stock-branch-section span,.customer-stock-date-part span {
		width: 57px;
	}
	.customer-stock-date-part input {
		width: 50%;
	}	
}
@media(min-width:992px) and (max-width:1200px)
{
	.customer-stock-branch-section select {
		width: 72%;
	}
	.customer-stock-customer-section select {
		width: 63%;
	}
	.branch-col {
		width: 34%;
	}
	.btn-col {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
}
/*----responsive----*/