﻿.min-lvl-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.min-lvl-godown-section {
	float: left;
	width: 100%;
}
.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.min-lvl-godown-section span {
    float: left;
    width: 30%;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.min-lvl-godown-section select {
	float: left;
	width: 60%;
	margin-left: 10px;
}
.min-lvl-finish-section {
	float: left;
	width: 31%;
}
.min-lvl-smi-finish-section {
	float: left;
	width: 31%;
	margin-left: 12px;
	margin-right: 12px;
}
.min-lvl-raw-section {
	float: left;
	width: 31%;
}
.min-lvl-middle-panel {
	float: left;
	width: 100%;
}
.min-lvl-all-section {
	float: left;
	width: 100%;
}
.min-lvl-all-section span {
	width: 30%;
}
.min-lvl-compny-section {
	float: left;
	width: 100%;
}
.min-lvl-compny-section span {
	width: 30%;
	float: left;
}
.min-lvl-compny-section select {
	width: 60%;
	margin-left: 10px;
	float: left;
}
.min-lvl-group-section {
	float: left;
	width: 100%;
}
.min-lvl-group-section span {
	float: left;
	width: 30%;
}
.min-lvl-group-section select {
	float: left;
	width: 60%;
	margin-left: 10px;
}
.min-lvl-last-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	margin-top: 10px;
	margin-bottom:10px;
}
.min-lvl-sub-group-section {
	float: left;
	width: 100%;
}
.min-lvl-sub-group-section span {
	float: left;
	width: 30%;
}
.min-lvl-sub-group-section select {
	float: left;
	width: 60%;
	margin-left: 10px;
}
.min-lvl-dep-section {
	float: left;
	width: 100%;
}
.min-lvl-dep-section span {
	float: left;
	width: 30%;
}
.min-lvl-dep-section select {
	float: left;
	width: 60%;
	margin-left: 10px;
}
.min-lvl-btn-section {
	float: left;
	width: 100%;
}
.min-lvl-btn-section input{
	margin-right:10px;
}
.min-lvl-rpt-cls
{
	width:100% !important;
	overflow: auto;
}
.min-lvl-rpt-cls table
{
	width:auto !important;
}
.min-lvl-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
/*----responsive----*/
@media(max-width:422px)
{
	.min-lvl-godown-section span, .min-lvl-all-section span, .min-lvl-compny-section span,
	.min-lvl-group-section span, .min-lvl-sub-group-section span,.min-lvl-dep-section span {
		width: 37%;
	}
	.min-lvl-godown-section select, .min-lvl-compny-section select,.min-lvl-sub-group-section select,
	.min-lvl-dep-section select,.min-lvl-group-section select {
		margin-left: 6px;
	}
	.min-lvl-finish-section {
		float: left;
		width: 100%;
		margin-bottom: 8px;
		margin-top: 8px;
	}
	.min-lvl-smi-finish-section {
		float: left;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 8px;
	}
	.min-lvl-raw-section {
		float: left;
		width: 100%;
	}
	
}
@media(max-width:480px)
{
	.min-lvl-head {
		font-size: 22px;
	}
	.form-control {
		font-size: 12px !important;
	}
}
@media(min-width:423px) and (max-width:767px)
{
	.min-lvl-godown-section {
		margin-bottom: 8px;
	}
	.min-lvl-godown-section span {
		width: 32%;
	}
	.min-lvl-godown-section select {
		width: 65%;
	}
	.min-lvl-compny-section select,.min-lvl-group-section select,.min-lvl-sub-group-section select,.min-lvl-dep-section select {
		width: 67%;
	}
}
@media(max-width:767px)
{
	.min-lvl-btn-section {
		text-align: center;
	}
	.min-lvl-all-section,.min-lvl-compny-section,.min-lvl-sub-group-section,.min-lvl-dep-section {
		margin-bottom: 8px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.min-lvl-compny-section span,.min-lvl-group-section span,.min-lvl-sub-group-section span,.min-lvl-dep-section span,.min-lvl-all-section span {
		width: 46%;
	}
	.min-lvl-compny-section select, .min-lvl-group-section select, .min-lvl-sub-group-section select, .min-lvl-dep-section select {
		width: 54%;
		margin-left: 0;
		padding: 0 !important;
		font-size: 11px !important;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.min-lvl-dep-section span,.min-lvl-compny-section span,.min-lvl-group-section span,.min-lvl-sub-group-section span,.min-lvl-all-section span {
		width: 34%;
	}
}
/*----responsive----*/