﻿.form-control {
	font-size: 13px !important;
	padding: 6px 3px !important;
}
.online-pymt-sale-rpt-top-panel {
    float: left;
    width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
	margin-bottom:10px;
    border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
}
.online-pymt-sale-rpt-pymtmode-section {
    float: left;
    width: 100%;
}
.online-pymt-sale-rpt-pymtmode-section span {
    float: left;
    width: 110px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.cst-mar-top-pymt
{
	margin-top:8px;
}
.online-pymt-sale-rpt-pymtmode-section select {
    width: 68%;
}
.online-pymt-sale-rpt-branch-section {
    float: left;
    width: 100%;
}
.online-pymt-sale-rpt-branch-section span {
    float: left;
    width: 57px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.online-pymt-sale-rpt-branch-section select {
    width: 68%;
}
.online-pymt-sale-rpt-pos-section {
    float: left;
    width: 100%;
}
.online-pymt-sale-rpt-pos-section span {
    float: left;
    width: 110px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.online-pymt-sale-rpt-pos-section select {
    width: 68%;
}
.online-pymt-sale-rpt-bottom-panel {
    float: left;
    width: 100%;
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	margin-bottom:10px;
}
.online-pymt-sale-rpt-date-section {
    float: left;
    width: 100%;
}
.online-pymt-sale-rpt-date-part {
    width: 50%;
    float: left;
}
.online-pymt-sale-rpt-date-part  span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.online-pymt-sale-rpt-date-part input {
    width: 77%;
	line-height:1 !important;
}
.online-pymt-sale-rpt-user-section {
    float: left;
    width: 100%;
}
.online-pymt-sale-rpt-user-section span {
    float: left;
    width: 57px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.online-pymt-sale-rpt-user-section select {
    width: 68%;
}
.online-pymt-sale-rpt-btn-section {
    float: left;
    width: 100%;
}
.online-pymt-sale-rpt-btn-section input{
	margin-right:10px;   
}
.online-pymt-sale-rpt-cls
{
	width: 100% !important;
	overflow: auto;
}
.online-pymt-sale-rpt-cls table
{
	width:auto !important;
}
.online-pymt-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
/*----responsive----*/
@media(max-width:480px)
{
	.online-pymt-sale-rpt-date-part {
		width: 100%;
		margin-bottom:8px
	}
	.online-pymt-sale-rpt-pymtmode-section select {
		width: 56%;
	}
	.online-pymt-sale-rpt-branch-section select {
		width: 56%;
	}
	.online-pymt-sale-rpt-date-part input {
		width: 56%;
	}
	.online-pymt-sale-rpt-pos-section select {
		width: 56%;
	}
	.online-pymt-sale-rpt-user-section select {
		width: 56%;
	}
	.online-pymt-sale-rpt-head {
		font-size: 22px;
	}
	.form-control {
		font-size: 12px !important;
	}
	
}
@media(min-width:481px) and (max-width:567px)
{
	.form-control {
		padding: 6px 0px !important;
		font-size:12px !important;
	}
	.online-pymt-sale-rpt-pymtmode-section select {
		width: 73%;
	}
	.online-pymt-sale-rpt-branch-section select {
		width: 73%;
	}
	.online-pymt-sale-rpt-date-section {
		margin-bottom: 8px;
	}
	.online-pymt-sale-rpt-date-part input {
		width: 73%;
	}
	.online-pymt-sale-rpt-pos-section select {
		width: 73%;
	}
	.online-pymt-sale-rpt-user-section select {
		width: 73%;
	}
	.online-pymt-sale-rpt-date-part {
		width: 100%;
	}
	.to-part{
		margin-top:10px;
	}
}
@media(min-width:568px) and (max-width:767px)
{
	.form-control {
		padding: 6px 0px !important;
		font-size:12px !important;
	}
	.online-pymt-sale-rpt-pymtmode-section select {
		width: 73%;
	}
	.online-pymt-sale-rpt-branch-section select {
		width: 73%;
	}
	.online-pymt-sale-rpt-date-section {
		margin-bottom: 8px;
	}
	.online-pymt-sale-rpt-date-part input {
		width: 46%;
	}
	.online-pymt-sale-rpt-pos-section select {
		width: 73%;
	}
	.online-pymt-sale-rpt-user-section select {
		width: 73%;
	}
}
@media(max-width:767px)
{
	.online-pymt-sale-rpt-branch-section span, .online-pymt-sale-rpt-date-part span,
	.online-pymt-sale-rpt-pos-section span,.online-pymt-sale-rpt-user-section span {
		width: 110px;
	}
	.online-pymt-sale-rpt-pymtmode-section,.online-pymt-sale-rpt-branch-section, .online-pymt-sale-rpt-user-section, .online-pymt-sale-rpt-pos-section {
		margin-bottom: 8px;
	}
	.cst-mar-top-pymt {
		margin-top: 0px;
	}
	.online-pymt-sale-rpt-btn-section {
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.online-pymt-sale-rpt-cst-col {
		width: 50%;
	}
	.online-pymt-sale-rpt-pymtmode-section select {
		width: 61%;
	}
	.online-pymt-sale-rpt-branch-section select {
		width: 68%;
	}
	.online-pymt-sale-rpt-date-part input {
		width: 75%;
	}
	.online-pymt-sale-rpt-date-section {
		margin-top: 8px;
	}
	.online-pymt-sale-rpt-pos-section span {
		width: 57px;
	}
	.online-pymt-sale-rpt-pos-section select {
		width: 68%;
	}
	.online-pymt-sale-rpt-user-section span {
		width: auto;
	}
	.online-pymt-sale-rpt-user-section select {
		width: 82%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.paymode-rw,.pos-rw {
		width: 27%;
	}
	.branch-rw,.user-rw {
		width: 33%;
	}
	.date-rw,.btn-rw {
		width: 40%;
	}
	.online-pymt-sale-rpt-pymtmode-section select {
		width: 50%;
	}
	.online-pymt-sale-rpt-pos-section select {
		width: 50%;
	}
	.online-pymt-sale-rpt-date-part input {
		width: 72%;
	}
}

/*----responsive----*/