﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.purchase-wise-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.purchase-wise-sale-branch-setion {
	float: left;
	width: 100%;
}
.purchase-wise-sale-branch-setion span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purchase-wise-sale-branch-setion select {
    width: 75%;
} 
.purchase-wise-sale-date-setion {
	float: left;
	width: 100%;
}
.purchase-wise-sale-date-part {
	float: left;
	width: 50%;
}
.purchase-wise-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purchase-wise-sale-date-part input {
    width: 75%;
}
.purchase-wise-sale-sate-setion {
	float: left;
	width: 100%;
}
.purchase-wise-sale-state-setion span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    margin-top:5px;
	margin-right:10px;
}
.purchase-wise-sale-btn-setion{
	float:left;
	width:100%;
}
.purchase-wise-sale-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----responsive----*/
@media(max-width:480px)
{
	.purchase-wise-sale-head {
		font-size: 18px;
	}
	.form-control{
		font-size:12px !important;
	}

}
@media(max-width:567px)
{
	.purchase-wise-sale-rpt-toolbar #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
}
@media(max-width:767px)
{
	.purchase-wise-sale-branch-setion span,.purchase-wise-sale-date-part span {
		width: 57px;
	}
	.purchase-wise-sale-date-part input {
		width: 55%;
	}
	.purchase-wise-sale-branch-setion select {
		width: 78%;
	}
	.purchase-wise-sale-branch-setion {
		margin-bottom: 10px;
	}
	.purchase-wise-sale-btn-setion {
		text-align:center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.purchase-wise-sale-cst-col{
		width:50%;
	}
	.purchase-wise-sale-branch-setion,.purchase-wise-sale-date-setion{
		margin-bottom:10px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.purchase-wise-sale-branch-setion select,.purchase-wise-sale-date-part input {
		width: 71%;
	}
	.col-md-3.col-sm-3.col-xs-12.purchase-wise-sale-cst-col.purchase-wise-sale-cst-col-branch {
		width: 33%;
	}
	.col-md-4.col-sm-4.col-xs-12.purchase-wise-sale-cst-col.purchase-wise-sale-cst-col-date {
		width: 32%;
	}
	.col-md-3.col-sm-3.col-xs-12.purchase-wise-sale-cst-col.purchase-wise-sale-cst-col-state {
		width: 19%;
		padding: 0;
	}
	.col-md-2.col-sm-2.col-xs-12.purchase-wise-sale-cst-col.purchase-wise-sale-cst-col-btn {
		width: 16%;
		padding: 0;
	}
}
/*----responsive----*/