﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.purchase-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.purchase-sale-branch-section {
	float: left;
	width: 100%;
}
.purchase-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purchase-sale-branch-section select {
	width: 75%;
}
.purchase-sale-pos-section {
	float: left;
	width: 100%;
}
.purchase-sale-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purchase-sale-pos-section select {
	width: 74%;
}
.purchase-sale-date-section {
	float: left;
	width: 100%;
}
.purchase-sale-date-part {
	float: left;
	width: 50%;
}
.purchase-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purchase-sale-date-part input {
	width: 67%;
}
.purchase-sale-billmode-section {
	float: left;
	width: 100%;
}
.purchase-sale-billmode-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purchase-sale-billmode-section span:nth-child(2), .purchase-sale-billmode-section span:nth-child(3),.purchase-sale-billmode-section span:last-child
{
	margin-top:7px;
}
.purchase-sale-second-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.purchase-sale-option-section {
	float: left;
	width: 100%;
}
.purchase-sale-option-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.purchase-sale-grid-section {
	float: left;
	width: 20%;
}
.purchase-sale-third-panel {
	float: left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.purchase-sale-btn-section {
	float: left;
	width: 55%;
	text-align: right;
}
.purchase-sale-print-btn-section{
	float: left;
    width: 45%;
    text-align: right;
}
.purchase-sale-btn-section input{
	border-radius:0;
}
.purchase-sale-btn-section input:hover{
	color:#fff;
}
.purchase-sale-print-btn-section input{
	border-radius:0;
}
.purchase-sale-print-btn-section input:hover{
	color:#fff;
}
/*----responsive----*/
@media(max-width:420px)
{
	.purchase-sale-date-part {
		float: left;
		width: 100%;
		margin-bottom: 8px;
	}
	.purchase-sale-date-part input {
		width: 70%;
	}
	.purchase-sale-grid-section {
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
}
@media(max-width:480px)
{
	.purchase-sale-head {
		font-size: 22px;
	}
	.form-control {
		font-size: 12px !important;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.purchase-sale-date-part input {
		width: 40%;
	}
	.purchase-sale-grid-section {
		float: left;
		width: 45%;
	}
}
@media(max-width:767px)
{
	.purchase-sale-billmode-section span:first-child,.purchase-sale-branch-section span,.purchase-sale-pos-section span,
	.purchase-sale-date-part span,.purchase-sale-option-section span {
		width: 73px;
	}
	.purchase-sale-branch-section select{
		width:70%;
	}
	.purchase-sale-pos-section select {
		width: 70%;
	}
	.purchase-sale-branch-section,.purchase-sale-pos-section {
		margin-bottom: 8px;
	}
	.purchase-sale-btn-section {
		margin-bottom: 8px;
	}
	.purchase-sale-print-btn-section {
		float: left;
		width: 100%;
		text-align: center;
	}
	.purchase-sale-print-btn-section input {
		width: auto !important;
		padding-left: 7px !important;
		padding-right: 7px !important;
	}
	.purchase-sale-btn-section {
		float: left;
		width: 100%;
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.purchase-sale-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.purchase-sale-branch-section span,.purchase-sale-date-part span {
		width: 57px;
	}
	.purchase-sale-date-part input {
		width: 49%;
	}
	.purchase-sale-billmode-section span:first-child,.purchase-sale-pos-section span {
		width: 73px;
	}
	.purchase-sale-top-panel {
		padding-bottom: 0;
	}
	.purchase-sale-grid-section {
		float: left;
		width: 30%;
	}
	.purchase-sale-grid-section {
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	#sel_table {
		width: 100% !important;
	}
	.purchase-sale-second-panel {
		padding-bottom: 0;
	}
	.purchase-sale-print-btn-section input {
		width: auto !important;
		padding-left: 7px !important;
		padding-right: 7px !important;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.purchase-sale-branch-section select {
		width: 70%;
	}
	.form-control {
		font-size: 12px !important;
		padding: 6px 0px !important;
	}
	.purchase-sale-cst-col-billmode {
		width: 26%;
	}
	.purchase-sale-cst-col-date {
		width: 28%;
	}
	.purchase-sale-cst-col-pos {
		width: 19%;
	}
	.purchase-sale-grid-section {
		float: left;
		width: 25%;
	}	
	#sel_table {
		width: 75% !important;
	}
	.branch-col {
		width: 29%;
	}
	.pos-col {
		width: 19%;
	}
	.bill-col {
		width: 24%;
		padding: 0;
	}
}
/*----responsive----*/
