﻿.form-control {
	font-size: 13px !important;
	padding: 6px 3px !important;
}
.credit-receipts-top-panel {
    float: left;
    width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
}
.credit-receipts-branch-section {
    float: left;
    width: 100%;
}
.credit-receipts-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-receipts-branch-section select {
    width: 77%;
}
.credit-receipts-pos-section {
    float: left;
    width: 100%;
}
.credit-receipts-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-receipts-pos-section select {
    width: 77%;
}
.credit-receipts-date-section {
    float: left;
    width: 100%;
}
.credit-receipts-date-part {
    float: left;
    width: 50%;
}
.credit-receipts-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.credit-receipts-date-part input {
    width: 77%;
	line-height:1 !important
}
.credit-receipts-btn-section {
    float: left;
    width: 100%;
}
.credit-receipts-btn-section input{
	margin-right:10px;
}
.credit-receipts-rpt-cls
{
	width: 100% !important;
	overflow: auto;
}
.credit-receipts-rpt-cls table
{
	width:auto !important;

}
.credit-receipts-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}
.credit-receipts-rpt-cls table tr:nth-child(5) td:nth-child(3) div table tr td:first-child table tr td:first-child table tr:nth-child(2) td:nth-child(2) table {
    background: #fff !important;
}

/*----responsive----*/
@media(max-width:420px)
{
	.credit-receipts-date-part {
		margin-bottom: 8px;
		width:100%;
	}
}
@media(max-width:480px)
{
	.credit-receipts-head {
		font-size: 22px;
	}
	.form-control
	{
		font-size:12px !important;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.credit-receipts-branch-section select {
		width: 83%;
	}
	.credit-receipts-pos-section select {
		width: 83%;
	}
	.credit-receipts-date-section {
		margin-bottom: 8px;
	}
	.credit-receipts-date-part input {
		width: 66%;
	}
}
@media(max-width:767px)
{
	.credit-receipts-branch-section span, .credit-receipts-pos-section span, .credit-receipts-date-part span   {
		width: 57px;
	}
	.credit-receipts-branch-section,.credit-receipts-pos-section {
		margin-bottom: 8px;
	}
	.credit-receipts-btn-section {
		text-align: center;
	}

}
@media(min-width:768px) and (max-width:991px)
{
	.credit-receipts-cst-col
	{
		width:50%;
		margin-bottom:8px;
	}
	.credit-receipts-date-part input {
		width: 75%;
	}
	.credit-receipts-branch-section span, .credit-receipts-pos-section span{
		width: 57px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.form-control {
		padding: 6px 1px !important;
	}
	.credit-receipts-branch-section select {
		width: 71%;
	}
	.credit-receipts-date-part input {
		width: 71%;
	}
	.credit-receipts-btn-section input {
		margin-right: 6px;
	}
	.branch-col {
		width: 32%;
	}
	.date-col {
		padding: 0;
		width: 37%;
	}
	.pos-col {
		padding: 0;
		width: 21%;
	}
	.btn-col {
		width: 10%;
	}
}
/*----responsive----*/