﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.stck-expiry-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
}
.stck-expiry-radio-section {
	float: left;
	width: 100%;
}
.stck-expiry-godown-section {
	float: left;
	width: 100%;
}
.stck-expiry-godown-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.stck-expiry-godown-section select {
	width: 74%;
}
.stck-expiry-cmpny-section {
	float: left;
	width: 100%;
}
.stck-expiry-cmpny-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.stck-expiry-cmpny-section select {
	width: 70%;
}
.stck-expiry-dep-section {
	float: left;
	width: 100%;
}
.stck-expiry-dep-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.stck-expiry-dep-section select {
	width: 64%;
}
.stck-expiry-middle-panel {
	float: left;
	width: 100%;
}
.stck-expiry-com-rdo-section {
	float: left;
	width: 100%;
}
.stck-expiry-report-section {
	float: left;
	width: 100%;
}
.stck-expiry-report-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
}
.stck-expiry-bottom-panel {
	float: left;
	width: 100%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2px;
	margin-bottom:10px;
}
.stck-expiry-date-section {
	float: left;
	width: 100%;
}
.stck-expiry-date-part {
	float: left;
	width: 50%;
}
.stck-expiry-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
	line-height:34px;
}
.stck-expiry-date-part input {
	width: 60%;
	line-height: 1 !important;
}
.stck-expiry-btn-section {
	float: left;
	width: 100%;
}
.stck-expiry-btn-section input{
	margin-right:10px;
}
.stck-expiry-rpt-cls
{
	width:100% !important;
	overflow: auto;
}
.stck-expiry-rpt-cls table
{
	width:auto !important;
}

.stck-expiry-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
	height: auto !important;
}

/*----responsive----*/
@media(max-width:420px){
	.stck-expiry-date-part {
		width: 100%;
		margin-bottom:8px;
	}
	.stck-expiry-date-part input {
		width: 64%;
	}
	.stck-expiry-date-part span
	{
		width:89px;
	}
}
@media(max-width:480px) {
	.stck-expiry-head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(min-width:421px) and (max-width:480px)
{
	.stck-expiry-date-section {
		margin-bottom: 8px;
	}
	.stck-expiry-date-part input {
		width: 66%;
	}
	.stck-expiry-dep-section select,.stck-expiry-cmpny-section select,.stck-expiry-godown-section select {
		width: 66% !important;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.stck-expiry-date-section {
		margin-bottom: 8px;
	}
}
@media(max-width:767px)
{
	.stck-expiry-dep-section span,.stck-expiry-cmpny-section span,.stck-expiry-godown-section span {
		width: 89px;
	}
	.stck-expiry-godown-section select {
		width: 64%;
	}
	.stck-expiry-cmpny-section select {
		width: 64%;
	}
	.stck-expiry-godown-section,.stck-expiry-cmpny-section {
		margin-bottom: 8px;
	}
	.stck-expiry-btn-section {
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.stck-expiry-cst-col
	{
		width:50%;
		margin-bottom:10px;
	}
	.stck-expiry-godown-section span, .stck-expiry-dep-section span {
		width: 89px;
	}
	.stck-expiry-godown-section select {
		width: 64%;
	}
	.stck-expiry-top-panel {
		padding-bottom: 0;
	}
	.stck-expiry-date-part input {
		width: 76%;
	}
	.stck-expiry-cmpny-section select {
		width: 74%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.stck-expiry-cst-col
	{
		width:50%;
		margin-bottom:10px;
	}
	.stck-expiry-godown-section span, .stck-expiry-dep-section span {
		width: 89px;
	}
	.stck-expiry-godown-section select {
		width: 64%;
	}
	.stck-expiry-top-panel {
		padding-bottom: 0;
	}
}
/*----responsive----*/