﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.state-wise-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.state-wise-sale-branch-section {
	float: left;
	width: 100%;
}
.state-wise-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.state-wise-sale-branch-section select {
    width: 75%;
}
.state-wise-sale-date-section {
	float: left;
	width: 100%;
}
.state-wise-sale-date-part {
	float: left;
	width: 50%;
}
.state-wise-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.state-wise-sale-date-part input {
    width: 67%;
}
.state-wise-sale-sate-section {
	float: left;
	width: 100%;
}
.state-wise-sale-sate-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    margin-top:5px;
	margin-right:10px;
}
.state-wise-sale-gst-section {
	float: left;
	width: 100%;
}
.state-wise-sale-gst-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    margin-top:5px;
	margin-right:10px;
}
.state-wise-sale-btn-section {
	float: left;
	width: 100%;
	text-align:center;
	margin-top:10px;
}
.state-wise-sale-rpt-toolbar{
	float:left;
	width:100%;
	overflow-x:auto;
}
/*----Responsive----*/
@media(max-width:480px)
{
	.state-wise-sale-head {
		font-size: 22px;
	}
	.form-control{
		font-size:12px !important;
	}
}
@media(max-width:567px)
{
	.state-wise-sale-rpt-toolbar #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
}
@media(max-width:767px)
{
	.state-wise-sale-branch-section span,.state-wise-sale-date-part span {
		width: 57px;
	}
	.state-wise-sale-date-part input {
		width: 55%;
	}
	.state-wise-sale-branch-section select {
		width: 78%;
	}
	.state-wise-sale-branch-section {
		margin-bottom: 10px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.state-wise-sale-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.state-wise-sale-btn-section {
		margin-top: 0;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.state-wise-sale-cst-col-state {
		width: 22%;
	}
	.state-wise-sale-cst-col-gst {
		width: 19%;
	}
	.state-wise-sale-cst-col-date {
		width: 28%;
	}
	.state-wise-sale-cst-col-branch {
		width: 31%;
	}
}
/*----Responsive----*/