﻿.cashmemo_wise {
    width: 100%;
    float: left;
}
.cashmemo_header td {
    font-size: 18px;
    background-color: #f06671;
    color: #fff;
    padding: 5px 0;
    font-weight: 600;
}
table.cashmemo_header {
    width: 100%;
    text-align: center;
}
.report_table_main {
    width: 100%;
    float: left;
    overflow: auto;
    margin: 0 0 10px;
}
.report_table {
    float: left;
    width: 100%;
    border-left: 1px solid #ddd;
    background-color: #eee;
    border-right: 1px solid #ddd;
}
.report_table td {
    padding: 4px 8px;
    font-size: 12px;
}
.report_table select {
    margin: 0px;
    width: 160px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.report_table input {
    margin: 0px;
    width: 160px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.report_table [type=radio] {
    box-shadow: none;
    width: auto;
    height: auto;
    position: relative;
    top: 2px;
}
.report_table_btns {
    width: 125px !important;
    height: 39px !important;
    padding: 9px 0 !important;
    font-size: 15px !important;
    background-color: #03A9F4  !important;
    color: #fff;
}
.report_table tr {
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.table_detail {
    width: 100%;
    float: left;
    height: 400px;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #eee;
    margin: 4% 0;
}
.table_detail tr:first-child {
    background-color: #f06671 !important;
}
.ajax__calendar_container td {
    padding: unset !important;
    font-size: unset !important;
}
#cntMaster_cc1_popupDiv, #cntMaster_CalendarExtender1_popupDiv {
    z-index: 1;
}
.advance_cash {
    margin: 0 20px 0;
}
.advance_cash tr:first-child {
    background-color: #46c9ac !important;
    color: #fff;
}
.advance_cash td {
    padding: 5px 10px;
}
table#tblist input[type="checkbox"] {
    float: left;
    width: 15px;
    box-shadow: unset !important;
    margin: 2px;
    height: 30px;
}
table#tblist label {
    float: left;
    width: 84px;
    line-height: 30px;
    padding: 2px;
	font-size: 12px;
}
table#tblist input[type="text"] {
    float: left;
    width: 40px !important;
    padding: 10px;
    height: 30px;
    margin: 2px 6px;
}
.report_table select
{
	padding:0 1px;
}
.report_table input[type="text"]
{
	padding:0 3px;
}
.report_table_btns {
    margin-left: 4px !important;
}
input#cntMaster_btnGetRecords {
    background-color: #5cb85c !important;
}
table.report_table .label-cash-memo-rpt label {
    margin-left: 5px;
}
div#btngridoptions, div#btnSaveOptions {
    text-align: center;
    width: auto !important;
    float: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 30px !important;
    line-height: 11px !important;
	font-size:13px !important;
}
tr.tr-generate-cash-memo-rpt {
    text-align: center;
}
td.bill-type-td-cash-memo-rpt span {
    float: left;
    width: 80px;
    line-height: 40px;
}
/*----New Css----*/
.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.sale-detailed-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.sale-detailed-branch-section {
	float: left;
	width: 100%;
}
.sale-detailed-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sale-detailed-branch-section select {
	float: left;
	width: 75%;
}
.sale-detailed-pos-section {
	float: left;
	width: 100%;
}
.sale-detailed-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sale-detailed-pos-section select {
	float: left;
	width: 75%;
}
.sale-detailed-biltype-section {
	float: left;
	width: 100%;
}
.sale-detailed-biltype-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sale-detailed-biltype-section select {
	float: left;
	width: 60%;
}
.sale-detailed-date-section {
	float: left;
	width: 100%;
}
.sale-detailed-date-part {
	float: left;
	width: 50%;
}
.sale-detailed-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sale-detailed-date-part input {
	float: left;
	width: 65%;
}
.sale-detailed-second-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.sale-detailed-print-btn-section {
	float: left;
	width: 45%;
	text-align: right;
}
.sale-detailed-print-btn-section input {
    width: 125px !important;
    height: 39px !important;
    padding: 9px 0 !important;
    font-size: 15px !important;
    background-color: #03A9F4 !important;
    color: #fff;
	border-radius:0;
}
.sale-detailed-print-btn-section input:hover{
	color:#fff;
}
.sale-detailed-third-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 4px;
}
.sale-detailed-option-section {
	float: left;
	width: 100%;
}
.sale-detailed-option-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
 
}
.sale-detailed-billmode-section {
	float: left;
	width: 100%;
}
.sale-detailed-billmode-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;

}
.sale-detailed-fourth-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.sale-detailed-grid-section {
	float: left;
	width: 20%;
}
#sel_table {
	float: left;
	width: 80%;
	background: #fff;
}
#tblist tr {
	float: left;
	width: auto;
}
.sale-detailed-btn-section
{
	float:left;
	width:55%;
	text-align:right;
}
.sale-detailed-btn-section input{
	border-radius:0;
}
.sale-detailed-btn-section input:hover{
	color:#fff;
}
.btnexp{
	display:none;
}
/*----responsive----*/
@media(max-width:420px) {
	.sale-detailed-date-part {
		float: left;
		width: 100%;
		margin-bottom: 8px;
	}
	.sale-detailed-date-part input {
		width: 70%;
	}	
	.sale-detailed-grid-section {
		margin-bottom: 8px;
		width:100%;
	}
	#sel_table {
		width: 100%;
		margin-bottom: 8px;
	}
	.sale-detailed-print-btn-section input {
		width: auto !important;
		padding: 9px 3px !important;
	}
	.sale-detailed-top-panel {
		padding-bottom: 2px;
	}
}
@media(max-width:480px)
{
	.sale-detailed-head {
		font-size: 18px;
	}
	.form-control {
		font-size: 12px !important;
	}
}
@media(min-width:421px) and (max-width:767px)
{
	.sale-detailed-date-part input {
		width: 40%;
	}
	.sale-detailed-grid-section {
		width: 45%;
	}
	#sel_table {
		width: 55%;
	}
	.sale-detailed-print-btn-section input {
		width: auto !important;
		padding: 9px 14px !important;
		margin-top: 8px;
	}
}
@media(max-width:767px)
{
	.sale-detailed-billmode-section span:first-child,.sale-detailed-branch-section span, .sale-detailed-pos-section span,.sale-detailed-biltype-section span,
	.sale-detailed-date-part span,.sale-detailed-option-section span {
		width: 73px;
	}
	.sale-detailed-branch-section select,.sale-detailed-pos-section select,.sale-detailed-biltype-section select {
		width: 70%;
	}
	.sale-detailed-branch-section,.sale-detailed-pos-section,.sale-detailed-biltype-section {
		margin-bottom: 8px;
	}
	.sale-detailed-btn-section {
		width: 100%;
		text-align: center;
		margin-bottom: 8px;
	}
	.sale-detailed-print-btn-section {
		width: 100%;
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.sale-detailed-cst-col{
		margin-bottom:10px;
		width:50%;
	}
	.sale-detailed-top-panel {
		padding-bottom: 0;
	}
	.sale-detailed-biltype-section span,.sale-detailed-branch-section span {
		width: 61px;
	}
	.sale-detailed-biltype-section select {
		width: 75%;
	}
	.sale-detailed-date-part input {
		width: 58%;
	}	
	.sale-detailed-grid-section {
		width: 30%;
	}
	#sel_table {
		width: 70%;
	}
	.sale-detailed-print-btn-section input {
		width: auto !important;
		padding: 9px 10px !important;
	}
}
@media(min-width:992px) and (max-width:1024px){
	.sale-detailed-date-part input {
		width: 56%;
	}
}
@media(min-width:1025px) and (max-width:1100px){
	.sale-detailed-date-part input {
		width: 56%;
	}
}
@media(min-width:1101px) and (max-width:1199px){
	.sale-detailed-date-part input {
		width: 56.4%;
	}
}
@media(min-width:1200px) and (max-width:1200px){
	.sale-detailed-date-part input {
		width: 55.4%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.sale-detailed-cst-col{
		margin-bottom:10px;
		width:50%;
	}
	.sale-detailed-top-panel {
		padding-bottom: 0;
	}
	.sale-detailed-biltype-section span,.sale-detailed-branch-section span {
		width: 61px;
	}
	.sale-detailed-biltype-section select {
		width: 75%;
	}
	
}
/*----responsive----*/