﻿.rpt-user-wise-sale-top-panel {
    float: left;
    width: 100%;
	padding-top:10px;
	border-top: 1px solid #fff;
	padding-bottom:10px;
	border-bottom: 1px solid #fff;
}
.rpt-user-wise-sale-branch-section{
	float: left;
    width: 100%;
}
.rpt-user-wise-sale-branch-section span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.form-control
{
	font-size:13px !important;
}
.rpt-user-wise-sale-branch-section select {
    width: 75%;
	padding:3px
}
.rpt-user-wise-sale-pos-section {
    float: left;
    width: 100%;
}
.rpt-user-wise-sale-pos-section span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-user-wise-sale-pos-section select {
    width: 75%;
	padding: 3px;
}
.rpt-user-wise-sale-radio-section
{
	float:left;
	width:100%;
	line-height: 34px;
}
.rpt-user-wise-sale-second-panel {
    float: left;
    width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.rpt-user-wise-sale-date-section {
    float: left;
    width: 100%;
}
.rpt-user-wise-sale-date-part {
    float: left;
    width: 50%;
}
.rpt-user-wise-sale-date-part span{
   	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.rpt-user-wise-sale-date-part input {
    padding: 3px;
    width: 69%;
}
.rpt-user-wise-sale-button-section {
    float: left;
    width: 100%;
    text-align: center;
}
.rpt-user-wise-sale-radio-section input:hover {
    color: #fff;
}
.rpt-user-wise-sale-rpt-tool-div {
    float: left;
    width: 100%;
}
.rpt-user-wise-sale-cst-col {
	padding: 0;
}
.radio-col {
	width: 20%;
}
/*----responsive----*/
@media(max-width:480px)
{
	.rpt-user-wise-sale-head {
		font-size: 21px;
	}
	.rpt-user-wise-sale-branch-section span, .rpt-user-wise-sale-date-part span, .rpt-user-wise-sale-pos-section span {
		width: 57px;

	}
	.rpt-user-wise-sale-date-part input {
		width: 55%;
	}
	.form-control {
		font-size: 12px !important;
	}
	.rpt-user-wise-sale-branch-section select {
		width: 78%;
	}
	.rpt-user-wise-sale-pos-section select {
		width: 78%;
	}
	.rpt-user-wise-sale-radio-section {
		text-align: center;
	}
	.rpt-user-wise-sale-radio-section input {
		font-size: 12px !important;
		padding: 6px 4px !important;
	}
	.rpt-user-wise-sale-branch-section,.rpt-user-wise-sale-date-section,.rpt-user-wise-sale-pos-section{
		margin-bottom: 8px;
	}
	
	.rpt-user-wise-sale-rpt-tool-div {
		overflow-x: auto;
	}	
	#frm .rpt-user-wise-sale-rpt-tool-div table.rpt-user-wise-sale-toolbar {
		float: left;
		width: 800px !important;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	#frm .rpt-user-wise-sale-rpt-tool-div table.rpt-user-wise-sale-toolbar {
		float: left;
		width: 800px !important;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	.rpt-user-wise-sale-branch-section span, .rpt-user-wise-sale-date-part span, .rpt-user-wise-sale-pos-section span {
		width: 60px;

	}
	.rpt-user-wise-sale-date-part input {
		width: 55%;
	}
	.form-control {
		font-size: 12px !important;
	}
	.rpt-user-wise-sale-branch-section select {
		width: 78%;
	}
	.rpt-user-wise-sale-pos-section select {
		width: 78%;
	}
	.rpt-user-wise-sale-radio-section {
		text-align: center;
	}
	.rpt-user-wise-sale-radio-section input {
		font-size: 12px !important;
		padding: 6px 4px !important;
	}
	.rpt-user-wise-sale-branch-section,.rpt-user-wise-sale-date-section,.rpt-user-wise-sale-pos-section{
		margin-bottom: 8px;
	}
	
	.rpt-user-wise-sale-rpt-tool-div {
		overflow-x: auto;
	}	
}
@media(max-width:767px)
{
	.rpt-user-wise-mob-section
	{
		display:none;
		float: left;
		width: 100%;
		margin-top: 10px;
		background: #fff;
		padding: 10px 0;
	}
	#user-sale-mob-rpt
	{
		margin-bottom: 0;
		font-weight: 700;
		width: 100%;
		text-align: left;
		border-radius: 0;
		text-transform: uppercase;
	}
	.accordion:after {
	  content: '\002B';
	  color: #fff;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}
}
@media(min-width:768px)
{
	#user-sale-mob-rpt{
		display:none;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.rpt-user-wise-sale-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.rpt-user-wise-sale-pos-section span {
		width: 57px;
	}
	.rpt-user-wise-sale-radio-section input[type="submit"] {
		margin-left: 14px;
	}	
}
@media(min-width:992px) and (max-width:1200px)
{
	.form-control {
		font-size: 12px !important;
	}
	.rpt-user-wise-sale-branch-section select {
		width: 71%;
		padding:0;
	}
	.rpt-user-wise-sale-date-part span {
		padding-right: 0px;
	}
	.rpt-user-wise-sale-date-part input {
		padding: 0px;
		width: 64%;
	}
	.rpt-user-wise-sale-pos-section select {
		width: 70%;
		padding: 0px;
	}
	.rpt-user-wise-sale-radio-section input {
		font-size: 12px !important;
	}
	.branch-col {
		padding: 0;
		width: 26%;
	}
	.date-col {
		padding: 0;
		width: 24%;
	}

}
/*----responsive----*/