﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.tax-wise-sale-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.tax-wise-sale-branch-section {
	float: left;
	width: 100%;
}
.tax-wise-sale-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.tax-wise-sale-branch-section select {
    width: 75%;
}
.tax-wise-sale-date-section {
	float: left;
	width: 100%;
}
.tax-wise-sale-date-part {
	float: left;
	width: 50%;
}
.tax-wise-sale-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.tax-wise-sale-date-part input {
    width: 75%;
}
.tax-wise-sale-radio-section{
	float:left;
	width:100%;
	line-height:34px;
}
.tax-wise-sale-rpt-toolbar{
	float:left;
	width:100%;
	overflow:auto;
}
/*----responsive----*/
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}
	.tax-wise-sale-head {
		font-size: 22px;
	}
}
@media(max-width:567px)
{
	.tax-wise-sale-rpt-toolbar #cntMaster_ReportToolbar1_Menu {
		width: 800px !important;
	}
}
@media(max-width:767px)
{
	.tax-wise-sale-branch-section span,.tax-wise-sale-date-part span {
		width: 57px;
	}
	.tax-wise-sale-date-part input {
		width: 56%;
	}
	.tax-wise-sale-branch-section select {
		width: 78%;
	}
	.tax-wise-sale-btn-section {
		text-align: center;
	}
	.tax-wise-sale-branch-section{
		margin-bottom:10px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.tax-wise-sale-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.tax-wise-sale-top-panel {
		padding-bottom: 0;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.tax-wise-sale-cst-col-radio {
		width: 20%;
	}
	.tax-wise-sale-cst-col-branch {
		width: 29%;
		padding-right:0;
	}
	.tax-wise-sale-date-part input {
		width: 70%;
	}
}
/*----responsive----*/
