﻿.form-control{
	font-size:13px !important;
	padding:6px 3px !important;
}
.dis-amt-top-panel {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.dis-amt-branch-section {
	float: left;
	width: 100%;
}
.dis-amt-branch-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dis-amt-branch-section select {
    width: 78%;
}
.dis-amt-date-section {
	float: left;
	width: 100%;
}
.dis-amt-date-part {
	float: left;
	width: 50%;
}
.dis-amt-date-part span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dis-amt-date-part input {
    width: 68%;
}
.dis-amt-pos-section {
	float: left;
	width: 100%;
}
.dis-amt-pos-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dis-amt-pos-section select {
    width: 75%;
}
.dis-amt-user-section {
	float: left;
	width: 100%;
}
.dis-amt-user-section span {
    float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.dis-amt-user-section select {
    width: 75%;
}
.dis-amt-btn-section{
	float:left;
	width:100%;
	text-align:center;
	margin-top:10px;
}
.dis-amt-rpt-toolbar{
	float:left;
	width:100%;
	overflow:auto;
}
/*----responsive----*/
@media(max-width:480px)
{
	.form-control{
		font-size:12px !important;
	}
	.dis-amt-head {
		font-size: 22px;
	}
}
@media(max-width:567px)
{
	.dis-amt-rpt-toolbar #cntMaster_ReportToolbar1_Menu {
		width: 880px !important;
	}
}
@media(max-width:767px)
{
	.dis-amt-branch-section span,.dis-amt-pos-section span,.dis-amt-user-section span,.dis-amt-date-part span {
		width: 57px;
	}
	.dis-amt-date-part input {
		width: 56%;
	}
	.dis-amt-branch-section select,.dis-amt-pos-section select,.dis-amt-user-section select {
		width: 78%;
	}
	.dis-amt-branch-section,.dis-amt-pos-section,.dis-amt-date-section,.dis-amt-user-section {
		margin-bottom: 10px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
	.dis-amt-cst-col{
		width:50%;
		margin-bottom:10px;
	}
	.dis-amt-branch-section span,.dis-amt-pos-section span {
		width: 57px;
	}
	.dis-amt-date-part input {
		width: 60%;
	}
	.dis-amt-branch-section select {
		width: 75%;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.dis-amt-cst-col-user {
		width: 21%;
	}
	.dis-amt-cst-col-pos {
		width: 20%;
	}
	.dis-amt-cst-col-branch {
		width: 31%;
	}
	.dis-amt-cst-col-date {
		width: 28%;
	}
	.dis-amt-date-part input {
		width: 65%;
	}
}
/*----responsive----*/