﻿.sm-online-sale-top-panel {
    float: left;
    width: 100%;
	padding-top:10px;
	border-top: 1px solid #fff;
	padding-bottom:10px;
}
.sm-online-sale-onlinepayment-section{
	float: left;
    width: 100%;
}
.sm-online-sale-onlinepayment-section span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.form-control
{
	font-size:13px !important;
}
.sm-online-sale-onlinepayment-section select {
    width: 66%;
}
.sm-online-sale-branch-section{
	float: left;
    width: 100%;
}
.sm-online-sale-branch-section span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sm-online-sale-branch-section select {
    width: 66%;
}
.sm-online-sale-pos-section{
	float: left;
    width: 100%;
}
.sm-online-sale-pos-section span{
	float: left;
    width: 113px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sm-online-sale-pos-section select {
    width: 66%;
}
.sm-online-sale-date-section {
    float: left;
    width: 100%;
}
.sm-online-sale-date-part {
    float: left;
    width: 50%;
}
.sm-online-sale-date-part span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sm-online-sale-date-part input
{
	width:70%;
}
.sm-online-sale-user-section{
	float: left;
    width: 100%;
}
.sm-online-sale-user-section span{
	float: left;
    width: 56px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.sm-online-sale-user-section select {
    width: 66%;
}
.sm-online-sale-btn-section{
	float:left;
	width:100%;
}
.sm-online-sale-btn-section input:hover{
	color:#fff;
}
.sm-online-sale-second-panel {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.sm-online-sale-rpt-tool-div {
    float: left;
    width: 100%;
}
/*----responsive----*/
@media(max-width:480px)
{
	.sm-online-sale-head {
		font-size: 21px;
	}
	.sm-online-sale-onlinepayment-section span, .sm-online-sale-branch-section span,.sm-online-sale-date-part span,
	.sm-online-sale-pos-section span, .sm-online-sale-user-section span {
		width: 116px;
	}
	.sm-online-sale-onlinepayment-section select {
		width: 54%;
	}
	.sm-online-sale-branch-section select {
		width: 54%;
	}
	.sm-online-sale-date-part {
		float: left;
		width: 100%;
	}
	.sm-online-sale-date-part input {
		width: 54%;
	}	
	.sm-online-sale-pos-section select {
		width: 54%;
	}
	.sm-online-sale-user-section select {
		width: 54%;
	}	
	.sm-online-sale-top-panel {
		padding-bottom: 0;
	}
	.sm-online-sale-btn-section {
		text-align: center;
		margin-top: 8px;
	}
	.sm-online-sale-onlinepayment-section,.sm-online-sale-branch-section,.sm-online-sale-date-part,.sm-online-sale-pos-section {
		margin-bottom: 8px;
	}
	.form-control {
		font-size: 12px !important;
	}
	.sm-online-sale-rpt-tool-div{
		overflow-x: auto;
	}
	#frm .sm-online-sale-rpt-tool-div table.sm-online-sale-rpt-toolbar{
		float: left;
		width: 800px !important;
	}
}

@media(min-width:481px) and (max-width:567px)
{
	.sm-online-sale-rpt-tool-div{
		overflow-x: auto;
	}
	#frm .sm-online-sale-rpt-tool-div table.sm-online-sale-rpt-toolbar{
		float: left;
		width: 800px !important;
	}
}

@media(min-width:481px) and (max-width:767px)
{
	.form-control {
		padding: 6px 10px !important;
	}
	.sm-online-sale-onlinepayment-section span, .sm-online-sale-branch-section span,.sm-online-sale-date-part span,
	.sm-online-sale-pos-section span, .sm-online-sale-user-section span {
		width: 120px;
	}
	.sm-online-sale-onlinepayment-section select {
		width: 71%;
	}
	.sm-online-sale-branch-section select {
		width: 71%;
	}
	.sm-online-sale-date-part input {
		width: 42%;
	}
	.sm-online-sale-pos-section select {
		width: 71%;
	}
	.sm-online-sale-user-section select {
		width: 71%;
	}
	.sm-online-sale-onlinepayment-section,.sm-online-sale-branch-section,.sm-online-sale-pos-section,.sm-online-sale-user-section {
		margin-bottom: 10px;
	}
	.sm-online-sale-btn-section {
		text-align: center;
	}
	.sm-online-sale-top-panel {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.sm-online-sale-second-panel {
		padding-top: 10px;
		background: #fff;
	}
}
@media(max-width:767px)
{
	/*report*/
	.rpt-bill-mob-secction {
		display: none;
		float: left;
		width: 100%;
		margin-top: 10px;
		background: #fff;
		padding: 10px 0;
	}
	.rpt-bill-sec-mob-sec
	{
		margin-top:0;
		padding-top:0;
		
	}
	.rpt-bill-sec-mob-one
	{
		padding-bottom:0;
	}
	.accordion:after {
	  content: '\002B';
	  color: #fff;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}
		
	#mobile-rpt {
	margin-bottom: 0;
	font-weight: 700;
	width: 100%;
	text-align: left;
	border-radius: 0;
	text-transform: uppercase;
	}
}
@media(min-width:768px)
{
	#mobile-rpt
	{
		display:none;
	}
	
}

@media(min-width:768px) and (max-width:991px)
{
	.sm-online-sale-onlinepayment-section select {
		width: 65%;
	}
	.sm-online-sale-branch-section select {
		width: 66%;
	}
	.sm-online-sale-date-part input {
		width: 60%;
	}
	.sm-online-sale-pos-section select {
		width: 65%;
	}
	.sm-online-sale-user-section select {
		width: 66%;
	}
	.online-col {
		width: 50%;
	}
	.branch-col {
		width: 50%;
	}
	.date-col {
		width: 100%;
	}
	.pos-col {
		width: 50%;
	}
	.user-col {
		width: 50%;
	}
	.btn-col{
		width:100%;
		margin-top:10px;
		text-align:center;
	}
	.date-part span {
		width: 113px;
	}
	.sm-online-sale-date-part.to-part {
		padding-left: 15px;
		box-sizing: border-box;
	}
	.to-part span {
		width: 56px;
	}
	.date-part input {
		width: 62%;
	}
	.to-part input {
		width: 66%;
	}
	.sm-online-sale-date-part {
		margin-top: 10px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
	.form-control {
		padding: 6px 2px;
	}
	.sm-online-sale-onlinepayment-section select {
		width: 58%;
	}
	.sm-online-sale-pos-section select {
		width: 58%;
	}
	.online-col, .branch-col, .date-col, .pos-col, .user-col, btn-col {
		padding: 0;
	}
}
/*----responsive----*/