﻿.department_wise {
    width: 100%;
    float: left;
}
table.department_header {
    width: 100%;
    text-align: center;
}
.department_header td {
    font-size: 18px;
    background-color: #f06671;
    color: #fff;
    padding: 5px 0;
    font-weight: 600;
}
.sale_report {
    float: left;
    width: 100%;
    border-left: 1px solid #ddd;
    background-color: #eee;
    border-right: 1px solid #ddd;
        overflow: auto;
        margin: 0 0 10px;
}
.sale_report tr {
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.sale_report td {
    padding: 4px 8px;
    font-size: 12px;
}
.sale_report select {
    margin: 0px;
    width: 160px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.sale_report input {
    margin: 0px;
    width: 160px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.sale_report input#cntMaster_btnGetRecords {
    width: 125px !important;
    height: 39px !important;
    padding: 9px 0 !important;
    font-size: 15px !important;
    background-color: #03A9F4 !important;
    color: #fff;
}
#cntMaster_ReportViewer1_Div {
    width: 100% !important;
    float: left;
}
#cntMaster_ReportViewer1_Div #cntMaster_ReportViewer1_ContentFrame {
    width: 100% !important;
    float: left;
}
table#cntMaster_ReportToolbar1_Menu {
    width: 100% !important;
    margin: 0 0 10px;
}

.sale_report [type=radio] {
    width: auto !important;
    height: auto !important;
    box-shadow: none !important;
}
.ajax__calendar_container td {
    padding: unset !important;
    font-size: unset !important;
}
#cntMaster_cc1_popupDiv, #cntMaster_CalendarExtender1_popupDiv {
    z-index: 1;
}

.radio-section {
    float: left;
    width: 100%;
    text-align: center;
}
.radio-section span {
    font-weight: 700;
    width: auto;
    display: inline-block;
    position: relative;
    top: -15px;
    right: 3px;
}
.radio-section table {
    display: inline-block;
}

.tax-sale-report-panel {
    float: left;
    width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.date-section {
    float: left;
    width: 100%;
}
.date-part {
    float: left;
    width: 50%;
}
.date-part span {
    float: left;
    width: auto;
   
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
	line-height:34px;
}
.date-part input {
    width: 77%;
    padding:2px 0px 2px 5px;
    box-sizing: border-box;
	line-height:1 !important;
}
.pos-section {
    float: left;
    width: 100%;
}
.pos-shop {
    float: left;
    width: 100%;
}
.pos-shop span {
    font-weight: 700;
    width: 71px;
    line-height: 34px;
    float: left;
    padding-right: 3px;
}
.pos-shop select {
    padding: 2px 2px;
    width: 72%;
}
.pos-name{
	float:left;
	width:100%;
}
.pos-name span {
    font-weight: 700;
    width: 73px;
    float: left;
    padding-right: 3px;
    line-height: 34px;
}
.pos-shop select {
   width: 68%;
    padding: 2px 2px;
}
.pos-name select {
    padding: 2px 2px;
	width:68%;
}
.btn-section {
    float: left;
    width: 100%;
	margin-top: 10px;
}
.btn-report {
    float: left;
    width: 50%;
}
.tax-wise-sale-report-heading {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.bill-section {
    float: left;
    width: 100%;
	margin-top:10px
}
.bill-section select {
    padding: 2px;
    width:68%;
}
.bill-section span {
    float: left;
    width: 73px;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.btn-section input {
    margin-right: 10px;
}
.pay-section{
	float:left;
	width:100%;
	margin-top:10px;
}
.pay-section span {
    font-weight: 700;
    width: 71px;
    float: left;
    padding-right: 3px;
    line-height: 34px;
}
.pay-section select {
   width: 68%;
    padding: 2px 2px;
}
.form-control
{
	font-size:13px !important;
}
.tax-wise-sale-rpt-cls
	{
		width: 100% !important;
		overflow: auto;
	}
.tax-wise-sale-rpt-cls table
{
	width:100%;
}
button#PrintButton {
	display: inline !important;
}
/*----responsive----*/
@media(max-width:393px)
{
	.radio-section span 
	{
		top: -5px;
	}
}
@media(max-width:480px)
{
    .tax-wise-sale-report-heading h2 {
        font-size: 26px;
    }
    .radio-section {
	    float: left;
	    width: 100%;
	    text-align: center;
    }
    .radio-section table {
	    margin: auto;
    }
    .date-part input {
	    width: 71%;
	    padding: 2px 2px;
	    box-sizing: border-box;
	    font-size: 12px;
    }
    .pos-section {
	    float: left;
	    width: 100%;
	    margin-top: 8px;
	    margin-bottom: 8px;
    }
    .btn-section {
		text-align: center;
    }
    .btn-report input {
	    float: right;
	    margin-right: 4px;
    }
    .btn-report button {
	    float: left;
	    margin-left: 4px;
    }
	.date-part span,.bill-section span {
		width: 73px;
	}
	.pos-shop span {
		width: 73px;
	}
	.pos-shop select {
		width: 71%;
	}
	.pos-name span {
		width: 73px;
	}
	.pos-name select {
		width: 71%;
	}
	.date-section {
		margin-top: 8px;
	}
	.date-part {
		float: left;
		width: 100%;
	}
	.bill-section select {
		width: 71%;
	}
	.date-part.part-two-date {
		margin-top:10px;
	}
}
@media(max-width:527px)
{
	.radio-section span {
		top: 0;
	}
}
@media (min-width:481px) and (max-width:767px)
{
    .radio-section {
	    float: left;
	    width: 100%;
	    text-align: center;
    }
    .radio-section table {
	    margin: auto;
    }
     .pos-section {
	    float: left;
	    width: 100%;
	    margin-top: 8px;
	    
    }
    .btn-section {
		text-align: center;
    }
    .btn-report input {
	    float: right;
	    margin-right: 4px;
    }
    .btn-report button {
	    float: left;
	    margin-left: 4px;
    }
	.date-part input {
		width: 83%;
	}
	.date-part span {
		width: 73px;
	}
	.pos-shop span {
		width: 73px;
	}
	.pos-name span {
		width: 73px;
	}
	.bill-section select {
		width: 80%;
	}
	.date-part input {
		width: 60%;
	}
	.date-section {
		margin-top: 8px;
	}
	.pos-shop select {
		width: 80%;
	}
	.pos-name select {
		padding: 2px 2px;
		width: 80%;
	}
	.pay-section select {
		width: 80%;
		padding: 2px 2px;
	}
}
@media(max-width:991px)
{
	.tax-wise-sale-rpt-cls table tr:nth-child(5) td:nth-child(3) div {
		height: auto !important;
	}
}

@media (min-width:768px) and (max-width:991px)
{
    .radio-section table tr td label {
	    font-size: 11px;
    }
    .radio-section {
	    float: left;
	    width: 100%;
	    text-align: center;
    }
    .date-part input {
		width: 56%;
		padding: 0px 2px;
	}
	.bill-section select {
		padding: 2px;
		width: 67%;
	}
	.pos-shop select {
		width: 66%;
	}
	.pos-name select {
		width: 67%;
	}
	.tax-sale-report-cst-col
	{
		width:50%;
	}
	.bill-section span,.pos-shop span {
		width: 73px;
	}
	.date-part.part-one-date span,.pos-name span {
		width: 71px;
	}
	.pay-section select {
		width: 64%;
		padding: 2px 2px;
	}
	.date-section {
		margin-top: 10px;
	}
	.date-col,.branch-col {
		width: 65%;
	}
	.bill-mode-col, .pos-col {
		width: 35%;
	}
}
@media (min-width:992px) and (max-width:1024px)
{
    .date-part input {
		width: 72%;
		font-size:12px;
	}
	.bill-section select {
		width: 71%;
		font-size:12px;
	}
	.pos-shop select {
		width: 66%;
		font-size:12px;
	}
	.pos-name select {
		width: 71%;
		font-size:12px;
	}
	.pay-section select {
		width: 70%;
		padding: 2px 2px;
		font-size:12px;
	}
	.date-col {
		width: 40%;
	}
	.pos-col {
		width: 26%;
	}
}
@media (min-width:1025px) and (max-width:1200px)
{
    .date-part input {
		width: 72%;
		font-size:12px;
	}
	.bill-section select {
		width: 71%;
		font-size:12px;
	}
	.pos-shop select {
		width: 66%;
		font-size:12px;
	}
	.pos-name select {
		width: 71%;
		font-size:12px;
	}
	.pay-section select {
		width: 70%;
		padding: 2px;
		font-size:12px;
	}
	.date-col {
		width: 40%;
	}
	.pos-col {
		width: 26%;
	}
}
/*----responsive----*/