﻿.user-wise-sale-return-report-top-panel {
    float: left;
    width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.form-control
{
	font-size:13px !important;
}
.user-wise-sale-retutn-return-branch-section
{
	float: left;
    width: 100%;
}
.user-wise-sale-retutn-return-branch-section span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.user-wise-sale-retutn-return-branch-section select {
	width:77%;
	padding:3px;
}
.user-wise-sale-retutn-return-user-section
{
	float: left;
    width: 100%;
}
.user-wise-sale-retutn-return-user-section span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.user-wise-sale-retutn-return-user-section select {
    width: 74%;
	padding:3px;
}
.user-wise-sale-retutn-return-pos-section
{
	float: left;
    width: 100%;
}
.user-wise-sale-retutn-return-pos-section span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.user-wise-sale-retutn-return-pos-section select {
    width: 75%;
	padding:3px;
}
.user-wise-sale-retutn-return-date-section {
    float: left;
    width: 100%;
}
.user-wise-sale-retutn-return-date-part {
    float: left;
    width: 50%;
}
.user-wise-sale-retutn-return-date-part span{
	float: left;
    width: auto;
    font-weight: 700;
    padding-right: 3px;
    box-sizing: border-box;
    line-height: 34px;
}
.user-wise-sale-retutn-return-date-part input {
    width: 69%;
    padding: 3px;
}
.user-wise-sale-retutn-return-button-section
{
	float: left;
    width: 100%;
}
.user-wise-sale-retutn-return-button-section input:hover
{
	color:#fff;
}
.user-wise-sale-return-rpt-tool-div {
    float: left;
    width: 100%;
}
/*----responsive----*/
@media(max-width:480px) {
	.user-wise-sale-return-head {
		font-size: 21px;
	}

	.user-wise-sale-retutn-return-branch-section span, .user-wise-sale-retutn-return-user-section span,
	.user-wise-sale-retutn-return-pos-section span, .user-wise-sale-retutn-return-date-part span {
		width: 57px
	}

	.user-wise-sale-retutn-return-user-section select {
		width: 77%;
	}

	.user-wise-sale-retutn-return-pos-section select {
		width: 77%;
	}
	.user-wise-sale-retutn-return-date-part input {
		width: 54%;
	}
	.form-control
	{
		font-size:12px !important;
	}
	.user-wise-sale-retutn-return-button-section {
		text-align: center;
	}
	.user-wise-sale-retutn-return-branch-section, .user-wise-sale-retutn-return-user-section,
	 .user-wise-sale-retutn-return-pos-section, .user-wise-sale-retutn-return-date-section {
		margin-bottom: 8px;
	}

	.user-wise-sale-return-rpt-tool-div {
		overflow-x: auto;
	}
	#frm .user-wise-sale-return-rpt-tool-div table.user-wise-sale-return-toolbar {
		float: left;
		width: 800px !important;
	}

}
@media(min-width:481px) and (max-width:567px) {
	#frm .user-wise-sale-return-rpt-tool-div table.user-wise-sale-return-toolbar {
		float: left;
		width: 800px !important;
	}
}
@media(min-width:481px) and (max-width:767px) {
	.user-wise-sale-retutn-return-branch-section span, .user-wise-sale-retutn-return-user-section span,
	.user-wise-sale-retutn-return-pos-section span, .user-wise-sale-retutn-return-date-part span {
		width: 60px
	}

	.user-wise-sale-retutn-return-user-section select {
		width: 77%;
	}

	.user-wise-sale-retutn-return-pos-section select {
		width: 77%;
	}
	.user-wise-sale-retutn-return-date-part input {
		width: 54%;
	}
	
	.user-wise-sale-retutn-return-button-section {
		text-align: center;
	}
	.user-wise-sale-retutn-return-branch-section, .user-wise-sale-retutn-return-user-section,
	 .user-wise-sale-retutn-return-pos-section, .user-wise-sale-retutn-return-date-section {
		margin-bottom: 8px;
	}

	.user-wise-sale-return-rpt-tool-div {
		overflow-x: auto;
	}
	

}

@media(max-width:767px)
{
	.user-wise-sale-return-mob-section
	{
		display:none;
		float: left;
		width: 100%;
		margin-top: 10px;
		background: #fff;
		padding: 10px 0;
	}
	.accordion:after {
	  content: '\002B';
	  color: #fff;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}
	#user-sale-rtn-mob-rpt
	{
		margin-bottom: 0;
		font-weight: 700;
		width: 100%;
		text-align: left;
		border-radius: 0;
		text-transform: uppercase;
	}
}
@media(min-width:768px)
{
	#user-sale-rtn-mob-rpt
	{
		display:none;
	}
}

@media(min-width:768px) and (max-width:991px)
{
	.user-wise-sale-return-report-cst-col
	{
		width:50%;
		margin-bottom:10px;
	}
	.user-wise-sale-return-report-cst-btn-col
	{
		width:100%;
		text-align:center;
	}
	.user-wise-sale-retutn-return-pos-section span {
		width: 57px;
	}
	.user-wise-sale-retutn-return-pos-section select {
		width: 77%;
	}
	.user-wise-sale-retutn-return-date-part input {
		width: 63%;
	}
	.user-wise-sale-retutn-return-user-section select {
		width: 77%;
	}

}	

@media(min-width:992px) and (max-width:1200px)
{
	.form-control {
		font-size: 12px !important;
	}
	.user-wise-sale-retutn-return-branch-section select {
		width: 71%;
		padding: 0px;
	}
	.user-wise-sale-retutn-return-user-section select {
		width: 67%;
		padding: 0px;
	}
	.user-wise-sale-retutn-return-pos-section select {
		width: 70%;
		padding: 0px;
	}
	.user-wise-sale-retutn-return-date-part input {
		width: 62%;
		padding: 0px;
	}
	.user-wise-sale-retutn-return-date-part span {
		padding-right: 1px;
	}
	.branch-col {
		width: 29%;
	}
	.user-col {
		width: 20%;
	}
	.pos-col {
		width: 20%;
	}
	.date-col {
		width: 31%;
	}
	.btn-col {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
}

/*----responsive----*/