﻿div#gbox_jQGridDemoBill {
    width: 100% !important;
}
div#gview_jQGridDemoBill {
    width: 100% !important;
}
div#t_jQGridDemoBill {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox {
    float: left;
    padding-right: 0;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemoBill {
    width: 100% !important;
    overflow-x: auto;
}
div#jQGridDemoPagerBill {
    width: 100% !important;
    overflow-x: auto;
}
.ui-widget-header {
    background: #1479B8;
}

table#myCustomTable tr:last-child td {
    font-size: 17px;
	font-weight:700;
	width:135px !important;
}
table#myCustomTable tr td:first-child {
    width: 90% !important;
}
.main_td_right #myCustomTable td {
    width: 48px;
}
td.net-amt-val div {
    color: black;
    text-shadow: 1px 1px 0px #f06671;
    font-weight: 700;
    font-size: 18px;
}
.nbscreen_itemcode {
    margin: 0 0 0 18px !important;
    width: 100px !important;
    border: 2px solid #f06671  !important;
    font-size: 16px !important;
    padding: 15px 5px !important;
    text-align: left !important;
    float: unset;
}

#tbProductInfo td.td_itemcode {
    text-align: left !important;
}
td.code-cls {
    text-align: left !important;
}
.ui-keyboard-has-focus {
    z-index: 16001;
    top: 25% !important;
    left: 25% !important;
}

/*.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-labelledby="ui-id-2"] {
    width: 800px !important;
    top: 5% !important;
    left: 0% !important;
    z-index: 99;
}*/
.add-pop,.search-pop{
	 z-index: 99 !important;
}
 .ui-widget button {
  
    font-size: 1.4em;
}
.button-tbl {
    float: left;
    width: 100%;
}
.nbscreen_cate1 table.buttons {
    width: 100%;
    margin: 0 15px 0 0; 
    float: left; 
    border-left: 0px solid #00000045; 
}
.buttons td {
    display: table-cell;
}
.nbscreen_product_list .leftside table {
    width: 100%;
}
.table_and_shortkey {
    width: 60%;
    float: left;
    border-right: 2px solid #aaa;
}
.leftside th:nth-child(2) {
    width: 250px;
}
#tbProductInfo tr td:nth-child(2) {
    width: 250px;
}
.product_table {
    height: 409px;
}
.right_col {
    min-height: unset;
}
div#t_jQGridDemoBill {
    padding-bottom: 26px;
}
p.back_short_key {
   padding: 0px 27px;
}
.buttons .button1 {
    width: 96%;
    text-align: center;
    height: 50px;
	font-size:15px;
	text-transform:uppercase;
}
table.buttons td {
    float: left;
    width: 20%;
}
.keboard-side {
    float: left;
    width: 39%;
}
.keyboard-div {
    float: left;
    width: 100%;
    padding: 10px; 
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 3px;
    overflow: hidden;
}
.alpha-key {
    float: left;
    width: 100%;
    overflow: hidden;

}
.alpha-key button {
    width: 47px;
    margin-right: 0;
    font-size: 22px;
	border-radius:4px;
}
button#enter-btn {
    width: 166px !important;
    border-radius: 4px;
}
.special-keys {
    float: left;
    width: 50%;
    padding-right: 5px;
    box-sizing: border-box;
}
button#bk-btn {
    width: 100%;
}
button#space-btn {
    width: 100%;
}
button#del-btn {
    width: 100%;
}
.num-keys {
    float: left;
    width: 50%;
}
.num-keys button {
    width: 32% !important;
}
.qutery-key {
    float: left;
    width: 100%;
}
tr#vatIncOrExc td {
    text-align: left !important;
}

div#dvOuter_ddlMobSearchBox {
    width: 100% !important;
	min-width:auto !important;
}
.nbscreen_cate2 #tbamountinfo .main_td {
    padding: 0 10px;
   
}
.left-tbl-pan {
    float: left;
    width: 60%;
}
.right-tbl-pan {
    float: left;
    width: 40%;
    padding-left: 10px;
    box-sizing: border-box;
}
.user-img-div {
    float: left;
    width: 15%;
    text-align: right;
}
img#btn_add_newcst {
    width: 38px;
    height: 38px;
    margin-top: 0px;
}

.nbscreen_cate2 #tbamountinfo .main_td_right {
   
    float: left;
    padding: 0 10px;
    border-left: 2px solid #fff;
}
.phn-div {
    float: left;
    width: 100%;
}
.left-tbl-pan .user_btn_bottom {
    width: 100%;
    float: left;
}
.main_td_right #myCustomTable {
    width: 100%;
 }
.prefix-inp input#cm_Name {
    float: right;
    width: 87% !important;
    position: relative;
    right: 0;
}
.form-div .form-control {
    margin: 3px 0;
}
.sec-input {
    position: relative;
}
span.fa.fa-plus.city-plus {
    position: absolute;
    top: 7px;
    padding-left: 3px;
    box-sizing: border-box;
}
.add-pop {
    left: 10% !important;
    top: 17% !important;
    width: 550px !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
    left: 2% !important;
    width: 56% !important;
    top: 17% !important;
}
div#CustomerDialog .form-div {
	margin-bottom: 0px;
}
input#txtcshcustomer {
	width: 100%;
	font-size:16px;
}
input#txtcshcustomer {
    height: 40px;
}
input#txtcshcustomer {
	width: 100%;
	color: #333;
}
input#txtpnno {
    font-size: 16px !important;
    width: 70% !important;
	height:40px;
}
.user-search-div {
	float: left;
	width: 70%;
}
.search-icn {
	float: left;
	width: 15%;
	padding: 4px;
	box-sizing: border-box;
	font-size: 30px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcredit-pop {
    width: auto !important;
    left: 10% !important;
    z-index: 99;
    top: 17% !important;
}
div#dvCreditCustomerSearch .leftside {
    background: #1479B8;
    float: left;
    width: 100%;
    margin-top: 0;
}
div#dvCreditCustomerSearch .cate {
    float: left;
    width: 100%;
    padding-top: 0;
    box-sizing: border-box;
	overflow-x:auto;
}
div#gbox_jQGridDemoCredit {
    margin-bottom: 10px;
    width: 100% !important;
}
div#gview_jQGridDemoCredit {
    width: 100% !important;
}
table#jQGridDemoCredit {
    width: 100% !important;
    overflow: auto;
}
div#jQGridDemoPagerCredit {
    width: 100% !important;
    overflow-x: auto;
}
#tbProductInfo input {
	width: 100%;
	text-align: center;
}
#search_item .ui-jqgrid-titlebar.ui-widget-header.ui-corner-top.ui-helper-clearfix {
    display: none;
}
div#gbox_jQGridDemoItem {
    width: 100% !important;
}
div#gview_jQGridDemoItem {
    width: 100% !important;
}
div#t_jQGridDemoItem {
    width: 100% !important;
    height: 27px;
}
table#jQGridDemoItem {
    width: 100% !important;
    overflow: auto;
}
div#jQGridDemoPagerItem {
    width: 100% !important;
    overflow: auto;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwin-pop {
    left: 13% !important;
    width: auto !important;
    top: 17% !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
    width: 300px !important;
    left: 19% !important;
    top: 30% !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
    left: 12% !important;
    top: 17% !important;
    width: auto !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvCashCustSearch-pop {
    width: 50% !important;
    left: 5% !important;
    top: 25% !important;
}
div#gbox_jQGridDemoCash {
    width: 100% !important;
}
div#gview_jQGridDemoCash {
    width: 100% !important;
}
table#jQGridDemoCash {
    width: 100% !important;
	overflow-x:auto;
}
div#jQGridDemoPagerCash {
    width: 100% !important;
    overflow-x: auto;
}
div#dvCashCustomerSearch {
    width: 100% !important;
}
div#dvCashCustomerSearch .cate{
	overflow-x:auto;
}
table#jQGridDemoItem tr td:nth-child(2), table#jQGridDemoItem tr td:first-child {
	text-align: left !important;
}
.search-pop div#t_jQGridDemoItem {
	width: 100% !important;
	height: 36px;
}
.search-pop div#t_jQGridDemoItem label {
	position: relative;
	top: -6px;
}
.search-pop input#globalSearchText3 {
	height: 34px;
	font-size: 22px;
	padding: 0;
	margin: 0;
}
.search-pop button#globalSearch3 {
	height: 34px;
	width: 34px;
	position: relative;
	top: -5px;
}
.search-pop div#jQGridDemoPagerItem {
	width: 100% !important;
	overflow: auto;
	height: 50px;
}
.search-pop table.ui-pg-table {
	font-size: 18px;
}
.search-pop select.ui-pg-selbox {
	height: 25px !important;
}
.search-pop input.ui-pg-input {
	height: 25px !important;
}
.search-pop table#jQGridDemoItem tr {
	height: 30px !important;
}
.search-pop table#jQGridDemoItem td {
	font-size: 16px;
}
.search-pop table#jQGridDemoItem tr.jqgfirstrow {
	height: auto !important;
}
.search-pop table.ui-jqgrid-htable tr {
	height: 35px;
}
.search-pop table.ui-jqgrid-htable th {
	font-size: 16px;
}
.search-pop .ui-jqgrid .ui-jqgrid-htable th div {
	
	height: 24px !important;
}
table#tbProductInfo tr td:first-child {
    padding-left: 15px;
    box-sizing: border-box;
}
.both_amount ul li:first-child p {
    width: auto;
}
.search-pop td#first_jQGridDemoPagerItem {
    border: 1px solid #fbcb09;
    background: #fdf5ce;
    float: left;
    height: 40px !important;
    padding: 10px;
}
td#prev_jQGridDemoPagerItem,td#next_jQGridDemoPagerItem,td#last_jQGridDemoPagerItem {
	 border: 1px solid #fbcb09;
    background: #fdf5ce;
    float: left;
    height: 40px !important;
    padding: 10px;
}
td#jQGridDemoPagerItem_center {
    width: 380px !important;
}
.nbscreen_cate2 #tbamountinfo .main_td {
    width: 60%;
}
.nbscreen_cate2 #tbamountinfo .main_td_right {
    width: 40%;
}
.item_numbers table td {
    width: 95px;
}
.both_amount ul li:first-child {
    width: 95px;
}
#tbProductInfo td {
    text-align: center;
}
/*----responsive----*/
@media(max-width:480px){
	input#txtDateFrom, input#txtDateTo {
		width: 90px !important;
	}
	table.btn-tbl td {
		float: left;
	}
}
@media(min-width:481px) and (max-width:667px){
	table.btn-tbl td {
		float: left;
	}
}
@media(min-width:668px) and (max-width:767px){
	.num-keys button {
		width: 31% !important;
	}
	button#enter-btn {
		width: 65% !important;
    }
	.alpha-key button {
		width: 15.4%;
	}
	.keyboard-div {
      width: 98%;
    }
	.left-tbl-pan {
		float: left;
		width: 100%;
	}
	.right-tbl-pan {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	.main_td .item_numbers {
		width: 100%;
		padding: 0;
	}
	.both_amount ul li p {
		font-size: 14px;
	}
	.buttons .button1 {
	    font-size: 14px;
	}
	table#myCustomTable tr td:first-child {
		width: 100% !important;
	}
	input#txtBillQty, input#txtBillPrice, input#txtMaxRetailPrice {
		width:100%;
	}	
	table#tbProductInfo td {
		font-size: 11px !important;
	}	
	.main_td table td {
		font-size: 14px;
	}
	.main_td span {
		font-size: 14px;
	}
	.both_amount ul li p span {
		font-size: 17px;
	}
	.main_td_right #myCustomTable td {
		font-size: 11px;
	}
	table.buttons td {
		float: left;
		width: 33%;
	}
	.product_table {
		height: 450px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwin-pop {
		left: 0% !important;
		top: 22% !important;
		width: 60% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcredit-pop {
		left: 0% !important;
		top: 22% !important;
		width: 60% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
	    left: 8% !important;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		left: 0% !important;
		top: 22% !important;
		width: 60% !important;
	}
	.add-pop {
		left: 0% !important;
		top: 22% !important;
		width: 401px !important;
	}
	.sec-input select#cm_ddlCities {
		 width: 82px !important;
	}
	.sec-input input#cm_Pincode {
		width: 95px;
	}
	.sec-input input#cm_EmailId {
		width: 95px !important;
	}
	.sec-input input#cm_Tag {
		width: 95px;
	}
	.sec-input input#cm_DOA {
		margin-left: 0;
		width: 95px;
	}
	.prefix-inp select {
		width: 19%;
	}
	.prefix-inp input#cm_Name {
		width: 80% !important;
	}	
	.user-search-div {
        width: 50%;
	}
	input#txtpnno {
       width: 50% !important;
    }
	div#t_jQGridDemoItem input {
		width: 60%;
	}
	#tbProductInfo td {
		text-align: left;
	}
}

@media(min-width:768px) and (max-width:991px){
	.keyboard-div {
       width: 98%;
    }
	.num-keys button {
		width: 31% !important;
	}
	button#enter-btn {
		width: 65% !important;
	}
	.alpha-key button {
		width: 15.5%;
	}
	table.buttons td {
		float: left;
		width: 25%;
	}
	.left-tbl-pan {
		float: left;
		width: 100%;
	}
	.right-tbl-pan {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	.main_td .item_numbers {
		width: 82%;
		padding: 0;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	table#myCustomTable tr td:first-child {
		width: 100% !important;
	}
	input#txtBillQty, input#txtBillPrice, input#txtMaxRetailPrice {
		width:100%;
	}	
	table#tbProductInfo td {
		font-size: 12px;
	}	
	.form-lbl {
		width: 17%;
	}	
	.form-inp {
		float: left;
		width: 83%;
	}	
	.prefix-inp select {
		width: 15%;
	}
	.prefix-inp input#cm_Name {
	    width: 82% !important;
    }	
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwin-pop {
		left: 0% !important;
		top: 22% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcredit-pop {
		left: 0% !important;
		top: 22% !important;
		width: 60% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
	    left: 15% !important;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		left: 0% !important;
		top: 22% !important;
		width: 60% !important;
	}
	.add-pop {
		left: 0% !important;
		top: 22% !important;
		width: 461px !important;
	}
	.sec-input select#cm_ddlCities {
		 width: 95px !important;
	}
	.sec-input input#cm_Pincode {
		width: 109px;
	}
	.sec-input input#cm_EmailId {
		width: 109px !important;
	}
	.sec-input input#cm_Tag {
		width: 109px;
	}
	.sec-input input#cm_DOA {
		margin-left: 0;
		width: 109px;
	}
	.buttons .button1 {
       font-size: 13px;
	}		
	.search-pop div#t_jQGridDemoItem input {
		width: 50%;
	}
	.user-search-div {
		float: left;
		width: 56%;
	}
	input#txtpnno {
      width: 56% !important;
	}
	.main_td table td {
		font-size: 14px;
	}
	.both_amount ul li p {
		font-size: 17px;
	}
	.both_amount ul li:first-child {
		width: 105px;
	}
	.main_td span {
	  font-size: 14px;
      line-height: 24px;
	}
	#tbProductInfo td {
		text-align: left;
	}
}
@media(min-width:992px) and (max-width:1024px){
	button#enter-btn {
		width: 66% !important;
	}
	.keyboard-div {
       width: 99%;
	}
	input#txtBillQty,input#txtBillPrice,input#txtMaxRetailPrice {
		width: 100% !important;
	}
	.main_td .item_numbers {
		width: 100%;
		padding-left:0;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li {
		padding: 0 4px 0 0;
	}
	.both_amount ul li p span {
		font-size: 12px;
		line-height: 18px;
	}
	img#btn_add_newcst {
		width: 33px;
		height: 33px;
		 margin-left: 5px;
	}
	.main_td_right #myCustomTable td {
		width: 34px;
	}
	table#myCustomTable tr td:first-child {
		width: 100px !important;
	}
	table#myCustomTable tr:last-child td {
		 font-size: 13px;
    }
	.main_td table td {
		font-size: 12px;
	}
	.both_amount ul li p {
		font-size: 12px;
	}
	.product_table {
		height: 409px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwin-pop {
		left: 7% !important;
		top: 19% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcredit-pop {
	    left: 3% !important;
		top: 19% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
	    left: 15% !important;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		left: 7% !important;
		top: 19% !important;
	}
	.add-pop {
		left: 2% !important;
		top: 19% !important;
    }
	.buttons .button1 {
		font-size: 13px;
		padding-left: 0;
		padding-right: 0;
	}
	.nbscreen_product_list .leftside th:first-child {
		padding-left: 10px;
		box-sizing: border-box;
	}
	.both_amount ul li:first-child {
		width: 70px;
	}
	/*----grid----*/
		th#jQGridDemoItem_Item_Code {
			width: 135px !important;
		}
		th#jQGridDemoItem_Item_Name {
			width: 200px !important;
		}
		th#jQGridDemoItem_Max_Retail_Price {
			width: 90px !important;
		}
		th#jQGridDemoItem_Sale_Rate {
			width: 90px !important;
		}
		table#jQGridDemoItem tr td:first-child {
			width: 140px !important;
		}
		table#jQGridDemoItem tr td:nth-child(2) {
			width: 208px !important;
		}
		table#jQGridDemoItem tr td:nth-child(3) {
			width: 93px !important;
		}
		table#jQGridDemoItem tr td:nth-child(4) {
			width: 93px !important;
		}
		td#jQGridDemoPagerItem_center {
			width: 340px !important;
		}
		.search-pop td#first_jQGridDemoPagerItem,td#prev_jQGridDemoPagerItem, td#next_jQGridDemoPagerItem, td#last_jQGridDemoPagerItem {
		    padding: 6px;
			height: 30px !important;
		}
		.search-pop .ui-jqgrid .ui-pg-table td, .search-pop .ui-jqgrid .ui-paging-info {
		    font-size: 14px;
		}
		.search-pop div#jQGridDemoPagerItem {
		    height: 34px;
		}
	/*----grid----*/
	/*----amount----*/
		table#myCustomTable tr:first-child td:nth-child(2) {
			width: 122px;
			text-align: right;
		}
		table#myCustomTable tr:nth-child(6) td:nth-child(2) {
			width: 120px;
			text-align: right;
		}
		table#myCustomTable tr:nth-child(7) td:nth-child(2) {
			width: 123px;
			text-align: right;
		}
		table#myCustomTable tr:nth-child(3) td:nth-child(2) {
			width: 36px;
		}
		table#myCustomTable tr:nth-child(3) td:nth-child(4) {
			width: 50px;
			text-align: right;
		}
	/*----amount----*/
	#tbProductInfo td {
		text-align: left;
	}
}
@media(min-width:1025px) and (max-width:1100px){
	button#enter-btn {
		width: 66% !important;
	}
	.keyboard-div {
       width: 99%;
	}
	input#txtBillQty,input#txtBillPrice,input#txtMaxRetailPrice {
		width: 100% !important;
	}
	.main_td .item_numbers {
		width: 100%;
		padding-left:0;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li {
		padding: 0 4px 0 0;
	}
	.both_amount ul li p span {
		font-size: 13px;
		padding: 0;
		margin-top: -5px;
	}
	img#btn_add_newcst {
		margin-top: 5px;
		margin-left: 3px;
		width: 34px;
		height: 34px;
	}
	.main_td_right #myCustomTable td {
		width: 48px;
	}
	table#myCustomTable tr:last-child td {
		font-size: 13px;
	}
	.nbscreen_cate2 #tbamountinfo .main_td_right {
       padding: 0;
	}
	.main_td table td {
		font-size: 12px;
	}
	.main_td span {
		font-size: 12px;
	}
	.both_amount ul li:first-child {
		width: 75px;
	}
	.both_amount ul li p {
		font-size: 13px;
	}
	.both_amount {
       padding: 0px 0 0;
	}
	.product_table {
		height: 350px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwin-pop {
		left: 8% !important;
		top: 19% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcredit-pop {
	    left: 3% !important;
		top: 19% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
	    left: 15% !important;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		left: 7% !important;
		top: 19% !important;
	}
	.add-pop {
		left: 3% !important;
		top: 19% !important;
    }
	.buttons .button1 {
		font-size: 13px;
	}
	.nbscreen_product_list .leftside th:first-child {
		padding-left: 10px;
		box-sizing: border-box;
	}
	/*----grid----*/
		th#jQGridDemoItem_Item_Code {
			width: 135px !important;
		}
		th#jQGridDemoItem_Item_Name {
			width: 200px !important;
		}
		th#jQGridDemoItem_Max_Retail_Price {
			width: 90px !important;
		}
		th#jQGridDemoItem_Sale_Rate {
			width: 90px !important;
		}
		table#jQGridDemoItem tr td:first-child {
			width: 140px !important;
		}
		table#jQGridDemoItem tr td:nth-child(2) {
			width: 208px !important;
		}
		table#jQGridDemoItem tr td:nth-child(3) {
			width: 93px !important;
		}
		table#jQGridDemoItem tr td:nth-child(4) {
			width: 93px !important;
		}
		td#jQGridDemoPagerItem_center {
			width: 340px !important;
		}
		.search-pop td#first_jQGridDemoPagerItem,td#prev_jQGridDemoPagerItem, td#next_jQGridDemoPagerItem, td#last_jQGridDemoPagerItem {
		    padding: 6px;
			height: 30px !important;
		}
		.search-pop .ui-jqgrid .ui-pg-table td, .search-pop .ui-jqgrid .ui-paging-info {
		    font-size: 14px;
		}
		.search-pop div#jQGridDemoPagerItem {
		    height: 34px;
		}
	/*----grid----*/
}
@media(min-width:1101px) and (max-width:1200px){
	button#enter-btn {
		width: 66% !important;
	}
	.keyboard-div {
       width: 99%;
	}
	input#txtBillQty,input#txtBillPrice,input#txtMaxRetailPrice {
		width: 100% !important;
	}
	.main_td .item_numbers {
		width: 100%;
		padding-left:0;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li {
		padding: 0 4px 0 0;
	}
	.both_amount ul li p span {
		font-size: 14px;
		padding: 0;
		margin-top: -5px;
	}
	img#btn_add_newcst {
		margin-top: 0px;
		margin-left:5px;
	}
	.main_td_right #myCustomTable td {
		width: 46px;
	}
	.main_td table td {
		font-size: 13px;
	}
	.main_td span {
		font-size: 13px;
		padding-left:6px;
	}
	.both_amount ul li p {
		font-size: 14px;
	}
	.both_amount {
       padding: 0px 0 0;
	}
	.product_table {
		height: 453px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwin-pop {
		left: 10% !important;
		top: 19% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcredit-pop {
	    left: 5% !important;
		top: 19% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
	    left: 15% !important;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		left: 10% !important;
		top: 19% !important;
	}
	.add-pop {
		left: 5% !important;
		top: 19% !important;
    }
	.buttons .button1 {
		font-size: 14px;
		padding-left: 0;
		padding-right: 0;
	}
	.nbscreen_product_list .leftside th:first-child {
		padding-left: 10px;
		box-sizing: border-box;
	}
	.nbscreen_cate2 #tbamountinfo .main_td_right {
        padding: 0;
    }
	.both_amount ul li:first-child {
		width: 80px;
	}
	/*----grid----*/
		th#jQGridDemoItem_Item_Code {
			width: 135px !important;
		}
		th#jQGridDemoItem_Item_Name {
			width: 200px !important;
		}
		th#jQGridDemoItem_Max_Retail_Price {
			width: 90px !important;
		}
		th#jQGridDemoItem_Sale_Rate {
			width: 90px !important;
		}
		table#jQGridDemoItem tr td:first-child {
			width: 140px !important;
		}
		table#jQGridDemoItem tr td:nth-child(2) {
			width: 208px !important;
		}
		table#jQGridDemoItem tr td:nth-child(3) {
			width: 93px !important;
		}
		table#jQGridDemoItem tr td:nth-child(4) {
			width: 93px !important;
		}
		td#jQGridDemoPagerItem_center {
			width: 340px !important;
		}
		.search-pop td#first_jQGridDemoPagerItem,td#prev_jQGridDemoPagerItem, td#next_jQGridDemoPagerItem, td#last_jQGridDemoPagerItem {
		    padding: 6px;
			height: 30px !important;
		}
		.search-pop .ui-jqgrid .ui-pg-table td, .search-pop .ui-jqgrid .ui-paging-info {
		    font-size: 14px;
		}
		.search-pop div#jQGridDemoPagerItem {
		    height: 34px;
		}
	/*----grid----*/
}
@media(min-width:1201px) and (max-width:1300px){
	button#enter-btn {
		width: 66% !important;
	}
	input#txtBillQty,input#txtBillPrice,input#txtMaxRetailPrice {
		width: 100% !important;
	}
	.main_td .item_numbers {
		width: 100%;
		padding-left:0;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li {
		padding: 0 4px 0 0;
	}
	.both_amount ul li p span {
		font-size: 15px;
		padding: 0;
		margin-top: -5px;
	}
	.main_td_right #myCustomTable td {
		width: 49px;
	}
	.main_td table td {
		font-size: 14px;
	}
	.both_amount ul li p {
		font-size: 15px;
	}
	.both_amount {
       padding: 0px 0 0;
	}
	.both_amount ul li:first-child {
		width: 86px;
	}
	.buttons .button1 {
        font-size: 14px;
	}
	/*----grid----*/
		th#jQGridDemoItem_Item_Code {
			width: 135px !important;
		}
		th#jQGridDemoItem_Item_Name {
			width: 200px !important;
		}
		th#jQGridDemoItem_Max_Retail_Price {
			width: 90px !important;
		}
		th#jQGridDemoItem_Sale_Rate {
			width: 90px !important;
		}
		table#jQGridDemoItem tr td:first-child {
			width: 140px !important;
		}
		table#jQGridDemoItem tr td:nth-child(2) {
			width: 208px !important;
		}
		table#jQGridDemoItem tr td:nth-child(3) {
			width: 93px !important;
		}
		table#jQGridDemoItem tr td:nth-child(4) {
			width: 93px !important;
		}
		td#jQGridDemoPagerItem_center {
			width: 340px !important;
		}
		.search-pop td#first_jQGridDemoPagerItem,td#prev_jQGridDemoPagerItem, td#next_jQGridDemoPagerItem, td#last_jQGridDemoPagerItem {
		    padding: 6px;
			height: 30px !important;
		}
		.search-pop .ui-jqgrid .ui-pg-table td, .search-pop .ui-jqgrid .ui-paging-info {
		    font-size: 14px;
		}
		.search-pop div#jQGridDemoPagerItem {
		    height: 34px;
		}
	/*----grid----*/
}
@media(min-width:1201px) and (max-width:1204px){
	.product_table {
		height: 350px;
	}
}
@media(min-width:1301px) and (max-width:1324px){
	button#enter-btn {
		width: 66% !important;
	}
	.buttons .button1 {
       font-size: 14px;
    }
	/*----grid----*/
		th#jQGridDemoItem_Item_Code {
			width: 135px !important;
		}
		th#jQGridDemoItem_Item_Name {
			width: 200px !important;
		}
		th#jQGridDemoItem_Max_Retail_Price {
			width: 90px !important;
		}
		th#jQGridDemoItem_Sale_Rate {
			width: 90px !important;
		}
		table#jQGridDemoItem tr td:first-child {
			width: 140px !important;
		}
		table#jQGridDemoItem tr td:nth-child(2) {
			width: 208px !important;
		}
		table#jQGridDemoItem tr td:nth-child(3) {
			width: 93px !important;
		}
		table#jQGridDemoItem tr td:nth-child(4) {
			width: 93px !important;
		}
		td#jQGridDemoPagerItem_center {
			width: 340px !important;
		}
		.search-pop td#first_jQGridDemoPagerItem,td#prev_jQGridDemoPagerItem, td#next_jQGridDemoPagerItem, td#last_jQGridDemoPagerItem {
		    padding: 6px;
			height: 30px !important;
		}
		.search-pop .ui-jqgrid .ui-pg-table td, .search-pop .ui-jqgrid .ui-paging-info {
		    font-size: 14px;
		}
		.search-pop div#jQGridDemoPagerItem {
		    height: 34px;
		}
	/*----grid----*/
}
/*----responsive----*/