﻿table.code_search {
    margin: 6px 0 0;
}
tr#DelCharges {
    display: none !important;
}
table#tbamountinfo {
    margin-top: 70px !important;
}
.left-btn-div .button1 {
    font-size: 12px !important;
}
.Search.search_section input {
    width: 100% !important;
    padding: 0 10px !important;
    height: 34px !important;
    border: 1px solid #000 !important;
}
input#txtItemCode {
    float: right;
    position: relative;
    left: 0;
}
table.code_search {
    margin: 0px 0 0;
}
.qty-btn-div.cash-btns-div .button1 {
    font-size: 12px;
}
/*----responsive----*/
@media(max-width:480px){
	table#tbamountinfo {
		margin-top: 10px !important;
	}
	#products .box {
		width: 20%;
    }
	.amt-details-tbl {
		height: auto;
	}
	
}
@media(min-width:481px) and (max-width:567px){
	table#tbamountinfo {
		margin-top: 10px !important;
	}
	#products .box {
		width: 20%;
    }
	.amt-details-tbl {
		height: auto;
	}
	.Search #dvOuter_ddlMobSearchBox {
		width: 100% !important;
		margin-left: 0px !important;
	}
	table.code-tbl td:nth-child(2){
		position:relative;
		left:10px;
	}
	table.code-tbl td:first-child {
		width: 33%;
	}
}
@media(min-width:568px) and (max-width:579px){
	table.code-tbl td:first-child {
		width: 34%;
	}
}
@media(min-width:580px) and (max-width:667px){
	table.code-tbl td:first-child {
		width: 37%;
	}
}
@media(min-width:568px) and (max-width:667px){
	table#tbamountinfo {
		margin-top: 10px !important;
	}
	#products .box {
		width: 20%;
    }
	.amt-details-tbl {
		height: auto;
	}
	.Search #dvOuter_ddlMobSearchBox {
		width: 100% !important;
		margin-left: 0px !important;
	}
	table.code-tbl td:nth-child(2){
		position:relative;
		left:10px;
	}
}
@media(min-width:668px) and (max-width:767px){
	table#tbamountinfo {
		margin-top: 10px !important;
	}
	.product_items .cate {
		height: 310px !important;
	}
	#products .box {
		width: 20%;
    }
	.amt-details-tbl {
		height: auto;
	}
	table.code-tbl td:first-child {
		width: 37%;
	}
	.Search #dvOuter_ddlMobSearchBox {
		width: 100% !important;
		margin-left: 0px !important;
	}
	table.code-tbl td:nth-child(2){
		position:relative;
		left:10px;
	}
}
@media(min-width:768px) and (max-width:800px){
	table.code-tbl td:first-child {
		width: 31%;
	}
}
@media(min-width:801px) and (max-width:820px){
	table.code-tbl td:first-child {
		width: 32%;
	}
}
@media(min-width:821px) and (max-width:991px){
	table.code-tbl td:first-child {
		width: 33%;
	}
}
@media(min-width:768px) and (max-width:991px){
	.amt-details-tbl {
		height: auto;
	}
	.amt-details-tbl {
		height: auto;
	}
	.qty-btn-div.cash-btns-div .button1 {
		font-size: 8px;
	}
	.product_items .cate {
		height: 345px !important;
	}
	.bill_detail_screen div#products {
		height: 373px !important;
	}
	.Search table.code_search {
	   margin-top: 7px;
    }
	.Search #dvOuter_ddlMobSearchBox {
		width: 100% !important;
		margin-left: 0px !important;
	}
	table.code-tbl td:nth-child(2){
		position:relative;
		left:0px;
	}
	.search_section select {
        width: 60px !important;
		padding:0 !important
	}
}
@media(min-width:992px) and (max-width:1024px) {
	.bill_detail_screen div#colDvProductList {
		height: 347px !important;
		border-bottom: unset;
	}

	.product_items .cate {
		height: 430px !important;
		padding: 0;
	}

	.bill_detail_screen div#colProducts div#products {
		height: 454px !important;
	}

	.bill_detail_screen div#products {
		height: 349px !important;
	}

	.Search #dvOuter_ddlMobSearchBox {
		width: 100% !important;
		margin-left: 0px !important;
	}

	table.code-tbl td:first-child {
		width: 37%;
	}

	.qty-btn-div.cash-btns-div .button1 {
		font-size: 10px;
	}

	.search_section select {
		padding: 0 0px;
	}
}
@media(min-width:1025px) and (max-width:1100px){
    .product_items .cate {
	    height: 353px !important;
    }
	.Search #dvOuter_ddlMobSearchBox {
		width: 100% !important;
		margin-left: 0px !important;
	}
	table.code-tbl td:first-child {
		width: 37%;
	}
	.qty-btn-div.cash-btns-div .button1 {
		font-size: 10px;
	}	
	.search_section select {
        padding: 0 0px;
    }
}
@media(min-width:1101px) and (max-width:1200px){
    .product_items .cate {
	    height: 504px !important;
    }
	.bill_detail_screen div#colProducts div#products {
		height: 526px !important;
	}
	.Search #dvOuter_ddlMobSearchBox {
		width: 100% !important;
		margin-left: 0px !important;
	}
	table.code-tbl td:first-child {
		width: 32.5%;
	}
	.qty-btn-div.cash-btns-div .button1 {
		font-size: 11px;
	}
	p.show_date {
		width: 100%;
		float: left;
		font-size: 14px;
	}
}

@media (min-width:1201px) and (max-width:1310px){
   .product_items .cate {
		height: 353px !important;
	}
	.bill_detail_screen div#products {
		height: 356px !important;
	}
}
@media(min-width:1311px){
	.product_items .cate {
		height: 430px;
	}
}
@media(min-width:1311px) and (max-width:1320px){
	.product_items .cate {
		height: 344px !important;
	}
	.bill_detail_screen div#products {
		height: 365px !important;
	}
}
/*----responsive----*/