﻿table.code_search {
    width: 100%;
}
input#lblcustmobno {
    width: 100% !important;
}
input#txtItemCode {
    width: 100% !important;
}
input#txtorderno {
    width: 100% !important;
}
table.code-tbl {
    width: 100%;
}
table.code-tbl td:first-child {
    width: 40%;
}
table.code-tbl td:nth-child(2) {
    width: 10%;
}
table.code-tbl td:nth-child(3) {
    width: 40%;
}
table.code-tbl td:last-child {
    width: 10%;
}
div#dvOuter_ddlMobSearchBox {
    width: 100% !important;
}
input#txtSearch {
    width: 100% !important;
}