﻿.menu_tabs ul#categories::-webkit-scrollbar {width: 25px;}
.menu_tabs ul#categories::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.menu_tabs ul#categories::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}
.product_items .cate::-webkit-scrollbar {width: 25px;}
.product_items .cate::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.product_items .cate::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}
div#products::-webkit-scrollbar {width: 25px;}
div#products::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
div#products::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}
.menu_tabs ul li a {
    font-size: 10px;
    padding: 0 8px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid;
    border-bottom: 1px solid;
	overflow-wrap: anywhere;
}
p.show_date {
    color: #f00;
    font-weight: 600;
    padding: 0px 0;
    margin: 0px;
    font-size: 15px;
}
.menu_tabs .ancBasic {background: -webkit-linear-gradient(#1A82C3, #1A82C3);}
.menu_tabs .ancSelected {   background: -webkit-linear-gradient(#f06671, #f06671);}
.menu_tabs ul li {height: 34px !important;}
.search_section {background-color: #f06671  !important;
                 width: 100% !important; 
                 margin: 0 0px !important; 
                 padding: 6px 0 5px !important;
                 border: none !important;}
#MenuScroll .menu_tabs {
    margin: 0px 0 0 0;
    padding: 0px 0px;
    float: left;
    clear: both;
    width: 100%;
    background-color: #fff;
}

#tbProductInfo input {
    width: 70px;
    font-size: 15px;
    height: 27px;
    text-align:center;
}
#tbProductInfo #btnMinus {
    margin: 0px;
    vertical-align: middle;
    padding: 0px 0;
    font-size: 35px;
    line-height: 25px;
    border-radius: 0px;
}
#tbProductInfo #btnPlus {
    margin: 0px;
    vertical-align: middle;
    padding: 0px 0;
    font-size: 35px;
    line-height: 25px;
    border-radius: 0px;
}
product_items .leftside {margin: 0px;}
.product_items .cate {margin: 0px;overflow: auto;}
.bill_detail_screen {width: 100%; float: left; background-color: #fffff6; padding: 0px 0 0px;}
.reciept_detail tbody tr:nth-child(even) {background-color: #f9e4e6;}
.reciept_detail {background-color: #fff;box-shadow: 0px 0px 3px 0px #e36d75;}
.num_key .btn:focus {width: 45px; height: 45px;}
.sdfg label#lblcustmobno {
    padding: 6px 0px;
    width: auto;
    border: 0px;
    height: 35px;
    margin: 0 0 0 5px;
    float: right;
    position: absolute;
    z-index: 1000000;
    font-size: 17px;
    color: #000;
    background-color: #fff;}
    .button_options .button1 {
    transition: 0.5s;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    font-size: 10px;
    }
    .button_options .button3 {
    transition: 0.5s;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;}
.search_section select {
    height: 40px !important;
    font-size: 12px;
    width: 141px !important;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.bill_detail_screen div#colDvProductList {
    border: 1px solid #46c9ac;
    border-radius: 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
	height: 496px;
}
.button_options {
    width: 100%;
    float: left;
    margin: 0px 0 0;
        background-color: #fff;
}
.bill_detail_screen div#products {
    width: 100%;
    margin: 0px auto;
    border: 1px solid #46c9ac;
    height: 398px;
    border-radius: 0px;
    overflow: auto;
}
.change_paymode {
    left: 38%;
    top: 140px;
    width: 540px;
    box-shadow: 0px 5px 10px 0px #000;
    background-color: #fff;
    position: absolute !important;
}
.change_paymode .x_panel {
    padding: 0px;
    margin: 0px;
}
.change_paymode h2 {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    background-color: #52c9ae;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 0;
}
.change_paymode .bill_number {
    border-radius: 3px;
    padding: 0 5px;
    width: 70%;
    float: left;
}
.reciept_detail input {margin: 0px; height:19px;}
div#getCalculator {left: 90px; top: 15%;}
.calculator .operationSide {left: -20px;}
.calculator .displayBox {width: 100%;}
.cal_close {background-color: #eb646f; color: #fff; font-weight: 600; width: 100px;  height: 45px;}
.calculator .x_panel {padding: 0px; margin: 0px;}
.paymode_cate #ddlbillttype_pm option {padding: 4px 5px;}
.payment_cate_table td {font-size: 15px;}
.paymode_close td {font-size: 15px;}
.paymode_close input#txtBalanceReturn_pm {margin: 3px 20px;}
tr.paymode_close {border-top: 1px dotted #c0c0c0; width: 100%; float: left;padding: 8px 0 0;}
label#Online_pm {margin: 0px; position: relative; top: -5px;}
label#COD_pm {margin: 0px; position: relative;top: -6px;}
.paymode_cate select#ddlbillttype_pm {margin: 0px 0px 10px;padding: 0px;font-size: 16px;}
.paymode_cate {margin: 0px !important; padding: 6px 6px !important; border: none !important;}
.change_paymode .x_content {margin: 0px; padding: 0px;}
.bill_number input#txtBillNumber_pm {margin: 0px;}
#products .box { width: 13%;    display: table;}
#products .box h3 { 
    line-height: 12px;
    background: -webkit-linear-gradient(#f9e4e6, #f9e4e6);
    color: #000;
    font-weight: bold;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    word-break: break-word;
        display: table-cell;
    vertical-align: middle;
    border: none;
}
#products .box h3:hover {background: -webkit-linear-gradient(#f06671, #ea9198);}
#products span {font-size: 11px;}
span.getprice {color: #778f61 !important; font-size: 12px !important; float: left; width: 100%;}
table.code_search {float: left;margin: 10px 0 0 0;}
td#autocomplete {
    padding-left: 0 !important;
}
label#lblcustmobno {
	margin-left: 6px !important;
}
#MenuScroll .menu_tabs {
    margin: 6px 0 0 0 !important;
}
ul#categories {
    overflow: hidden !important;
    display: block !important;
	width:93% !important;
	border:unset !important;
}
.nav1.menu_tabs {
    border: 1px solid #46c9ac;
}
.nav1 ul li {
    width: 90px !important;
}
table#tbliteminfo tr:first-child td {
    height: 25px !important;
    box-sizing: border-box;
    padding: 6px 4px !important;
}
.btn-div {
    float: left;
    width: 5%;
    text-align: left;
    padding: 5px 0;
    box-sizing: border-box;
    margin-right: 0;
}
.arrow-div {
    float: left;
    width: 100%;
}
.pro-btn-div {
    float: left;
    width: 16%;
    padding: 5px;
    box-sizing: border-box;
}
.pro-arrow-div a {
    color: #000 !important;
    border: 2px solid #000;
    padding: 6px 16px;
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 1px;
    margin-right: 10px;
}
.pro-arrow-div a i {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}
.pro-arrow-div a:hover{
	color:#fff !important;
	background:#1A82C3;
}
.pro-arrow-div a:hover i{
	color:#fff;
}
.btn-left-panel {
    float: left;
    width: 84%;
    margin-top: 5px;
}
.left-btn-div {
    float: left;
    width: 16.66%;
}
.left-btn-div .button1{
    font-size: 13px;
}
.left-btn-div a{
    font-size: 13px !important;
}
.bill_detail_screen div#products {
    height: 454px !important;
    overflow: hidden !important;
    float: left;
    width: 100%;
    margin-top: 5px;
}
div#MenuScroll {
    margin-left: 0;
    margin-right: 0;
}
#products .box {
    margin:8px 0 0 8px;
}
table.button_options tr {
    float: left;
}
table.button_options td {
    width: 100px !important;
    float: left;
}
#screenDialog {
    overflow: inherit;
    padding: 6px 0;
    background: rgb(225, 225, 225) !important;}
    .ui-widget-header {
    background: #f06671;
    border: 1px solid #f06671;
    border-radius: 0px 0px 0 0;}
.search_section input {
    height: 40px !important;
    margin: 0px 0 !important;
    font-size: 12px;
    width: 175px !important;
    font-size: 12px;}
#dvOuter_ddlMobSearchBox {
    min-height: auto;
    height: 40px !important;
    margin: 0px 0 0px 5px;
    border-radius: 0px;
    padding: 0 0 !important;
    min-width: auto !important;
    width: 198px !important;
    top: 0px;}
#dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px;}
.search_section img#btnAddCustomer {margin: 0px 5px 0 !important; width: 35px !important;cursor: pointer;}
#btnGetByItemCode img {width: 40px !important; margin: 0 0px;cursor: pointer;}
#btnSearch img {width: 40px !important; margin: 0 0 0 5px;cursor: pointer;}
.reciept_detail td {padding: 8px 4px !important;vertical-align: middle !important;font-weight: 600;}
.betlist_form_table div#t_jQGridDemoBill{width: 100% !important; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}
.ui-draggable div#CustomerDialog {padding: 0px;}
.ui-draggable {padding: 0px;}
#CustomerDialog .x_panel {padding: 0px; margin: 0px;}
#CustomerDialog .x_title {padding: 0px; margin: 0px; justify-content: center; display: flex;}
#CustomerDialog h2 {margin: 0px;font-size: 20px; padding: 8px 0;}
#CustomerDialog .x_content {margin: 0px; padding: 0px;}
#dvOuter_ddlMobSearchBox #txtddlMobSearchBox {width: 100% !important;}
.product_items .cate {
    height: 302px;
}
.right_col.billing_screen_right_col {
    min-height: unset;
}
body
{
    background: lavender !important;
}
.bill-screen-row{
    margin-left:0 !important;
    margin-right:0 !important;
}
.ui-widget-header
{
    background-color: #1479B8;
    border:1px solid #147988;
}
.search_section {
     padding: 11px 0 5px !important;
}

.bill_detail_screen div#colDvProductList {
   height: 350px;
}
.Search.search_section input {
	width: 100% !important;
}
label#lblcustmobno {
    background-color: #fff;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    margin: 0;
    margin-left: 10px;
}
#jQGridDemoPager {
	z-index: 1;
}
.ui-jqgrid-bdiv {
	z-index: 1;
}
.form-group.betlist_form_table input#txtDateTo {
    font-size: 12px !important;
}
div#btnGo {
    margin-bottom: 0;
    padding: 4px 8px;
}
.betlist_form_table input#txtDateFrom, .betlist_form_table input#txtDateTo{
    border-radius: unset;
    margin-bottom: 0;
    margin: 3px;
    font-size: 14px;
    height: 25px;
}
#products .box h3 span:first-child {
     text-transform: unset !important;
}
.page-title.bill-screen-page-title .title_left {
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
.page-title.bill-screen-page-title
{
    height:auto;
    padding:0;
}
.betlist_form_table div#gbox_jQGridDemoBill {
	width: 100% !important;
	overflow: auto;
	z-index: 1;
}
.betlist_form_table div#gview_jQGridDemoBill {
    width: 100% !important;
}
.betlist_form_table .ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
	overflow-y:hidden;
}
.betlist_form_table table.ui-jqgrid-htable {
    width: 100% !important;
}
.betlist_form_table ui-jqgrid-bdiv {
    width: 100% !important;
}
.betlist_form_table table#jQGridDemoBill {
    width: 100% !important;
}
.betlist_form_table div#jQGridDemoPagerBill {
    width: 100% !important;
}
.betlist_form_table .ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.betlist_form_table .ui-jqgrid-bdiv {
    width: 100% !important;
	height: auto !important;
}
table.other-payment-tbl-billscreen input {
    height: 25px !important;
	font-weight:400;
	margin-top:5px;
}
select#ddlType {
    height: 25px !important;
	font-weight:400;
}
select#ddlBank {
    height: 25px !important;
	font-weight:400;
	margin-top:5px;

}
td#coupan {
    width: 126px !important;
    float: left;
}
.x_content.Customer_Information .form-group .form-control {
    border-radius: 0;
}
.cashcustomer_btns .btn {
    border-radius: 0 !important;
}
td.online-tr-op {
    float: left;
    width: 70px;
	margin-top: 10px;
}
label#COD {
    margin: 0;
    padding: 0;
    position: relative;
    top: -7px;
}
label#Online {
    margin-bottom: 0;
    position: relative;
    top: -7px;
}
input#txtpaymentAmount {
    margin-top: -10px;
}
select#ddlOtherPayment {
    height: 25px;
    margin-top: -10px;
}
select#ddlChosseCredit {
    height: 25px !important;
    position: relative;
    top: 3px;
   
}
/*----kot screen----*/
.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
    margin: 0px 0 8px;
    width: 238px !important;
}
td.txt.manage-kot-screen-search label#lblcustmobno {
    position: relative;
    top: -24px;
    margin-left:0;
}
.kotscreen_boxes .box h3 span:first-child {
     text-transform: unset !important;
}
.kot-screen-kot-no-table .manage_kotscreen_left .leftside {
	border: 1px solid #1479B8;
	background: #1479B8;
}
.kot-screen-kot-no-table .manage_kotscreen_left {
	border: 1px solid #1479B8;
}
.kot-screen-menu-section .menu_tabs ul#categories {
	border: 1px solid #1479B8;
}
.kot-screen-menu-section .kotscreen_boxes {
	border: 1px solid #1479B8;
}
.kot-screen-search-main.search_main, .kot-screen-search-main .search_section {
    background-color: #46c9ac !important;
}
/*----kot screen----*/
/*----transfer table----*/
.ui-dialog {
    padding-bottom: 0px !important;
    top: 0 !important;
}
.table_transfer {
    width: 80% !important;
}
.table_transfer .x_title h2
{
    background: #1479B8 !important;
}
.table_transfer_list .leftside
{
    background: #1479B8 !important;
    font-size: 16px;
    padding-right: 10px;
}
table#tbkotinfo {
    font-size: 14px !important;
}
div#dvExit {
    margin-left: 20px;
}
/*----transfer table---*/
/*----calc----*/
div#getCalculator {
    left: 0;
    top: 0;
}
/*----calc----*/
.bill-screen-search.search_section
{
    background-color: #46c9ac !important;
}
.col-div-product-lilst .leftside {
    border: 1px solid #1479B8;
    background: #1479B8 !important;
}
.main_menu_side {
    position: relative;
	z-index: 1;
}
div#lstBillNo {
    width: 100% !important;
}
.qty-btn-div {
    float: left;
    width: 100%;
}
	.qty-btn-div .button1 {
		font-size: 12px;
		display: inline-block;
		width: 23%;
		float: left;
		font-weight: 700;
		background: #1479B8;
		box-shadow: none;
	}
	.qty-btn-div.cash-btns-div .button1 {
		background: #46c9ac !important;
		font-size: 11px;
		padding: 5px 0 !important;
		box-sizing: border-box;
	}
.left-btn-div .button1 {
	padding: 12px 0;
	font-size: 10px !important;
	box-sizing: border-box;
}
#products .box {
   border-radius:0px !important;
    margin: 0 !important;
    border: 1px solid #000;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable{
	 top: 178px !important;
}
.ui-keyboard.ui-widget-content.ui-widget.ui-corner-all.ui-helper-clearfix.ui-keyboard-has-focus {
    display: none !important;
}
div#btnkot {
    display: none !important;
}
table#formCustomer .form-group {
    float: left;
    width: 100%;
}
table#formCustomer label {
    text-align: left;
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
}
div#dvAddCustomer {
    width: 100% !important;
    margin: 5px auto !important;
    float: unset;
    box-shadow: 0px 0px 5px #f0667194;
    padding: 25px 25px !important;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 1px solid #f0667159;
}
/*form*/
div#formCustomer {
    float: left;
    width: 100%;
}
.form-div {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.form-lbl {
    float: left;
    width: 15%;
    font-weight: bold;
}
.form-inp {
    float: left;
    width: 85%;
}
.prefix-inp {
    float: left;
    width: 100%;
}
.prefix-inp select {
    float: left;
    width: 11%;
}
.prefix-inp input#cm_Name {
    float: left;
    width: 85% !important;
    position: relative;
    right: -13px;
}
.form-inp textarea#cm_Address1 {
    width: 100%;
}
.first-inp {
    float: left;
    width: 50%;
}
.sec-inp {
    float: left;
    width: 50%;
}
.sec-lbl {
    float: left;
    width: 38%;
	font-weight:bold;
}
.sec-input {
    float: left;
    width: 62%;
}
.sec-input select#cm_ddlCities {
    float: left;
    width: 117px !important;
}
span.fa.fa-plus.city-plus {
    line-height: 28px;
}
.first-inp select#cm_ddlState {
    width: 137px !important;
}
.first-inp  input#cm_Discount {
    width: 137px;
}
.first-inp  select#cm_ddlArea {
    width: 117px !important;
}
.sec-input  input#cm_Pincode {
    width: 137px;
}
.sec-input input#cm_EmailId {
    width: 137px !important;
}
.sec-input input#cm_Tag {
    width: 137px;
}
.sec-input input#cm_DOA {
    margin-left: 5px;
    width: 137px;
}
.first-inp input#cm_ContactNumber {
    width: 137px !important;
}
input#cm_DOB {
    width: 137px;
}
.form-inp input#txtGSTNo {
    width: 100%;
}
.first-check {
    width: 33.3% !important;
    float: left;
}

/*from*/
/*----paymode----*/
.other-payment-tbl-billscreen {
    float: left;
    width: 100%;
}
.form-left-select {
    float: left;
    width: 35%;
    padding-right: 10px;
    box-sizing: border-box;
}
.form-right {
    float: left;
    width: 65%;
}
.form-field {
    float: left;
    width: 100%;
}
.form-txt {
    float: left;
    width: 20%;
}
.form-input {
    float: left;
    width: 80%;
}
.first-field {
    float: left;
    width: 50%;
}
.second-field {
    float: left;
    width: 50%;
}
input#Text13 {
    position: relative;
    left: 36px;
}
input#txtCODAmount {
    margin-bottom: 15px;
}
.g-btn,.close-btn {
    float: left;
}
/*----paymode----*/
table.shope-tbl {
   width:100%;
    margin-top: 5px;
}
table.code_search {
  	margin:0;
}
table.code-tbl {
    float: left;
}
.search_section select {
    margin: 0 0 0 0px;
    padding: 0 10px;
    height: 34px !important;
	width:100% !important;
}
.search_section {
    padding: 0px 0 0px !important;
}
.Search.search_section input {
    width: 265px !important;
    padding: 0 10px !important;
    height: 34px !important;
    border: 1px solid #000 !important;
}
#btnSearch img {
    width: 30px !important;
}
#btnGetByItemCode img {
    width: 30px !important;
}
#dvOuter_ddlMobSearchBox {
    height: 34px !important;
    box-shadow: none;
    width: 218px !important;
    left: 0;
	margin:0;
    border: 1px solid #000;
}
.search_section img#btnAddCustomer {
    width: 30px !important;
}
input#txtItemCode {
    float: right;
    position: relative;
    left: -7px;
 }
.amt-details-tbl {
    height: 191px;
}
/*----credit----*/
select#ddlChosseCredit {
   width: 80% !important;
}
img#btnAddCreditCustomer {
    width: 20px !important;
}
label#lblCreditCustomerName {
    font-weight: 700 !important;
}
div#dvCreditWindow table {
    width: 100%;
}
/*----credit----*/
/*----online payment----*/
#dvOnlineWindow .form-txt {
    float: left;
    width: 30%;
}
#dvOnlineWindow .form-input {
    float: left;
    width: 70%;
}
select#ddlOtherPayment {
    margin-top: 0px;
    width: 100px !important;
}
input#txtpaymentAmount {
    margin-top: 0;
    width: 70px !important;
}
/*----online payment----*/
/*----credit card----*/
div#dvCreditCardWindow table {
    width: 100%;
}
select#ddlCreditCardBank {
    width: 90%;
}
div#dvCreditCardWindow table tr {
    float: left;
    width: 100% !important;
}
div#dvCreditCardWindow table td:first-child {
    float: left;
    width: 20%;
}
div#dvCreditCardWindow table td:nth-child(2) {
    float: left;
    width: 80%;
}
div#dvCreditCardWindow table td:last-child {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
/*----credit card----*/
/*----coupn btn----*/
.cupn-btn {
    display: none;
}
.cash-btns-div .button1 {
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
table#tbamountinfo td {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    height: 30px !important;
}
th.code-th {
    display: none;
}
table.discount-inner-tbl {
    width: 100%;
}
#tbamountinfo table.discount-inner-tbl td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
tr#DelCharges td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
table.coupn-tbl{
    width: 100%;
}
#tbamountinfo table.coupn-tbl td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
table#tbamountinfo tr {
    border: 2px solid #000 !important;
}
table#tbamountinfo tr table.coupn-tbl tr,table#tbamountinfo tr table.discount-inner-tbl tr{
   border:none !important;
}
table#tbProductInfo td:nth-child(2) {
    text-align: left !important;
}
.item-no-td {
    height: 19px;
}
/*----coupn btn----*/
.billscreen-edit-bill {
    width: 100% !important;
    left: 0 !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.customer-pop.customer-pop-cre {
    top: 0 !important;
}
/*-----responsive-----*/
@media(max-width:360px)
{
	.betlist_form_table #globalSearchText {
		width: 50%;
	}
}
@media(max-width:480px)
{
	table.code_search {
	    float: left;
	    margin: 0px !important;
	    width: 100%;
    }
    .code_search tr{
	    display: block;
	 }
    .code_search td {
	    display: block;
	
	}
	table.code-tbl {
		float: left;
		width: 100%;
	}
	table.code-tbl td{
		display:block;
	}
    #lblcustmobno {
	    margin-left: 0 !important;
	}
    #dvOuter_ddlMobSearchBox {
		margin: 0px 0 0px 0px;
	}
	#autocomplete {
	    padding-left: 0 !important;
    }
    #dvOuter_ddlMobSearchBox {
	    width: 100% !important;
	}
	.code_search tr td:nth-child(5), .code_search tr td:nth-child(7) {
	    float: left;
	    width: 80%;
    }
	input#txtItemCode {
		float: left;
		position: relative;
		left: 0;
	}
	input#lblcustmobno {
		width: 87% !important;
	}
	.code_search tr td:nth-child(3) {
		float: left;
		width: 87%;
	}
    #txtorderno {
	    width: 80% !important;
    }
    #colProducts {
	    width: 100% !important;
    }
    .col-div-product-lilst
    {
        width:100% !important;
    }
    #products .box {
	    width: 45%;
	}  
	.product_items .cate {
	    height: 350px !important;
    }
	.bill_detail_screen div#products {
	  height: 350px !important;
	}
	.Search.search_section input {
		width: 100% !important;
    }
	table.code-tbl td:first-child, table.code-tbl td:nth-child(3) {
		float: left;
		width: 87%;
	}
    .bill_detail_screen div#colDvProductList {
	    height: auto !important;
    }
    .Search.search_section #dvOuter_ddlMobSearchBox {
	     width: 100% !important;
	}
   /*----kot screen----*/
   .kot-screen-table-no {
	    display: block;
	    width: 100%;
	    overflow-x: auto;
    }
   /*----kot screen----*/
   /*----transfer table----*/
        .table_transfer {
            width: 90% !important;
        }
        #ddlDestTable {
	        width: 85%;
        }
   /*----transfer table----*/
   ul#categories {
		width: 86% !important;
	}
   .btn-div {
		float: left;
		width: 10%;
		text-align: left;
		margin-right: 0;
	}
   .left-btn-div .button1 {
		font-size: 11px;
	}
   .left-btn-div {
		float: left;
		width: 30%;
	}
   /*form*/
   .customer-pop {
		width: 100% !important;
		overflow:auto !important;
	}
   .prefix-inp select {
		float: left;
		width: 16%;
	}
   .prefix-inp input#cm_Name {
		float: left;
		width: 77% !important;
   }
   .form-lbl {
		float: left;
		width: 100%;
	}
   .form-inp {
		float: left;
		width: 100%;
	}
   .first-inp {
		float: left;
		width: 100%;
	}
   .sec-inp {
		float: left;
		width: 100%;
	}
   .sec-lbl {
		float: left;
		width: 100%;
	}
   .sec-input {
		float: left;
		width: 100%;
	}
   .sec-input select#cm_ddlCities {
       margin-left: 0;
	   width: 90% !important;
	}
   .first-inp select#cm_ddlState {
		width: 100% !important;
	}
   .first-inp  select#cm_ddlArea {
		width: 90% !important;
		margin-left: 0;
	}
   .sec-input  input#cm_Pincode {
		width: 100% !important;
		margin-left: 0;
	}
   .first-inp input#cm_ContactNumber {
		width: 100% !important;
	}
   .sec-input input#cm_EmailId {
		width: 100% !important;
		margin-left: 0 !important;
	}
   .first-inp  input#cm_Discount {
		width: 100% !important;
	}
   .sec-input input#cm_Tag {
		width: 100% !important;
	}
   input#cm_DOB {
		width: 100% !important;
	}
   .sec-input input#cm_DOA {
	    width: 100% !important;
	}
   .form-inp textarea#cm_Address1 {
		width: 100% !important;
	}
   .form-inp input#txtGSTNo {
		width: 100% !important;
	}
   /*form*/
   .form-group.bill_list_btns table td {
		float: left;
	}
	.form-left-select {
		width: 100%;
	}
	.form-txt {
		float: left;
		width: 30%;
	}
	.form-input {
		float: left;
		width: 70%;
	}
	.second-field {
		float: left;
		width: 100%;
	}
	input#Text13 {
		left: 43%;
	}
	select#ddlOtherPayment {
       width: 75px !important;
	}
	input#txtpaymentAmount {
      width: 50px !important;
	}
	select#ddlChosseCredit {
		width: 80px !important;
		font-size: 13px !important;
	}
	div#btnOrdersList {
		height: auto !important;
	}
	/*----change pay mode ----*/
	.change_paymode {
		left: 0;
	    width: 100%;
		overflow: auto;
	}
	/*----change pay mode ----*/
	.change_paymode .x_content {
      overflow: auto;
	}
	.change_paymode {
		 left: 2%;
       width: 100%;
    }
}
@media (max-width:400px) {
	#OnEditHide td:nth-child(5), #OnEditHide td:nth-child(9) {
		display: inline-block !important;
		float: left !important;
	}

	#OnEditHide {
		display: block;
	}
	/*----kot screen----*/
	.Search1.kotscreen_search_section table select {
		font-size: 14px;
		width: 80px !important;
	}

	.Search1.kotscreen_search_section table .checkbox {
		width: 130px;
	}

	.Search1.search_section.kotscreen_search_section table td.checkbox label {
		font-size: 12px;
	}

	.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
		width: 176px !important;
	}

	.Search2.kotscreen_search_section2 table input {
		width: 243px !important;
		margin-bottom: 10px !important;
	}

	.kot-screen-running-table-section {
		padding: 0;
		list-style: none;
		width: 243px;
	}

	.col-xs-12.col-md-7.col-sm-7.kot-screen-menu-section {
		width: 100% !important;
		margin-top: 10px;
	}

	.col-xs-12.col-sm-5.col-md-5.kot-screen-kot-no-table {
		float: left;
		width: 100%;
		overflow-x: auto;
	}

	.kot-screen-kot-no-table .manage_kotscreen_left {
		width: auto;
		margin-top: 10px;
	}

	.MangeBill a {
		font-size: 10px;
	}

	.button_options.kot_button_option #btnRaiseBill {
		padding: 0 5px;
	}

	.kot-screen-running-table-section li {
		padding-left: 10px;
	}
	/*----kot screen----*/
}
@media (min-width:401px) and (max-width:480px)
{
     #OnEditHide td:nth-child(6), #OnEditHide td:nth-child(10) {
	    display: inline-block !important;
	    float: left !important;
    }
    #OnEditHide {
	    display: block;
    }
     /*----kot screen----*/
     .Search1.kotscreen_search_section table select {
	    font-size: 16px;
	    width: 114px !important;
	   }
	.kot-screen-running-table-section {
	    padding: 0;
	    list-style: none;
	    margin-top: 10px;
	    width: 370px;
    }
    .kot-screen-running-table-section li {
	    padding-left: 10px;
    }
    .col-xs-12.col-sm-5.col-md-5.kot-screen-kot-no-table {
	    float: left;
	    width: 100%;
	    overflow-x: auto;
    }
    .col-xs-12.col-md-7.col-sm-7.kot-screen-menu-section {
	    width: 100% !important;
	    margin-top: 10px;
    }
    .MangeBill a {
	    font-size: 10px;
    }
    .button_options.kot_button_option #btnRaiseBill
    {
        padding:0 5px;
    }
     /*----kot screen----*/
}
@media (min-width:481px) and (max-width:567px)
{
    .bill_detail_screen div#colDvProductList {
	    height: auto;
    }
    .search_section input
    {
        width:100% !important;
    }
    #dvOuter_ddlMobSearchBox {
		width: 112px !important;
		margin-left: 0px !important;
	}
	input#txtItemCode {
		float: left;
	}
	#txtddlMobSearchBox {
        padding: 0 4px !important;
    }
    table.code_search {
	    float: left;
	    margin: 0px 0 0 0;
		width:100%;
    }
	table.code-tbl {
		width: 100%;
	}
	.Search.search_section input {
		width: 100% !important;
	}
    #autocomplete {
	    padding-left: 0 !important;
    }
    .search_section img#btnAddCustomer {
	    width: 30px !important;
	}
	#btnGetByItemCode img {
	    width: 30px !important;
	}
	#btnSearch img {
	    width: 30px !important;
	}
	#MenuScroll {
	    overflow: auto !important;
    }
    #products span {
	    font-size: 10px;
    }
    #products .box {
	    width: 46%;
	    display: table;
	    margin: 1px 1px;
    }
    #tbamountinfo {
	    float: left !important;
    }
    .button_options .button1 {
		font-size: 9px !important;
    }
    .button3 {
		font-size: 9px;
    }
     /*----kot screen----*/
   .kot-screen-table-no {
	    display: block;
	    width: 100%;
	    overflow-x: auto;
    }
    .col-xs-12.col-sm-5.col-md-5.kot-screen-kot-no-table {
	    float: left;
	    width: 100%;
	    margin-top: 20px;
    }
    .col-xs-12.col-md-7.col-sm-7.kot-screen-menu-section {
	    width: 100% !important;
	    float: left;
	    margin-top: 20px;
    }
    .MangeBill a {
	    font-size: 10px;
    }
   /*----kot screen----*/
   div#colProducts {
		width: 100%;
		float: left !important;
	}
   .col-div-product-lilst {
		width: 100% !important;
	}
   ul#categories {
        width: 90% !important;
    }
   .btn-div {
		float: left;
		width: 9%;
		text-align: right;
		padding: 5px;
		box-sizing: border-box;
		margin-right: 1px;
	}
   .btn-left-panel {
		float: left;
		width: 74%;
	}
   .pro-btn-div {
       width: 26%;
   }
   .left-btn-div .button1 {
		font-size: 10px;
	}
    /*form*/
    .customer-pop {
		width: 100% !important;
	}
	.prefix-inp input#cm_Name {
		width: 80% !important;
	}
	.prefix-inp select {
      width: 15%;
	}
	.form-lbl {
       font-size: 12px;
	}
	.sec-lbl {
        font-size: 12px;
	}
	.first-check label {
        font-size: 12px;
	}	
   .form-inp textarea#cm_Address1 {
		width: 100% !important;
	}
   .sec-input select#cm_ddlCities {
        width: 90px !important;
	}
   .sec-input  input#cm_Pincode {
		width: 112px !important;
	}
   .sec-input input#cm_EmailId {
		width: 112px !important;
	}
   .first-inp  input#cm_Discount {
		width: 137px !important;
	}
   .sec-input input#cm_Tag {
		width: 112px !important;
	}
   input#cm_DOB {
		width: 137px !important;
	}
   .sec-input input#cm_DOA {
		margin-left: 5px;
		width: 112px !important;
	}
   .form-inp input#txtGSTNo {
		width: 100% !important;
	}
   /*form*/
   .form-group.bill_list_btns table td {
		float: left;
	}
	select#ddlChosseCredit {
		width: 100px !important;
	}
	input#Text13 {
      left: 25%;
	}
	.second-field .form-txt {
		text-align: right;
	}
	select#ddlOtherPayment {
        width: 100px !important;
	}
	/*----change pay mode ----*/
	.change_paymode {
		left: 0;
	    width: 100%;
		overflow: auto;
	}
	/*----change pay mode ----*/
	.change_paymode .x_content {
      overflow: auto;
	}
	.change_paymode {
		 left: 2%;
       width: 100%;
    }
}

@media (min-width:481px) and (max-width:530px)
{
     /*----kot screen----*/
    .kot-screen-running-table-section {
	    padding: 0;
	    list-style: none;
	    margin-top: 10px;
	    width: 370px;
    }
    .kot-screen-running-table-section li {
	    padding-left: 10px;
    }
    .Search1.kotscreen_search_section table select {
	    width: 116px !important;
	}
	.kotscreen_search_section2 table input {
	    width: 152px !important;
	}
	.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	   width: 260px !important;
    }
	/*----kot screen----*/
	.nav1 ul li {
		width: 53px !important;
	}
	.menu_tabs ul li a {
		padding: 0 2px;
		font-size:7px;
	}
}
@media (min-width:531px) and (max-width:567px)
{
    /*----kot screen----*/

    .kot-screen-running-table-section {
	    padding: 0;
	    list-style: none;
	    margin-top: 10px;
	    width: 100%;
    }
    .kot-screen-running-table-section li {
	    padding-left: 10px;
    }
    .Search1.kotscreen_search_section table select {
	    width: 115px !important;
	}
    .Search1.search_section.kotscreen_search_section table .checkbox {
	   width: 123px;
    }
    .Search1.search_section.kotscreen_search_section .checkbox label {
	   font-size: 12px;
    }
    .kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	    width: 380px !important;
    }
    #txtItemCode, #txtSearch {
	    width: 100% !important;
    }
    /*----kot screen----*/
	.nav1 ul li {
		width: 59px !important;
	}
	.menu_tabs ul li a {
		padding: 0 2px;
		font-size:8px;
	}
}
@media (min-width:568px) and (max-width:667px)
{
    .bill_detail_screen div#colDvProductList {
	    height: auto;
    }
     .Search.search_section input
    {
        width:100% !important;
        font-size:12px !important;
    }
   .Search #dvOuter_ddlMobSearchBox {
		width: 121px !important;
		margin-left: 0px !important;
	}
	#txtddlMobSearchBox {
        padding: 0 4px !important;
    }
    table.code_search {
	    float: left;
	    margin: 0px 0 0 0;
	    width:100%
    }
	table.code-tbl {
		width: 100%;
	}
    #autocomplete {
	    padding-left: 0 !important;
    }
    .Search.search_section img#btnAddCustomer {
	    width: 30px !important;
	}
	.Search #btnGetByItemCode img {
	    width: 30px !important;
	}
	.Search #btnSearch img {
	    width: 30px !important;
	}
	#MenuScroll {
	    overflow: auto !important;
    }
    #products .box {
	    width: 46%;
	    display: table;
	    margin: 5px 5px;
    }
    #tbamountinfo {
	    float: left !important;
    }
    .button_options .button1 {
		font-size: 10px !important;
    }
    .button3 {
		font-size: 10px;
    }
    #tbliteminfo td,#tbamountinfo td {
	    font-size: 12px !important;
    }
     #tbliteminfo,#tbamountinfo
    {
        width:100% !important;
    }
	table.shope-tbl {
		margin-top: 0;
	}
	input#txtItemCode {
		float: left;
		position: relative;
		left: 0;
	}
	#btnSearch img {
		margin: 0;
	}
    /*----kot screen----*/

    .kot-screen-running-table-section {
	    padding: 0;
	    list-style: none;
	    margin-top: 10px;
	    width: 100%;
    }
    .kot-screen-running-table-section li {
	    padding-left: 10px;
    }
     .col-xs-12.col-sm-5.col-md-5.kot-screen-kot-no-table {
	    float: left;
	    width: 100%;
	    margin-top: 20px;
    }
    .col-xs-12.col-md-7.col-sm-7.kot-screen-menu-section {
	    width: 100% !important;
	    float: left;
	    margin-top: 20px;
    }
     .kot-screen-table-no {
	    display: block;
	    width: 100%;
	    overflow-x: auto;
    }
     .manage_kotscreen_left {
	    width: 100%;
    }
    /*----kot screen----*/
	  div#colProducts {
		width: 100%;
		float: left !important;
	}
   .col-div-product-lilst {
		width: 100% !important;
	}
   .btn-left-panel {
       width: 78%;
   }
   .pro-btn-div {
       width: 22%;
   }
   .left-btn-div .button1 {
		font-size: 10px;
	}
    /*form*/
   .customer-pop {
		width: 100% !important;
	}
   .form-inp textarea#cm_Address1 {
		width: 100% !important;
	}
   .sec-input select#cm_ddlCities {
        width: 112px !important;
	}
   .sec-input  input#cm_Pincode {
		width: 137px !important;
	}
   .sec-input input#cm_EmailId {
		width: 137px !important;
	}
   .first-inp  input#cm_Discount {
		width: 137px !important;
	}
   .sec-input input#cm_Tag {
		width: 137px !important;
	}
   input#cm_DOB {
		width: 137px !important;
	}
   .sec-input input#cm_DOA {
		margin-left: 5px;
		width: 137px !important;
	}
   .form-inp input#txtGSTNo {
		width: 100% !important;
	}
   /*form*/
   .form-group.bill_list_btns table td {
		float: left;
	}
	input#Text13 {
		position: relative;
		left: 25%;
	}
	/*----change pay mode ----*/
	.change_paymode {
		left: 3%
	}
	/*----change pay mode ----*/
	.change_paymode {
		 left: 2%;
    }
}

@media (min-width:568px) and (max-width:579px)
{
      /*----kot screen----*/
     .Search1.kotscreen_search_section table select {
	    width: 115px !important;
	}
    .Search1.search_section.kotscreen_search_section table .checkbox {
	   width: 123px;
    }
    .Search1.search_section.kotscreen_search_section .checkbox label {
	   font-size: 12px;
    }
    .kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	    width: 380px !important;
    }
    #txtItemCode, #txtSearch {
	    width: 100% !important;
    }
      /*----kot screen----*/
	.nav1 ul li {
		width: 65px !important;
	}
	.menu_tabs ul li a {
       padding: 0 2px;
	   font-size:9px;
    }
}
@media (min-width:580px) and (max-width:667px)
{ 
      /*----kot screen----*/
        .Search1.kotscreen_search_section table select {
	        width: 130px !important;
	        font-size:13px;
	    }
        .Search1.search_section.kotscreen_search_section table .checkbox {
	       width: 125px;
	       padding: 8px 4px
        }
        .Search1.search_section.kotscreen_search_section .checkbox label {
	       font-size: 13px;
        }
        .kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	        width:430px !important;
        }
        #txtItemCode, #txtSearch {
	        width: 100% !important;
	        font-size:12px;
        }
        #txtddlMobSearchBox {
	        font-size: 12px;
        }   
        .kotscreen_search_section {
	        padding: 11px 0px 11px 0px !important;
        }
      /*----kot screen----*/
	  .nav1 ul li {
			width: 66px !important;
		}
		.menu_tabs ul li a {
		   padding: 0 2px;
		   font-size:9px;
		}
      
}
@media (min-width:668px) and (max-width:767px)
{
    .bill_detail_screen div#colDvProductList {
	    height: auto;
    }
     .Search.search_section input
    {
        width:100% !important;
        font-size:12px !important;
    }
   .Search #dvOuter_ddlMobSearchBox {
	    width: 125px !important;
	    margin-left:5px !important;
	}
	#txtddlMobSearchBox {
        padding: 0 4px !important;
    }
    table.code_search {
	    float: left;
	    margin: 0px 0 0 0;
	    width:100%
    }
	table.code-tbl {
		float: left;
		width: 100%;
	}
	input#txtItemCode {
		float: left;
		position: relative;
		left: 0;
	}
    table.shope-tbl {
        margin-top: 0;
	}
    #autocomplete {
	    padding-left: 0 !important;
    }
    .Search.search_section img#btnAddCustomer {
	    width: 30px !important;
	}
	.Search #btnGetByItemCode img {
	    width: 30px !important;
	}
	.Search #btnSearch img {
	    width: 30px !important;
	}
	#MenuScroll {
	    overflow: auto !important;
    }
    
    #products .box {
	    width: 46%;
	    display: table;
	    margin: 5px 5px;
    }
    #tbamountinfo {
	    float: left !important;
    }
    .button_options .button1 {
		font-size: 11px !important;
    }
    .button3 {
		font-size: 11px;
    }
     #tbliteminfo td,#tbamountinfo td {
	    font-size: 12px !important;
    }
    #tbliteminfo,#tbamountinfo
    {
        width:100% !important;
    }


    /*----kot screen----*/
    
         .kot-screen-running-table-section {
	        padding: 0;
	        list-style: none;
	        margin-top: 10px;
	        width: 100%;
        }
        .kot-screen-running-table-section li {
	        padding-left: 10px;
        }
            .col-xs-12.col-sm-5.col-md-5.kot-screen-kot-no-table {
	        float: left;
	        width: 100%;
	        margin-top: 20px;
        }
        .col-xs-12.col-md-7.col-sm-7.kot-screen-menu-section {
	        width: 100% !important;
	        float: left;
	        margin-top: 20px;
        }
        .kot-screen-table-no {
	        display: block;
	        width: 100%;
	        overflow-x: auto;
        }
        .Search1.kotscreen_search_section table select {
	        width: 150px !important;
	        font-size:13px;
	    }
        .Search1.search_section.kotscreen_search_section table .checkbox {
	       width: 140px;
	       padding: 8px 4px
        }
        .Search1.search_section.kotscreen_search_section .checkbox label {
	       font-size: 13px;
        }
        .kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	        width:510px !important;
        }
        #txtItemCode, #txtSearch {
	        width: 100% !important;
	        font-size:12px;
        }
        #txtddlMobSearchBox {
	        font-size: 12px;
        }   
        .kotscreen_search_section {
	        padding: 11px 0px 11px 0px !important;
        }
        .manage_kotscreen_left {
	        width: 100%;
        }
        .kotscreen_search_section {
	        padding: 11px 0px 11px 0px !important;
        }
      /*----kot screen----*/
	    div#colProducts {
			width: 100%;
			float: left !important;
		}
	   .col-div-product-lilst {
			width: 100% !important;
		}
	   .pro-arrow-div a {
			margin-right: 0px;
		}
	   .left-btn-div .button1 {
			font-size: 12px;
		}
	     /*form*/
    .form-inp textarea#cm_Address1 {
		width: 100% !important;
	}
   .sec-input select#cm_ddlCities {
        width: 137px !important;
	}
   .sec-input  input#cm_Pincode {
		width: 137px !important;
	}
   .sec-input input#cm_EmailId {
		width: 137px !important;
	}
   .first-inp  input#cm_Discount {
		width: 137px !important;
	}
   .sec-input input#cm_Tag {
		width: 137px !important;
	}
   input#cm_DOB {
		width: 137px !important;
	}
   .sec-input input#cm_DOA {
		margin-left: 5px;
		width: 137px !important;
	}
   .first-inp  select#cm_ddlArea {
		width: 137px !important;
	}
   .form-inp input#txtGSTNo {
		width: 100% !important;
	}
   /*form*/
   .form-group.bill_list_btns table td {
		float: left;
	}
    input#Text13 {
      left: 25%;
	}
	/*----change pay mode ----*/
	.change_paymode {
		left: 3%
	}
	/*----change pay mode ----*/
	.nav1 ul li {
		width: 77px !important;
	}
	.menu_tabs ul li a {
       padding: 0 2px;
    }
	.change_paymode {
		 left: 10%;
    }
}

@media(max-width:767px)
{
	.cate-bill-screen {
		overflow: auto;
	}
	img#btnAddCreditCustomer {
		width: 20px !important;
	}
	
}

@media (min-width:768px) and (max-width:991px)
{
	.cate-bill-screen {
		overflow: auto;
	}
  .Search.search_section input {
		width: 100% !important;
	}
	input#txtItemCode {
        left: -5px;
	}
	.amt-details-tbl {
		height: 165px;
	}
	.Search.search_section img#btnAddCustomer {
		width: 30px !important;
    }
    .Search #btnGetByItemCode img {
	    width: 30px !important;
	}
	.Search #btnSearch img {
	    width: 30px !important;
	}
	.Search table.code_search {
		float: left;
		margin: 0; 
		width: 100%;
	}
		table.code-tbl {
		float: left;
		width: 100%;
	}
    .col-md-6.col-sm-6.col-xs-12.no-of-itm {
	    width: 100%;
	    float: left;
    }
    .col-md-6.col-sm-6.col-xs-12.amt-details-tbl {
	    float: left !important;
	    width: 100%;
	   
    }
      #tbliteminfo,#tbamountinfo
    {
        width:100% !important;
    }
    .bill_detail_screen div#colDvProductList {
	    height: auto !important;
    }
    #products .box {
	    width: 16% !important;
    }
	table.button_options td {
		width: 20% !important;
		float: left;
	}
	 .product_items .cate {height: 322px !important;}
	 .bill_detail_screen div#products {
		height: 643px !important;
    }
	 table#tbliteminfo tr:first-child td {
      padding: 0px 4px !important;
	}
    /*----kot screen----*/
     .kot-screen-table-no {
	    display: block;
	    width: 100%;
	    overflow-x: auto;
     }
     /*----kot screen----*/
	 .btn-div {
		float: left;
		width: 10%;
		text-align: left;
		margin-right:0;
	  }
	 ul#categories {
        width: 90% !important;
    }
	 .btn-left-panel {
		float: left;
		width: 80%;
	 }
	 .pro-btn-div {
		float: left;
		width: 20%;
		padding: 5px;
		box-sizing: border-box;
	}
	 .left-btn-div .button1 {
		font-size: 10px;
	}
	 .pro-arrow-div a {
       padding: 6px 12px;
        margin-right: 0;
	}

	     /*form*/
     .form-inp textarea#cm_Address1 {
		width: 100% !important;
	}
   .sec-input select#cm_ddlCities {
        width: 112px !important;
	}
   .sec-input  input#cm_Pincode {
		width: 137px !important;
	}
   .sec-input input#cm_EmailId {
		width: 137px !important;
	}
   .first-inp  input#cm_Discount {
		width: 137px !important;
	}
   .sec-input input#cm_Tag {
		width: 137px !important;
	}
   input#cm_DOB {
		width: 137px !important;
	}
   .sec-input input#cm_DOA {
		margin-left: 5px;
		width: 137px !important;
	}
   .form-inp input#txtGSTNo {
		width: 100% !important;
	}
   /*form*/
    #dvOuter_ddlMobSearchBox {
		width: 100px !important;
		
	}
   .cate.cate-bill-screen {
		height: 322px;
		max-height:322px;
		overflow:auto;
	}
   .form-left-select {
      width: 100%;
    }
    .form-right {
		float: left;
		width: 100%;
	}
	select#ddlbillttype {
      font-size: 15px !important;
	}
	.form-right .form-control {
		margin: 1px 3px;
	}
	select#ddlChosseCredit {
       width: 100px !important;
	}
	input#Text13 {
		left: 25%;
	}
	select#ddlOtherPayment {
      width: 100px !important;
	}
	.form-group.bill_list_btns table .btn {
		padding: 6px 6px;
		font-size: 14px;
	}
	.prefix-inp input#cm_Name {
		width: 85% !important;
	}
	/*----chnage pay mode ----*/
	  .change_paymode {left:15%;}
	/*----chnage pay mode ----*/
	table#tbProductInfo td:nth-child(2) {
       font-size: 12px !important;
	 }
	#tbProductInfo #btnMinus {
		  font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	#tbProductInfo #btnPlus{
		 font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	table#tbProductInfo td:nth-child(4) input {
     height: 20px !important;
	}
	#tbProductInfo input {
		font-size: 12px;
		height: 20px;
	}
	table#tbProductInfo td:nth-child(6) input {
		width: 40px !important;
	}
	table#tbProductInfo td:nth-child(7) input {
		width: 55px !important;
	}
	i#dvClose img {
		width: 16px;
	}
	table#tbamountinfo td {
       height: 28.2px !important;
	}
	.cash-btns-div .button1 {
	  font-size: 9px;
      padding: 0;
	}
	.change_paymode {
		 left: 15%;
    }
}

@media (min-width:768px) and (max-width:975px)
{
    /*----kot screen----*/ 
    .Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	    width: 100px !important;
    }
    .Search2.kotscreen_search_section2 table input {
	    width: 172px !important;
	    margin-bottom: 10px !important;
    }
    .kot-screen-running-table-section {
	    padding: 0;
    }
    .manage_kotscreen_left {
	    width: 100%;
    }
    .cate2 #tbamountinfo table tr td {
	    font-size: 12px !important;
	    padding: 10px 0;
	    font-weight: bold !important;
    }
    /*----kot screen----*/  
}
@media(min-width:768px) and (max-width:800px){
	.nav1 ul li {
		width: 49px !important;
	}
	.menu_tabs ul li a {
       font-size: 7px;
		padding: 0 2px;
    }
}
@media(min-width:801px) and (max-width:850px){
	.nav1 ul li {
		width: 51px !important;
	}
	.menu_tabs ul li a {
       font-size: 7px;
		padding: 0 2px;
    }
}
@media(min-width:851px) and (max-width:900px){
	.nav1 ul li {
		width: 55px !important;
	}
	.menu_tabs ul li a {
       font-size: 7px;
		padding: 0 2px;
    }
}
@media(min-width:901px) and (max-width:950px){
	.nav1 ul li {
		width: 58px !important;
	}
	.menu_tabs ul li a {
       font-size: 8px;
		padding: 0 2px;
    }
}
@media(min-width:951px) and (max-width:991px){
	.nav1 ul li {
		width: 61px !important;
	}
	.menu_tabs ul li a {
       font-size: 8px;
		padding: 0 2px;
    }
}
@media (min-width:976px) and (max-width:991px)
{
    /*----kot screen----*/ 
     .Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	    width: 168px !important;
    }
    .Search2.kotscreen_search_section2 table input {
	    width: 96px !important;
	 }
    /*----kot screen----*/ 
}
@media (min-width:992px) and (max-width:999px)
{
   /*----kot screen----*/ 
     .Search2.kotscreen_search_section2 table input {
	    width: 98px !important;
	 }
   /*----kot screen----*/ 
}

@media (min-width:1000px) and (max-width:1024px)
{
     /*----kot screen----*/ 
    .Search1.kotscreen_search_section table select {
	    width: 91px !important;
    }
    .Search2.kotscreen_search_section2 table input {
	    width: 98px !important;
	 }
     
    /*----kot screen----*/ 
}
@media (min-width:992px) and (max-width:1024px)
{
     #products .box {
	    width: 12% !important;
    }
    .menu_tabs ul li {
        min-width: 66px;
        max-width: 66px;
        width: 66px !important;
		overflow:hidden;
    }
	.menu_tabs ul li a {
       font-size: 9px;
		padding: 0 1px;
	}
	input#txtItemCode {
		float: left;
		position: relative;
		left: 0;
	}
	.search_section img#btnAddCustomer {
		margin: 0px 0px 0 !important;
	}
	#btnSearch img {
       margin: 0;
	}
    .Search.search_section input {
	    width: 100% !important;
    }
	
	select#ddlChosseCredit {
		width: 95px !important;
	}
    #lblCardAmount {
		float: left;
	}
	.second-field .form-txt {
		float: left;
		width: 30%;
		text-align: right;
	}
	.second-field .form-input {
		float: right;
		width:70%;
	}
	select#ddlType {
		width: 90px !important;
	}
	.cate.cate-bill-screen
	{
		padding-top:0;
		padding-bottom:0;
	}
	#ddlbillttype {
		font-size: 12px !important;
	}
	table.other-payment-tbl-billscreen input {
		margin-top: 2px;
	}	
	input#txtpaymentAmount {
		width: 55px !important;
	}
	/*----kot screen----*/
		#getCalculator {
			left: 0 !important;
			top: 0 !important;
		}
		div#lstBillNo {
			font-size: 11px !important;
		}
	/*----kot screen----*/
	.btn-left-panel {
		width: 80%;
		margin-top:2px;
	}
	.left-btn-div .button1 {
		font-size: 10px;
	}
	.pro-btn-div {
       width: 20%;
	   margin-top:0px;
   }
	.pro-arrow-div a {
        margin-right: 0;
	}
	table.button_options td {
		width: 20% !important;
		float: left;
	}
	.form-group.bill_list_btns table .btn {
		padding: 6px 6px;
		font-size: 13px;
	}
	div#btnreturn {
		font-size: 11px;
	}
	.bill_detail_screen div#colProducts div#products {
		height: 454px !important;
	}
	.search_section select {
       width: 100% !important;
	}
	table.shope-tbl {
      width: 100%;
	}
	table.code_search {
		width: 100%;
	}
	table.code-tbl {
       width: 100%;
	}
	#dvOuter_ddlMobSearchBox {
       width: 126px !important;
   }
	.amt-details-tbl {
		height: 164px;
	}
	.cate.cate-bill-screen {
		height: 202px;
		max-height: 202px;
		overflow: auto;
	}
	.form-left-select {
       width: 25%;
	}
	.form-right {
       width: 75%;
	}
	.form-right .form-control {
		margin: 1px 3px;
	}
	.form-input {
		float: left;
		width: 75%;
	}
	.form-txt {
		float: left;
		width: 23%;
	}
	img#btnAddCreditCustomer {
		width: 21px !important;
	}
	.prefix-inp input#cm_Name {
		width: 85% !important;
	}
	/*----change pay mode ----*/
	.change_paymode {
		left: 28%;
	}
	/*----change pay mode ----*/
	table#tbProductInfo td:nth-child(2) {
       font-size: 12px !important;
	   width:250px !important;
	}
	#tbProductInfo #btnMinus {
		  font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	#tbProductInfo #btnPlus{
		 font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	table#tbProductInfo td:nth-child(4) input {
     height: 20px !important;
	}
	#tbProductInfo input {
		font-size: 12px;
		height: 20px;
	}
	table#tbProductInfo td:nth-child(6) input {
		width: 40px !important;
	}
	table#tbProductInfo td:nth-child(7) input {
		width: 55px !important;
	}
	i#dvClose img {
		width: 16px;
	}
	table#tbamountinfo td {
       height: 28.2px !important;
	}
	.cash-btns-div .button1 {
	  font-size: 9px;
      padding: 0;
	}
}

@media (min-width:1025px) and (max-width:1095px)
{
     /*----kot screen----*/
     .Search1.kotscreen_search_section table select {
	    width: 96px !important;
    }
    .Search2.kotscreen_search_section2 table input {
	    width: 102px !important;
	 } 
     /*----kot screen----*/ 
	 .nav1 ul li {
		overflow: hidden;
		width: 68px !important;
		max-height: 34px !important;
		height: 34px !important;
	}
	.menu_tabs ul li a {
		font-size: 9px;
		padding: 0 2px;
	}
}
@media (min-width:1096px) and (max-width:1100px)
{
     /*----kot screen----*/
   
     /*----kot screen----*/
	 .nav1 ul li {
		overflow: hidden;
		width: 73px !important;
		max-height: 34px !important;
		height: 34px !important;
	}
	.menu_tabs ul li a {
		font-size: 10px;
		padding: 0 2px;
	}
}
@media (min-width:1025px) and (max-width:1100px)
{
    .Search.search_section input {
	    width: 100% !important;
    }
	#btnSearch img {
		  margin: 0;
	}
	input#txtItemCode {
		float: left;
		position: relative;
		left: 0;
	}
	.search_section img#btnAddCustomer {
		margin: 0px 0px 0 !important;
	}
	select#ddlChosseCredit {
		width: 94px !important;
	}
	img#btnAddCreditCustomer {
		width: 20px !important;
	}
    #lblCardAmount {
		float: left;
	
	}
	select#ddlType {
		width: 90px !important;
	}
	.cate.cate-bill-screen
	{
		padding-top:0;
		padding-bottom:0;
		height:200px;
		max-height:200px;
		overflow:auto;
	}
	.form-left-select {
       width: 28%;
	}
	.form-right {
       width: 72%;
	}
	.second-field .form-txt {
		width: 30%;
		text-align: right;
	}
	.second-field .form-input {
		width: 70%;
	}
	.form-right .form-control {
		margin: 1px 3px;
        height: 24px;
	}
	.form-txt {
		float: left;
		width: 23%;
	}
	.form-input {
		float: left;
		width: 75%;
	}

	#ddlbillttype {
		font-size: 14px !important;
	}
	table.other-payment-tbl-billscreen input {
		margin-top: 2px;
	}	
	
	input#txtpaymentAmount {
		width: 50px !important;
	}
	select#ddlOtherPayment {
		width: 110px !important;
	}
	/*----kot screen----*/
		#getCalculator {
			left: 0 !important;
			top: 0 !important;
		}
	/*----kot screen----*/
	.bill_detail_screen div#products {
		height: 449px !important;
	}
	.pro-arrow-div a {
        margin-right: 0;
		padding:6px 14px;
	}
	table.button_options td {
		width: 20%!important;
	}
	div#btnreturn {
		font-size: 10px;
	}
	.form-group.bill_list_btns table .btn{
		padding:6px 6px;
	}
	.left-btn-div .button1 {
		font-size: 10px;
	}
	.bill_detail_screen div#colProducts div#products {
		height: 373px !important;
	}
	table.code_search {
      width: 100%;
	}
	table.code-tbl {
       width: 100%;
	}
	#dvOuter_ddlMobSearchBox {
      width: 130px !important;
	}
	.amt-details-tbl {
		height: 173px;
	}
	.prefix-inp input#cm_Name {
		 width: 85% !important;
	}
	/*----chnage pay mode----*/
	.change_paymode {
		left: 28%;
	}
	/*----chnage pay mode----*/
	.bill_detail_screen div#colDvProductList {
		height: 431px;
	}
	table#tbProductInfo td:nth-child(2) {
       font-size: 12px !important;
	   width:250px !important;
	}
	#tbProductInfo #btnMinus {
		  font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	#tbProductInfo #btnPlus{
		 font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	table#tbProductInfo td:nth-child(4) input {
     height: 20px !important;
	}
	#tbProductInfo input {
		font-size: 12px;
		height: 20px;
	}
	table#tbProductInfo td:nth-child(6) input {
		width: 40px !important;
	}
	table#tbProductInfo td:nth-child(7) input {
		width: 55px !important;
	}
	i#dvClose img {
		width: 16px;
	}
	.cash-btns-div .button1 {
		 font-size: 9px;
       padding: 0;
	}
	
}
@media (min-width:1101px) and (max-width:1150px)
{
  
	 .nav1 ul li {
		overflow: hidden;
		width: 73px !important;
		max-height: 34px !important;
		height: 34px !important;
	}
	.menu_tabs ul li a {
		font-size: 10px;
		padding: 0 2px;
	}
}
@media (min-width:1151px) and (max-width:1200px)
{
  
	 .nav1 ul li {
		overflow: hidden;
		width: 77px !important;
		max-height: 34px !important;
		height: 34px !important;
	}
	.menu_tabs ul li a {
		font-size: 10px;
		padding: 0 2px;
	}
}
@media (min-width:1101px) and (max-width:1172px)
{
     /*----kot screen----*/
     .Search2.kotscreen_search_section2 table input {
	    width: 115px !important;
	 } 
     /*----kot screen----*/
}
@media (min-width:1101px) and (max-width:1200px)
{
    .Search.search_section input {
	    width: 100% !important;
    }
	select#ddlChosseCredit {
		width: 115px !important;
	}
	.second-field .form-txt {
		text-align: right;
	}
	.form-right .form-control {
		margin: 1px 3px;
		height: 24px;
	}
	input#txtpaymentAmount {
		width: 50px !important;
	}
	select#ddlOtherPayment {
		width: 110px !important;
	}
	 #lblCardAmount {
		float: left;
	}
	 input#Text13 {
		position: relative;
		left: 32px;
	}
	.cate.cate-bill-screen {
		padding-top: 0;
		padding-bottom: 0;
		height: 200px;
		max-height:200px;
		overflow:auto;
	}
	#ddlbillttype {
		font-size:15px !important;
	}
	.form-left-select {
       width: 29%;
	}
	.form-right {
		float: left;
		width: 71%;
	}
	/*----kot screen----*/
		#getCalculator {
			left: 0 !important;
			top: 0 !important;
		}
	/*----kot screen----*/
	table.button_options td {
		width: 20% !important;
	}
	.form-group.bill_list_btns table .btn{
		padding:6px 11px;
	}
	div#btnreturn {
		font-size: 11px;
	}
	.bill_detail_screen div#products {
		height: 440px !important;
	}
	.pro-arrow-div a {
	    padding: 6px 15px;
	    margin-right: 0;
	}
	.left-btn-div .button1 {
		font-size: 11px;
	}
	.bill_detail_screen div#colProducts div#products {
		height: 374px !important;
	}
	table.code_search {
		float: left;
		width: 100%;
	}
	table.code-tbl {
		float: left;
		width: 100%;
	}
	#dvOuter_ddlMobSearchBox {
       width: 114px !important;
   }
	.amt-details-tbl {
		height: 168px;
	}
	.prefix-inp input#cm_Name {
        width: 85% !important;
    }
		table#tbProductInfo td:nth-child(2) {
       font-size: 12px !important;
	   width:250px !important;
	}
	#tbProductInfo #btnMinus {
		  font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	#tbProductInfo #btnPlus{
		 font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	table#tbProductInfo td:nth-child(4) input {
     height: 20px !important;
	}
	#tbProductInfo input {
		font-size: 12px;
		height: 20px;
	}
	table#tbProductInfo td:nth-child(6) input {
		width: 40px !important;
	}
	table#tbProductInfo td:nth-child(7) input {
		width: 55px !important;
	}
	i#dvClose img {
		width: 16px;
	}
	.cash-btns-div .button1 {
		 font-size: 9px;
       padding: 0;
	}
}
@media (min-width:1201px) and (max-width:1320px)
{
    #products .box {
	    width: 12% !important;
    }
    .Search.search_section input {
	    width: 115px !important;
    }
    
	.bill_detail_screen div#products {
		height: 377px;
	}
	select#ddlChosseCredit {
		width: 145px !important;
		font-size: 12px !important;
		height: 22px !important;
	}
	input#txtCODAmount {
		width: 50px !important;
	}
	input#txtpaymentAmount {
		width: 50px !important;
	}
	select#ddlOtherPayment {
		width: 80px !important;
		height:22px !important;
	}
	 #lblCardAmount {
		float: left;
	}
	.cate.cate-bill-screen
	{
		padding-top:0;
		padding-bottom:0;
	}
	#ddlbillttype {
		font-size:13px !important;
	}
	table.other-payment-tbl-billscreen input {
		margin-top: 0;
		height:22px !important;
	}
	select#ddlBank {
		margin-top: 0;
		height:22px !important;
	}
	p.show_date {
		font-size: 12px;
	}
	select#ddlType {
		height: 22px !important;
	}
	.Search.search_section input {
		width: 100% !important;
	}
	.bill_detail_screen div#products {
		height: 426px !important;
	  }
	table.button_options td {
		width: 20% !important;
		float: left;
	}
	.pro-arrow-div a {
       margin-right: 0;
	}
	.left-btn-div .button1 {
		font-size: 12px;
	}
	table.code_search {
      width: 100%;
	}
	.cash-btns-div .button1 {
		font-size: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
	table#tbamountinfo td {
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		height: 28px !important;
	}
	#tbProductInfo #btnMinus {
		  font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	#tbProductInfo #btnPlus{
		 font-size: 20px;
		 line-height: 20px;
		  width: 20px !important;
		height: 20px !important;
	}
	table#tbProductInfo td:nth-child(4) input {
     height: 20px !important;
	}
	#tbProductInfo input {
		font-size: 12px;
		height: 20px;
	}
}
@media(min-width:1201px) and (max-width:1201px){
	input#txtSearch {
		width: 190px !important;
	}
}
@media(min-width:1202px) and (max-width:1210px){
	input#txtSearch {
		width: 193px !important;
	}
}
@media(min-width:1211px) and (max-width:1220px){
	input#txtSearch {
		width: 195px !important;
	}
}
@media(min-width:1221px) and (max-width:1230px){
	input#txtSearch {
		width: 197px !important;
	}
}
@media(min-width:1231px) and (max-width:1240px){
	input#txtSearch {
		width: 202px !important;
	}
}
@media(min-width:1241px) and (max-width:1250px){
	input#txtSearch {
		width: 205px !important;
	}
}
@media(min-width:1251px) and (max-width:1260px){
	input#txtSearch {
		width: 210px !important;
	}
}
@media(min-width:1261px) and (max-width:1270px){
	input#txtSearch {
		width: 214px !important;
	}
}
@media(min-width:1271px) and (max-width:1280px){
	input#txtSearch {
		width: 218px !important;
	}
}
@media(min-width:1281px) and (max-width:1290px){
	input#txtSearch {
		width: 222px !important;
	}
}
@media(min-width:1291px) and (max-width:1300px){
	input#txtSearch {
		width: 225px !important;
	}
}
@media(min-width:1301px) and (max-width:1310px){
	input#txtSearch {
		width: 229px !important;
	}
}
@media(min-width:1311px) and (max-width:1320px){
	input#txtSearch {
		width: 233px !important;
	}
	.product_items .cate {
	    height: 262px !important;
    }
}
@media(min-width:1321px) and (max-width:1350px) {
	input#txtSearch {
		width: 253px !important;
	}

	.Search.search_section input {
		width: 259px !important;
	}
}
@media(min-width:1201px) and (max-width:1310px){
	.bill_detail_screen #colProducts div#products {
		height: 375px !important;
	}
	 .product_items .cate {
	    height: 220px !important;
    }
	.cate.cate-bill-screen {
		height: 183px;
		max-height: 183px;
		overflow: auto;
	}
	.form-left-select {
       width: 25%;
    }
	.form-right {
		width: 75%;
	}
	.form-right .form-control {
		margin: 1px 3px;
		height: 23px;
	}
	.g-btn div, .close-btn div {
		padding: 2px 12px !important;
		margin: 1px 2px !important;
	}
}
@media (min-width:1201px) and (max-width:1250px)
{
  	 .nav1 ul li {
		overflow: hidden;
		width: 80px !important;
		max-height: 34px !important;
		height: 34px !important;
	}
	.menu_tabs ul li a {
		padding: 0 2px;
	}
}
@media (min-width:1251px) and (max-width:1300px)
{
  	 .nav1 ul li {
		overflow: hidden;
		width: 83px !important;
		max-height: 34px !important;
		height: 34px !important;
	}
	.menu_tabs ul li a {
		padding: 0 2px;
	}
}
@media (min-width:1301px) and (max-width:1350px)
{
  	 .nav1 ul li {
		overflow: hidden;
		width: 87px !important;
		max-height: 34px !important;
		height: 34px !important;
	}
	.menu_tabs ul li a {
		padding: 0 2px;
	}
}
@media(min-width:1311px)
{
    .product_items .cate {
	    height: 285px;
    }
	.cate.cate-bill-screen {
		height: 262px;
		min-height:262px;
		max-height:262px;
		overflow:auto;
	}
}
@media screen and (max-width:1200px) and (min-width:1000px)
{
       html {overflow-x: hidden;}
    .reciept_detail {width: 270px !important; margin: 5px 0px 7px !important; background-color: #fff !important;}
	p.show_date {
		width: 100%;
		float: left;
		font-size: 11px;
	}

    #products .box {width: 12%;margin: 10px 0 0 9px;}
    .calculator .displayBox {width: 100%; height: auto !important; max-height: 90px!important;}
    .operationSide .btn-operation {width: 90px;height: 40px; padding: 0px;}
    .calculator .operationSide {left: -20px; top: 25px;padding: 8px 18px 0;}
    .cal_close {margin: 15px 0;}
    .displayText {margin: 0px !important;font-size: 35px !important;}
    div#getCalculator {left: 90px; top: 15%; width: 40%;}
    .num_key .btn {width: 45px;height: 45px;}
    .num_key {padding: 8px 0 0;}
    .search_section {width: 100% !important; height: auto !important;}
    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding: 11px 7px !important; height: auto !important;}
    .search_section input {
    height: 40px !important;
    font-size: 12px;
    width: 145px !important;
    font-size: 12px;}
    .bill_detail_screen div#products {height: 394px;}

    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding:0px;}
    .reciept_detail input#txtRemarks {margin: 0px;    height: 22px;}
    .reciept_detail input {margin: 0px;width: 30px !important;}
    .reciept_detail td {padding: 5px 4px !important; vertical-align: middle !important;}
    .product_items .cate {height: 297px !important;}
    .button_options .button1 {font-size: 10px; line-height: 11px; letter-spacing: 0px; padding-top: 8px;}
    .button_options .button3 {font-size: 12px;line-height: 12px;letter-spacing: 1px; padding-top: 8px;}
    .kotscreen_boxes{height: 372px !important;}
    .MangeBill{font-size: 10px;    line-height: 10px;}
}

@media screen and (max-width:999px) and (min-width:768px)
{
    html {overflow-x: hidden;}
    .reciept_detail {width: 195px !important; margin: 0px 0px 7px !important;}
    #products .box {width: 15%;margin: 10px 0 0 7px;}
    .bill_detail_screen div#colDvProductList{    height: 492px;}
	 .calculator .displayBox {width: 100%; height: auto !important; max-height: 90px!important;}
    .operationSide .btn-operation {width: 90px;height: 40px; padding: 0px;}
    .calculator .operationSide {left: -20px; top: 25px;padding: 8px 18px 0;}
    .cal_close {margin: 15px 0;}
    .displayText {margin: 0px !important;font-size: 35px !important;}
    div#getCalculator {left: 13px;top: 15%;width: 55%;}
    .num_key .btn {width: 45px;height: 45px;}
    .num_key {padding: 8px 0 0;}
    .search_section {width: 100% !important; height: auto !important;}
     #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding: 11px 7px !important; height: auto !important;}
     .search_section input {
    height: 40px !important;
    font-size: 12px;
    width: 75px !important;
    font-size: 12px;}
    .bill_detail_screen div#products {height: 412px;}
      #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding:0px;}
    .reciept_detail input#txtRemarks {width: 50px !important;    margin: 0px;}
    .reciept_detail input {margin: 0px;width: 30px !important;}
    .reciept_detail td {padding: 5px 4px !important; vertical-align: middle !important;}
      .button_options .button1 {font-size: 10px; line-height: 9px; letter-spacing: 0px; padding-top: 7px;}
    .button_options .button3 {font-size: 11px;line-height: 12px;letter-spacing: 1px; padding-top: 5px;}
    .kotscreen_boxes{height: 304px !important;}
    .manage_kotscreen_left div#dvProductInfo {height: 214px !important;}
}
@media screen and (max-width:767px) and (min-width:580px)
{
    html, body {overflow-x: hidden !important;}
    .betlist_form_table div#gbox_jQGridDemoBill {width: 100% !important; overflow: auto;}
    .betlist_form_table div#t_jQGridDemoBill{width: 100%; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}
    .betlist_form_table div#jQGridDemoPagerBill {height: 33px;}
    .reciept_detail {width: 115px !important; margin: 0px 0px 7px !important;}
    .product_items div#ScrollHgt {border: 1px solid #887d73;}
   
#dvOuter_ddlMobSearchBox {
    min-height: auto;
    margin: 0px 0 0 5px;
    border-radius: 0px;
    padding: 0 0 !important;
    min-width: auto !important;
    width: 60px !important;
    top: 0px;
}
    .calculator .displayBox {width: 100%; height: auto !important; max-height: 90px!important;}
    .operationSide .btn-operation {width: 90px;height: 40px; padding: 0px;}
    .calculator .operationSide {left: -20px; top: 25px;padding: 8px 2px 0;}
    .cal_close {margin: 15px 0;}
    .displayText {margin: 0px !important;font-size: 35px !important;}
    div#getCalculator {left: 13px;top: 15%;width: 55%;}
    .num_key .btn {width: 45px;height: 45px;}
    .num_key {padding: 8px 0 0;}
    .search_section {width: 100% !important; height: auto !important;}
     #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding: 11px 7px !important; height: auto !important;}
    .search_section img#btnAddCustomer {margin: 0px 0px 0 !important; width: 35px !important;}
    #btnGetByItemCode img {width: 40px !important; margin: 0px 0px;}
    #btnSearch img {width: 40px !important; margin: 0 0 0 0px;}
    .search_section input {
    height: 40px !important;
    margin: 0px 0 !important;
    font-size: 12px;
    width: 60px !important;
    font-size: 10px;}
    .bill_detail_screen div#products {height: 452px;}
    
    #dvOuter_ddlMobSearchBox #txtddlMobSearchBox {margin: 0px !important; padding:0px;}
    .reciept_detail input#txtRemarks {width: 100px !important;    margin: 0px;}
    .reciept_detail input {margin: 0px;width: 30px !important;}
    .reciept_detail td {padding: 5px 2px !important; vertical-align: middle !important; font-size: 8px;}
    .product_items .cate {height: 140px !important;}
    .button_options .button1 {font-size: 10px; line-height: 8px; letter-spacing: 0px; padding-top: 8px;}
    .button_options .button3 {font-size: 10px;line-height: 8px;letter-spacing: 0px; padding-top: 8px;}
    .kotscreen_boxes{height: 360px !important;}
    .manage_kotscreen_left div#dvProductInfo {height: 204px !important;}
}
@media screen and (max-width:579px) and (min-width:400px)
{
    html, body {overflow-x: hidden !important;}
    .betlist_form_table div#gbox_jQGridDemoBill {width: 100% !important; overflow: auto;}
    .bill_list_btns .btn {font-size: 12px; padding: 5px 8px;}
    .betlist_form_table .ui-jqgrid .ui-jqgrid-htable th div {font-size: 11px; font-weight: normal;}
    .betlist_form_table div#t_jQGridDemoBill{width: 100%; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}
    .betlist_form_table div#jQGridDemoPagerBill {height: 33px;}
    .betlist_form_table input#txtDateFrom {width: 75px !important; font-size: 12px;}
    .betlist_form_table input#txtDateTo {width: 75px !important; font-size: 12px !important;}
}
@media screen and (max-width:399px) and (min-width:320px)
{
    html, body {overflow-x: hidden !important;}
    .betlist_form_table div#gbox_jQGridDemoBill {width: 100% !important; overflow: auto;}
    .bill_list_btns .btn {font-size: 11px; padding: 5px 3px;}
    .betlist_form_table .ui-jqgrid .ui-jqgrid-htable th div {font-size: 11px; font-weight: normal;}
    .betlist_form_table div#t_jQGridDemoBill{width: 100%; padding: 1px 17px 23px; float: left; clear: both; height: 31px;}
    .betlist_form_table div#jQGridDemoPagerBill {height: 33px;}
    .betlist_form_table input#txtDateFrom {width: 75px !important; font-size: 12px;}
    .betlist_form_table input#txtDateTo {width: 75px !important; font-size: 12px !important;}
}
.menu_tabs ul#categories {
    width: 100%;
    table-layout: fixed;
    float: left;
    max-height: 102px;
	min-height:102px;
    margin: 0px;
    overflow-x: auto;
    border: 1px solid #46c9ac;
    overflow-y: auto;
}
#colProducts {
    width: 58%;
}
 .kotscreen_search_section {margin: 0px !important;padding: 0px 0px !important;}
 .kotscreen_search_section2 {margin: 0px !important;padding: 3px 0px !important;}
 .manage_kotscreen_left .cate2 {margin: 0px;    float: left;}
 .manage_kotscreen_left .cate {height: 292px;}
 .manage_kotscreen_left .leftside {
    margin: 0px;
    border: 1px solid #46c9ac;
     background: -webkit-linear-gradient(#46c9ac, #46c9ac);}
 .manage_kotscreen_left {
    border: 1px solid #46c9ac;
    border-radius: 0px;
    background-color: mintcream;
    padding: 2px 2px;
    float: left;}
 .kotscreen_boxes {
    width: 100%;
    margin: 2px auto;
    border: 1px solid #46c9ac;
    border-radius: 0px;
    overflow: auto;
    height: 365px;
    background-color: white;
    float: left;}
  .kotscreen_search_section table {width: 100%;}
  .kotscreen_search_section table td {margin: 5px 5px !important;padding: 0px;}
  .kotscreen_search_section table .checkbox {
    float: left;
    border: 2px solid #fff;
    padding: 8px 5px;
    width: 140px;}
    .kotscreen_search_section table .check {float: right;}
    .kotscreen_search_section table select {font-size: 18px;margin: 0px; width: 130px !important; border-radius: 0px; box-shadow: none;}
    .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {margin: 0px 0 8px; width: 320px !important;}
    .kotscreen_search_section2 table td {float: left;}
    .kotscreen_search_section2 table input {width: 133px !important; border-radius: 0px;border-radius: 0px;box-shadow: none;}
    .kotscreen_search_section2 table img#btnAddCustomer {margin: -50px 0 0 !important;}
    .search_main {background-color: #f06671;width: 100%;float: left;}
    .bill_detail_screen1 {
    background-color: #fffff6;
    padding: 0px 0px 20px;
    width: 100%;
    float: left;
}
    .table_transfer {width: 40%;margin: 0 auto;box-shadow: 0px 0px 8px #9a9a9a;}
    .table_transfer .x_title h2 {
    margin: 0px;
    font-size: 22px;
    text-align: center;
    padding: 8px 6px;
    background-color: #f06671;
    color: #fff;
    font-weight: 600;}
    .table_transfer .form-group table {width: 100%;}
    .table_transfer_list .leftside {margin: 0px; background-color: #f06671;}
    .table_transfer_list .cate {margin: 0px !important; padding: 0px;}
    .form-group label.table_lable {width: 100%;float: left; margin: 10px 0 5px 15px;}
    .form-group .table_select {
    width: 90%;
    height: 40px;
    font-size: 20px;
    margin: 0 15px 10px;}
    
    @media screen and (max-width:1199px) and (min-width:1000px)
    {
        .kotscreen_search_section table td {margin: 5px 2px !important;}
        .kotscreen_search_section table select {width: 115px !important;}
        .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {width: 275px !important; margin: 0px 0 5px;}
        .kotscreen_search_section2 table input {width: 110px !important;}
        .kotscreen_search_section table select {font-size: 17px;}
    }
    @media screen and (max-width:999px) and (min-width:768px)
    {
        .kotscreen_search_section table td {margin: 5px 2px !important;}
        .kotscreen_search_section table select {width: 75px !important;font-size: 17px;}
        .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {width: 225px !important; margin: 0px 0 5px;}
        .kotscreen_search_section2 table input {width: 82px !important;}
        .kotscreen_search_section {padding: 0px 15px !important;}
        .kotscreen_search_section2 input#txtddlMobSearchBox {width: 100% !important;}
        .kotscreen_search_section table .checkbox {width: 135px;}
        .kot_button_option {word-break: break-word;}
        .MangeBill{font-size: 10px !important; padding: 8px 3px 0 !important; line-height: 10px;}
        p.show_date {width: 100%;float: left; font-size: 11px;}
    }
    @media screen and (max-width:767px) and (min-width:580px)
    {
        .kotscreen_search_section table td {margin: 5px 2px !important;}
        .kotscreen_search_section table select {width: 60px !important;font-size: 12px;}
        .kotscreen_search_section2 div#dvOuter_ddlMobSearchBox {width: 183px !important; margin: 0px 0 5px;}
        .kotscreen_search_section2 table input {width: 70px !important;}
        .kotscreen_search_section {padding: 11px 0px 11px 10px !important;}
        .kotscreen_search_section2 input#txtddlMobSearchBox {width: 100% !important;}
        .kotscreen_search_section table .checkbox {width: 105px;font-size: 10px;padding: 8px 2px;}
        .kotscreen_search_section2 table img#btnAddCustomer {margin: -45px 0 0 !important; width: 35px !important;}
        .kot_btnGetByItemCode img {margin: 0px !important;}
        .kotscreen_search_section2 {padding: 15px 0px !important;}
        .kot_button_option {word-break: break-word;}
    }
