﻿table#myCustomTable tr:last-child td {
    font-size: 17px;
	font-weight:700;
}
table#myCustomTable tr td:first-child {
    width: 150px;
}
td.net-amt-val div {
    color: black;
    text-shadow: 1px 1px 0px #f06671;
    font-weight: 700;
    font-size: 18px;
}
.nbscreen_itemcode {
    margin: 0 0 0 18px !important;
    width: 160px !important;
    border: 2px solid #f06671  !important;
    font-size: 22px !important;
    padding: 15px 20px !important;
    text-align: left !important;
     float: left; 
}
#tbProductInfo td.td_itemcode {
    text-align: left !important;
}
td.code-cls {
    text-align: left !important;
}
.ui-keyboard-has-focus {
    z-index: 16001;
    top: 25% !important;
    left: 25% !important;
}
.Itemgrid-pop .ui-jqgrid-bdiv {
	height: 436px !important;
}
table#jQGridProduct td {
	text-align: left !important;
}
.ui-widget button {
	font-size: 1.4em;
}
div#gbox_jQGridDemoBill {
    width: 100% !important;
}
div#gview_jQGridDemoBill {
    width: 100% !important;
}
div#t_jQGridDemoBill {
    width: 100% !important;
    height: 29px;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox {
    float: left;
    padding-right: 0;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemoBill {
    width: 100% !important;
    overflow-x: auto;
}
div#jQGridDemoPagerBill {
    width: 100% !important;
    overflow-x: auto;
}
.ui-widget-header {
    background: #1479B8;
}
.table_and_shortkey {
    width: 82%;
    float: left;
}
.nbscreen_cate1 table.buttons {
    width: 18%;
    margin: 0 0px 0 0;
    float: right;
    border-left: 2px solid #00000045;
}
.buttons .button1 {
    width: 94%;
    height: 46px;
    float: left;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    margin: 1px;
    padding-left: 22%;
}
.right_col {
    min-height: auto;
}
input#txtpnno {
    font-size: 14px !important;
    height: 30px;
}
input#txtddlMobSearchBox {
    font-size: 14px;
    padding-top: 7px;
}
div#dvVat {
    text-align: left;
}
tr#vatIncOrExc td:first-child {
    text-align: left !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
    top: 25% !important;
    left: 10% !important;
    width: 60% !important;
    height: 330px !important;
}
.search-pop .ui.search.dropdown .menu {
    max-height: 100%;
    height: 100%;
    min-height: 240px;
}
.search-pop .item.cutomdivitem {
    min-height: 30px;
    line-height: 30px !important;
}
div#search_item{
	height:100% !important;
}
div#dvOuter_ddlItemSearchBox {
    width: 100% !important;
}
div#gbox_jQGridDemoItem {
    width: 100% !important;
}
div#gview_jQGridDemoItem {
    width: 100% !important;
}
div#t_jQGridDemoItem {
    width: 100% !important;
    height: 29px;
}
table#jQGridDemoItem {
    width: 100% !important;
    overflow: auto;
}
div#jQGridDemoPagerItem {
    width: 100% !important;
	 overflow: auto;
}
div#search_item .ui-jqgrid-titlebar.ui-widget-header.ui-corner-top.ui-helper-clearfix {
    display: none;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecustser-pop {
    width: auto !important;
    left: 25% !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwindow-pop {
    width: auto !important;
    left: 25% !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
    width: auto !important;
    left: 25% !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		width: 550px !important;	
}
.prefix-inp input#cm_Name {
    float: right;
    width: 86% !important;
    position: relative;
    right: -5px;
}
span.fa.fa-plus.city-plus {
    position: relative;
    top: 9px;
    left: 2px;
}
#tbProductInfo input {
    width: 100%;
    text-align: center;
}
table#jQGridDemoItem tr td:nth-child(2), table#jQGridDemoItem tr td:first-child {
	text-align: left !important;
}
.search-pop div#jQGridDemoPagerItem {
	width: 100% !important;
	overflow: auto;
	height: 50px;
}
.search-pop  table.ui-pg-table {
	font-size: 18px;
}
.search-pop  select.ui-pg-selbox {
	height: 25px !important;
}
.search-pop  input.ui-pg-input {
	height: 25px !important;
}
table#tbProductInfo tr td:first-child {
    padding-left: 15px;
    box-sizing: border-box;
}
.main_td_right #myCustomTable td {
    width: 96px;
}
div#dvOuter_ddlMobSearchBox {
    width: 97% !important;
}
input#txtpnno {
    width: 83% !important;
}
#dvOnlineWindow .form-txt {
    float: left;
    width: 30%;
}
#dvOnlineWindow .form-input {
    float: left;
    width: 70%;
}
select#ddlOtherPayment {
	margin-top: 0px;
	width: 100px !important;
}
input#txtpaymentAmount {
    margin-top: 0;
    width: 70px !important;
}
td.online-tr-op {
	float: left;
	width: 70px;
	margin-top: 10px;
}
label#COD {
	margin: 0;
	padding: 0;
	position: relative;
	top: -7px;
}
label#Online {
	margin-bottom: 0;
	position: relative;
	top: -7px;
}
select#ddlOtherPayment {
	height: 25px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
    width: 430px !important;
    top: 6% !important;
    left: 48% !important;
}
div#btnClose {
    font-size: 20px;
    font-weight: 700;
    padding-left: 36%;
    padding-top: 0;
    line-height: 46px;
}
.newprotbl {
    display: flex;
    flex-direction: column-reverse;
}
.change_paymode {
    left: 38%;
    top: 140px;
    width: 540px;
    box-shadow: 0px 5px 10px 0px #000;
    background-color: #fff;
    position: absolute !important;
}
.change_paymode .x_panel {
    padding: 0px;
    margin: 0px;
}
.change_paymode h2 {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    background-color: #52c9ae;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 0;
}
.change_paymode .bill_number {
    border-radius: 3px;
    padding: 0 5px;
    width: 70%;
    float: left;
}
.paymode_cate #ddlbillttype_pm option {padding: 4px 5px;}
.payment_cate_table td {font-size: 15px;}
.change_paymode .x_content {
    margin: 0px;
    padding: 0px;
}
.paymode_cate {
    margin: 0px !important;
    padding: 6px 6px !important;
    border: none !important;
}
.reciept_detail input {margin: 0px; height:19px;}
div#getCalculator {left: 90px; top: 15%;}
.calculator .operationSide {left: -20px;}
.calculator .displayBox {width: 100%;}
.cal_close {background-color: #eb646f; color: #fff; font-weight: 600; width: 100px;  height: 45px;}
.calculator .x_panel {padding: 0px; margin: 0px;}
.paymode_cate #ddlbillttype_pm option {padding: 4px 5px;}
.payment_cate_table td {font-size: 15px;}
.paymode_close td {font-size: 15px;}
.paymode_close input#txtBalanceReturn_pm {margin: 3px 20px;}
tr.paymode_close {border-top: 1px dotted #c0c0c0; width: 100%; float: left;padding: 8px 0 0;}
label#Online_pm {margin: 0px; position: relative; top: -5px;}
label#COD_pm {margin: 0px; position: relative;top: -6px;}
.paymode_cate select#ddlbillttype_pm {margin: 0px 0px 10px;padding: 0px;font-size: 16px;}
.paymode_cate {margin: 0px !important; padding: 6px 6px !important; border: none !important;}
.change_paymode .x_content {margin: 0px; padding: 0px;}
.bill_number input#txtBillNumber_pm {margin: 0px;}
.shop-select {
    position: absolute;
    top: -34px;
    z-index: 1;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvonlinewin-pop {
    width: 300px!important;
	left: 32% !important;
    top: 30% !important;
}
/*----responsive-----*/
@media(max-width:435px){
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
		width: 100% !important;
		top: 6% !important;
		left: 0% !important;
	}
}
@media(min-width:436px) and (max-width:480px){
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
		top: 6% !important;
		left: 0% !important;
	}
}
@media(max-width:480px){
	input#txtDateFrom, input#txtDateTo {
		width: 90px !important;
	}
	.table_and_shortkey {
		width: 100%;
   }
	.nbscreen_cate1 table.buttons {
		width: 100%;
	}
	.buttons td {
		display: table-cell;
		float: left;
	}
	.buttons .button1 {
		width: 105px;
       font-size: 11px;
	    padding-left: 16%;
	}
	.left-tbl-pan {
		float: left;
		width: 100%;
	}
	.right-tbl-pan {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	div#dvOuter_ddlMobSearchBox {
		width: 97% !important;
	}
	input#txtpnno {
      width: 82% !important;
    }
	.both_amount ul li:first-child p {
		width: 120px;
	}
	.both_amount ul li p {
       font-size: 14px;
	}
	.main_td table td {
		font-size: 14px;
	}
	.main_td_right #myCustomTable td {
		 width: 39px;
	}
	table#myCustomTable tr:last-child td {
		font-size: 13px;
	}
	table#myCustomTable tr td:first-child {
		width: 100px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwindow-pop {
		width: 100% !important;
		left: 0% !important;
		top: 20% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwindow-pop .cate {
        overflow: auto;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecustser-pop {
		width: 100% !important;
		left: 0% !important;
		top: 20% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecustser-pop .cate {
        overflow: auto;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 3% !important;
		width: 95% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
		left: 2% !important;
	}
	 .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvonlinewin-pop {
  		left: 2% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		width: auto !important;
		left: 2% !important;
		top: 20% !important;
	}
	.nbscreen_product_list .leftside table {
		width: 100%;
	}
	#tbProductInfo tr td {
		font-size: 11px;
		text-align: left !important;
	}
	.nbscreen_product_list {
		text-align: left !important;
	}
	.nbscreen_product_list .leftside th:first-child {
		padding-left: 5px !important;
		box-sizing: border-box;
	}
	.nbscreen_product_list .leftside th:last-child {
		padding-left: 6px !important;
		box-sizing: border-box;
	}
	.nbscreen_cate2 #tbamountinfo .main_td {
		width: 100%;
    }
	.nbscreen_cate2 #tbamountinfo .main_td_right {
		width: 100%;
    }
	.main_td_right #myCustomTable {
		width: 100%;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		width: 100% !important;
	}
	.form-lbl {
		width: 100%;
	}
	.form-inp {
       width: 100%;
	}
	.prefix-inp select {
        width: 28%;
	}
	.prefix-inp input#cm_Name {
       width: 67% !important;
	}
	.first-inp {
		float: left;
		width: 100%;
	}
	.sec-inp {
        width: 100%;
	}
	.first-inp select#cm_ddlState {
		width: 100% !important;
	}
	.sec-lbl {
       width: 100%;
	}
	.sec-input {
       width: 100%;
	}
	.sec-input select#cm_ddlCities {
       width: 92% !important;
	}
	.first-inp select#cm_ddlArea {
		width: 92% !important;
	}
	.sec-input input#cm_Pincode {
		width: 100%;
	}
	.first-inp input#cm_ContactNumber {
		width: 100% !important;
	}
	.sec-input input#cm_EmailId {
		width: 100% !important;
	}
	.first-inp input#cm_Discount {
		width: 100%;
	}
	.sec-input input#cm_Tag {
		width: 100%;
	}
	input#cm_DOB {
		width: 100%;
	}
	.sec-input input#cm_DOA {
       width: 100%;
	}
	.Itemgrid-pop {
		top: 32.5% !important;
		left: 5% !important;
	}
	div#btnClose {
      padding-left: 0;
      text-align: center;
	}
	.change_paymode .x_content {
      overflow: auto;
	}
	.change_paymode {
		 left: 2%;
       width: 100%;
    }
}
@media(min-width:481px) and (max-width:567px){
	.nbscreen_product_list .leftside table {
		width: 100%;
	}
	#tbProductInfo tr td {
		font-size: 11px;
	}
	.table_and_shortkey {
		width: 100%;
   }
	.nbscreen_cate1 table.buttons {
	 width: 100%;
  }
	.buttons td {
		display: table-cell;
		float: left;
	}
	.buttons .button1 {
		width: 112px;
       font-size: 11px;
	    padding-left: 16%;
	}
	.left-tbl-pan {
		float: left;
		width: 100%;
	}
	.right-tbl-pan {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	div#dvOuter_ddlMobSearchBox {
		width: 97% !important;
	}
	input#txtpnno {
      width: 82% !important;
    }
	.both_amount ul li:first-child p {
		width: 120px;
	}
	.both_amount ul li p {
       font-size: 14px;
	}
	.main_td table td {
		font-size: 14px;
   }
	.main_td_right #myCustomTable td {
		 width: 39px;
	}
	table#myCustomTable tr:last-child td {
		font-size: 13px;
	}
	table#myCustomTable tr td:first-child {
		width: 100px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwindow-pop {
		width: auto !important;
		left: 2% !important;
		top: 20% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecustser-pop {
		width: auto !important;
		left: 9% !important;
		top: 20% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 2.5% !important;
		width: 95% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
		left: 20% !important;
	}
	 .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvonlinewin-pop {
  		left: 20% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		width: auto !important;
		left: 2% !important;
		top: 20% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		width: 480px !important;
		top: 20% !important;
	}
	.prefix-inp select {
		float: left;
		width: 14%;
	}
	.prefix-inp input#cm_Name {
       width: 82% !important;
	}
	.sec-input select#cm_ddlCities {
       width: 99px !important;
	}
	.sec-input input#cm_Pincode {
		width: 117px;
	}
	.sec-input input#cm_EmailId {
		width: 117px !important;
	}
	.sec-input input#cm_Tag {
		width: 117px;
	}
	.sec-input input#cm_DOA {
      width: 117px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
		top: 7% !important;
		left: 5% !important;
	}
	div#btnClose {
      padding-left: 0;
      text-align: center;
	}
	.change_paymode .x_content {
      overflow: auto;
	}
	.change_paymode {
		 left: 2%;
       width: 100%;
    }
}
@media(min-width:568px) and (max-width:667px){
	.buttons .button1 {
		width: 89%;
       padding-left: 2%;
	   font-size:11px;
	}
	.nbscreen_product_list .leftside table {
		width: 82%;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwindow-pop {
       left: 2% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecustser-pop {
	    left: 8% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 2% !important;
		width: 80% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
       left: 15% !important;
	}
	 .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvonlinewin-pop {
  		left: 15% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
      left: 0% !important;
	}
	div#dvOuter_ddlMobSearchBox {
		width: 98% !important;
		border: 2px solid #f06671;
		min-width: auto !important;
	}
	input#txtpnno {
        width: 83% !important;
    }
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li p span {
        font-size: 9px;
	}
	table#myCustomTable tr td:first-child {
		width: 90px;
	}
	table#myCustomTable tr:last-child td {
	 font-size: 11px;
	}
	.main_td_right #myCustomTable td {
		 width: 56px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
		top: 7% !important;
		left: 5% !important;
	}
	div#btnClose {
       padding-left: 22%;
   }
	.change_paymode {
		 left: 2%;
    }
}
@media(min-width:668px) and (max-width:767px){
	.buttons .button1 {
		width: 90%;
		font-size: 12px;
		 padding-left: 7%;
	}
	.nbscreen_product_list .leftside table {
		width: 82%;
	}
	div#dvOuter_ddlMobSearchBox {
		width: 97% !important;
	}
	input#txtpnno {
		height: 30px;
		width: 82% !important;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.main_td_right #myCustomTable td {
		width: 62px;
	}
	table#myCustomTable tr td:first-child {
		width: 125px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 2% !important;
		width: 80% !important;
	}
	 .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwindow-pop {
		left: 10% !important;
	}
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecustser-pop {
      left: 10% !important;
	}
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecardwin-pop {
		left: 10% !important;
	}
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvonlinewin-pop {
  		left: 10% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		left: 10% !important;
	}
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		left: 0% !important;
		top: 21% !important;
	}
	.product_table {
		height: 435px;
	}
	.main_td span {
		font-size: 13px;
		line-height: initial;
	}
	.main_td table td {
		font-size: 11px;
	}
	.both_amount ul li p {
		font-size: 11px;
	}
	.both_amount ul li p span {
		font-size: 11px;
		line-height: inherit;
	}
	.main_td_right #myCustomTable td {
		font-size: 12px;
	}
	#dvsbtotal {
       font-size: 12px;
	}
	table#myCustomTable tr:last-child td {
		font-size: 12px;
   }
	td.net-amt-val div {
       font-size: 12px;
	}
	.leftside table th:first-child {
		padding-left: 7px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
        top: 7% !important;
		left: 12% !important;
	}
	div#btnClose {
		padding-left: 25%;
	}
	.change_paymode {
		 left: 10%;
    }
}
@media(max-width:767px){
	table.btn-tbl-outer td {
		float: left;
	}
}
@media(min-width:768px) and (max-width:991px){
	.nbscreen_cate1 table.buttons {
		width: 21%;
	}
	.table_and_shortkey {
		 width: 79%;
   }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 5% !important;
		width: 70% !important;
	}
	input#txtpnno {
       width: 82% !important;
    }
	div#dvOuter_ddlMobSearchBox {
		width: 97% !important;
   }
   .both_amount ul li:first-child p {
		width: auto;
	}
   .both_amount ul li p {
		font-size: 11px;
	}
   .both_amount ul li p span {
        font-size: 13px;
   }
   table#myCustomTable tr td:first-child {
		width: 105px;
   }
   table#myCustomTable tr:last-child td {
		font-size: 14px;
	}
   .main_td_right #myCustomTable td {
		 width: 48px;
   }
   .nbscreen_product_list .leftside {
		padding: 10px 0 10px 19px;
	}
   .nbscreen_product_list .leftside table {
		width: 79%;
	}
   .buttons .button1 {
       padding-left: 5%;
	}
   div#btnClose {
      padding-left: 26%;
   }
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvbillwindow-pop {
		left: 10% !important;
	}
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecustser-pop {
      left: 10% !important;
	}
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvcrecardwin-pop {
		left: 10% !important;
	}
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvonlinewin-pop {
  		left: 10% !important;
	}
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dvholdlist-pop {
		left: 10% !important;
	}
   .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		left: 5% !important;
		top: 21% !important;
	}
   .main_td span {
		font-size: 14px;
		width: 100%;
	}
	.main_td .item_numbers {
		width: 100%;
		padding: 1px 0 0 0px;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li:first-child {
		width: 105px;
	}
	.item_numbers table td:first-child {
		width: 105px;
	}
	.item_numbers table td {
		width: auto;
	}
	.main_td table td {
		font-size: 14px;
	}
	.item_numbers table span {
		font-size: 14px;
	}
	.product_table {
		height: 435px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
		top: 7% !important;
		left: 23% !important;
	}
	.change_paymode {
		 left: 15%;
    }
}
@media(min-width:992px) and (max-width:1024px)
{
	.both_amount ul li:first-child p {
		width: 112px;
   }
   .main_td_right #myCustomTable td {
		width: 58px;
   }
   .both_amount ul li p {
		font-size: 14px;
	}
   .both_amount ul li p span {
		font-size: 14px;
		line-height: initial;
	}
   .main_td span {
		line-height: 18px;
		font-size: 11px;
	}
   .main_td table td {
		font-size: 14px;
    }
   .nbscreen_cate1 table.buttons {
		width: 21%;
	}
	.table_and_shortkey {
		 width: 79%;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 10% !important;
	}
	.nbscreen_product_list .leftside table {
		width: 79%;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		left: 13% !important;
		top: 21% !important;
	}
	.main_td span {
		font-size: 11px;
		width: 100%;
	}
	.main_td .item_numbers {
		width: 100%;
		padding: 1px 0 0 0px;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li:first-child {
		width: 140px;
	}
	.item_numbers table td:first-child {
		width: 140px;
	}
	.item_numbers table td {
		width: auto;
	}
	.item_numbers table span {
		font-size: 14px;
	}
	.product_table {
		height: 435px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
		top: 7% !important;
		left: 35% !important;
	}
}
@media(min-width:1025px) and (max-width:1100px)
{
	
   .main_td_right #myCustomTable td {
		width: 63px;
   }
   .both_amount ul li:first-child p {
		width: 139px;
	}
   .both_amount ul li p {
		font-size: 15px;
	}
   .both_amount ul li p span {
      font-size: 15px;
	  line-height:auto;
	}
   .nbscreen_cate1 table.buttons {
		width: 21%;
	}
	.table_and_shortkey {
		 width: 79%;
   }
	.nbscreen_product_list .leftside table {
		width: 79%;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 10% !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		left: 13% !important;
		top: 21% !important;
	}
	.main_td span {
		font-size: 11px;
		width: 100%;
	}
	.main_td .item_numbers {
		width: 100%;
		padding: 1px 0 0 0px;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li:first-child {
		width: 140px;
	}
	.item_numbers table td:first-child {
		width: 140px;
	}
	.item_numbers table td {
		width: auto;
	}
	.item_numbers table span {
		font-size: 15px;
	}
	.product_table {
		height: 435px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
        top: 7% !important;
		left: 37% !important;
	}
}
@media(min-width:1101px) and (max-width:1200px) {
	.main_td_right #myCustomTable td {
		width: 74px;
	}
	input#txtpnno {
       width: 83% !important;
    }
	div#dvOuter_ddlMobSearchBox {
		width: 97% !important;
   }
	.nbscreen_cate1 table.buttons {
		width: 21%;
	}
	.table_and_shortkey {
		 width: 79%;
   }
	.nbscreen_product_list .leftside table {
		width: 79%;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.search-pop {
		left: 9% !important;
	}
	.both_amount ul li p {
       font-size: 15px;
	}
	.both_amount ul li p span {
	   font-size: 15px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		left: 13% !important;
		top: 21% !important;
	}
	.main_td span {
		font-size: 12px;
		width: 100%;
	}
	.main_td .item_numbers {
		width: 100%;
		padding: 1px 0 0 0px;
	}
	.both_amount ul li:first-child p {
		width: auto;
	}
	.both_amount ul li:first-child {
		width: 150px;
	}
	.item_numbers table td:first-child {
		width: 150px;
	}
	.item_numbers table td {
		width: auto;
	}
	.item_numbers table span {
		font-size: 14px;
	}
	.product_table {
		height: 435px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
        top: 7% !important;
		left: 38% !important;
	}
}
@media(min-width:1201px) and (max-width:1270px) {
	input#txtpnno {
       width: 230px !important;
    }
	div#dvOuter_ddlMobSearchBox {
		width: 230px !important;
   }
}
@media(min-width:1201px) and (max-width:1300px){
	.main_td span {
		font-size: 13px;
		width: 100%;
	}
	.main_td .item_numbers {
		width: 100%;
		padding: 1px 0 0 0px;
	}
	.both_amount ul li:first-child p {
		width: auto;
		font-size:15px;
	}
	.both_amount ul li p span {
       font-size: 15px;
	}
	.both_amount ul li:first-child {
		width: 150px;
	}
	.item_numbers table td:first-child {
		width: 150px;
	}
	.item_numbers table td {
		width: auto;
	}
	.item_numbers table span {
		font-size: 15px;
	}
	.main_td_right #myCustomTable td {
		 width: 85px;
   }
	.product_table {
		   height: 435px;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.Itemgrid-pop {
		top: 7% !important;
		left: 46% !important;
	}
}
/*----responsive-----*/