﻿div#formCustomer {
	float: left;
	width: 100%;
}

.form-div {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.form-lbl {
	float: left;
	width: 15%;
	font-weight: bold;
}

.form-inp {
	float: left;
	width: 85%;
}

.prefix-inp {
	float: left;
	width: 100%;
}

	.prefix-inp select {
		float: left;
		width: 11%;
	}

	.prefix-inp input#cm_Name {
		float: left;
		width: 83% !important;
		position: relative;
		right: -13px;
	}

.form-inp textarea#cm_Address1 {
	width: 100%;
}

.first-inp {
	float: left;
	width: 50%;
}

.sec-inp {
	float: left;
	width: 50%;
}

.sec-lbl {
	float: left;
	width: 38%;
	font-weight: bold;
}

.sec-input {
	float: left;
	width: 62%;
}

	.sec-input select#cm_ddlCities {
		float: left;
		width: 117px !important;
	}

.first-inp select#cm_ddlState {
	width: 137px !important;
}

.first-inp input#cm_Discount {
	width: 137px;
}

.first-inp select#cm_ddlArea {
	width: 117px !important;
}

.sec-input input#cm_Pincode {
	width: 137px;
}

.sec-input input#cm_EmailId {
	width: 137px !important;
}

.sec-input input#cm_Tag {
	width: 137px;
}

.sec-input input#cm_DOA {
	margin-left: 5px;
	width: 137px;
}

.first-inp input#cm_ContactNumber {
	width: 137px !important;
}

input#cm_DOB {
	width: 137px;
}

.form-inp input#txtGSTNo {
	width: 100%;
}

.first-check {
	width: 33.3% !important;
	float: left;
}


.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-labelledby="ui-id-1"] {
	
	width: 580px !important;
	left: 23% !important;
	margin: 0 auto;
	top: 80px !important;
}