﻿/*.product-menu-cls {
    float: left;
    width: 100%;
}
div#MenuScroll {
    float: left;
    width: 20% !important;
}
.bill_detail_screen div#products {
    width: 80%;
	height: 250px !important;
    overflow: auto !important;
}
.btn-div {
    display: none;
}
ul#categories {
	width: 100% !important;
	min-height:auto;
	max-width:auto;
	overflow-y:auto;
}
.nav1 ul li {
    width: 100% !important;
    line-height: 34px;
	display:flex !important;
}
#colProducts {
    width: 100%;
}
.product_items .cate {
    height: 128px;
}
.pro-arrow-div {
    display: none;
}
.btn-left-panel {
    width: 100%;
}


@media(max-width:480px){
	.code_search tr {
		display: table-row;
	}
	.code_search td {
		display: table-cell;
	}
	
}
*/