﻿.paymode_panel .x_title {
    margin: 0px;
    padding: 0px;
}
.paymode_panel .x_content {
    margin: 0px;
    padding: 0px;
}
.bill_number table {
    width: 60%;
}
.bill_number td {
    padding: 5px 10px;
}
.bill_number input {
    margin: 0px;
    width: 100%;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.bill_number div#dvShow {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 0px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline-block;
    border: none;
}
.paymode_panel .cate {
    margin: 0px;
    padding: 0px;
    border: 1px solid #ddd;
}

.paymode_panel .cate {
    margin: 0 auto 10px;
    padding: 20px;
    width: 80%;
    box-shadow: inset 0px 0px 10px 0px #bbb;
}
.paymode_cate .table_one {
    width: 100%;
    margin: 0 0 15px;
}
.paymode_cate .table_two {
    width: 58%;
}
.table_two td {
    font-size: 12px;
}
.table_one td:first-child {
    width: 260px;
    padding: 0 10px 0 0;
}
.table_one select#ddlChosseCredit {
    margin: 0px;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
}
.table_two input {
    margin: 0 0 10px 0;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
}
.table_two select {
    margin: 0 0 10px 0;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
}
.table_two input#codChk {
    margin: 0px;
    box-shadow: none;
    width: auto;
    height: auto;
}
.table_two input#OnlineChk {
    margin: 0px;
    box-shadow: none;
    width: auto;
    height: auto;
}
.paymode_panel {
    padding: 0px;
}
.paymode_panel .x_title {
    margin: 0px;
    padding: 5px 18px;
    background-color: #f06671;
    color: #fff;
}
.paymode_btns .btn {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 5px 0 0;
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline-block;
    border: none;
}
.table_one select#ddlbillttype {
    padding: 0px;
    margin: 0px;
}
select#ddlbillttype option {
    padding: 6px 10px;
    border-bottom: 1px solid #dde2e8;
    font-size: 15px;
}
.paymode_panel .x_title
{
    background:#1479B8;
}
.right_col.change-paymode-right-col
{
    min-height:unset;
}
body
{
        background: lavender !important;
}
.table-two-td
{
    width:143px;
    float:left;
}
.table_one select#ddlbillttype {
    width: 418px;
}
.bill_number div#dvShow {
    background: #1A82C3;
    box-shadow: unset;
    padding: 11px 5px;
    width: 150px;
}
.paymode_btns {
    width: 420px;
    text-align: center;
}
.page-title .title_left
    {
        width: 100%;
		padding-left:15px;
	    background :#1479B8;
	    color:#ffffff;
    }
/*media*/

@media (max-width:400px)
{
    .table_one select#ddlbillttype {
	    width: 130px;
	    font-size: 12px !important;
    }
    #ddlbillttype option {
	    font-size: 13px !important;
    }
    .table_one select#ddlChosseCredit {
	    width: 74px;
	 }
	 .table_two input {
	    width: 142px;
	 }
	 .table_two select {
	    width: 142px;
	 }
	 .table-two-td {
	    width: 117px;
	 }
	 
}

@media (min-width:401px) and (max-width:480px)
{
     .table_one select#ddlbillttype {
        width: 200px
    }
    .table_one select#ddlChosseCredit {
	    width: 78px;
	 }
	 .table-two-td {
	    width: 122px;
	 }
	  .table_two input {
	    width: 210px;
	 }
	 .table_two select {
	    width: 210px;
	 }
}
@media (max-width:480px)
{
    .change-paymode-right-col .page-title .title_left
    {
        width:100%
    }
    .bill_number table {
        width: 100%;
    }
    .bill_number div#dvShow {
	    padding: 11px 15px;
	    width: auto;
    }
  
    .paymode_panel .cate {
		width: 98%;
	}
	.paymode_btns {
	    width: 100%;
	}
}
@media (min-width:481px) and (max-width:567px)
{
     .table_one select#ddlbillttype {
        width: 247px
    }
    .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
		width: 96%;
	}
	.table_two input {
	    width: 130px;
	}
	.table_two select {
	    width: 130px;
	}
	.table-two-td {
	    width: 116px;
    }
    .paymode_btns {
	    width: 100%;
	}
	.bill_number table {
	    width: 100%;
    }
	 
}

@media (min-width:568px) and (max-width:667px)
{
     .table_one select#ddlbillttype {
        width: 270px
    }
    .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
		width: 96%;
	}
	.table_two input {
	    width: 150px;
	}
	.table_two select {
	    width: 150px;
	}
	.table-two-td {
	    width: 120px;
	}
    .paymode_btns {
	    width: 100%;
	}
	.bill_number table {
	    width: 100%;
    } 
}
@media (min-width:668px) and (max-width:767px)
{
      .table_one select#ddlbillttype {
	    width: 369px;
    }
     .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
		width: 96%;
	}
	.table-two-td {
	    width: 120px;
	}
	.bill_number table {
	    width: 80%;
    }
}
@media (min-width:768px) and (max-width:991px)
{
      .table_one select#ddlbillttype {
	    width: 369px;
    }
     .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
    	width: 90%;
	}
	.table_two input {
	    width: 227px;
	}
	.table_two select {
	    width: 227px;
	}
}
@media (min-width:992px) and (max-width:1024px)
{
    .table_one select#ddlbillttype {
	    width: 390px;
	}
	 .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
    	width: 90%;
	}
}
@media (min-width:1025px) and (max-width:1100px)
{
    .table_one select#ddlbillttype {
	    width: 390px;
	}
	 .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
    	width: 90%;
	}
}
@media (min-width:1101px) and (max-width:1200px)
{
    .table_one select#ddlbillttype {
	    width: 397px;
	}
	 .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
    	width: 90%;
	}
}
@media (min-width:1201px) and (max-width:1300px)
{
    .table_one select#ddlbillttype {
	    width: 417px;
	}
	 .table_one select#ddlChosseCredit {
	    width: 100%;
	}
	.paymode_panel .cate {
    	width: 90%;
	}
}
