﻿.search_main {float: left; width: 100%; background-color: #f0626e;padding: 0 65px;}
.search_left {margin: 0px; padding: 0px;}
.search_left table select {width: 220px !important; height: 45px !important; border-radius: 0px; margin: 0 30px;}
.search_left table label {color: #fff;}
.search_left table input {margin: 3px 12px 0 0 !important;}
.search_left table .checkbox {border: 1px solid #fff; height: 45px; vertical-align: middle; padding: 11px 15px;width: 220px;}
.search_right table input {width: 220px !important; height: 45px; margin: 0px;}
.search_right table img {width: 45px; margin: 0 10px;}
.search_right {float: right;padding: 55px 0;}
.products_and_catagories ul#categories {margin: 0px; width: 100%;border: 1px solid;background-color: #fff;}
.products_and_catagories #categories li {width: 100%; background-color: #fff;}
.products_and_catagories #categories li a {background-color: #fff;color: #000; margin: 0px; padding: 14px 0; border-bottom: 1px solid;}
.products_and_catagories div#products {width: 95%;float: left;border: 1px solid; height: 389px;overflow: auto;}
.mobile_view_products .getprice {color: #f06671 !important; font-size: 18px !important;}
table.left_btn {float: left;z-index: 1;}
.modal_cate table#tbamountinfo table {width: 100%;}
#tbamountinfo div#dvnetAmount {float: right; margin: 0 0 0 10px;}
td.footer_nt_amt {color: #fd0014 !important; font-size: 20px; padding: 12px !important; float: right;}
.order_btn #btn_batch {margin: 0 0 0 5px;background-color: #fff; color: #f06671; font-size: 13px;}
.footer_nt_amt #dvsbtotal {float: right;}
.mob_header .catagories_togle {font-size: 30px; width: 33.33%; float: left;}
.pintu_midle {width: 33.33%; float: left; text-align: center;}
.pintu_midle span {font-size: 30px; text-transform: capitalize;text-shadow: 3px 2px 0px #000;}
body, html {overflow-x: hidden !important;}
.mobile_view_products #products::-webkit-scrollbar {width: 25px;}
.mobile_view_products #products::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.mobile_view_products #products::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}
#dvProductList div#dvProductInfo::-webkit-scrollbar {width: 25px;}
#dvProductList div#dvProductInfo::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
#dvProductList div#dvProductInfo::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}
.order_btn {
    float: right;
    border: none;
    margin: 3px 0;
}
.sidenav a {
    padding: 15px 8px 15px 5px;
    text-decoration: none;
    font-size: 15px;
    color: #484848;
    display: block;
    transition: 0.3s;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: auto;
    background-color: #fff;
    text-align: left;
    margin: 0px;
}
ul#categories {
    padding: 0px;
    margin: 0px;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 4px;
    right: 25px;
    font-size: 36px;
    padding: 0px;
    border: none;
}
.mob_header {
    background-color: #f06671;
    color: #fff;
    padding: 5px 15px;
    position: fixed;
    top: 0;
    width: 100%;
        z-index: 9;
}
.search_catagories {
    background-color: #f06671;
    float: left;
    width: 100%;
    margin: 34px 0 0;
    padding: 5px 0;
}
.search_catagories ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.cls_categories {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 20%;
    height: 600px;
    overflow: auto;
    box-shadow: 0px 0px 6px #00000069;
}
.cls_categories a {
    background-color: #1479B8;
    color: #ffffff;
    padding: 14px 0;
    margin: 0px;
}
.cls_categories a:focus, hover {
    background-color: #f06671;
    margin: 0px;
    color: #fff;
}
.search_catagories ul li {
    float: left;
    list-style: none;
}
.search_catagories ul li .form-control {
    width: 120px;
    border-radius: 0px;
    border: none;
    background-color: #fff;
    box-shadow: none;
}
.search_catagories ul li img {
    width: 45px;
    position: relative;
    top: -11px;
}
.search_catagories ul li span {
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 11px;
}
.search_catagories ul li {
    float: left;
    list-style: none;
    padding: 0 4px 0;
}
.mobile_view_products {
    margin: 0px auto 10px;
    width: 80%;
    padding: 0px 0px 0 5px;
    box-shadow: 0px 0px 6px #00000069;
    background-color: #fff;
    overflow: auto;
    float: right;
}
.mobile_view_products div#products {
    width: 100%;
    float: left;
    height: 600px;
    overflow: auto;
}
.mobile_view_products .product_leftside {
    width: 50%;
    float: left;
}
.product_leftside ul {
    margin: 0px;
    padding: 0px;
}
.product_leftside ul li {
    list-style: none;
        padding: 0 0 5px 0;
}
    .product_leftside ul li:last-child {
        padding: 0px;
    }
.product_leftside ul li p {
    margin: 0px;
    font-size: 16px;
        font-weight: 600;
}
.products_main {
    width: 100%;
    float: left;
    margin: 0 0 11%;
}
.product_right_side {
    width: 50%;
    float: right;
        padding: 2px 0;
}
#DelCharges input#dvDeliveryChrg {
    width: 50px;
    margin: 0px;
}
.product_right_side ul {
    margin: 0px;
    padding: 0px;
    float: right;
}
.product_right_side ul li {
    list-style: none;
    padding: 0px 0;
    float: left;
}
.product_right_side ul li:last-child::after {
        padding: 0px;
    }
.product_right_side ul li input {
    width: 50px;
    height: 50px;
    border-radius: 0px;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.product_right_side .btn {
    height: 50px;
    border-radius: 0px;
    border: none;
    width: 50px;
    float: right;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0;
    font-size: 40px;
    line-height: 50px;
}
.product_right_side ul li button.btn {
    float: right;
    width: 100px;
    height: 25px;
    padding: 0px;
    border-radius: 20px;
    background-color: transparent !important;
    border: 1px solid #f06671;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
.product_right_side ul li button.btn:focus {
    outline: none;
}
h1.best_food {
    float: left;
    width: 100%;
    margin: 0px;
    font-size: 25px;
    padding: 5px 45px 0;
}
.product_leftside p.item_price {
    color: #46c9ac;
    font-weight: 600;
}
#products .box {
    width: 100%;
    margin: 0 0px 10px;
    background-color: #f9e4e6;
    border-radius: 0px;
    padding: 0 0px 0 10px;
}
#products h3 {
    text-align: left;
    width: 50%;
    border: none;
    background-color: transparent;
        padding: 10px 0;
        float:left;
}
.box span {
    color: #000;
    font-size: 15px !important;
}
.box span{
    color: #778f61 !important;
}
.mobile_footer {
    width: 100%;
    float: left;
    background-color: #46c9ac;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
        padding: 10px 15px;

}
.total_modal button.btn.btn-info.btn-lg {
    border: none;
    box-shadow: none;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    padding: 10px 0;
}
.total_modal div#myModal {
    top: 90px;
    width: 400px;
    margin: 0 auto;
}
.total_modal .modal-backdrop {
    height: auto !important;
}

.modal_cate table#tbamountinfo {
    width: 50%;
    float: right;
    position: absolute;
    z-index: -1;
}
.modal-header h4.modal-title {
    color: #fff;
}
.total_modal .modal-header {
    background-color: #f06671;
    width: 100%;
    border-radius: 0px;
    border: none;
    padding: 10px 0;
    font-size: 20px;
}
.product_popup {
    padding: 0px;
}
.modal_cate {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    float:left;
}
.total_modal .modal-body {
    padding: 10px 15px;
}
.total_amount_btns .button1 {
    width: 95px;
    height: auto;
    background-color: rgb(240, 102, 113);
    margin: 0px 2px;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 0px;
}
#tbamountinfo td {
    color: #000;
    font-weight: 600;
    text-align: left;
    padding: 2px 15px;
}
.total_modal .modal-footer {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.modal-footer button.btn.btn-default {
    width: 100%;
    border-radius: 0px;
    border: none;
    padding: 10px 0;
    font-size: 20px;
}
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	.modal.right .modal-body {
		padding: 0px;
	}
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
.modal.right.fade.in .modal-dialog {
    right: 0;
    width: 100%;
    height: 400px;
    top: 112px;
    left: 0px;
}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
    background-color: #f06671;
    padding: 5px 15px;
}

/* ----- v CAN BE DELETED v ----- */
.btn-demo:focus {
	outline: 0;
}
.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}
.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
#dvProductList .leftside {
    margin: 0px;
    width: 100%;
    border-radius: 0px;
    background-color: #f06671;
}
#dvProductList div#dvProductInfo {
    margin: 0px;
    width: 100%;
    height: 250px;
    overflow: auto;
}
.leftside table th {
    text-align: center;
    color: #fff;
        width: 100px;
}
.product_popup td {
    width: 180px;
    text-align: center !important;
}
.product_popup div#btnMinus {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0px;
    font-size: 25px;
    line-height: 18px;
}
.product_popup div#btnPlus {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0px;
    font-size: 25px;
    line-height: 18px;
}
.product_popup input#txtBillQty1 {
    width: 30px;
    height: 30px;
    border-radius: 0px;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 2px;
}
td.footer_nt_amt span {
    float: left;
    width: 60px;
}
div#dvsbtotalnew {
    float: left;
    width: 60px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .system_view {display: none; visibility:hidden;}
    .mobile_view {display:block; visibility:visible;}
}
@media screen and (max-width: 767px) and (min-width: 600px) {
    .system_view {display: none; visibility:hidden;}
    .mobile_view {display:block; visibility:visible;}
    .modal_cate table#tbamountinfo {width: 45%;float: right;     position: unset;}
}
@media screen and (max-width: 599px) and (min-width: 480px) {
    .system_view {display: none; visibility:hidden;}
    .mobile_view {display:block; visibility:visible;}
    .total_amount_btns .button1{    width: 85px;    font-size: 12px;}
    .modal_cate table#tbamountinfo {width: 40%; float: right;    position: unset;}
    td.footer_nt_amt{    padding: 5px !important;}
    .search_catagories ul li .form-control{    width: 96px;}
    .mobile_view_products div#products{height: 359px;}
    .box span {font-size: 13px !important;}
    .cls_categories{height: 360px;}
    .pintu_midle span {font-size: 24px;}
    .mob_header .catagories_togle {font-size: 24px;}
    .product_popup div#btnMinus{width: 22px; height: 22px;padding: 2px;}
    .product_popup div#btnPlus{width: 22px; height: 22px;padding: 2px;}
    .product_popup input#txtBillQty1{width: 22px; height: 22px;}
    #tbProductInfo img {width: 20px;}
}
@media screen and (max-width: 479px) and (min-width: 400px) {
    .system_view {display: none; visibility:hidden;}
    .mobile_view {display:block; visibility:visible;}
    .total_amount_btns .button1{    width: 65px;    font-size: 12px;}
    .modal_cate table#tbamountinfo {width: 40%; float: right;    position: unset;}
    td.footer_nt_amt{font-size: 15px; padding: 5px !important;}
    .search_catagories ul li .form-control{width: 80px; font-size: 12px;}
    .search_catagories ul li{padding: 0 1px 0;}
    .box span {font-size: 13px !important;}
    .mobile_view_products .getprice{font-size: 15px !important;}
    .mobile_view_products div#products{height: 365px;}
    .cls_categories {display: none;}
    .mobile_view_products {width: 97%; margin: 3px auto 0; float: unset;}
    .pintu_midle span {font-size: 20px;}
    .mob_header .catagories_togle {font-size: 20px;}
    .order_btn{padding: 4px 4px;}
    .search_catagories{    margin: 26px 0 0;}
    .product_popup div#btnMinus{width: 20px; height: 20px;padding: 2px;}
    .product_popup div#btnPlus{width: 20px; height: 20px;padding: 2px;}
    .product_popup input#txtBillQty1{width: 20px; height: 20px;}
    #tbProductInfo tr td {padding: 1px 0 !important;}
    #tbProductInfo img {width: 14px;}
}
@media screen and (max-width: 399px) and (min-width: 320px) {
    .system_view {display: none; visibility:hidden;}
    .mobile_view {display:block; visibility:visible;}
    .total_amount_btns .button1{width: 54px; font-size: 10px;}
    .modal_cate table#tbamountinfo {width: 40%; float: right;    position: unset;}
    td.footer_nt_amt{font-size: 11px; padding: 0px !important;}
    .search_catagories ul li .form-control{width: 67px; font-size: 10px;height: 30px;}
    .search_catagories ul li{padding: 0 1px 0;}
    .box span {font-size: 10px !important;}
    .mobile_view_products .getprice{font-size: 12px !important;}
    .search_catagories ul li img {width: 30px;top: -3px;}
    .search_catagories ul li span{top: 6px; font-size: 12px;}
    h1.best_food{font-size: 20px; padding: 5px 15px 0;}
    .product_right_side .btn{height: 30px; width: 30px; font-size: 30px; line-height: 30px;}
    .product_right_side ul li input{width: 30px; height: 30px;}
    #products .box{height: 33px;}
    #products h3{padding: 5px 0; width: 50%;}
    .sidenav a{padding: 8px 8px 8px 5px;    font-size: 12px;}
    .mobile_view_products div#products{height: 380px;}
    .cls_categories {display: none;}
    .mobile_view_products {width: 97%; margin: 3px auto 0; float: unset;}
    .pintu_midle span {font-size: 16px;}
    .mob_header .catagories_togle {font-size: 16px;}
    .order_btn{padding: 4px 4px;}
    .pintu_midle {width: 25.33%;}
    .search_catagories{    margin: 26px 0 0;}
    .product_popup div#btnMinus{width: 15px; height: 15px;padding: 2px; padding: 0px; font-size: 20px;}
    .product_popup div#btnPlus{width: 15px; height: 15px;padding: 2px; padding: 0px; font-size: 20px;}
    .product_popup input#txtBillQty1{width: 15px; height: 15px;font-size: 10px; top: 1px;}
    #tbProductInfo tr td {padding: 1px 0 !important;font-size: 10px;}
    #tbProductInfo img {width: 10px;}
}