﻿.manageuser_leftform {
    width: 75%;
}
.manageuser_leftform label {
    text-align: left !important;
    padding: 4px 0 0 !important;
    font-size: 14px;
}
.manageuser_leftform select {
    width: 200px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
        float: left;

}
.manageuser_leftform input {
    width: 200px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
        float: left;
}
.manageuser_leftform textarea {
    width: 200px;
    height: 70px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
        float: left;
}
.manageuser_leftform input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 8px 0 0;
}
.manageuser_leftform .btn {
    margin: 0px;
    width: 110px;
    height: 35px;
}
.edit_manage_user {
    padding: 0px;
}

.edit_manage_user .x_title {
    margin: 0px;
    padding: 5px 20px;
    background-color: #f06671;
    color: #fff;
}
.edit_manage_user .x_content {
    padding: 25px 20px 0 20px;
    margin: 0;
}
.panel_toolbox>li>a:hover {
    background: #ffffff;
    color: #000;
}
.panel_toolbox>li>a {
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
}
.edit_manage_user td {
    text-align: left !important;
}
.manageuser_leftform span.fa.fa-plus {
    font-size: 20px;
    margin: 0 0 0 5px;
}

.right_col.manage-discounts-right-col
{
        min-height:unset;   
}
body {
    background: lavender !important;
}
.right_col.manage-discounts-right-col .edit_manage_user .x_title
{
    background:unset !important;
    color:#73879C !important;
}
.ui-widget-header
{
    background:#1479B8 !important;
}
.right_col.manage-discounts-right-col .page-title .title_left{
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
.manageuser_leftform select {
    border: 1px solid #DDE2E8;
}
.manageuser_leftform div#dvOuter_ddlItems {
    width: 200px !important;
    height: 25px;
    padding: 0;
    font-size: 12px;
    border-radius: 0px;
    float: left;
    min-height: 25px;
    line-height: 25px !important;
}
.manageuser_leftform div#dvOuter_ddlItems input#txtddlItems
{
	padding:0;
	line-height:25px;
}

div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
	
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;

}
table#jQGridDemo {
    width: 100% !important;
	z-index:1;
}
div#jQGridDemoPager {
    width: 100% !important;
	overflow-x:auto;
	z-index:1;
}


/*----responsive----*/
	@media(max-width:356px)
	{
		#globalSearchText {
			width: 46%;
		}
	}
   @media(max-width:767px)
    {
        .x_panel.edit_manage_user {
	        width: 100% !important;
	    }
	    .edit_manage_user .x_content {
	        margin: 0;
	        width: 100%;
	        overflow-x: auto;
        }
		.headings.ful-day-disc-head-mange-discount {
			float: left;
			width: 125px;
		}
		.headings.disc-type-head-manage-discount {
			float: left;
			width: 100px;
		}
    }
   @media(min-width:768px) and (max-width:991px)
   {
	   .headings.ful-day-disc-head-mange-discount {
			float: left;
			width: 125px;
		}
		.headings.disc-type-head-manage-discount {
			float: left;
			width: 100px;
		}
   }
   @media(min-width:992px) and (max-width:1300px)
   {
	   .headings.ful-day-disc-head-mange-discount {
			float: left;
			width: 125px;
		}
		.headings.disc-type-head-manage-discount {
			float: left;
			width: 100px;
		}
		.edit_manage_user .x_content {
			padding: 5px 20px 0 20px;
			margin: 0;
		}
   }
  
/*----responsive----*/