﻿.bilno-tbl {
	width: 60%;
}

/*----responsive----*/
@media(max-width:480px){
	.x_content.chooose-xcnt {
		overflow: auto;
	}
	.bilno-tbl {
		 width: 100%; 
	}
	div#dvOuter_ddlProducts {
		width: 100% !important;
	}
	input#txtName {
		width: 100% !important;
	}
}
@media(min-width:481px) and (max-width:767px){
	input#txtBarcode{
		width: 98% !important;
	}
	table.choose-tbl select,input#txtEndDate, input#txtStartDate{
		width: 95% !important;
	}
	table.choose-tbl button, div#btnDelete {
		width: 96% !important;
		margin-left: 5px;
	}
	.bilno-tbl {
		 width: 100%; 
	}
	div#dvOuter_ddlProducts {
		width: 100% !important;
	}
	input#txtName {
		width: 100% !important;
	}
}
@media(min-width:768px) and (max-width:991px){
	input#txtBarcode{
		width: 98% !important;
	}
	table.choose-tbl select,input#txtEndDate, input#txtStartDate{
		width: 95% !important;
	}
	table.choose-tbl button, div#btnDelete {
		width: 96% !important;
		margin-left: 5px;
	}
	div#dvOuter_ddlProducts {
		width: 100% !important;
	}
	input#txtName {
		width: 100% !important;
	}
}
@media(min-width:992px) and (max-width:1024px){
	input#txtBarcode{
		width: 98% !important;
	}
	table.choose-tbl select,input#txtEndDate, input#txtStartDate{
		width: 95% !important;
	}
	table.choose-tbl button, div#btnDelete {
		width: 96% !important;
		margin-left: 5px;
	}
	div#dvOuter_ddlProducts {
		width: 100% !important;
	}
	input#txtName {
		width: 150px !important;
	}
}
@media(min-width:1025px) and (max-width:1100px){
	input#txtBarcode{
		width: 98% !important;
	}
	table.choose-tbl select,input#txtEndDate, input#txtStartDate{
		width: 95% !important;
	}
	table.choose-tbl button, div#btnDelete {
		width: 96% !important;
		margin-left: 5px;
	}
	div#dvOuter_ddlProducts {
		width: 100% !important;
	}
	input#txtName {
		width: 190px !important;
	}
}
@media(min-width:1101px) and (max-width:1200px){
	input#txtBarcode{
		width: 98% !important;
	}
	table.choose-tbl select,input#txtEndDate, input#txtStartDate{
		width: 95% !important;
	}
	table.choose-tbl button, div#btnDelete {
		width: 96% !important;
		margin-left: 5px;
	}
	div#dvOuter_ddlProducts {
		width: 100% !important;
	}
	input#txtName {
		width: 260px !important;
	}
}
@media(min-width:1201px) and (max-width:1300px){
	div#dvOuter_ddlProducts {
		width: 100% !important;
	}
}
/*----responsive----*/
