﻿ .page-title .title_left {
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
 table.formga-table {
    width: 100%;
}
table.formga-table th{
    text-align:center !important;
	text-transform: uppercase;
    background: #1479B8;
    color: #fff;
    padding: 4px;
}
table.formga-table td{
    text-align:center;
	padding: 4px 2px;
}
table.formga-table label {
    font-weight: normal;
}
table.formga-table input[type=text] {
    width: 100px;
}
.formga-totl
{
	font-weight: 700 !important;
    text-transform: uppercase;
    color: #000;
}
td.submit-btn-formga {
    text-align: center !important;
}
.frm-GA-date-section {
    float: left;
    width: 100%;
}
.frm-GA-date-section input {
    float: left;
    width: 150px;
    height: 34px;
    margin-right: 5px;
}
.form-ga-table-section thead tr th:nth-child(2), .form-ga-table-section thead tr th:nth-child(3), .form-ga-table-section thead tr th:last-child {
    text-align: center !important;
}
.form-ga-table-section tbody#tblgroup td:nth-child(2), .form-ga-table-section tbody#tblgroup td:nth-child(3), .form-ga-table-section tbody#tblgroup td:last-child {
    text-align: center;
}
.form-ga-table-section tbody#tblgroup input[type="text"], .form-ga-table-section tbody#tblgroup input[type="number"]  {
    width: 100px;
}
tr.total-tr-ga-frm td:nth-child(2), tr.total-tr-ga-frm td:nth-child(3),tr.total-tr-ga-frm td:last-child {
    text-align: center;
}