﻿.x-panel-title-frmone {
    border: none;
	width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
	height:44px;
	margin-bottom:0;
}
.x-panel-title-frmone .x_title {
     border-bottom:unset;
     padding:4px 0;
     margin-bottom: 0px; 
}
.x-panel-title-frmone .x_title h2
{
	font-size:24px;
}
button#btnShow {
    padding: 4px 10px;
    margin-bottom: 0;
    margin-left: 5px;
}
input#txtBarcode
{
	width:160px !important;
	height:30px !important;
}
.form-ga-table-section input[type="text"], .form-ga-table-section input[type="number"] {
    width: 90px !important;
	text-align:center;
}
.form-ga-table-section th {
    padding: 6px 0 !important;
    text-align: center;
}
.form-ga-table-section th:first-child {
    text-align: left !important;
}
tr.total-tr-ga-frm td {
    text-align: center;
}
tr.total-tr-ga-frm td:first-child {
    text-align: left !important;
}
tr.submit-btn-tr-ga-frm {
    text-align: center;
}
.submit-btn-tr-ga-frm button{
    margin-top: 10px;

}
.submit-btn-tr-ga-frm {
    float: left;
    width: 100%;
    text-align: center;
}
div#dvShowBills {
    margin-right: 0;
    margin-left: 0;
}
.x-panel-frmone-colone
{
	max-height:277px;
	overflow-y:scroll;
	min-height:277px;
}
.x-panel-frmone-coltwo
{
	max-height:400px;
	overflow-y:scroll;
	min-height:400px;
}
.right_col {
    min-height: unset;
}
.container.body
{
	background:lavender !important;
}
table#tbl_group button[disabled] {
    border-color: #ccc !important;
    background: #ccc !important;
}
/*----responsive----*/
@media(max-width:480px)
{
	.x_panel.x-panel-branch {
		overflow: auto;
	}
}