﻿.Search.search_section.bill-screen-search select {
     width: 100% !important;
	 margin-right:5px !important;
}
input#txtBillDate {
    width: 80px !important;
}
div#btnreturn {
    font-size: 13px;
}
.bill_detail_screen div#colProducts div#products {
    height: 459px !important;
    margin-top: 0;
}
.bill-screen-search.search_section {
    padding-top: 7px !important;
    box-sizing: border-box;
}
table.gst-shop-tbl {
    width: 100%;
}
input#txtBillDate {
    width: 100% !important;
}
table.code_search {
    margin: 0;
    padding: 0;
    width: 100%;
}
.code_search label#lblcustmobno {
    margin-left: 0px !important;
	height:34px;
}
.code_search #dvOuter_ddlMobSearchBox {
    width: 100% !important;
	min-width:120px !important;
}
.Search.search_section .code_search input {
    width: 100% !important;
}
.amt-details-tbl {
    height: auto !important;
}
table#tbamountinfo {
    min-height: 159px;
}
/*----responsive----*/
@media(max-width:480px){
	.Search.search_section .code_search #dvOuter_ddlMobSearchBox {
		width: 91.8% !important;
	}
	#btnSearch img {
       left: 6%;
	   top:1px;
	   position:relative;
	}
}
@media(min-width:481px) and (max-width:567px){
	.left-btn-div {
		width: 20% !important;
	}
	.left-btn-div .button1,.button3 {
		padding: 8px 0;
		font-size: 10px !important;
		box-sizing: border-box;
	}
}
@media(min-width:568px) and (max-width:667px) {
	.left-btn-div .button1,.button3 {
		padding: 8px 0;
		font-size: 10px !important;
		box-sizing: border-box;
	}
}
@media(min-width:668px) and (max-width:767px){
	#colDvProductList table.button_options td {
		width: 150px !important;
		float:unset;
    }
	#colDvProductList .button_options .button1 {
	    line-height: 39px !important;
		padding-top:0 !important;
    }
	#colDvProductList .button_options .button3 {
		font-size: 11px;
		line-height: 39px;
		letter-spacing: 0px;
		padding-top: 0;
	}
}
@media(max-width:767px){
	table#tbamountinfo {
		min-height: initial;
	}
}
@media(min-width:768px) and (max-width:991px){
	div#dvProductList .cate {
		height: 96px !important;
	}
	.bill_detail_screen div#colProducts div#products {
		height: 372px !important;
	}
	#colDvProductList table.button_options td {
		width: auto !important;
		float:unset;
    }
	.left-btn-div {
		float: left;
		width: 20% !important;
	}
	.left-btn-div .button1,div#btnreturn {
		padding: 6px 0;
		font-size:10px;
	}
	table#tbamountinfo {
		min-height: 150px;
	}
	.code_search #dvOuter_ddlMobSearchBox {
       min-width: 70px !important;
	}
}
@media(min-width:992px) and (max-width:999px){
		div#dvProductList .cate {
			height: 217px !important;
		}
}
@media(min-width:1000px) and (max-width:1024px){
		div#dvProductList .cate {
			height: 213px !important;
		}
}
@media(min-width:992px) and (max-width:1024px){
	.no-of-itm .reciept_detail input#txtRemarks {
		width: 60px !important
	}

	div#dvShow_pm {
		font-size: 10px;
		line-height: 11px;
		letter-spacing: 0px;
		padding-top: 8px;
	}
	#colDvProductList table.button_options td {
		width: auto !important;
		float:unset;
    }
	table#tbamountinfo {
		min-height: 151px;
	}
	table#tbliteminfo tr,table#tbliteminfo td {
		float: left;
		height:28px;
		width:auto !important;
	}
	
}
@media(min-width:1025px) and (max-width:1100px) {
	div#dvProductList .cate {
		height: 204px !important;
	}
	div#dvShow_pm {
		font-size: 10px;
		line-height: 11px;
		letter-spacing: 0px;
		padding-top: 8px;
	}
	#colDvProductList table.button_options td {
		width: auto !important;
		float:unset;
    }
}
@media(min-width:1101px) and (max-width:1200px) {
	div#dvProductList .cate {
		height: 200px !important;
	}
	table.button_options div#dvShow_pm {
		font-size: 9px;
	}
	#colDvProductList table.button_options td {
		width: auto !important;
		float:unset;
    }
}
@media(min-width:1201px) and (max-width:1310px) {
	.code_search input#txtSearch {
		width: 100% !important;
	}
	.code_search #dvOuter_ddlMobSearchBox {
		min-width: 90px !important;
	}
}
@media(min-width:1201px) and (max-width:1320px) {
	div#dvProductList .cate {
		height: 218px !important;
	}
	.bill_detail_screen div#colProducts div#products {
		height: 380px !important;
	}
	#colDvProductList table.button_options td {
		width: auto !important;
		float:unset;
    }
	table#tbamountinfo {
		min-height: 156px;
	}
}
@media(min-width:1311px){
	.product_items .cate {
		height: 294px !important;
	}
}
@media(min-width:1311px) and (max-width:1320px){
	.code_search input#txtSearch {
		width: 100% !important;
	}
}
/*----responsive----*/