﻿.inventory_xpanal .x_title {
    margin: 0px;
    background-color: #f06671;
    color: #fff;
}
.panel_toolbox>li>a {
    color: #ffffff;
}
.panel_toolbox>li>a:hover {
    background: #26b99a;
}
div#gbox_jQGridDemo {
    border-radius: 0px;
}
.ui-jqgrid-titlebar {
    background-color: #f06671 !important;
    border-radius: 0px !important;
}
.entry_date .x_title {
    margin: 0 0 10px;
}
.entry_date input#txtBreakageDate {
    width: 200px;
    height: 30px;
    margin: 0 0 0 12px;
}
.entry_date .xdisplay_inputx {
    margin: 0px;
}
.entry_date span.fa.fa-calendar.form-control-feedback.left {
    margin: 4px 0 0;
}
.entry_top_table th {
    background-color: #26b99a;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-right: 1px solid;
}
.entry_top_table td {
    text-align: center;
    font-size: 12px;
}
.entry_top_table select {
    width: 150px;
    height: 30px;
    margin: 0px;
    border: 1px solid #DDE2E8;
}
.entry_top_table [type=radio] {
    margin: 0px;
    position: relative;
    top: 3px;
}
.entry_top_table label {
    margin: 0px;
}
.entry_top_table div#btnShowList {
    margin: 0px;
    height: 30px;
    padding: 4px 15px;
}
.entry_top_table {
    margin: 0px;
}
[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
}
.inventry_adddialog {
    background: rgb(225, 225, 225) !important;
    padding: 0px 0px !important;
    overflow: unset !important;
    width: 100% !important;
    float: left;
    height: auto !important;
}
.manage_table_top {
    width: 100%;
    float: left;
    background-color: #fff;
    margin: 10px 0 0;
}
h2.manage_title_top {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    float: left;
    background-color: #f06671;
    padding: 4px 15px;
    color: #fff;
}
.manage_table_top table {
    width: 100%;
}
.manage_table_top table td {
    padding: 2px 10px;
    font-size: 12px;
    border: none;
}
.manage_table_top table input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    height: 25px;
}
.manage_table_top select {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    height: 25px;
}
.manage_table_top table [type=checkbox] {
    height: auto;
    margin: 0px;
    position: relative;
    top: 2px;
}
.manage_table_top table label {
    margin: 0px;
}

.manage_table_top [type=radio] {
    height: auto;
    margin: 0px;
    position: relative;
    top: 2px;
}
.manage_table_top td {
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    text-align: center;
}
.manage_table_top .x_title {
    margin: 0px;
    padding: 5px 15px;
    background-color: #46c9ac;
    color: #fff;
}
.manage_table_top .x_title h2 {
    margin: 0px;
    font-size: 15px;
}
.products_list td {
    text-align: center;
}
.manage_table_top .x_panel {
    padding: 0px;
    margin: 0px;
}
.manage_table_top th {
    font-size: 12px;
    text-align: center;
    background-color: #46c9ac;
    color: #fff;
    padding: 5px 0 !important;
    border-right: 1px solid;
}
.manage_table_top input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    height: 25px;
}
.inv_sub_canc {
    margin: 8px 0 20px;
    width: 100px;
}
.inventory_xpanal .x_title
{
     background :unset;
     color:#73879C;
}
.ui-jqgrid-titlebar
{
      background :#1479B8 !important;
}
.entry_top_table th
{
     background :#1479B8 !important;
}
 .page-title .title_left{
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
.ui-dialog-titlebar.ui-widget-header
{
     background :#1479B8 !important;
}
.manage_table_top th
{
     background-color: #1479B8;
}
h2.manage_title_top,.manage_table_top .x_title
{
    background-color: #1479B8;
}
.right_col
{
   min-height:unset;
}
body
{
    background: lavender !important;
}
.inventory_xpanal {
   height: 502px;
}
div#btnGo {
    margin-bottom: 0;
    padding: 4px 8px;
}
 .page-title{height:auto;}
 .main_menu_side {
	z-index: 1;
	position: relative;
}
.manage_table_top td {
    text-align: left;
    font-weight:400;
 }
 #addDialog {
     min-height:660px !important;
 }   
 table.manage-purchase-order-table span.ui-jqgrid-title {
    font-size: 11px;
    color: #ffffff;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
table.manage-purchase-order-table .ui-state-default, table.manage-purchase-order-table .ui-widget-content .ui-state-default, table.manage-purchase-order-table .ui-widget-header .ui-state-default {
    border: 1px solid #cccccc;
    background: #f6f6f6 url(../images/cross.gif) 50% 50% no-repeat;
    font-weight: bold;
    color: #1c94c4;
    font-size: 11px;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
table.manage-purchase-order-table .ui-jqgrid .ui-userdata div>* {
    vertical-align: unset;
}
.manage_table_top table label {
    margin: 0px;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
.manage-purchage-heading-table td
{
    text-align:center;
}
div#btnSubmit, div#btncncl {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
table#tbProducts td {
    text-align: center;
}
[name="txtRate"]
{
    width: 64px !important;
}
[name="txtSRate"] {
    width: 64px !important;
}
[name="txtMRP1"] {
    width: 64px !important;
}
[name="txtAmount"] {
    width: 64px !important;
}
[name="txtTaxPer"] {
    width: 40px !important;
}
[name="txtQty"]{
    width: 40px !important;
}
[name="txtUnit"]
{
    width:60px !important;
}
[name="txtScheme"]
{
    width: 40px !important;
    height: 22px !important;
    margin-top: 0 !important;
}
[name="txtDis1Per"],[name="txtDis2Per"]
{
    width:49px !important;
}
[name="txtExcisePer"]
{
    width:43px !important;
}
[name="txtExciseAmt"]
{
    width:64px !important;
}

[name="txtServiceId"] {
	width: 50px;
}
[name="txtMargin"], [name="txtBalQty"], [name="txthsn"]{
    width: 55px;
}
.manage_table_top input {
    padding: 0 6px; 
}
div#gbox_jQGridDemo {
    overflow: auto;
    max-height: 350px;
    z-index:1;
}
.ui-widget-header
{
   background:#1479B8 !important
}
/*grid*/
.ui-jqgrid tr.ui-row-ltr td {
    text-align: center;
}
.ui-widget-header {
    background: #1479B8;
}
/*grid*/
div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemo {
    width: 100% !important;
}
div#jQGridDemoPager {
    width: 100% !important;
    overflow-x: auto;
    z-index: 1;
}
div#jQGridDemo_toppager {
    width: 100% !important;
}
/*grid*/
/*grid*/

tr.total-tr td {
    font-size: 16px;
    font-weight: 700;
}
.tbl-mngpro-col-tbl-hgh {
    min-height: 380px !important;
    max-height: 380px !important;
}
tr.total-tr {
    width: auto;
    float: left;
}
label.remark-lbl {
    line-height: 64px;
}
div#btnget {
    width: 110px;
    margin-bottom: 10px;
}

/*media*/

@media screen and (max-width:820px) and (min-width:768px)
{
    .manage_table_top table label {margin: 0px; font-size: 10px; line-height: 11px;}
    .manage_table_top td {padding: 3px 10px; border-right: 1px solid #ddd; font-size: 12px; text-align:center}
    .manage_table_top {margin: 4px 0 0;}
    .inv_sub_canc {margin: 5px 0 20px;}
    .manage_table_top table input{height: 20px;}
    .manage_table_top input {height: 20px;}
    .manage_table_top #txtremarks {height: 35px;}
} 
@media (max-width:352px)
{
	#globalSearchText {
		width: 46%;
	}
}

@media (max-width:767px)
{
    .inventory_xpanal {
	    height: auto;
	    overflow-x: auto;
	    z-index: 1;
    }
    .ui-dialog.ui-widget.ui-widget-content {
	    width: auto !important;
    }
    body {
		overflow-x: auto !important;
    }
   .manage_table_top table td {
	    padding: 2px 3px !important;
    }
   .manage_table_top td {
	    text-align: left !important;
    }
    #addDialog .manage_table_top table label {
	    font-size: 12px !important;
    }
    #addDialog .manage_table_top td {
	    text-align: left !important;
    }
    .x_panel {
	    overflow-x: auto;
	    z-index:1;
    }
    /*purchase*/
      #dvlast3Dialog {
	    left: -672px;
      } 
      td.jq-cls.jq-zin {
	    left: -330px;
    }  
    /*purchase*/
	.x_panel.inventory_xpanal .x_content {
		overflow: auto;
	}
	.manage_table_top table tr.total-tr td,#addDialog .manage_table_top tr.total-tr label
    {
        font-size:14px !important;
    }
	.tbl-mngpro-col-tbl-hgh {
		min-height: 290px !important;
		max-height: 290px !important;
	}
	[name="txtMRP"] {
		width: 60px;
	}
}

@media (min-width:768px) and (max-width:991px)
{
     .ui-dialog.ui-widget.ui-widget-content {
	    width: auto !important;
    }
    body {
		overflow-x: auto !important;
    }
   .manage_table_top table td {
	    padding: 2px 3px;
    }
    .manage_table_top td {
	    text-align: left;
    }
    .manage_table_top table label
    {
        font-size:12px !important;
    }
	tr.total-tr label {
		font-size: 16px !important;
	}
	.tbl-mngpro-col-tbl-hgh {
		min-height: 290px !important;
		max-height: 290px !important;
	}
	[name="txtMRP"] {
		width: 60px;
	}
}
@media (min-width:992px) and (max-width:1024px)
{
    .inventory_xpanal {
	    height: 423px;
    }
    .manage_table_top table td {
		padding: 2px 4px;
		box-sizing: border-box;
	}
    .manage_table_top td {
	    text-align: left;
    }
    #addDialog {
	    width: 100% !important;
	    overflow-x: auto !important;
    }
    /*purchase*/
       div#gbox_jQGridDemo {
	       max-height: 270px !important;
	      }
        td.jq-cls.jq-zin {
	        z-index: 99;
	      
        } 
    /*purchase*/
	.x_panel.inventory_xpanal .x_content {
		overflow: auto;
	}
	.tbl-mngpro-col-tbl-hgh {
		min-height: 290px !important;
		max-height: 290px !important;
	}
}

@media (min-width:1025px) and (max-width:1100px)
{
    #addDialog {
	    width: 100% !important;
	    overflow-x: auto !important;
    }
   /*purchase*/
       td.jq-cls.jq-zin {
	        z-index: 99;
	       
        }
   /*purchase*/
}
@media (min-width:1025px) and (max-width:1200px)
{
    .inventory_xpanal {
	    height: 422px;
    }
    .manage_table_top table td {
	    padding: 2px;
    }
    .manage_table_top td {
	    text-align: left;
    }
     /*purchase*/
        div#gbox_jQGridDemo {
	       max-height: 270px !important;
	      }
    /*purchase*/
	.tbl-mngpro-col-tbl-hgh {
		min-height: 290px !important;
		max-height: 290px !important;
	}
}
@media(min-width:1201px) and (max-width:1300px){
	.tbl-mngpro-col-tbl-hgh {
		min-height: 289px !important;
		max-height: 289px !important;
	}
}
@media (min-width:1101px) and (max-width:1400px)
{
    #addDialog {
	    width: 100% !important;
	    overflow-x: auto !important;
    }
  
}
