﻿.ui-draggable .ui-dialog-titlebar {background-color: #f06671;}
.raisebill_dialoge {padding: 0px 0px !important; background-color: #fffff6 !important;}
.raisebill_dialoge .Search {margin: 0px 0px 10px; padding: 0px 20px 10px; border: none; border-radius: 0px; background-color: #46c9ac;}
.raisebill_dialoge .input-group {margin: 0px;}
.raise_bill_search .input-group td {padding: 0px 5px 0px !important;color: #fff;font-size: 14px;}
.raise_bill_search table input {width: 100px; height: 35px; padding: 0 5px; color: #000;}
.raisebill_middle #products {
    height: 300px;
    border: 1px solid #46c9ac;
    border-radius: 10px;
    width: 96%;
    float: right;
    background-color: #fff;}
.raisebill_middle .leftside {
    margin: 0px;
    border: none;
    background-color: #f06671;
    border-radius: 0px;}
.raisebill_middle div#dvProductList {
    border: 1px solid #46c9ac;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    width: 97%;
    margin: 0 auto;}
    .raisebill_middle .cate {margin: 0px;height: 262px;border: none;}
    .raisebill_middle .net_amount {
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #46c9ac;
    width: 95%;}
    .net_amount table td {color: #000; font-size: 14px;padding: 5px 6px;}
    .net_amount input {margin: 0px;}
    .raisebill_buttons {margin: 10px 0;float: left; width: 100%;display: inline-flex;}
    .raisebill_buttons .button1 {width: 108px;font-size: 12px; font-weight: 600;}
    .raisebill_middle .cate2 {padding:0px;width: 97%;}
    .ui-draggable .ui-dialog-titlebar
    {
        background-color: #1479B8 !important;
    }
    .raisebill_middle .leftside 
    {
        background-color: #1479B8;
	}
	.right_col.kot-rise-bill-right-col
	{
	    min-height:unset;
	}
	body
	{
	    background:lavender !important;
	}
	.kot-raise-bill-hide
	{
	    display:none;
	}
	button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
		display: none;
	}
	.Search.raise_bill_search div#dvOuter_ddlMobSearchBox
	{
		width: 100px !important;
		min-width: 100px !important;
		height: 35px !important;
		min-height: 35px !important;
		margin: 3px 0 !important;
	}
	.Search.raise_bill_search td#tdorderno label {
		float: left;
		font-weight: normal;
		vertical-align: middle;
		line-height: 35px;
	}
	.Search.raise_bill_search input#txtorderno{
		width:100px !important;
	}
	tr#vatIncOrExc td:first-child {
		width: 100px;
	}
	img#btnAddCustomer {
		width: 30px !important;
	}
	td.td-btncash-btn .button1 {
		height: 40px;
		width: 24%;
		float: left;
	}
	div#dvCreditCardWindow table tr {
		float: left;
		width: 100%;
	}
	div#dvCreditCardWindow table td:last-child {
		float: left;
		width: 100%;
		text-align:center;
		margin-top:10px;
	}
	select#ddlBankNew {
		width: 230px;
	}
	.credit-select {
		float: left;
		width: 90%;
	}
	.credit-img {
		float: left;
		width: 10%;
	}
	div#btnCreditBilling {
		margin: 30px auto 0;
		display: block;
		width: 100px;
	}
	input#txtpaymentAmountnew {
		width: 65px;
	}
	input#txtCODAmountnew {
		width: 65px;
	}
	div#btnOnlineBilling {
		margin: 0 auto;
		width: 100px;
		display: block;
	}
	select#ddlChosseCreditnew {
		height: 25px;
	}
	[aria-describedby="dvOnlineWindow"]  button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
		display: block;
	}
	[aria-describedby="dvCreditWindow"]  button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
		display: block;
	}
	[aria-describedby="dvCreditCardWindow"]  button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
		display: block;
	}
	/*----responsive----*/
	@media(max-width:480px)
	{
	    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	        left: 10px !important;
	        overflow-x: scroll !important;
	        width: 100% !important;
        }
        #dvOuter_ddlMobSearchBox {
	        min-width: unset !important;
	        width: 35px !important;
        }
        .col-xs-12.raisebill_middle {
	        width: auto;
	        padding-left: 10px;
        }
       .raisebill_middle .net_amount {
	        width: 100%;
	        overflow: auto;
        }
        .raisebill_buttons .button1 {
	        width: 50px;
	        font-size: 12px;
	        font-weight: 600;
        }
        #tbamountinfo
        {
            width:100% !important;
            margin:0 !important;
        }
        .raisebill_middle #products {
	        width: 90%;
	        float: left;
	        margin-bottom:20px;
        }
        .raisebill_middle div#dvProductList {
	        width: 90%;
	        float: left;
        }
        .raisebill_middle .net_amount {
	        width: 90%;
	        overflow: auto;
        }
	    .raisebill_dialoge .Search {
	        width: 100% !important;
	        overflow: auto;
	    }
	}
	@media(min-width:481px) and (max-width:567px)
	{
	    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	        width: 100% !important;
        }
        .raisebill_buttons .button1 {
	        width: 90px;
	        font-size: 12px;
	        font-weight: 600;
        }
        #tbamountinfo
        {
            width:100% !important;
            margin:0 !important;
        }
	    .col-xs-12.raisebill_middle {
	        padding: 0 10px;
        }

         .raisebill_middle #products {
	        width: 100%;
	        float: left;
	        margin-bottom:20px;
        }
        .raisebill_middle div#dvProductList {
	        width: 100%;
	        float: left;
        }
        .raisebill_middle .net_amount {
	        width: 100%;
	        overflow: auto;
        }
	    .raisebill_dialoge .Search {
	        width: 100% !important;
	        overflow: auto;
	    }
        
	}
	
	@media(min-width:568px) and (max-width:667px)
	{
	    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	        width: 100% !important;
        }
       .raisebill_buttons .button1 {
	        width: 100px;
	        font-size: 12px;
	        font-weight: 600;
        }
        #tbamountinfo
        {
            width:100% !important;
            margin:0 !important;
        }
	   .col-xs-12.raisebill_middle {
	        padding: 0 10px;
        }
        .raisebill_middle #products {
	        width: 100%;
	        float: left;
	        margin-bottom:20px;
        }
        .raisebill_middle div#dvProductList {
	        width: 100%;
	        float: left;
        }
        .raisebill_middle .net_amount {
	        width: 100%;
	        overflow: auto;
        }
	    .raisebill_dialoge .Search {
	        width: 100% !important;
	        overflow: auto;
	    }
        
	}
	
	@media(min-width:668px) and (max-width:767px)
	{
	    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	        width: 100% !important;
        }
       .raisebill_buttons .button1 {
	        width: 110px;
	        font-size: 12px;
	        font-weight: 600;
        }
        #tbamountinfo
        {
            width:100% !important;
            margin:0 !important;
        }
	   .col-xs-12.raisebill_middle {
	        padding: 0 10px;
        }
        .raisebill_middle #products {
	        width: 100%;
	        float: left;
	        margin-bottom:20px;
        }
        .raisebill_middle div#dvProductList {
	        width: 100%;
	        float: left;
        }
        .raisebill_middle .net_amount {
	        width: 100%;
	        overflow: auto;
        }
	    .raisebill_dialoge .Search {
	        width: 100% !important;
	        overflow: auto;
	    }
        
	}
	
	@media(max-width:767px)
	{
		.raise-bill-no-td {
			float: left;
			width: 60px;
			line-height: 35px;
		}
		.raise-cust-id-td {
			width: 67px;
			float: left;
			line-height: 35px;
		}
		.raise-cust-name-td {
			float: left;
			width: 83px;
			line-height: 35px;
		}
	}

	@media(min-width:768px) and (max-width:991px)
	{
	    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	        width: 100% !important;
            top:60px !important;
        }
        .raisebill_middle #products {
	        height: 240px;
	     }
        .raisebill_middle .cate {
            height: 202px;
        }
        .raisebill_middle .net_amount {
            height: 240px;
        }
		#dvdisper {
			width: 30px;
		}
		#dvdiscount {
			width: 34px;
		}
		.net_amount table td {
			padding: 1px 6px;
			font-size: 13px;
		}
		.net_amount #textotp {
			width: 100px;
		}
			
	}
@media(min-width:992px) and (max-width:1024px) {
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
        width: 92% !important;
        top: 60px !important;
		
    }
	.raisebill_middle #products {
		height: 270px;
	}
	.raisebill_middle .cate {
		height: 232px;
	}
	.raisebill_middle .net_amount {
		height: 270px;
	}
	.main_menu_side {
		position:relative;
        z-index: 1;	
	}
	.net_amount table td {
		padding: 3px 6px;
	}
	.net_amount #textotp {
		width: 142px;
		margin-left: 10px !important;
	}
}
@media (min-width:1025px) and (max-width:1300px)
{
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
		top: 30px !important;
		width: 100% !important;
		left:0 !important;
	}
	.main_menu_side {
		position:relative;
        z-index: 1;	
	}
}
	/*----responsive----*/