﻿.manage_catagories .ui-jqgrid-titlebar {
    background-color: #f06671;
    border: none;
}
.manage_catagories div#btnAdd {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.manage_catagories div#btnDelete {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.manage_catagories div#btnEdit {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.manage_catagories div#btnAdd,.manage_catagories div#btnEdit,.manage_catagories div#btnDelete {
    width: auto;
    padding: 10px 12px;
}
.right_col.manage-color-right-col{
    min-height: unset;
}
.manage_catagories .ui-jqgrid-titlebar {
	background-color: #1479B8;
}
#gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
    #jQGridDemo {
        width: 100% !important;
    }
    .ui-jqgrid-htable {
	    width: 100% !important;
    }
    .ui-jqgrid .ui-jqgrid-hbox {
	      padding-right: 0;
    }
    .right_col.manage-color-right-col .title_left {
	    width: 100%;
		padding-left:15px;
	    background :#1479B8;
	    color:#ffffff;
    }
/*----responsive----*/
@media(max-width:480px)
{
    .right_col.manage-color-right-col .title_left {
	    width: 100%;
    }
    .manage-color-right-col .x_panel.manage_catagories .x_content .youhave {
	    padding: 0 !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 45%;
    }
}
@media(max-width:767px)
{
  .manage-color-right-col .x_panel.manage_catagories .x_content .youhave {
	    padding: 0 !important;
    }
    
}
/*----responsive----*/