﻿[aria-labelledby=ui-id-1] {
    padding: 0px;
    width: 100% !important;
    left: 0px !important;
        top: 0px !important;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    width: 100%;
    float: left;
    border-radius: 0px;
    border: none;
    background-color: #f06671;
}
.focbill-dialog {
    width: 100%;
    float: left;
    padding: 0px !important;
}
.focbill-dialog .Search {
    margin: 1px 0;
    background-color: #46c9ac;
    padding: 12px 0 12px 90px;
    border-radius: 0px;
    border: none;
}
.focbill-dialog .Search input {
    margin: 0px;
    width: 300px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.focbill-dialog .Search img {
    width: 40px;
    margin: 0 10px;
}

.focbill-dialog .right_search {
    margin: 1px 0;
    background-color: #46c9ac;
    padding: 12px 0 12px 0;
    border-radius: 0px;
    border: none;
}
.right_search td b {
    color: #fff;
    margin: 0 10px 0 0;
}
.focbill-dialog .right_search div#dvOuter_ddlMobSearchBox {
    margin: 0px;
    width: 135px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.focbill-dialog .right_search img {
    width: 40px;
    margin: 0 10px;
}
.foc_products .leftside {
    background-color: #f06671;
    padding: 7px 0;
    border: none;
    border-radius: 0px;
        margin: 0px;
}
.right_amount {
    height: 352px;
    border: 2px solid #dbdbdb;
    width: 80%;
    margin: 25px auto 0;
    float: left;
    background-color: #fff;
}
.foc_products {
    width: 80%;
    margin: 25px auto 0px;
}
.right_amount table td {
    padding: 10px 10px;
}
.foc_products .cate {
    min-height: 320px;
    max-height: 220px;
    margin-left: 0;
    overflow-y: scroll;
}
.focbill-dialog .Search .input-group {
    margin: 0px;
}
.foc_cat2 {
    background-color: transparent !important;
    border: none !important;
    padding: 20px 0 20px 85px !important;
}
.managefocbill_btns {
    width: 225px !important;
    height: 45px !important;
    padding: 9px 0 !important;
    font-size: 15px !important;
    border-radius: 0px !important;
}
body, html {
    overflow-x: hidden;
}
.right_col.manage-foc-bills-right-col
{
    min-height:unset;
}
body
{
        background: lavender !important;
}
div#btnGo {
    margin-bottom: 0;
    padding: 4px 8px;
}
.ui-widget-header
{
     background: #1479B8;
}
div#gbox_jQGridDemoBill {
    width: 100% !important;
}
div#gview_jQGridDemoBill {
    width: 100% !important;
}
 div#t_jQGridDemoBill {
    height: 30px;
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
	z-index: 1;
}
div#jQGridDemoPagerBill {
    width: 100% !important;
    overflow-x: auto;
	z-index: 1;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox
{
	padding-right:0 !important;
}
table#jQGridDemoBill {
    width: 100% !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
	z-index:1;
}
.box {
    overflow: hidden;
}
.box h3
{
    font-size:16px;
    padding:2px;
}
span.getprice,span.cake-code {
    visibility: hidden;
}
.box h3:hover span.getprice, .box h3:hover span.cake-code {
    visibility: visible;
}
.box h3:hover
{
    height:90px !important;
}
.ui-widget-header
{
     background: #1479B8 !important;
}
.foc_products .leftside
{
     background: #1479B8 !important;
}
table#tbProductInfo {
    font-size: 14px !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    bottom: 0;
}
#sidebar-menu 
{
    position:relative;
	z-index: 1;
}
.page-title .title_left {
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
.page-title
{
    height:auto;
    padding:0;
}
.foc-row{
    margin-left:0 !important;
    margin-right:0 !important;
}

/*media*/
@media (max-width:399px)
{
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	    bottom: unset;
	    overflow-x:scroll;
    }
    #txtItemCode {
	    width: 100px;
    }
    .focbill-dialog .Search img {
	    width: 20px;
	}
	#txtSearch {
	    width: 100px;
    }
    #dvOuter_ddlMobSearchBox {
	    width: 100px !important;
	    min-width: unset !important;
    }
    #dvOuter_ddlMobSearchBox {
	    width: 100px !important;
	    min-width: unset !important;
    }
    .focbill-dialog .right_search img {
	    width: 20px;
	 }
	 .leftside {
	    font-size: 10px !important;
	 }
	 table#tbProductInfo {
	    font-size: 10px !important;
    }
}
@media (min-width:401px) and (max-width:480px)
{
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	    bottom: unset;
    }
}
@media(max-width:480px)
{
    #txtDateFrom, #txtDateTo {
	    width: 90px !important;
    }
    #globalSearchText {
	    width: 130px;
    }
     .leftside {
	    font-size: 10px !important;
	 }
	 table#tbProductInfo {
	    font-size: 10px !important;
    }
       
}
@media (min-width:481px) and (max-width:567px)
{
    .foc_products .cate {
	    min-height: 190px;
	 }
	 .right_amount {
	    height: 220px;
	  }
	  table#tbProductInfo {
	    font-size: 12px !important;
      }
      .leftside table tr th:nth-child(2) 
      {
          position: relative;
          left: -26px;
          right: 41px;
      }
      .leftside table tr th:nth-child(3) 
      {
          position: relative;
          left: -10px;;
      }
      .leftside table tr th:nth-child(4) 
      {
          position: relative;
          left: 14px; 
      }
	  #CashCustomer td:last-child {
			padding-right: 10px;
			padding-left: 0 !important;
	  }
	  #lblCashCustomerName {
			font-size: 12px;
	  }
}
@media (min-width:568px) and (max-width:667px)
{
    .leftside table tr th:nth-child(2) 
      {
          position: relative;
          left: -26px;
          right: 41px;
      }
      .leftside table tr th:nth-child(3) 
      {
          position: relative;
          left: -10px;;
      }
      .leftside table tr th:nth-child(4) 
      {
          position: relative;
          left: 14px; 
      }
	   #CashCustomer td:last-child {
			padding-right: 10px;
			padding-left: 0 !important;
	  }
	  #lblCashCustomerName {
			font-size: 12px;
	  }
	  .right_amount {
		height: 322px;
	  }
	  .foc_products .cate {
			min-height: 290px;
			}
}
@media(min-width:668px) and (max-width:767px)
{
	#CashCustomer td:last-child {
			padding-right: 10px;
			padding-left: 0 !important;
	 }
	.foc_products .cate {
		min-height: 300px;
	}
	.right_amount {
		height: 332px;
	}
}
@media (max-width:767px)
{
    .box h3 {
	    font-size: 12px;
	    padding: 2px;
    }
    .box h3:hover
    {
        font-size: 10px !important;
    }
    .x_panel.foc-x-panel {
	    overflow: auto;
		z-index:1;
    }
}
@media (min-width:768px) and (max-width:1100px) {
	.box h3 {
		font-size: 12px !important;
	}
}
@media screen and (max-width:1300px) and (min-width:1150px)
{
    .focbill-dialog .Search{padding: 12px 0 12px 75px;}
    .focbill-dialog .Search input{width: 250px;}
    .foc_cat2{padding: 20px 0 20px 73px !important;}
}
@media screen and (max-width:1149px) and (min-width:1000px)
{
    .focbill-dialog .Search{padding: 12px 0 12px 70px;}
    .focbill-dialog .Search input{width: 210px;}
    .foc_cat2{padding: 20px 0 20px 64px !important;}
}
@media screen and (max-width:999px) and (min-width:768px)
{
    .focbill-dialog .Search{padding: 12px 0 12px 50px;}
    .focbill-dialog .Search input{width: 150px;}
    .foc_cat2{padding: 20px 0 20px 47px !important;}
    .focbill-dialog .right_search div#dvOuter_ddlMobSearchBox{width: 125px !important; min-width: auto !important; padding: 0px;}
    .right_search td b {margin: 0 5px 0 0; font-size: 12px;}
    .managefocbill_btns{width: 180px !important;}
    .right_search input#txtddlMobSearchBox {width: 100%; font-size: 12px; padding: 13px 5px;}
}
@media screen and (max-width:767px) and (min-width:620px)
{
    .focbill-dialog .Search{padding: 12px 0 12px 42px;}
    .focbill-dialog .Search input{width: 115px; font-size: 12px;}
    .foc_cat2{padding: 20px 0 20px 40px !important;}
    .focbill-dialog .right_search div#dvOuter_ddlMobSearchBox{width: 100px !important; min-width: auto !important; padding: 0px;}
    .right_search td b {margin: 0 5px 0 0; font-size: 12px;}
    .managefocbill_btns{width: 150px !important;}
    .right_search input#txtddlMobSearchBox {width: 100%; font-size: 12px; padding: 13px 5px;}
    .foc_products {width: 90%;}
    .right_amount{width: 90%;}
}
@media screen and (max-width:619px) and (min-width:500px)
{
    .focbill-dialog .Search{padding: 12px 0 12px 42px;}
    .focbill-dialog .Search input {width: 100px; font-size: 10px; height: 30px;}
    .focbill-dialog .Search img {width: 30px; margin: 0 4px;}
    .foc_cat2{padding: 20px 0 20px 40px !important;}
    .focbill-dialog .right_search div#dvOuter_ddlMobSearchBox {width: 90px !important; min-width: auto !important; padding: inherit; height: 30px; font-size: 10px;}
    .right_search td b {margin: 0 2px 0 0; font-size: 10px;}
    .managefocbill_btns{width: 125px !important; font-size: 12px !important;}
    .right_search input#txtddlMobSearchBox {width: 100%; font-size: 10px; padding: 8px 5px;}
    .focbill-dialog .right_search img {width: 30px; margin: 0 4px;}
    .foc_products {width: 90%;}
    .right_amount{width: 90%;}
}
@media screen and (max-width:499px) and (min-width:400px)
{
    .focbill-dialog .Search{padding: 12px 0 12px 12px;}
    .focbill-dialog .Search input {width: 85px; font-size: 10px; height: 30px;}
    .focbill-dialog .Search img {width: 30px; margin: 0 4px;}
    .foc_cat2{padding: 20px 0 20px 40px !important;}
    .focbill-dialog .right_search div#dvOuter_ddlMobSearchBox {width: 65px !important; min-width: auto !important; padding: inherit; height: 30px; font-size: 10px;}
    .right_search td b {margin: 0 2px 0 0; font-size: 10px;}
    .managefocbill_btns {width: 100px !important; font-size: 12px !important; height: 35px !important; padding: 10px 0 !important;}
    .right_search input#txtddlMobSearchBox {width: 100%; font-size: 10px; padding: 8px 5px;}
    .focbill-dialog .right_search img {width: 30px; margin: 0 4px;}
    .foc_products {width: 90%;}
    .right_amount{width: 90%;}
  }