div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
	overflow-y: scroll;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
	height: 100px !important;
}
table#jQGridDemo {
    width: 100% !important;
	z-index:1;
}
div#jQGridDemoPager {
    width: 100% !important;
	overflow:auto;
	z-index:1;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog {
	top: 0 !important;
}

input#cm_Pincode {
    width: 130px;
}
input#cm_Discount {
    width: 397px;
}
input#cm_Tag {
    width: 397px;
}
input#txtGSTNo {
    width: 397px;
}
textarea#cm_Address1 {
    width: 397px;
}
input#cm_Name {
    width: 326px !important;
}
input#cm_IsActive {
    float: left;
    margin-left: 7px;
}
.foc-cnt {
    float: left;
    width: 30%;
    margin-left: 100px;
}.foc-cnt {
    float: left;
    width: 30%;
    margin-left: 100px;
}
 .credit-cnt {
    float: left;
}

 div#CustomerDialog {
    height:610px !important;
}
select#cm_ddlState {
    width: 130px !important;
}
.city {
    float: left;
    width: 50%;
    margin-left: 17px;
}
.city label {
    float: left;
	width:110px;
}
select#cm_ddlCities {
    float: left;
    width: 130px !important;
}
select#cm_ddlArea {
    width: 130px !important;
}
input#cm_ContactNumber {
    width: 130px !important;
}
input#cm_EmailId {
    width: 130px !important;
}
input#cm_DOA {
    margin-left: 24px;
}

.city-plus {
	line-height: 30px;
}
.area-plus {
	line-height: 30px;
}

.area-div {
	float: left;
}
.area-div select#cm_ddlArea {
	width: 118px !important;
}
@media(max-width:360px)
{
	#globalSearchText {
			width: 48%;
		}
}
@media(max-width:366px)
{
	.cashcustomer_panel .Customer_Information {
		padding: 0px 5px !important;
	}
	.city label {
		width: auto;
	}
	.city {
		width: auto;
		margin-left:-66px;
	}
	input#cm_Name {
		width: 86px !important;
	}
	textarea#cm_Address1 {
		width: 157px;
	}
	select#cm_ddlCities {
		float: left;
		width: 130px !important;
		margin-left: 38px;
		margin-top: 10px;
	}
	input#cm_Pincode {
		width: 130px;
		margin-left: 13px;
		margin-top: 10px;
	}
	input#cm_EmailId {
		width: 130px !important;
		margin-left: 33px;
		margin-top: 10px;
	}
	input#cm_Discount {
		width: 157px;
	}
	input#cm_DOA {
		margin-left: 2px;
		margin-top: 10px;
	}
	input#cm_Tag {
		width: 157px;
	}
	input#txtGSTNo {
		width: 157px;
	}
	.foc-cnt {
		margin-left: 13px;
	}
}
@media (min-width:367px) and (max-width:439px)
{
	.cashcustomer_panel .Customer_Information {
		padding: 0px 5px !important;
	}
	.city label {
		width: auto;
	}
	.city {
		width: auto;
		margin-left:10px;
	}
	input#cm_Name {
		width: 145px !important;
	}
	.Customer_Information table#formCustomer label {
		font-size: 12px;
	}
	textarea#cm_Address1 {
		width: 215px !important;
	}
	select#cm_ddlState {
		width: 80px !important;
	}
	select#cm_ddlCities {
		float: left;
		width: 81px !important;
	}
	select#cm_ddlArea {
		width: 80px !important;
	}
	input#cm_Pincode {
		width: 56px !important;
	}
	input#cm_ContactNumber {
		width: 80px !important;
	}
	input#cm_EmailId {
		width: 76px !important;
	}
	#cm_Discount {
		width: 215px !important;
	}
	#cm_DOB {
		width: 60px !important;
	}
	input#cm_DOA {
		margin-left: 0;
		width: 36px !important;
	}
	#cm_Tag {
		width: 215px !important;
	}
	#txtGSTNo {
		width: 215px !important;
	}
	.foc-cnt {
		margin-left: 60px;
	}
}

@media (min-width:440px) and (max-width:452px)
{
	.cashcustomer_panel .Customer_Information {
		padding: 0px 5px !important;
	}
	.city label {
		width: auto;
	}
	.city {
		width: auto;
	}
	input#cm_Name {
		width: 195px !important;
	}
	.Customer_Information table#formCustomer label {
		font-size: 12px;
	}
	textarea#cm_Address1 {
		width: 265px !important;
	}
	select#cm_ddlState {
		width: 100px !important;
	}
	select#cm_ddlCities {
		float: left;
		width: 104px !important;
	}
	select#cm_ddlArea {
		width: 100px !important;
	}
	input#cm_Pincode {
		width: 79px !important;
	}
	input#cm_ContactNumber {
		width: 100px !important;
	}
	input#cm_EmailId {
		width: 99px !important;
	}
	#cm_Discount {
		width: 265px !important;
	}
	#cm_DOB {
		width: 70px !important;
	}
	input#cm_DOA {
		margin-left: 0;
		width: 68px !important;
	}
	#cm_Tag {
		width: 265px !important;
	}
	#txtGSTNo {
		width: 265px !important;
	}
}

@media(min-width:453px) and (max-width:480px)
{
	.cashcustomer_panel .Customer_Information {
		padding: 0px 5px !important;
	}
	.city label {
		width: auto;
	}
	.city {
		width: auto;
	}
	input#cm_Name {
		width: 204px !important;
	}
	.Customer_Information table#formCustomer label {
		font-size: 12px;
	}
	textarea#cm_Address1 {
		width: 274px !important;
	}
	select#cm_ddlState {
		width: 105px !important;
	}
	select#cm_ddlCities {
		float: left;
		width: 108px !important;
	}
	select#cm_ddlArea {
		width: 105px !important;
	}
	input#cm_Pincode {
		width: 83px !important;
	}
	input#cm_ContactNumber {
		width: 105px !important;
	}
	input#cm_EmailId {
		width: 103px !important;
	}
	#cm_Discount {
		width: 274px !important;
	}
	#cm_DOB {
		width: 72px !important;
	}
	input#cm_DOA {
		margin-left: 0;
		width: 75px !important;
	}
	#cm_Tag {
		width: 274px !important;
	}
	#txtGSTNo {
		width: 274px !important;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	.cashcustomer_panel .Customer_Information {
		padding: 0px 5px !important;
	}
	.city label {
		width: auto;
	}
	.city {
		width: auto;
	}
	input#cm_Name {
		width: 204px !important;
	}
	.Customer_Information table#formCustomer label {
		font-size: 12px;
	}
	textarea#cm_Address1 {
		width: 274px !important;
	}
	select#cm_ddlState {
		width: 105px !important;
	}
	select#cm_ddlCities {
		float: left;
		width: 108px !important;
	}
	select#cm_ddlArea {
		width: 105px !important;
	}
	input#cm_Pincode {
		width: 83px !important;
	}
	input#cm_ContactNumber {
		width: 105px !important;
	}
	input#cm_EmailId {
		width: 103px !important;
	}
	#cm_Discount {
		width: 274px !important;
	}
	#cm_DOB {
		width: 72px !important;
	}
	input#cm_DOA {
		margin-left: 0;
		width: 75px !important;
	}
	#cm_Tag {
		width: 274px !important;
	}
	#txtGSTNo {
		width: 274px !important;
	}
}
@media(min-width:568px) and (max-width:667px)
{
	.city label {
		width: auto;
	}
	.city {
		width: auto;
	}
	input#cm_Name {
		width: 226px !important;
	}
	.Customer_Information table#formCustomer label {
		font-size: 12px;
	}
	textarea#cm_Address1 {
		width: 297px !important;
	}
	select#cm_ddlState {
		width: 118px !important;
	}
	select#cm_ddlCities {
		float: left;
		width: 118px !important;
	}
	select#cm_ddlArea {
		width: 118px !important;
	}
	input#cm_Pincode {
		width: 94px !important;
	}
	input#cm_ContactNumber {
		width: 118px !important;
	}
	input#cm_EmailId {
		width: 115px !important;
	}
	#cm_Discount {
		width: 300px !important;
	}
	#cm_DOB {
		width: 86px !important;
	}
	input#cm_DOA {
		margin-left: 0;
		width: 85px !important;
	}
	#cm_Tag {
		width: 300px !important;
	}
	#txtGSTNo {
		width: 300px !important;
	}
}
@media(min-width:668px) and (max-width:767px)
{
	.city label {
		width: auto;
	}
	.city {
		width: auto;
	}
	input#cm_Name {
		width: 246px !important;
	}
	.Customer_Information table#formCustomer label {
		font-size: 12px;
	}
	textarea#cm_Address1 {
		width: 317px !important;
	}
	select#cm_ddlState {
		width: 128px !important;
	}
	select#cm_ddlCities {
		float: left;
		width: 128px !important;
	}
	select#cm_ddlArea {
		width: 128px !important;
	}
	input#cm_Pincode {
		width: 104px !important;
	}
	input#cm_ContactNumber {
		width: 128px !important;
	}
	input#cm_EmailId {
		width: 125px !important;
	}
	#cm_Discount {
		width: 320px !important;
	}
	#cm_DOB {
		width: 96px !important;
	}
	input#cm_DOA {
		margin-left: 0;
		width: 95px !important;
	}
	#cm_Tag {
		width: 320px !important;
	}
	#txtGSTNo {
		width: 320px !important;
	}
}


@media(max-width:767px)
{
	.Customer_Information {
		width: 90% !important;
	}
}

@media(min-width:768px) and (max-width:991px)
{
	.Customer_Information {
		width: 90% !important;
	}
	.city label {
		width: auto;
	}
	.city {
		width: auto;
	}
	input#cm_Name {
		width: 246px !important;
	}
	.Customer_Information table#formCustomer label {
		font-size: 12px;
	}
	textarea#cm_Address1 {
		width: 317px !important;
	}
	select#cm_ddlState {
		width: 128px !important;
	}
	select#cm_ddlCities {
		float: left;
		width: 128px !important;
	}
	select#cm_ddlArea {
		width: 128px !important;
	}
	input#cm_Pincode {
		width: 104px !important;
	}
	input#cm_ContactNumber {
		width: 128px !important;
	}
	input#cm_EmailId {
		width: 125px !important;
	}
	#cm_Discount {
		width: 320px !important;
	}
	#cm_DOB {
		width: 96px !important;
	}
	input#cm_DOA {
		margin-left: 0;
		width: 95px !important;
	}
	#cm_Tag {
		width: 320px !important;
	}
	#txtGSTNo {
		width: 320px !important;
	}
}
@media(min-width:992px) and (max-width:1260px)
{
	.Customer_Information {
		width: 80% !important;
	}
	.main_menu_side {
		z-index: 1;
		position: relative;
	}

}