﻿footer {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.add_manage_group {
    height:514px;
}
.add_manage_group div#btnAdd {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.add_manage_group div#btnDelete {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.edit_company_table {
    width: 100%;
}
.edit_company_table td {
    text-align: left !important;
}
.add_manage_group .ui-jqgrid-titlebar {
    background-color: #f06671;
    border: none;
}
.add_manage_subgroup {
   height:480px;
}
.add_manage_group div#btnAdd,.add_manage_group div#btnDelete {
    width: auto;
    padding: 10px 12px;
}
.right_col {
    min-height: unset;
    float: left;
}
.nav_menu {
    margin-bottom: 0;
}
.page-title {
    height: 44px;
    padding:0;
}
.add_manage_group .ui-jqgrid-titlebar {
	background-color: #1479B8;
}
#gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
    #jQGridDemo {
        width: 100% !important;
    }
    .ui-jqgrid-htable {
	    width: 100% !important;
    }
    .ui-jqgrid .ui-jqgrid-hbox {
	      padding-right: 0;
    }
.page-title .title_left {
	width: 100%;
	padding-left: 15px;
	background: #1479B8;
	color: #ffffff;
}
/*-----responsive-----*/
@media(max-width:339px)
{
    #t_jQGridDemo #globalSearchText {
	    width: 46%;
    }
}
@media(max-width:497px)
{
    .page-title .title_left
    {
        width:100%;
    }
    .x_panel.add_manage_group {
	    height: auto;
    }
}
@media(max-width:767px) {
	.x_panel.add_manage_group {
		height: auto;
		overflow: auto;
	}
}
@media(min-width:768px) and (max-width:991px)
{
    .add_manage_subgroup {
	    height: 250px;
    }
}
@media(min-width:992px) and (max-width:1200px)
{
	.add_manage_subgroup {
		height: 395px;
	}
}
/*-----responsive-----*/