﻿.add_manage_company {
    height: 480px;
}
.add_manage_company .ui-jqgrid-titlebar {
    background-color: #f06671;
    border: none;
}
footer {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.no_splier_table {
    height: 164px;
    border: 1px solid #dde2e8;
    overflow: auto;
	z-index: 1;
    position: relative;
}
.no_splier_table tr:first-child {
    background-color: #f06671 !important;
    color: #fff;
    border: none !important;
}
.edit_company_table {
    width: 100%;
}
.edit_company_table td {
    text-align: left !important;
}
.edit_company_table div#btnAdd {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.youhave div#btnDelete {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
table.table-condensed.edit_company_table.manage_companies_table div#btnAdd {
    width: auto;
    padding: 10px 12px;
    box-sizing: border-box;
}
.youhave div#btnDelete {
    width: auto;
    padding: 10px 12px;
}
.right_col.manage-companies-right-col {
    min-height: unset;
    float: left;
}
.nav_menu {
    margin-bottom: 0;
}
.page-title {
    height: 44px;
    padding:0;
}
.add_manage_company {
    height: 488px;
    overflow: auto;
}
.add_manage_company .ui-jqgrid-titlebar {
	background-color: #1479B8;
}
.no_splier_table tr:first-child {
	background-color: #1479B8 !important;
}
#gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
    .page-title .title_left
    {
        width: 100%;
		padding-left:15px;
	    background :#1479B8;
	    color:#ffffff;
    }
/*----responsive----*/
@media(max-width:480px)
{
    .right_col.manage-companies-right-col .title_left {
	    width: 100%;
    }
    .x_panel.add_manage_company.add-mage-companines {
        height: auto;
        padding: 10px 2px;
    }
    
}
@media(min-width:481px) and (max-width:567px)
{
    .right_col.manage-companies-right-col .title_left {
	    width: 100%;
    }
    .x_panel.add_manage_company.add-mage-companines {
        height: auto;
    }
    
}
@media(min-width:568px) and (max-width:667px)
{
    .x_panel.add_manage_company.add-mage-companines {
        height: auto;
    }
    
}
@media(min-width:668px) and (max-width:767px)
{
    .x_panel.add_manage_company.add-mage-companines {
        height: auto;
    }
    
}
@media(max-width:767px)
{
    #gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
}
@media(min-width:768px) and (max-width:991px)
{
    .x_panel.add_manage_company.add-mage-companines {
        height: 400px;
    }
     #gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
}
@media(min-width:992px) and (max-width:1024px)
{
    #gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
}
@media(min-width:1025px) and (max-width:1100px)
{
    #gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
		top: 0 !important;
	}
}
@media(min-width:1101px) and (max-width:1200px)
{
    #gbox_jQGridDemo {
	    width: 100% !important;
    }
    #gview_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo {
	    width: 100% !important;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 51%;
    }
    .ui-state-default.ui-jqgrid-hdiv {
	    width: 100% !important;
    }
    .ui-jqgrid-bdiv {
	    width: 100% !important;
    }
      #jQGridDemoPager {
	    width: 100% !important;
	    overflow-x: auto;
    }
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
		top: 0 !important;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
    .add_manage_company {
	    min-height: 393px;
	    max-height: 393px;
	    overflow: auto;
    }
}
@media(min-width:1201px) and (max-width:1300px) {
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
		top: 0 !important;
	}
}
/*----responsive----*/