﻿.manageuser_leftform {
    width: 75%;
}
.manageuser_leftform label {
    text-align: left !important;
    padding: 4px 0 0 !important;
    font-size: 14px;
}
.manageuser_leftform select {
	width: 200px;
	height: 25px;
	padding: 0px;
	font-size: 12px;
	border-radius: 0px;
	float: left;
}
.manageuser_leftform input {
	width: 200px;
	height: 25px;
	padding: 0px;
	font-size: 12px;
	border-radius: 0px;
	float: left;
}
.manageuser_leftform textarea {
    width: 200px;
    height: 70px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
    float: left;
}
.manageuser_leftform input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 8px 0 0;
}
.manageuser_leftform .btn {
    margin: 0px;
    width: 110px;
    height: 35px;
}
.edit_manage_user {
    padding: 0px;
}
.edit_manage_user .x_title {
    margin: 0px;
    padding: 5px 20px;
    background-color: #f06671;
    color: #fff;
}
.edit_manage_user .x_content {
    padding: 25px 20px 0 20px;
    margin: 0;
}
.panel_toolbox>li>a:hover {
    background: #ffffff;
    color: #000;
}
.panel_toolbox>li>a {
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
}
.edit_manage_user td {
    text-align: left !important;
}
.manageuser_leftform span.fa.fa-plus {
    font-size: 20px;
    margin: 0 0 0 5px;
}
.right_col.manage-suppliers-right-col
{
        min-height:unset;   
}
.ui-widget-header
{
    background:#1479B8 !important;
}
.edit_manage_user .x_title
{
    background:unset !important;
    color:#73879C;
}
.page-title .title_left {
	width: 100%;
	padding-left: 15px;
	background: #1479B8;
	color: #ffffff;
}
 table#tblist label {
    font-weight: 400;
    margin-left: 10px;
}
 div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemo {
    width: 100% !important;
	z-index:1;
}
div#jQGridDemoPager {
    width: 100% !important;
	overflow-x:auto;
	z-index:1;
}
.manage-supplier-company-name {
    width: 200px;
}
.manage-supplier-company-name label {
    font-size: 12px;
    margin-top: 3px;
}
/*----responsive----*/
@media (max-width:358px)
{
	#globalSearchText {
		width: 44%;
	}
}
@media(max-width:480px) {
	.right_col.manage-suppliers-right-col .page-title .title_left {
		width: 100%;
	}
}
@media(max-width:767px) {
	.x_panel.edit_manage_user {
		width: 100% !important;
	}

	.edit_manage_user .x_content {
		margin: 0;
		width: 100%;
		overflow-x: auto;
	}
}
/*----responsive----*/
