﻿div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemo {
    width: 100% !important;
}
div#jQGridDemoPager {
    width: 100% !important;
}
/*----responsive----*/
@media(max-width:350px) {
	input#globalSearchText {
		width: 48%;
	}
}
/*----responsive----*/