﻿table#frmCity tr td {
    text-align: left;
}
table#frmCity .form-control {
    height: 30px;
    font-size: 12px;
    width: 300px !important;
}
.ui-widget-header {
    background: #1479B8 !important;
}
div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
    overflow: auto;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
    overflow: auto;
}
table#jQGridDemo {
    width: 100% !important;
    overflow: auto;
}
div#jQGridDemoPager {
    width: 100% !important;
    overflow-x: auto;
}

/*----responsive----*/
@media(max-width:480px){
	.x_panel {
       padding: 10px 4px;
    }
	table#frmCity tr td:nth-child(2) {
		width: 100px;
		float: left;
	}
	table#frmCity .form-control {
		height: 30px;
		font-size: 9px;
		width: 100px !important;
		padding: 0;
	}
	table#frmCity select#ddlDrCr {
		width: 37px !important;
	}
	.youhave {
		padding-left: 0 !important;
	}
}
@media(min-width:481px) and (max-width:767px){
	table#frmCity .form-control {
		width: 200px !important;
	}
	table#frmCity select#ddlDrCr {
		width: 60px !important;
	}
	.youhave {
		padding-left: 0 !important;
	}
}
@media(min-width:768px) and (max-width:991px){
	table#frmCity .form-control {
      width: 270px !important;
	}
	#frmCity select#ddlDrCr {
		width: 200px !important;
	}
}
@media(min-width:992px) and (max-width:1200px){
	table#frmCity .form-control {
      width: 250px !important;
	}
	#frmCity select#ddlDrCr {
		width: 200px !important;
	}
}
/*----responsive----*/