div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
	overflow-y:scroll;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
	max-height:100px !important;
}
table#jQGridDemo {
    width: 100% !important;
	z-index:1;
}
div#jQGridDemoPager {
    width: 100% !important;
	overflow-x:auto;
	z-index:1;
}
label
{
	font-size:13px;
}
span#ui-id-1 + button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none !important;
}
select#cm_cr_ddlOption {
    height: 25px !important;
    margin-top: -9px !important;
    border: 1px solid #DDE2E8;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    left: 0 !important;
    width: 100% !important;
}
div#CustomerDialog {
    width: 60% !important;
    margin: 0 auto;
}
.right_col.manage-credit-customers-right-col .x_panel {
	z-index: 1;
}
/*form*/
input#cm_cr_ShortName {
    width: 143px !important;
}
textarea#cm_cr_Address {
    width: 410px !important;
}
select#cm_cr_ddlArea {
    width: 117px;
}
select#cm_cr_ddlCities {
    width: 117px !important;
}
select#cm_cr_ddlState {
    width: 117px;
}
input#cm_cr_OpBal {
    width: 117px !important;
}
input#cm_cr_TinNo {
    width: 177px !important;
}
input#cm_cr_ContactPerson {
    width: 177px !important;
}
input#cm_cr_ContactNumber {
    width: 177px !important;
}
input#cm_cr_Discount {
    width: 177px !important;
}
select#cm_cr_ddlAccSGroup {
    width: 177px !important;
}
input#cm_cr_CreditLimit {
    width: 177px !important;
}
input#cm_cr_CreditDays {
    width: 177px !important;
}

/*form*/
@media(max-width:360px)
{
	#globalSearchText {
			width: 42%;
	}
}
@media(max-width:402px)
{
	label {
		width: 100% !important;
	}
	#cm_cr_ddlPrefix {
		width: 70px !important;
		margin-right: 4px !important;
	}
	#cm_cr_Name {
		width: 80px !important;
		margin-right: 4px !important;
	}
	input#cm_cr_ShortName {
		width: 80px !important;
	}
	textarea#cm_cr_Address {
		width: 238px !important;
	}
	select#cm_cr_ddlArea,select#cm_cr_ddlCities,select#cm_cr_ddlState {
		width: 60px !important;
	}
	.cls-name-credit-cust {
		width: 100% !important;
	}
}
@media(min-width:403px) and (max-width:438px)
{
	#myFormID label {
		font-size: 10px !important;
	}

}
@media(min-width:439px) and (max-width:454px)
{
	#myFormID label {
		font-size: 11px !important;
	}

}

@media(min-width:455px) and (max-width:491px)
{
	#myFormID label {
		font-size: 12px !important;
	}
}
@media(min-width:403px) and (max-width:452px)
{
	#myFormID input, #myFormID select {
		font-size: 12px !important;
	}
	#cm_cr_ddlPrefix {
		width: 70px !important;
		margin-right: 4px !important;
	}
	#cm_cr_Name {
		width: 80px !important;
		margin-right: 4px !important;
	}
	input#cm_cr_ShortName {
		width: 80px !important;
	}
	textarea#cm_cr_Address {
		width: 238px !important;
	}
	select#cm_cr_ddlArea,select#cm_cr_ddlCities,select#cm_cr_ddlState {
		width: 60px !important;
	}


}
@media (min-width:453px) and (max-width:480px)
{
	#myFormID input, #myFormID select {
		font-size: 12px !important;
	}
	#cm_cr_ddlPrefix {
		width: 70px !important;
		margin-right: 4px !important;
	}
	#cm_cr_Name {
		width: 100px !important;
		margin-right: 4px !important;
	}
	input#cm_cr_ShortName {
		width: 100px !important;
	}
	textarea#cm_cr_Address {
		width: 278px !important;
	}
	select#cm_cr_ddlArea,select#cm_cr_ddlCities,select#cm_cr_ddlState {
		width: 74px !important;
	}


}
@media(min-width:481px) and (max-width:567px)
{
	#cm_cr_ddlPrefix {
		width: 73px !important;
		margin-right: 4px !important;
	}
	input#cm_cr_Name {
		width: 109px !important;
		margin-right: 4px !important;
	}
	
	input#cm_cr_ShortName {
		width: 109px !important;
	}
	textarea#cm_cr_Address {
		width: 300px !important;
	}
	#cm_cr_ddlArea, #cm_cr_ddlCities, #cm_cr_ddlState {
		width: 72px !important;
	}
}
@media(min-width:568px) and (max-width:667px)
{
	#cm_cr_ddlPrefix {
		width: 74px !important;
		margin-right: 10px !important;
	}
	#cm_cr_Name {
		width: 135px !important;
		margin-right: 10px !important;
	}
	input#cm_cr_ShortName {
		width: 135px !important;
	}
	textarea#cm_cr_Address {
		width: 366px !important;
	}
	#cm_cr_ddlArea, #cm_cr_ddlCities, #cm_cr_ddlState {
		width: 105px !important;
	}
}
@media(min-width:481px) and (max-width:667px)
{
	#txtSearch {
		width: 200px !important;
	}
	#dvLeft {
		width: 36% !important;
		margin-left: 0 !important;
	}
	#dvRight {
		width:63% !important;
		margin-right:0 !important
	}
}
@media(max-width:767px)
{
	#t_jQGridDemo label {
		margin-top: 0;
		width: auto !important;
	}
	div#CustomerDialog {
		width: 100% !important;
	}
	#cm_cr_ddlArea, #cm_cr_ddlCities, #cm_cr_ddlState {
		width: 114px !important;
	}
}

@media(min-width:768px) and (max-width:991px)
{
	div#CustomerDialog {
		width: 100% !important;
	}
	#cm_cr_ddlPrefix {
		width: 80px !important;
	}
	textarea#cm_cr_Address {
		width: 397px !important;
		height:40px !important;
	}
	#myFormID .form-control {
		margin-bottom: 8px;
	}
}
@media(min-width:992px) and (max-width:1100px)
{
	div#CustomerDialog {
		width: 90% !important;
	}
	textarea#cm_cr_Address {
		height:40px !important;
	}
	#myFormID .form-control {
		margin-bottom: 8px;
	}
}
@media(min-width:1101px) and (max-width:1300px)
{
	div#CustomerDialog {
		width: 72% !important;
	}
	textarea#cm_cr_Address {
		height:40px !important;
	}
	#myFormID .form-control {
		margin-bottom: 8px;
	}
}
@media (min-width:768px) and (max-width:1300px)
{
	
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
		top: 0 !important;
	}
	.main_menu_side {
		position:relative;
		z-index: 1;
	}
}