﻿[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    padding: 0px;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    border-radius: 0px;
    background-color: #f06671;
}
[aria-labelledby=ui-id-1] div#dvIMDialog {
    width: 100%;
    padding: 0px;
    height: auto;
}
.manage_item_master .tabcontents::-webkit-scrollbar {width: 25px;}
.manage_item_master .tabcontents::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.manage_item_master .tabcontents::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}
.manage_item_master .tabcontents {
    padding: 0px 0 30px;
    width: 100%;
    overflow: auto;
}
.manage_item_master {
    background: rgb(225, 225, 225) !important;
    color: #000;
    font-size: 13px;
}
table.tables {
    float: left;
    border: 1px solid #46c9ac;
    width: 100%;
    overflow: hidden;
}
.manage_master_tabs {
    margin: 1px 0 !important;
    width: 100%;
    float: left;
}
.tables_headings {
    background-color: #46c9ac;
    color: #fff;
    padding: 0px 15px;
}
.tables_contant td {
    padding: 5px 15px;
}
.manage_master_tabs li a {
    background: -webkit-linear-gradient(#46c9ac, #46c9ac);
    color: #fff !important;
    border: 1px solid #fff !important;
        border-radius: 0px !important;
}
.manage_master_tabs li a:hover {
    background: -webkit-linear-gradient(#2d4019, #528a1e) !important;
}
.all_tables {
    background-color: #fff;
}
.all_tables td {
    padding: 2px 10px;
    border-bottom: 1px solid #ffdfe2;
}
.inner_table td {
	padding: 0px;
	border: none;
}
.all_tables select {
	width: 115px;
	height: 20px;
	padding: 0px;
	font-size: 12px;
	border-radius: 0px;
}
span.fa.fa-plus {
    margin: 0 0 0 4px;
    cursor: pointer;
}
.all_tables input {
	width: 115px;
	height: 20px;
	padding: 0px;
	font-size: 12px;
	margin: 0px;
	border-radius: 0px;
}
.all_tables label {
    font-size: 12px;
    margin: 0px;
    width: 80px;
    float: left;
}
.all_tables textarea#txtIMComments {
    width: 100% !important;
    height: 45px;
}
[type=checkbox] {
	float: right;
	width: 15px !important;
	cursor: pointer;
}
[type=radio] {
    width: 15px !important;
    float: left;
    cursor: pointer;
}
.manage_item_btn button {
	width: 150px;
	height: 44px;
	border-radius: 0px;
	border: none;
	margin: 2px 0px;
}
.manage_item_btn i {
    margin: 0 5px 0 0;
}
.right_col.manageitemmaste_right_col {
    min-height: unset;
    float: left;
}
.nav_menu {
    margin-bottom: 0;
}
.page-title {
    height: 44px;
    padding:0;
}
.right_col.manageitemmaste_right_col .x_panel
{
    float:left;
}
.youhave.manageitemmaster_youhave .btn
{
    padding: 4px 12px;
    font-size: 13px;
}
table.tables.basic_advance_tables tr.tables_contant td {
    padding: 5px 9px;
    box-sizing: border-box;
}
table.all_tables.FormType.stock_leveling_table td {
    padding-right: 4px !important;
    box-sizing: border-box;
}
table.all_tables.FormType.stock_leveling_table
{
    height:96px;
}
.pak_info_table
{
    min-height:208px
}
.rate_info_table
{
    min-height:320px
}
table.all_tables.FormType.stock_leveling_table input 
{
    width: 70px;
    margin-left: 10px !important;
}
table.all_tables.FormType.stock_leveling_table.stock_leveling_table_height tr:nth-child(2) td:first-child {
    width: 87px;
}
.rate_info_table [type=checkbox]
{
    float:left;
}
input#chkInHousePacking{
    float: left;
    margin-left: 30px;
}
input#chkIMItemDiscontinued {
    float: left;
    margin-left: 18px;
}
input#chkIMCouponPrinting {
    float: left;
    margin-left: 31px;
}
.veg_non_table label {
    width: auto;
    padding-right: 5px;
}
.basic_table_height,.rate_info_table.basic_table_height {
    min-height: 320px;
}
.basic_table_height .tables_headings
{
    height:16px;
}
.basic_table_heading.tables_headings
{
    height:16px;
}
table.manage_item_btn.basic_table_btn {
    margin: auto;
}
table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
    padding: 30px 0;
    box-sizing: border-box;
}
label.rdo_info {
    width: auto;
    padding-right: 5px;
}
table.manage_item_btn.basic_table_btn button
{
    width:auto;
}
button#btnIMCancel
{
    padding-right:15px;
}
div#gbox_jQGridDemo {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-view {
    width: 100% !important;
}
#t_jQGridDemo {
   width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox {
    float: left;
    padding-right: 0;
}
.ui-jqgrid .ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-bdiv {
   width: 100% !important;
   z-index:1;
}
.ui-jqgrid .ui-jqgrid-btable {
    width: 100% !important;
}
#jQGridDemoPager {
	width: 100% !important;
} 
.ui-widget-header {
   background: #1479B8;
}
.nutritoin-rmark-div {
    float: left;
    width: 100%;
}
.nutritoin-rmark-div span {
    float: left;
    width: 6%;
    padding-top: 18px;
}
textarea#txtNutritionRemarks {
    width: 94%;
    float: left;
}
tbody#tbNutritionInfo tr td {
    border: 2px solid #f06671;
    vertical-align: middle;
    padding: 6px 11px;
}
div#view2 table thead, div#view2 table thead tr th, div#view2 table thead tr td {
    border: 2px solid #f06671;
    text-align: center;
}
tbody#tbNutritionInfo {
    text-align: center;
}
input#chkIMBold {
    position: absolute;
    bottom: 0;
    top: 12px;
    left: 36px;
}
div#view2 table thead tr td {
    vertical-align: middle;
    padding: 6px 11px;
}
div#view2 table 
{
    margin:0;
}
div#view2 {
    padding: 10px 0 0 10px;
}
.manage_master_header_background
{
    background:#1479B8 !important; 
}
table.tables.basic_advance_tables th.tables_headings
{
    background:#1479B8;
}
th.tables_headings.basic_table_heading
{
     background:#1479B8;
}
tr.FormType.basic-mark-up.rate_info_table_height {
    display: table-row !important;
}
table.all_tables.FormType.pak_info_table.basic-pak-info-tbl.bsic-pkinfo-tbl-cls {
    display: table !important;
}
table.all_tables.FormType.pak_info_table.basic-pak-info-tbl.bsic-pkinfo-tbl-cls tr{
    display: none !important;
}
table.all_tables.FormType.pak_info_table.basic-pak-info-tbl.bsic-pkinfo-tbl-cls tr:first-child{
    display: table-row !important;
}
table.all_tables.FormType.pak_info_table.basic-pak-info-tbl.bsic-pkinfo-tbl-cls tr.basic-pack-info-table-tr.bsic-pkinfo-tbl-tr-cls
{
      display: table-row !important;
}
input#chkIMDis1Per {
    float: left;
    margin-left: 43px;
}
input#chkIMDis2Per {
    float: left;
    margin-left: 43px;
}
.bsic-height-qty-intro {
    min-height: 160px;
}
.bsic_pak_info_table_height {
    min-height: 154px!important;
}
.basic-other-info-tble-height
{
    min-height:220px;
}
table.all_tables.basic-other-info-tble-height table.veg_non_table {
    padding: 0px 0;
    box-sizing: border-box;
}
.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
{
    background:#1479B8;
}
div#dvIMDialog {
    height: 620px !important;
}
.right_col.manageitemmaste_right_col .page-title .title_left {
		width: 100%;
		padding-left:15px;
	    background :#1479B8;
	    color:#ffffff;
}
.all_tables select {
    color: #000;
    border: 1px solid #000;
}
.all_tables input {
    color: #000 !important;
    border: 1px solid #000;
}
.ui.selection.active.dropdown
{
    color: #000 !important;
    border: 1px solid #000;
}
textarea#txtIMComments {
    border: 1px solid #DDE2E8;
    color: #73878C;
}
.all_tables label
{
    font-weight:normal;
    font-size:13px;
    color:#000;
}
table.all_tables.FormType.stock_leveling_table.stock_leveling_table_height tr:nth-child(2) td:nth-child(3), .all_tables tr:nth-child(2) td:nth-child(3)
{
    color: #000;
    font-weight:normal;
}
div#dvIMDialog {
    height: 616px !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.itm-list-cls {
    top: 60px !important;
}
div#dvItemlst {
    min-height: 630px !important;
}
div#dvItemlst label {
    font-size: 13px;
    margin-right: 5px;
}
div#dvItemlst select {
    height: 25px !important;
    width: 67%;
}
.main_menu_side {
	z-index: 1;
	position: relative;
}
.itm-list-sub-btn {
    text-align: right;
}
div#tbltemlist_filter input {
    border: 1px solid #333;
}
[aria-describedby="dvVMDialog"] button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    display: block;
}
div#btngrpadd i {
    margin-left: 4px;
}
div#btnsbgrpadd i {
    margin-left: 4px;
}
div#btncompadd i {
    margin-left: 4px;
}
div#dvgrp,#dvsbgrp,#dvcgrp {
    position: absolute;
    height: auto;
    width: 300px;
    top: 221px;
    left: 530px;
    display: block;
	background:#eee;
	color:#333333;
	 border-radius: 4px;
}
div#dvgrp table {
    width: 100%;
}
.cross-td {
    float: left;
    width: 100%;
    background: #1479B8;
    height: 39px;
    border-radius: 4px;
}
.dvgrp-main-div {
    float: left;
    width: 100%;
}
.title-div {
    float: left;
    width: 100%;
	margin-bottom:10px;
}
.input-div {
    float: left;
   }
.head-div {
    float: left;
    width: 32%;
}
.dvgrp-main-div {
    float: left;
    width: 100%;
    padding: 10px 30px 20px;
    box-sizing: border-box;
}
.cross-td i {
    background: #f6f6f6;
    color: #EF8C08;
    padding: 6px;
    border-radius: 4px;
    float: right;
    margin-top: 8px;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    line-height: 10px;
}
tr#tdpos td:first-child {
    padding-left: 0 !important;
}
/*media*/
@media(max-width:400px)
{
    /*----itemlist----*/
    .itm-list-first-sec label {
	    width: 100px;
    }
    #dvItemlst .itm-list-first-sec select {
	    width: 180px;
    } 
   .itm-list-sub-btn {
	     text-align: left;
    } 
    #btn_getitem,#btnExport,#btnclose {
	    margin-top: 10px;
    }
    .dataTables_wrapper .dataTables_filter {
	    margin-top: 0 !important;
    } 
    .dataTables_length {
	    width: 50%;
	    float: left !important;
    }
    .dataTables_filter {
	    width: 50%;
		float: left !important;
    }
    #tbltemlist_filter input[type="search"] {
	    width: 100%;
    }
    /*----itemlist----*/
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 3%;
	}
}
@media (min-width:401px) and (max-width:480px)
{
    /*----itemlist----*/
    .itm-list-first-sec label {
	    width: 140px;
    }
    #dvItemlst .itm-list-first-sec select {
	    width: 222px;
    } 
    .itm-list-sub-btn {
	    text-align: left;
    } 
     #btn_getitem,#btnExport,#btnclose {
	    margin-top: 10px;
    }
    .dataTables_wrapper .dataTables_filter {
	    margin-top: 0 !important;
    } 
    .dataTables_length {
	    width: 50%;
	    float: left !important;
    }
    .dataTables_filter {
	    width: 50%;
		float: left !important;
    }
    #tbltemlist_filter input[type="search"] {
	    width: 55%;
    }
    /*----itemlist----*/
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 20%;
	}
}
@media (max-width:480px)
{
    .right_col.manageitemmaste_right_col .page-title .title_left {
		width: 100%;
		margin-bottom:0px;
    }
    #t_jQGridDemo #globalSearchText {
	    width: 48%;
    }
    .youhave.manageitemmaster_youhave .btn {
	    padding: 4px 7px;
	    font-size: 12px;
    }
    .youhave-btn-table tr {
	    display: block !important;
    }
    .youhave-btn-table tr td:nth-child(3) {
	    display: inline-block !important;
    }
    .youhave-btn-table tr td:nth-child(4) {
	    display: inline-block !important;
    }
    #jQGridDemoPager {
	    width: 100% !important;
    }
     .form-type-basic-adv {
	    width: 100% !important;
    }
    #txtIMDays {
	    width: 88px;
    }
    .day_table_info tr td:nth-child(3) {
	    padding: 2px 0px !important;
    }
    input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
    div#dvIMDialog {
	    height: 750px !important;
    }
    /*itemlist*/
    div#dvItemlst {
	    min-height: 680px !important;
    }
    /*itemlist*/
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 18px 0;
	}
}
@media (min-width:481px) and (max-width:510px)
{
    .youhave-btn-table tr {
	    display: block;
    }
    .youhave-btn-table tr td:nth-child(5) {
	    display: block;
    }
}
@media (min-width:481px) and (max-width:567px)
{
    .right_col.manageitemmaste_right_col .page-title .title_left {
		margin-bottom:0px;
    }  
      #jQGridDemoPager {
	    width: 100% !important;
    } 
    .youhave.manageitemmaster_youhave .btn {
	    padding: 4px 3px;
	    font-size: 12px;
    }
   .form-type-basic-adv {
	    width: 55% !important;
    }
     #txtIMDays {
	    width: 88px;
    }
    .day_table_info tr td:nth-child(3) {
	    padding: 2px 0px !important;
    }
    input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
    
      /*----itemlist----*/
    .col-md-1.itm-list-sub-btn
    {
        float:left;
        margin-left: 14px;
    }
    .itm-list-first-sec label {
	    width: 90px;
    }
    #dvItemlst .itm-list-first-sec select {
	    width: 350px;
    } 
    .dataTables_wrapper .dataTables_filter {
	    margin-top: 0 !important;
    } 
    .dataTables_length {
	    width: 50%;
	    float: left !important;
    }
    .dataTables_filter {
	    width: 50%;
		float: left !important;
    }
    #tbltemlist_filter input[type="search"] {
	    width: 100%;
    }
    .itm-list-sub-btn {
	    text-align: left;
	    margin-top: 20px;
    }
    /*----itemlist----*/
    div#dvIMDialog {
	    height: 710px !important;
    }
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 20%;
	}
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 18px 0;
	}	
}
@media (min-width:568px) and (max-width:667px)
{
    .right_col.manageitemmaste_right_col .page-title .title_left {
		margin-bottom:0px;
    }  
      #jQGridDemoPager {
	    width: 100% !important;
    } 
    .youhave.manageitemmaster_youhave .btn {
	     font-size: 12px;
	     padding: 4px 6px;
    }
    .form-type-basic-adv {
	    width: 55% !important;
    }
     #txtIMDays {
	    width: 88px;
    }
    .day_table_info tr td:nth-child(3) {
	    padding: 2px 0px !important;
    }
    input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
   
         /*----itemlist----*/
    .itm-list-sub-btn
    {
       text-align:left;
       margin-top:20px;
    }
    .itm-list-first-sec label {
	    width: 90px;
    }
   #dvItemlst .itm-list-first-sec select {
	    width: 440px;
    } 
    .dataTables_wrapper .dataTables_filter {
	    margin-top: 0 !important;
    } 
    .dataTables_length {
	    width: 50%;
	    float: left !important;
    }
    .dataTables_filter {
	    width: 50%;
		float: left !important;
    }
    #tbltemlist_filter input[type="search"] {
	    width: 100%;
    }
    /*----itemlist----*/
    div#dvIMDialog {
	    height: 670px !important;
    }
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 20%;
	}
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 18px 0;
	}	
}

@media(min-width:668px) and (max-width:767px)
{
     .form-type-basic-adv {
	    width: 55% !important;
    }
     #txtIMDays {
	    width: 88px;
    }
    .day_table_info tr td:nth-child(3) {
	    padding: 2px 0px !important;
    }
    input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
  
          /*----itemlist----*/
    .itm-list-sub-btn
    {
       margin-top:20px;
       text-align:left;
    }
    .itm-list-first-sec label {
	    width: 90px;
    }
    #dvItemlst .itm-list-first-sec select {
	    width: 450px;
    } 
    .dataTables_wrapper .dataTables_filter {
	    margin-top: 0 !important;
    } 
    .dataTables_length {
	    width: 50%;
	    float: left !important;
    }
    .dataTables_filter {
	    width: 50%;
		float: left !important;
    }
    #tbltemlist_filter input[type="search"] {
	    width: 100%;
    }
    #tbltemlist_filter label {
	    text-align: center;
    }
    /*----itemlist----*/
    div#dvIMDialog {
	    height: 727px !important;
    }
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 28%;
	}
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 18px 0;
	}	
}
@media screen and (max-width:767px) {
	.master_info_table_height {
		height: 426px !important;
	}

	.pak_info_table_height {
		min-height: 308px !important;
	}

	#jQGridDemoPager {
		width: 100% !important;
	}

	.right_col.manageitemmaste_right_col .page-title .title_left {
		margin-bottom: 0px;
	}

	textarea#txtNutritionRemarks {
		width: 76%;
	}

	.nutritoin-rmark-div span {
		width: 24%;
	}
}

@media screen and (min-width:768px) and (max-width:991px)
{
    .master_info_table_height {
        height: 426px !important;
    }
    .pak_info_table_height {
      min-height: 308px !important;
   }
   #jQGridDemoPager {
	    width: 100% !important;
    } 
    .right_col.manageitemmaste_right_col .page-title .title_left {
		margin-bottom:0px;
    }  
     .form-type-basic-adv {
	    width: 35% !important;
    }
     #txtIMDays {
	    width: 88px;
    }
    .day_table_info tr td:nth-child(3) {
	    padding: 2px 0px !important;
    }
    input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
      textarea#txtNutritionRemarks {
	    width: 90%;
	}
	.nutritoin-rmark-div span {
		width: 10%;
	}
	/*----itemlist----*/
  
.itm-list-sub-btn button {
	padding: 4px;
}
 div#dvItemlst select {
	height: 25px !important;
	width: 90%;
}
    /*----itemlist----*/
    div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 31%;
	}
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 18px 0;
	}	
}
@media screen and (min-width:992px) and (max-width:1024px)
{
     .form-type-basic-adv {
	    width: 35% !important;
    }
     #txtIMDays {
	    width: 88px;
    }
    .day_table_info tr td:nth-child(3) {
	    padding: 2px 0px !important;
    }
    input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
      textarea#txtNutritionRemarks {
	    width: 90%;
	}
    .nutritoin-rmark-div span {
	    width: 10%;
	  
    }
     .master_info_table_height {
        height: 431px !important;
    }
    
    /*----item-list----*/
    #ddcompany {
	    width: 90px;
    }
    #ddgroup {
	    width: 110px;
    }   
    /*----item-list----*/
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 36%;
	}
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 18px 0;
	}
}
@media screen and (min-width:1025px) and (max-width:1100px){
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 36%;
	}
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 0px 0;
	}
	table.all_tables.master_info_table.master_info_table_height {
		height: 436px !important;
	}
}
@media screen and (min-width:992px) and (max-width:1100px)
{
   .pak_info_table_height {
      min-height: 311px !important;
   }
   .rate_info_table_height {
         min-height: 426px !important;
    }
   /*----item-list----*/
    #ddcompany {
	    width: 90px;
    }
    #ddgroup {
	    width: 110px;
    }   
    div#dvItemlst select {
	   width: 58%;
    }
    /*----item-list----*/
	input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
}

@media screen and (min-width:1101px) and (max-width:1300px)
{
    .master_info_table_height {
        height: 426px !important;
    }
    .pak_info_table_height {
      min-height: 311px !important;
   }
   .rate_info_table_height {
         min-height: 426px !important;
	}
  /*----item-list----*/
    #ddcompany {
	    width: 90px;
    }
    #ddgroup {
	    width: 110px;
    }   
    div#dvItemlst select {
	    height: 25px !important;
	    width: 62%;
    }
    /*----item-list----*/
	input#chkIMItemDiscontinued {
	     margin-left: 10px;
	}
	input#chkIMCouponPrinting {
	    margin-left: 25px;
	}
	input#chkInHousePacking {
	    margin-left: 20px;
    }
	input#chkIMDis2Per,input#chkIMDis1Per {
		margin-left: 35px;
	}
	div#dvgrp, #dvsbgrp, #dvcgrp {
		top: 20%;
		left: 36%;
	}
	table.all_tables.basic_table_height.master_info-tbl table.veg_non_table {
		padding: 0px 0;
	}
}