﻿#addDialog {
	height: 616px !important;
	min-height: 616px !important;
	max-height: 616px !important;
	background-color: #fff !important;
}
.page-title {
	height: auto;
	padding: 0;
}
div#gbox_jQGridDemo {
	overflow: auto;
	max-height: 350px;
	z-index: 1;
}
td.jq-cls {
	z-index: -1;
}
td.jq-cls.jq-zin {
	z-index: 99;
}
div#dvlast3Dialog {
	left: 360px;
	top: 120px;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
	display: none;
}
button#dvImport {
	font-size: 12px;
	padding: 4px 10px;
}
table.manage_table_top.purchase-manage-table-top {
	margin-top: 0;
}
.manage_table_top td {
	padding: 1px 10px;
}
.manage_table_top select, .manage_table_top input {
	height: 24px;
}
.manage_table_top.purchase-manage-table-top.mng-pur-top-tbl td {
	vertical-align: top;
}
[name="ddlProducts"] {
	width: 240px;
}
[name="txtFree"] {
	width: 20px;
}
[name="txtTaxPer"] {
	width: 45px !important;
}
.manage_table_top input {
	padding: 0 2px;
}
.btn-sub-section-bottom {
	float: left;
	width: 100%;
}
.purchase-row {
	margin-left: 0;
	margin-right: 0;
}
div#btnSubmit, div#btncncl {
	margin: 1px;
}
#tbProducts tr.item td {
	padding-left: 5px !important;
	padding-right: 5px !important;
	box-sizing: border-box;
}
[name="txtNetRate"] {
	width: 60px;
}
[name="txtMRP"] {
		width: 60px;
}
[name="txtTaxA"] {
		width: 60px;
}
.Itemgrid-pop div#t_jQGridProduct {
    height: 28px;
}
.Itemgrid-pop {
    top: 6% !important;
}
table#jQGridProduct td {
    text-align: left !important;
}
.Itemgrid-pop .ui-jqgrid-bdiv {
    height: 460px !important;
	}
/*----responsive----*/
@media(max-width:480px) {
	div#dvlast3Dialog {
		left: 0;
		top: 70px;
		overflow: auto;
		height: 200px;
		width: 100%;
	}

	#innerSave {
		width: 296px !important;
		overflow: auto !important;
		height: 178px !important;
	}

	.bill-value-mng-pur-tbl {
		top: 200px !important;
		left: 12px !important;
	}

	.tax-tble-mage-pur {
		top: 20px !important;
		left: 10px !important;
	}
	.Itemgrid-pop {
		top: 7% !important;
		left: 5% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media (min-width:481px) and (max-width:567px) {
	div#dvlast3Dialog {
		left: 0;
		top: 70px;
		overflow: auto;
		width: 100%;
	}

	#innerSave {
		width: 270px !important;
		overflow: auto !important;
	}

	.bill-value-mng-pur-tbl {
		top: 40px !important;
		left: 193px !important;
	}

	.tax-tble-mage-pur {
		top: 266px !important;
		left: 9px !important;
	}

	#dvTaxDenomination {
		width: 185px;
	}
	.Itemgrid-pop {
		top: 7% !important;
		left: 5% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media (min-width:568px) and (max-width:667px) {
	div#dvlast3Dialog {
		left: 0;
		top: 70px;
		overflow: auto;
	}

	.bill-value-mng-pur-tbl {
		top: 40px !important;
		left: 252px !important;
	}

	.tax-tble-mage-pur {
		top: 287px !important;
		left: 9px !important;
	}

	#innerSave {
		width: 300px;
	}
	.Itemgrid-pop {
		top: 7% !important;
		left: 13% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media (min-width:668px) and (max-width:767px) {
	div#dvlast3Dialog {
		left: 0;
		top: 70px;
		overflow: auto;
	}

	.bill-value-mng-pur-tbl {
		top: 40px !important;
		left: 252px !important;
	}

	.tax-tble-mage-pur {
		top: 239px !important;
		left: 9px !important;
	}
	.Itemgrid-pop {
		top: 7% !important;
		left: 20% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media(max-width:767px) {
	tr.item td {
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}

	[name="txtNetRate"] {
		width: 60px;
	}

	[name="txtMRP"] {
		width: 60px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	div#dvlast3Dialog {
		left: 16%;
	}

	.bill-value-mng-pur-tbl {
		left: 360px !important;
	}

	.tax-tble-mage-pur {
		left: 118px !important;
	}

	.btn-sub-section-bottom {
		padding: 0px 0;
	}

	tr.item td {
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}

	[name="txtNetRate"] {
		width: 60px;
	}

	[name="txtMRP"] {
		width: 60px;
	}
	.Itemgrid-pop {
		top: 7% !important;
		left: 20% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media (min-width:992px) and (max-width:1024px) {
	div#dvlast3Dialog {
		left: 23%;
		top: 120px;
	}

	.bill-value-mng-pur-tbl {
		left: 467px !important;
	}

	.tax-tble-mage-pur {
		left: 224px !important;
	}

	.mng-pur-rturn-wdth {
		width: auto;
	}
	.manage_table_top table td {
		font-size: 11px;
	}

	tr.total-tr td {
		font-size: 14px !important;
		font-weight: 700 !important;
	}

	[name="txtServiceId"] {
		width: 30px;
		font-size: 13px;
	}

	[name="ddlProducts"] {
		width: 116px;
	}

	[name="txtMargin"], [name="txtBalQty"], [name="txtFree"], [name="txthsn"] {
		width: 30px;
	}

	[name="txtQty"] {
		width: 30px !important;
	}

	[name="txtRate"] {
		width: 53px !important;
	}

	[name="txtSRate"] {
		width: 53px !important;
	}

	[name="txtMRP1"] {
		width: 53px !important;
	}

	[name="txtAmount"] {
		width: 53px !important;
	}

	[name="txtDis1Per"], [name="txtDis2Per"] {
		width: 39px !important;
	}

	[name="txtTaxper"] {
		width: 35px !important;
	}

	tr.item td {
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}

	[name="txtNetRate"] {
		width: 60px;
	}

	[name="txtMRP"] {
		width: 60px;
	}
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media(min-width:1025px) and (max-width:1100px) {
	[name="txtServiceId"] {
		width: 30px;
	}
	[name="ddlProducts"] {
		width: 150px;
	}
	[name="txtFree"] {
		width: 20px;
	}
	[name="txtMargin"], [name="txtBalQty"], [name="txthsn"] {
		width: 30px;
	}
	[name="txtQty"] {
		width: 31px !important;
	}
	[name="txtRate"], [name="txtSRate"], [name="txtMRP1"], [name="txtAmount"] {
		width: 50px !important;
	}
	[name="txtDis1Per"], [name="txtDis2Per"] {
		width: 39px !important;
	}
	[name="txtTaxper"] {
		width: 35px !important;
	}
	tr.item td {
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}
	[name="txtNetRate"] {
		width: 60px;
	}
	[name="txtMRP"] {
		width: 60px;
	}
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media(min-width:1101px) and (max-width:1200px) {
	[name="txtServiceId"] {
		width: 42px;
	}

	[name="ddlProducts"] {
		width: 200px;
	}

	[name="txtFree"] {
		width: 20px;
	}

	[name="txtMargin"], [name="txtBalQty"], [name="txthsn"] {
		width: 35px;
	}

	[name="txtQty"] {
		width: 35px !important;
	}

	[name="txtRate"], [name="txtSRate"], [name="txtMRP1"], [name="txtAmount"] {
		width: 50px !important;
	}

	[name="txtDis1Per"], [name="txtDis2Per"] {
		width: 35px !important;
	}

	[name="txtTaxper"] {
		width: 40px !important;
	}
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media(min-width:1201px) and (max-width:1310px) {
	[name="txtServiceId"] {
		width: 42px;
	}

	[name="ddlProducts"] {
		width: 230px;
	}

	[name="txtFree"] {
		width: 20px;
	}

	[name="txtMargin"], [name="txtBalQty"], [name="txthsn"] {
		width: 40px;
	}

	[name="txtQty"] {
		width: 40px !important;
	}

	[name="txtRate"], [name="txtSRate"], [name="txtMRP1"], [name="txtAmount"] {
		width: 55px !important;
	}

	[name="txtDis1Per"], [name="txtDis2Per"] {
		width: 40px !important;
	}

	[name="txtTaxper"] {
		width: 40px !important;
	}
	
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}

@media (min-width:1311px) and (max-width:1400px) {
	.inv_sub_canc {
		margin: 0px 0 20px;
	}
}

@media (min-width:1025px) and (max-width:1400px) {
	.mng-pur-rturn-wdth {
		width: auto;
	}
}

@media (min-width:1025px) and (max-width:1300px) {

	div#dvlast3Dialog {
		left: 23%;
	}
	.bill-value-mng-pur-tbl {
		left: 467px !important;
	}
	.tax-tble-mage-pur {
		left: 224px !important;
	}
}

/*----responsive----*/