﻿.managecustomer_rate_table th {
    background-color: #46c9ac;
    color: #fff;
}
.managecustomer_product tr:nth-child(even) {
    background-color: #f9e4e6;
}
.managecustomer_product .prdct_btns {
    font-size: 12px;
    border-radius: 0px;
    height: 30px;
    padding: 6px 0;
    width: 90px;
    background: #f06671 none repeat scroll 0 0;
    box-shadow: inset -2px -5px 5px #8d3c42;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    margin: 0px;
}

.managecustomer_product::-webkit-scrollbar {width: 25px;}
.managecustomer_product::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.managecustomer_product::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}


.right_col.manage-customer-rates-right-col
{
     min-height: unset;
}
.managecustomer_rate_table th {
	background-color: #1479B8;
}
.right_col.manage-customer-rates-right-col .page-title .title_left {
	    width: 100%;
		padding-left:15px;
	    background :#1479B8;
	    color:#ffffff;
}
.compny-rate-selct {
    padding-top: 2px;
    padding-bottom: 2px;
}
/*----responsive----*/
@media(max-width:480px)
{
    .right_col.manage-customer-rates-right-col .page-title .title_left {
	    width: 100%;
	 }
	 #cntAdmin_dd_customername {
	    width: 57% !important;
    }  
    .table.managecustomer_rate_table {
	    width: auto;
	    max-width: unset;
    }
    .manage-customer-rates-heading-tr {
	    table-layout: unset;
	    width: auto;
	 }
    .right_col.manage-customer-rates-right-col .x_panel {
	    width: auto;
	}
	.right_col.manage-customer-rates-right-col {
	     overflow-x: auto;
    }
    .table.managecustomer_rate_table thead, .table.managecustomer_rate_table tbody tr
    {
          display:table-row;
    }
    .table.managecustomer_rate_table tbody {
	    display: table-header-group;
	}
}
@media (max-width:767px)
{
      .right_col.manage-customer-rates-right-col .page-title .title_left {
	    width: 100%;
	 }
	 #cntAdmin_dd_customername {
	    width: 40% !important;
    }  
    .table.managecustomer_rate_table {
	    width: auto;
	    max-width: unset;
    }
    .manage-customer-rates-heading-tr {
	    table-layout: unset;
	    width: auto;
	 }
    .right_col.manage-customer-rates-right-col .x_panel {
	    width: auto;
	}
	.right_col.manage-customer-rates-right-col {
	     overflow-x: auto;
    }
    .table.managecustomer_rate_table thead, .table.managecustomer_rate_table tbody tr
    {
          display:table-row;
    }
    .table.managecustomer_rate_table tbody {
	    display: table-header-group;
	}
}
@media (min-width:768px) and (max-width:991px)
{
      .right_col.manage-customer-rates-right-col .page-title .title_left {
	    width: 100%;
	 }
}
/*----responsive----*/