﻿mfooter {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.addmanage_employees div#btnAdd {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.addmanage_employees div#btnDelete {
    width: 115px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.edit_employees_table .btn {
    width: 115px;
    margin: 10px 0px 0 0;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.addmanage_employees {
    height: 600px;
}
.edit_employees_table td.headings {
    text-align: left;
}
.edit_employees_table input {
    width: 100%;
    height: 30px;
font-size: 12px;
}
.edit_employees_table select {
    width: 100%;
    height: 30px;
    font-size: 12px;
}
.addmanage_employees table {
    width: 100%;
    text-align:left;
}
.addmanage_employees span.fa.fa-plus {
    font-size: 15px;
    margin: 0 0 0 5px;
}
.addmanage_employees .ui-jqgrid-titlebar {
    background-color: #f06671;
    border: none;
}
.employee_list_table div#gview_jQGridDemo {
    width: 100% !important;
}
.employee_list_table .youhave {
    width: 100%;
}
.employee_list_table div#t_jQGridDemo {
    width: 100% !important;
}
.employee_list_table .ui-state-default {
    width: 100% !important;
}
.employee_list_table .ui-jqgrid-bdiv {
    width: 100% !important;
}
.employee_list_table div#gbox_jQGridDemo {
    width: 100% !important;
}
.employee_list_table button#globalSearch {
    width: 30px !important;
}
.employee_list_table table.ui-jqgrid-htable {
    width: 100% !important;
}
.employee_list_table .ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.employee_list_table table#jQGridDemo {
    width: 100% !important;
}
footer {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
}
.edit_employees_table tr:last-child td {
    padding: 0px;
}
.edit_employees_table input[type="checkbox"] {
     height: auto;
 }
.addmanage_employees div#btnAdd, .addmanage_employees div#btnDelete {
	padding: 10px 12px;
}
.right_col.manage-employees-right-col {
    min-height: unset;
    float: left;
}
.nav_menu {
    margin-bottom: 0;
}
.page-title {
    height: 44px;
    padding:0;
}
.addmanage_employees .ui-jqgrid-titlebar {
	background-color: #1479B8;
}
.right_col.manage-employees-right-col .x_panel.addmanage_employees {
    height: auto;
}
input#chkIsActive {
    float: left;
    width: auto;
}
input#chkIsDeliveryBoy {
    width: auto;
    float: left;
}
span.fa.fa-plus {
    float: right;
}
td.manage-employess-left-col {
    float: left;
    width: 300px;
}
td.btn-add-manage-emp table {
    text-align: center;
    margin-top: 20px;
}
.right_col.manage-employees-right-col .page-title .title_left {
        width: 100%;
		padding-left:15px;
	    background :#1479B8;
	    color:#ffffff;
}
.ui-widget-header
{
      background :#1479B8 !important;
}
/*----responsive----*/
@media(max-width:480px)
{
    .right_col.manage-employees-right-col {
	    width: auto !important;
	    overflow-x: auto;
    }
    .right_col.manage-employees-right-col .page-title .title_left {
	    width: 100%;
    }
     .right_col.manage-employees-right-col .form-control
     {
          width: auto !important;
     }
     #frmCity tr td:nth-child(2) {
	    float: left;
    }
    #txtName {
	    float: left;
	    width: 200px !important;
	}
	.ui-jqgrid .ui-jqgrid-hbox {
	    padding-right: 0;
    }
}
@media(max-width:491px)
{
    .right_col.manage-employees-right-col .page-title .title_left {
	    width: 100%;
    }
}

@media(max-width:767px)
{
    .right_col.manage-employees-right-col .x_panel.addmanage_employees
     {
          height: auto;
          width: 100% !important;
	      overflow-x: auto;
     }
     td.manage-employess-left-col {
       width: auto;
    }
	body
	{
		overflow-x:auto !important;
	}
}
@media (min-width:768px) and (max-width:991px)
{
    td.manage-employess-left-col {
	    float: left;
	    width: 250px;
    }
}
@media (min-width:992px) and (max-width:1100px)
{
    td.manage-employess-left-col {
	    float: left;
	    width: 230px;
    }
}
@media (min-width:1101px) and (max-width:1200px)
{
    td.manage-employess-left-col {
	    float: left;
	    width: 250px;
    }
}