﻿table#frmCity {
    width: 100%;
}
table.table.bill_series select {
    width: 100% !important;
	border: 1px solid #DDE2E8;
    height: 25px;
}
select#ddlBranch {
    width: 200px !important;
}
@media(max-width:480px){
	table.table.bill_series td {
		float: left;
		width: 100% !important;
	}	
}