﻿.manageuser_leftform {
    width: 75%;
}
.manageuser_leftform label {
    text-align: left !important;
    padding: 4px 0 0 !important;
    font-weight:normal;
}
.manageuser_leftform select {
    width: 200px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
}
.manageuser_leftform input {
    width: 200px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    border-radius: 0px;
}
.manageuser_leftform input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 8px 0 0;
}
.manageuser_leftform .btn {
    margin: 0px 4px 0 0px;
    height: 35px;
}
.edit_manage_user {
    padding: 0px;
}
.edit_manage_user .x_title {
    margin: 0px;
    padding: 5px 20px;
    background-color: #f06671;
    color: #fff;
}
.edit_manage_user .x_content {
    padding: 25px 20px 20px 20px;
    margin: 0;
}
.panel_toolbox>li>a:hover {
    background: #ffffff;
    color: #000;
}
.panel_toolbox>li>a {
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
}
.right_col.manage-users-right-col,.right_col.change-password-right-col,
.right_col.manage-role-right-col,.right_col.manage-page-right-col,.right_col.manage-apply-roles-right-col
{
    min-height:unset;
}
body
{
    background: lavender !important;
}
.edit_manage_user .x_title
{
    background:unset !important;
    color:#73879C;
}
.ui-widget-header
{
    background:#1479B8 !important;
}

.right_col.change-password-right-col table.table-condensed.manageuser_leftform td {
    text-align: left;
}
.right_col.manage-role-right-col table#frmCity td {
    text-align: left;
}
.right_col.manage-role-right-col .youhave
{
    padding-left:5px !important;
}
.page-title .title_left {
	width: 100%;
	padding-left: 15px;
	background: #1479B8;
	color: #ffffff;
}
.right_col.manage-users-right-col .row {
  margin-left:0 !important;
  margin-right:0 !important;
}
.manageuser_leftform select,.manageuser_leftform input
{
      border: 1px solid #DDE2E8;
}
/*grid*/
div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemo {
    width: 100% !important;
}
div#jQGridDemoPager {
    width: 100% !important;
    overflow-x: auto;
    z-index: 1;
}
/*grid*/
/*----responsive----*/
@media(max-width:330px)
{
    .right_col.manage-page-right-col .x_title h2 {
	    font-size:13px;
    }
}
@media(max-width:393px)
{
	#globalSearchText {
		width: 32%;
	}
}
@media(max-width:480px)
{
    .right_col.manage-users-right-col .page-title .title_left,  .right_col.change-password-right-col .page-title .title_left
    {
        width:100%;
    }
    .right_col.change-password-right-col .manageuser_leftform input {
	    width: 100%;
    }
    .right_col.manage-page-right-col .page-title .title_left {
	    width: 100%;
    }
	.manageuser_leftform select, .manageuser_leftform input {
		width: 160px;
	}
}
@media(max-width:767px)
{
   .x_content.manage-roles-second-section {
	    margin-left: 0;
	    width: 98%;
    }
}
/*----responsive----*/