﻿.menu_tabs ul#categories li a {
    font-size: 10px;
    padding: 0 4px;
    box-sizing: border-box;
}
.menu_tabs ul#categories li {
   width:90px !important;
}
tr.mange-kot-enter-code-tr {
    margin-top: -14px;
    float: left;
}
.kot-screen-menu-section {
    padding: 0 !important;
}
.kot-screen-kot-no-table {
    padding: 0 !important;
}
.kot-screen-menu-section #MenuScroll .menu_tabs {
    margin: 0px 0 0 0 !important;
}
.kot-screen-menu-section .kotscreen_boxes {
     overflow: hidden;
}
.left-btn-div .button1 {
    font-size: 12px !important;
}
.manage_kotscreen_left .cate2 {
     padding-bottom: 0;
}
td.txt.manage-kot-screen-search label#lblcustmobno {
	margin-left: 1px !important;
}
.Search1.search_section.kotscreen_search_section select option{
    zoom:1.5;
}
.MangeBill {
    display: none !important;
}
.kot-screen-search-main .kotscreen_search_section table .checkbox {
    padding: 4px 5px;
}
.Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
	margin: 0px 0 2px;
	height: 32px !important;
	width: 208px !important;
}
.Search2.kotscreen_search_section2 table img#btnAddCustomer {
    margin: -30px 0 0 !important;
    height: 25px;
    width: 25px !important;
}
#dvOuter_ddlMobSearchBox #txtddlMobSearchBox {
    height: 32px !important;
}
.Search2.kotscreen_search_section2 table input {
      height: 32px !important;
}
td.mange-kot-enter-code-td #btnGetByItemCode img {
    width: 25px !important;
    margin: 0 0px 0 5px;
}
td.mange-kot-search-code-td #btnSearch img {
	width: 25px !important;
}
.kotscreen_search_section table select {
    height: 32px !important;
}
.Search1.search_section.kotscreen_search_section table td {
    margin: 2px 5px !important;
}
ul.kot-screen-running-table-section {
    margin: 0;
    padding: 6px 0;
    box-sizing: border-box;
}
.bill_detail_screen1 {
    padding: 0px 0px 0px !important;
}
table#tbProductInfo tr td:nth-child(10) {
	width: 50px !important;
	float: left;
	overflow: hidden !important;
	word-break: break-all;
	height: 45px;
	text-overflow: clip;
}
td.mange-kot-enter-code-td input#txtItemCode {
    float: left;
    left: 5px;
}
label#lblcustmobno {
    height: 32px !important;
    top: -14px !important;
    line-height: 32px;
}
.pos-td{
	color:black;
	font-size:24px;
	font-weight:bold;
	margin-left:8px;
	margin-right:4px
}
.pos-id-td{
	color:orangered;
	font-size:24px;
	font-weight:bold;
}
/*----form----*/
div#formCustomer {
	float: left;
	width: 100%;
}
.form-div {
	float: left;
	width: 100%;
	margin-bottom: 10px !important;
}
.form-lbl {
	float: left;
	width: 15%;
	font-weight: bold;
}
.form-inp {
	float: left;
	width: 85%;
}
.prefix-inp {
	float: left;
	width: 100%;
}
.prefix-inp select {
	float: left;
	width: 11%;
}
.prefix-inp input#cm_Name {
	float: left;
	width: 83% !important;
	position: relative;
	right: -13px;
}
.form-inp textarea#cm_Address1 {
	width: 100%;
}
.first-inp {
	float: left;
	width: 50%;
}
.sec-inp {
	float: left;
	width: 50%;
}
.sec-lbl {
	float: left;
	width: 38%;
	font-weight: bold;
}
.sec-input {
	float: left;
	width: 62%;
}
.sec-input select#cm_ddlCities {
	float: left;
	width: 117px !important;
}
.first-inp select#cm_ddlState {
	width: 137px !important;
}
.first-inp input#cm_Discount {
	width: 137px;
}
.form-inp .first-inp select#cm_ddlArea {
    width: 117px !important;
    float: left;
}
span.fa.fa-plus.area-plus {
    line-height: 30px;
}
.sec-input input#cm_Pincode {
	width: 137px;
}
.sec-input input#cm_EmailId {
	width: 137px !important;
}
.sec-input input#cm_Tag {
	width: 137px;
}
.sec-input input#cm_DOA {
	margin-left: 5px;
	width: 137px;
}
.first-inp input#cm_ContactNumber {
	width: 137px !important;
}
input#cm_DOB {
	width: 137px;
}
.form-inp input#txtGSTNo {
	width: 100%;
}
.first-check {
	width: 33.3% !important;
	float: left;
}
.ui-dialog[aria-labelledby="ui-id-1"] {
	width: 580px !important;
	left: 23% !important;
	margin: 0 auto;
	top: 40px !important;
}
.form-div input, .form-div select {
    height: 25px;
    border-radius: unset;
}
.form-div textarea {
	border-radius: unset;
}
.form-div .btn-primary {
     background-color: #428bca !important;
}
.form-div .btn-danger {
    background-color: #d9534f !important;
}
/*----form----*/
.button1.kot-btn {
    background: #1479B8;
    box-shadow: inset -2px -5px 5px #1479b8;
}
.btn-left-panel {
     margin-top: -1px !important;
}
.kot-screen-menu-section .left-btn-div {
    margin-right: 4px;
}
.kot-screen-menu-section .left-btn-div .button1 {
    font-size: 12px !important;
}
.button_options .button1 {
    font-size: 12px !important;
}
table.button_options.kot_button_option .button1,.kot-screen-menu-section .button1 {
     width: 100%;
}
table.button_options td {
     margin-right: 4px;
}
/*----responsive----*/
@media(max-width:480px) {
	.Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
		margin: 0px 0 2px;
		height: 32px !important;
		width: 136px !important;
	}
	#dvOuter_ddlMobSearchBox #txtddlMobSearchBox {
		height: 32px !important;
		padding: 0 0 0 10px;
	}
	.pos-td {
        font-size: 18px;
        margin-left: 4px;
		margin-right: 4px;
	}
	.pos-id-td {
		font-size: 18px;
	}
	td.mange-kot-enter-code-td input#txtItemCode {
		float: left;
		left: 0;
		margin-bottom: 0 !important;
	}
	 /*form*/
   .ui-dialog[aria-labelledby="ui-id-1"] {
		width: 100% !important;
	   overflow:auto !important;
	   left:0 !important;
	}
      .customer-pop {
		width: 100% !important;
		overflow:auto !important;
	}
   .prefix-inp select {
		float: left;
		width: 16%;
	}
   .prefix-inp input#cm_Name {
		float: left;
		width: 77% !important;
   }
   .form-lbl {
		float: left;
		width: 100%;
	}
   .form-inp {
		float: left;
		width: 100%;
	}
   .first-inp {
		float: left;
		width: 100%;
	}
   .sec-inp {
		float: left;
		width: 100%;
	}
   .sec-lbl {
		float: left;
		width: 100%;
	}
   .sec-input {
		float: left;
		width: 100%;
	}
   .sec-input select#cm_ddlCities {
       margin-left: 0;
	   width: 90% !important;
	}
   .first-inp select#cm_ddlState {
		width: 100% !important;
	}
   .form-div .first-inp  select#cm_ddlArea {
		width: 90% !important;
		margin-left: 0;
	}
   .sec-input  input#cm_Pincode {
		width: 100% !important;
		margin-left: 0;
	}
   .first-inp input#cm_ContactNumber {
		width: 100% !important;
	}
   .sec-input input#cm_EmailId {
		width: 100% !important;
		margin-left: 0 !important;
	}
   .first-inp  input#cm_Discount {
		width: 100% !important;
	}
   .sec-input input#cm_Tag {
		width: 100% !important;
	}
   input#cm_DOB {
		width: 100% !important;
	}
   .sec-input input#cm_DOA {
	    width: 100% !important;
	}
   .form-inp textarea#cm_Address1 {
		width: 100% !important;
	}
   .form-inp input#txtGSTNo {
		width: 100% !important;
	}
   /*form*/
}
@media(min-width:481px) and (max-width:667px){
	 /*form*/
   .ui-dialog[aria-labelledby="ui-id-1"] {
		width: 100% !important;
	   overflow:auto !important;
	   left:0 !important;
	}
    /*form*/
	table.button_options.kot_button_option .button1 {
		font-size: 12px !important;
	}
}
@media(min-width:568px) and (max-width:667px){
	table.button_options.kot_button_option .button1 {
		font-size: 12px !important;
	}
}
@media(min-width:668px) and (max-width:767px){
	 /*form*/
   .ui-dialog[aria-labelledby="ui-id-1"] {
		
	   left:10% !important;
	}
    /*form*/
	table.button_options.kot_button_option .button1 {
		font-size: 12px !important;
		padding-top: 20px;
	}
}
@media(min-width:531px) and (max-width:567px) {
	.mange-kot-enter-code-tr #txtItemCode, .mange-kot-enter-code-tr #txtSearch {
		width: 70% !important;
	}
	td.mange-kot-enter-code-td #btnGetByItemCode img {
      margin: 0 0px 0 15px;
	}
}
@media(min-width:568px) and (max-width:767px) {
	.mange-kot-enter-code-tr #txtItemCode, .mange-kot-enter-code-tr #txtSearch {
		width: 70% !important;
	}
	td.mange-kot-enter-code-td #btnGetByItemCode img {
      margin: 0 0px 0 5px !important;
	}
}
@media(min-width:992px) and (max-width:1024px){
	table.button_options td {
		width: 20% !important;
		float: left;
	}
	.button_options .button1 {
		font-size: 12px !important;
		line-height:1.5 !important;   
	}
	.MangeBill {
		  line-height:1.5 !important;  
	}
	.kot-screen-menu-section .kotscreen_boxes {
		height: 294px !important;
	}
	.kot-screen-kot-no-table .manage_kotscreen_left div#dvProductInfo {
		height: 270px !important;
	}
	ul.kot-screen-running-table-section li {
		font-size: 12px;
	}
	.Search1.kotscreen_search_section table select {
		width: 70px !important;
		font-size: 15px;
	}
	.Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
		width: 134px!important;
	}
	.pos-td {
		font-size: 19px;
		margin-left: 2px;
		margin-right: 0;
	}
	.pos-id-td {
		color: orangered;
		font-size: 19px;
		font-weight: bold;
	}
	table.button_options.kot_button_option td {
		width: 19% !important;
	}
	table.button_options td {
		margin-right: 0;
	}
	table.button_options.kot_button_option .button1, .kot-screen-menu-section .button1 {
		width: 95%;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.kotscreen_boxes {
		height: 254px !important;
	}
	.manage_kotscreen_left div#dvProductList div#dvProductInfo {
		height: 233px !important;
	}
	div#products {
		height: 248px !important;
	}
	.manage_kotscreen_left {
		width: 100%;
	}
	td.txt.manage-kot-screen-search label#lblcustmobno {
		position: absolute !important;
		left: -63px;
		top: 2px !important;
	}
	td.txt.manage-kot-screen-search {
		margin-bottom: 17px;
	}
	td.mange-kot-enter-code-td input#txtItemCode {
		left: 0;
	}
	td.mange-kot-search-code-td #btnSearch img {
		margin: 0;
		top: -4px !important;
		position: relative;
	}
	.ui-dialog[aria-labelledby="ui-id-1"] {
		left: 13% !important;
	}
	table.button_options td {
		margin-right: 0;
	}
	table.button_options.kot_button_option .button1, .kot-screen-menu-section .button1 {
		width: 98%;
	}
	.button_options .button1 {
		font-size: 12px !important;
		line-height: initial !important;
	}
}
@media(min-width:1000px) and (max-width:1024px) {
	.Search1.search_section.kotscreen_search_section select {
		width: 84px !important;
	}
}
@media(min-width:1025px) and (max-width:1095px) {
	.Search1.search_section.kotscreen_search_section select {
		width: 90px !important;
	}
}
@media(min-width:1096px) and (max-width:1199px) {
	.Search1.search_section.kotscreen_search_section select {
		width: 109px !important;
	}
}
@media(min-width:1025px) and (max-width:1100px) {
	.kot-screen-menu-section .kotscreen_boxes {
		height: 298px !important;
	}
	.kot-screen-kot-no-table .manage_kotscreen_left div#dvProductInfo {
		height: 275px !important;
	}
	.kot-screen-kot-no-table .manage_kotscreen_left {
		width: 100%;
	}
	.Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
		width: 145px !important;
	}
	.pos-td {
		font-size: 19px;
		margin-left: 2px;
		margin-right: 0;
	}
	.pos-id-td {
		color: orangered;
		font-size: 19px;
		font-weight: bold;
	}
	table.button_options.kot_button_option td {
		width: 19% !important;
	}
	.button_options .button1 {
		font-size: 12px !important;
		line-height: initial !important;
	}
}
@media(min-width:1101px) and (max-width:1158px) {
	.kot-screen-kot-no-table .manage_kotscreen_left div#dvProductInfo {
		height: 252px !important;
	}

	.kot-screen-menu-section .kotscreen_boxes {
		height: 275px !important;
	}
}
@media(min-width:1159px) and (max-width:1200px) {
	.kot-screen-kot-no-table .manage_kotscreen_left div#dvProductInfo {
		height: 290px !important;
	}
	.kot-screen-menu-section .kotscreen_boxes {
		height: 296px !important;
	}
}
@media(min-width:1101px) and (max-width:1200px) {
	.kot-screen-kot-no-table .manage_kotscreen_left {
		width: 100%;
	}
	.Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
		width: 170px !important;
	}
	.pos-td {
		font-size: 19px;
		margin-left: 2px;
		margin-right: 0;
	}
	.pos-id-td {
		color: orangered;
		font-size: 19px;
		font-weight: bold;
	}
	table.button_options.kot_button_option td {
		width: 19% !important;
	}
	.button_options .button1 {
		font-size: 11px !important;
		padding-top: 15px !important;
	}
	.kot-screen-menu-section .left-btn-div .button1 {
		font-size: 11px !important;
	}
}
@media(min-width:1201px) and (max-width:1350px) {
	#wrap input#txtSearch {
		width: 133px !important;
	}
}
@media (min-width:1201px) and (max-width:1300px) {
	.kot-screen-kot-no-table .product_items .cate {
		height: 267px !important;
	}
	.kotscreen_boxes {
		height: 273px !important;
	}
	.kot-screen-kot-no-table .manage_kotscreen_left {
		width: 100%;
	}
	.Search2.kotscreen_search_section2 td.txt.manage-kot-screen-search div#dvOuter_ddlMobSearchBox {
		width: 188px !important;
	}
	.pos-td {
		font-size: 22px;
		margin-left: 5px;
	}
	.pos-id-td {
		font-size: 22px;
	}
	table.button_options.kot_button_option td {
		width: 19% !important;
	}
	.button_options .button1 {
		font-size: 11px !important;
	}
	.kot-screen-menu-section .left-btn-div .button1 {
		font-size: 11px !important;
	}
}
@media (min-width:1301px) and (max-width:1320px) {
	.kot-screen-kot-no-table .manage_kotscreen_left {
		width: 100%;
	}
	table.button_options.kot_button_option td {
		width: 19% !important;
	}
}
@media(min-width:1201px) and (max-width:1237px) {
	.MangeBill {
		line-height: 12px;
	}
}
@media (min-width:1301px) {
	.kot-screen-kot-no-table .product_items .cate {
		height: 370px !important;
	}
	.kotscreen_boxes {
		height: 376px !important;
	}
}
/*----responsive----*/