﻿[aria-labelledby=ui-id-1] {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
        padding: 0px !important;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    border: none;
    border-radius: 0px;
        background-color: #f06671;
}
[aria-labelledby=ui-id-1] div#KitDialog {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 630px !important;
}
.kit_information {
    background-color: #fffff6;
    padding: 0px;
}
.kit_information .choos_kit {
    padding: 0px;
    margin-bottom: 25px;
}
.choos_kit .x_title {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #fff;
}
.choos_kit h2 {
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 5px 0;
    background-color: #46c9ac;
    color: #fff;
}
.choos_kit .x_content {
    margin: 0px;
    padding: 10px 30px;
    border-bottom: 2px solid;
}
.kit_top_table {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    float: left;
    box-shadow: inset 0px 0px 15px 0px #bbb;
}
.kit_top_table td {
    padding: 8px 15px;
}
.kit_top_table div#dvOuter_ddlItems {
    width: 100% !important;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px;
    background-color: #eee;
}
.kit_top_table input {
    width: 100% !important;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px;
    background-color: #eee;
}
.item_code_table {
    padding: 0px;
    border: none;
    margin-bottom: 25px;
}
.item_code_table .x_content {
    margin: 0px;
    padding: 10px 30px;
    border-bottom: 2px solid;
}

.item_code_midletable {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    float: left;
    box-shadow: inset 0px 0px 15px 0px #bbb;
}
.item_code_midletable td {
    padding: 8px 15px !important;
}
.item_code_midletable div#dvOuter_ddlProducts {
    width: 100% !important;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px;
    background-color: #eee;
}
.item_code_midletable th {
    background-color: #46c9ac;
    color: #fff;
}
.item_code_midletable button#btnAddKitItems {
    width: 115px;
    margin: 0 0px 0 0;
    border: none;
    border-radius: 0px;
    height: 30px;
    padding: 5px 0;
}
.item_code_midletable input {
    height: 30px;
    width: 100% !important;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px;
    background-color: #eee;
}
.bottom_table {
	padding: 10px 30px;
	border: none;
	border-bottom: 2px solid;
	margin-bottom: 25px;
}
.bottom_table .x_content {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	box-shadow: inset 0px 0px 15px 0px #bbb;
	height: 200px;
}
.bottom_table .x_content::-webkit-scrollbar {width: 25px;}
.bottom_table .x_content::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgb(70, 201, 172);}
.bottom_table .x_content::-webkit-scrollbar-thumb {background-color: #f06671;outline: 1px solid slategrey;}
.kit_product {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #e0e0e0;
	padding: 0px;
	float: left;
	box-shadow: inset 0px 0px 15px 0px #bbb;
	height: 200px;
	overflow: auto;
}
.kit_product th {
    background-color: #46c9ac;
    color: #fff;
}
.kit_btns .btn {
    width: 115px;
    margin: 0 15px 0 0;
    border: none;
    border-radius: 0px;
    height: 40px;
    padding: 9px 0;
}
.kit_btns {
    padding: 0px;
    border: none;
    margin: 0 30px 50px;
}