div#gbox_jQGridDemoBill {
    width: 100% !important;
}
div#gview_jQGridDemoBill {
    width: 100% !important;
}
div#t_jQGridDemoBill {
    width: 100% !important;
}
div#gbox_jQGridDemo {
    width: 100% !important;
}
div#gview_jQGridDemo {
    width: 100% !important;
}
div#t_jQGridDemo {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
	overflow:auto;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemo {
    width: 100% !important;
	z-index:1;
}
div#jQGridDemoPager {
    width: 100% !important;
	overflow-x:auto;
	z-index:1;
}
div#jQGridDemoPagerBill {
    width: 100% !important;
	overflow-x:auto;
}
table#jQGridDemoBill {
    width: 100% !important;
}

@media(max-width:348px) {
	#globalSearchText {
		width: 50%;
	}
}