﻿.Itemgrid-pop {
    top: 6% !important;
	width:450px !important;
}
.Itemgrid-pop .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    background: #1479B8 !important;
}
.Itemgrid-pop .ui-jqgrid-bdiv {
    height: 460px !important;
}
.bilno-tbl {
	width: 100%;
}
th.mrp-th {
    border-right: 2px solid red;
}
tr.new-data th:first-child {
    border-right: 2px solid red;
}
tr.new-data th {
    text-align: center;
    color: red;
    font-weight: bold !important;
    font-size: 16px;
}
.table > thead > tr > th {
	padding-left: 0;
}
/*----responsive----*/
@media(max-width:480px) {
	.Itemgrid-pop {
		top: 7% !important;
		left: 0 !important;
		width: 100% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
	div#dvDelItems .x_panel{
		overflow-x: auto;
	}
	input#txtServiceId {
		width: 100px;
	}
	input#txtRateDel {
		width: 60px;
	}
	input#RRtxtServiceId {
		width: 120px;
	}
	input#RRtxtRateDel {
		width: 60px;
	}
}
@media (min-width:481px) and (max-width:567px) {
	.Itemgrid-pop {
		top: 7% !important;
		left: 5% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
	div#dvDelItems .x_panel{
		overflow-x: auto;
	}
	input#txtRateDel {
		width: 60px;
	}
	input#RRtxtServiceId {
		width: 120px;
	}
	input#RRtxtRateDel {
		width: 60px;
	}
}
@media (min-width:568px) and (max-width:667px) {
	.Itemgrid-pop {
		top: 7% !important;
		left: 13% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
	div#dvDelItems .x_panel{
		overflow-x: auto;
	}
	input#txtRateDel {
		width: 60px;
	}
	input#RRtxtServiceId {
		width: 120px;
	}
	input#RRtxtRateDel {
		width: 60px;
	}
}
@media (min-width:668px) and (max-width:767px) {
	.Itemgrid-pop {
		top: 7% !important;
		left: 20% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
	input#txtRateDel {
		width: 60px;
	}
	input#RRtxtServiceId {
		width: 120px;
	}
	input#RRtxtRateDel {
		width: 60px;
	}
}
@media(max-width:767px) {
	.dvdialog-xpanle {
		overflow: auto;
	}
	div#dvDelItems .x_panel {
		overflow: auto;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.Itemgrid-pop {
		top: 7% !important;
		left: 20% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}
@media (min-width:992px) and (max-width:1024px) {
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}
@media(min-width:1025px) and (max-width:1100px) {
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}
@media(min-width:1101px) and (max-width:1200px) {
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}
@media(min-width:1201px) and (max-width:1310px) {
	.Itemgrid-pop {
		top: 7% !important;
	}
	.Itemgrid-pop .ui-jqgrid-bdiv {
		height: 370px !important;
	}
}
/*----responsive----*/body {
}
