﻿.login_content select {
    margin: 0px;
    width:100%;
    border: none;
    border-radius: 4px !important;
    height: 50px;
    padding: 0 15px;
}
.login_content select:focus {
    margin: 0px;
    border: none;
    border-radius: 4px !important;
    padding: 0 15px;
}

input#Button1 {
    width: 100px!important;
    background: rgb(240, 102, 113) !important;
    color: #fff;
    font-weight: bold;
    margin-top: 20px !important;
}

.login_content input {
    margin: 0px !important;
    width:100% !important;
    border: none !important;
    border-radius: 4px !important;
    height: 50px;
    padding: 0 15px;
}
.login_content input:focus {
    margin: 0px !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 0 15px;
}

.login_content .login_inputs {
    margin: 15px 0 0;
}
.login_content input#btkey{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113) !important;
    font-size: 25px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing:1;
}
#wrapper {
    max-width: 100% !important;
    width: 100%;
    float: left;
    background-color: #fff;
    margin: 0px !important;
}
	#wrapper div#login {
		padding: 9% 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../../images/login-form.jpg') !important;
		height: 100vh;
	}
		#wrapper div#login::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			background-color: #00000069;
		}
#login section.login_content {
    width: 400px;
    padding: 0px;
}
html, body {
    background-color: #fff !important;
}
.login_content h1 {
    color: #fff;
    font-size: 45px !important;
    text-shadow: none;
    font-weight: 600 !important;
    margin: 0 0 35px !important;
    width: 100%;
    float: left;
    text-transform: uppercase;
    letter-spacing: 5px !important;
}
.login_content form {
    margin: 0px !important;
    background-size: cover;
    background-color: #1479B8;
    padding: 50px 25px;
    box-sizing: border-box;
    border:2px solid #f06671;
    border-radius:40px;
}
.login_content h1:before, .login_content h1:after {
 display:none;
}
input#txtPos {
    margin-top: 10px !important;
}
div#dvkeycode input {
    margin-bottom: 15px !important;
}

@media(max-width:480px)
{
    #login section.login_content {
        width: 300px;
    }
    #wrapper div#login
    {
        height:unset;
    }
    .login_content {
        min-width: unset !important;
    }
}
@media(max-width:767px)
{
    #wrapper div#login
    {
        height:unset;
    }
}