﻿.dispatch-oder-div{
	float:left;
	width:100%;
border-bottom: 2px solid #ddd;
}
div#dispatchDialog {
    padding-bottom: 10px;
    background: #fff;
}
.dispatch-order-field {
    float: left;
    width: 33.33%;
    padding-right: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}
.dispatch-order-field.oder-no-f {
    width: 50%;
}
.dispatch-order-field.cust-add {
    width: 100%;
}
.dispatch-order-label {
	float:left;
    font-weight: 700;
	width:120px;
}
.dispatch-order-input {
    float: left;
	width:70%;
}
table.order_dispatch_btns button {
    font-size: 14px !important;
    width: auto !important;
    padding: 6px 9px !important;
    margin-top: 10px;
}
table#tbCal tr td:first-child {
    width: 65px !important;
}
table.damt-tbl {
    width: 100%;
}
table.damt-tbl tr td:first-child {
    width: 65px;
}
table.bill-vat-tbl {
    float: left;
    width: 100%;
}
table.bill-vat-tbl  input {
    height: 25px;
}
table.bill-vat-tbl tr td:first-child {
    width: 65px;
}
table.dis-net-tbl {
    width: 100%;
}
table.dis-net-tbl input {
    height: 25px;
}
table.damt-tbl input, table.damt-tbl select {
    height: 25px !important;
    width: 120px !important;
}
table.dis-net-tbl tr td:first-child {
    width: 65px;
}
table.last-bal-tbl {
    width: 100%;
}
table.last-bal-tbl tr td:first-child {
    width: 65px;
}
table.last-bal-tbl input {
    height: 25px;
    width: 120px !important;
}
.ordre-info-div {
    float: left;
    width: 100%;
}
.damt-div {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.dispatch-div {
    min-height: 225px;
	max-height:225px;
    overflow: auto;
}
#tbCal tr td {
    padding: 0 !important;
}
.dispatch-oder-div.wht-div input {
    width: 40px !important;
}
.dispatch-order-field.cust-add .dispatch-order-input {
    width: 91%;
}
.dispatch-order-field.oder-no-f .dispatch-order-input {
    width: 82%;
}
/*----responsive----*/
@media(max-width:399px){
	table#tbDispatchProducts th, table#tbDispatchProducts td {
		padding: 2px;
		font-size: 12px;
	}
	table#tbDispatchProducts tbody tr td:nth-child(7) input {
		width: 40px !important;
	}
	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 97%;
	}
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		width: 95%;
	}
	.dispatch-div {
		min-height: 155px;
		max-height: 155px;
		overflow: auto;
	}
	table.damt-tbl input, table.damt-tbl select {
		width: 80px !important;
	}
}
@media(min-width:400px) and (max-width:480px)
{
	.dispatch-order-label {
		float: left;
		font-weight: 700;
		width: 95px;
		font-size: 11px;
		line-height: 29px;
	}
	.dispatch-order-input {
		float: left;
	
	}
	.dispatch-oder-div.wht-div input {
		width: 36px !important;
	}
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		float: left;
		width: 50%;
	}
	.dispatch-oder-div.wht-div .dispatch-order-input {
		width: 50%;
	}
	table#tbDispatchProducts th, table#tbDispatchProducts td {
		padding: 3px;
		font-size: 12px;
	}
	table#tbDispatchProducts tbody tr td:nth-child(7) input {
		width: 40px !important;
	}
	.dispatch-div {
		min-height: 182px;
		max-height: 182px;
		overflow: auto;
	}
	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 75%;
	}
	.dispatch-order-field.cust-add .dispatch-order-input textarea {
		height: 55px;
	}
	.dispatch-oder-div.wht-div .dispatch-order-label {
		width: 60px !important;
	}
	table.damt-tbl input, table.damt-tbl select {
		width: 80px !important;
	}
	table.last-bal-tbl input {
      width: 80px !important;
	}
	table.order_dispatch_btns button {
		width: 100px !important;
		margin-top: 0;
		padding: 4px 8px !important;
	}
}
@media(min-width:481px) and (max-width:567px){
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		float: left;
		width: 48%;
	}
	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 74%;
	}
	.dispatch-oder-div.wht-div .dispatch-order-label {
		width: 78px !important;
	}
	.dispatch-oder-div.wht-div .dispatch-order-input {
		width: 50%;
	}
	table#tbDispatchProducts tbody tr td:nth-child(7) input {
		width: 50px !important;
	}
	table#tbDispatchProducts th, table#tbDispatchProducts td {
		font-size: 13px;
		padding: 4px 8px;
	}
	.dispatch-div {
		min-height: 180px;
		max-height: 180px;
		overflow: auto;
	}
	table.damt-tbl input, table.damt-tbl select {
		width: 100px !important;
	}
}
@media(min-width:568px) and (max-width:667px) {
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		float: left;
		width: 56%;
	}
	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 78%;
	}
	.dispatch-oder-div.wht-div .dispatch-order-label {
		width: 78px !important;
	}
	.dispatch-oder-div.wht-div .dispatch-order-input {
		width: 50%;
	}
	table#tbDispatchProducts tbody tr td:nth-child(7) input {
		width: 50px !important;
	}
	table#tbDispatchProducts th, table#tbDispatchProducts td {
		padding: 4px 8px;
	}
	.dispatch-div {
		min-height: 182px;
		max-height: 182px;
		overflow: auto;
	}
	table.damt-tbl input, table.damt-tbl select {
        width: 100px !important;
	}
}
@media(min-width:668px) and (max-width:767px) {
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		float: left;
		width: 62%;
	}
	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 81%;
	}
	.dispatch-oder-div.wht-div .dispatch-order-label {
		width: 78px !important;
	}
	.dispatch-oder-div.wht-div .dispatch-order-input {
		width: 50%;
	}
	table#tbDispatchProducts tbody tr td:nth-child(7) input {
		width: 50px !important;
	}
	table#tbDispatchProducts th, table#tbDispatchProducts td {
		padding: 4px 8px;
	}
	.dispatch-div {
		min-height: 182px;
		max-height: 182px;
		overflow: auto;
	}
	table.damt-tbl input, table.damt-tbl select {
        width: 100px !important;
	}
}
@media(min-width:768px) and (max-width:991px) {
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		width: 68%;
	}

	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 84%;
	}

	.dispatch-oder-div.wht-div .dispatch-order-label {
		width: 78px !important;
	}

	.dispatch-oder-div.wht-div .dispatch-order-input {
		width: 50%;
	}

	.dispatch-div {
		min-height: 212px;
		max-height: 212px;
		overflow: auto;
	}
}
@media(min-width:768px) and (max-width:820px){
	table.damt-tbl input, table.damt-tbl select {
		width: 80px !important;
	}
}
@media(min-width:821px) and (max-width:1024px){
	table.damt-tbl input, table.damt-tbl select {
		width: 95px !important;
	}
}
@media(min-width:992px) and (max-width:1024px) {
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		width: 74%;
	}

	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 87%;
	}

	.dispatch-oder-div.wht-div .dispatch-order-label {
		width: 78px !important;
	}

	.dispatch-oder-div.wht-div .dispatch-order-input {
		width: 50%;
	}

	.dispatch-div {
		min-height: 182px;
		max-height: 182px;
		overflow: auto;
	}
}
@media(min-width:1025px) {
	.dispatch-order-field.oder-no-f .dispatch-order-input {
		width: 74%;
	}

	.dispatch-order-field.cust-add .dispatch-order-input {
		width: 87%;
	}

	.dispatch-oder-div.wht-div .dispatch-order-label {
		width: 78px !important;
	}

	.dispatch-oder-div.wht-div .dispatch-order-input {
		width: 50%;
	}

	.dispatch-div {
		min-height: 182px;
		max-height: 182px;
		overflow: auto;
	}
}
/*----responsive----*/