﻿[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    border: 0px !important;
    top: 0px !important;
    padding: 0px;
}
body, html {
    overflow-x: hidden;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    border: none;
    border-radius: 0px;
    background-color: #f06671;
    width: 100%;
    float: left;
}
.payment_dialog {
    width: 75% !important;
    padding: 0px !important;
    margin: 0 auto !important;
}
.bill_detail {
	width: 100%;
	float: left;
	margin: 30px 0 0;
	border: 1px solid #ddd;
	background-color: #fff;
}
.bill_detail tbody tr:first-child td {
    background-color: #46c9ac;
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding: 8px 25px;
}
.bill_detail input {
    margin: 0px;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.bill_detail select {
    margin: 0px;
    width: 250px;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.bill_detail td {
    padding: 10px 25px;
}
.payment_dialog .btn {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 50px;
    margin: 25px 0;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline-block;
    border: none;
}
.bill_detail td:first-child {
    width: 170px;
    text-align: left;
}
.bill_detail td:nth-child(2) {
    text-align: right;
}
.bill_detail td:nth-child(3) {
    width: 170px;
    text-align: left;
}
.bill_detail td:last-child {
    text-align: right;
}
.right_col.payment-recipt-right-col {
	min-height: unset;
}
body {
	background: lavender !important;
}
div#btnGo {
    margin-bottom: 0;
    padding: 4px 8px;
}
.payment-recipt-right-col .ui-widget-header
{
     background: #1479B8 !important;
}
div#gbox_jQGridDemo2 {
    width: 100% !important;
}
div#gview_jQGridDemo2 {
    width: 100% !important;
}
div#t_jQGridDemo2 {
    width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
    overflow-x: auto;
	z-index: 1;
}
div#jQGridDemoPager2 {
    width: 100% !important;
     overflow-x: auto;
	z-index: 1;
}
table.ui-jqgrid-htable {
    width: 100% !important;
}
.ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}
table#jQGridDemo2 {
    width: 100% !important;
}
.bill_detail tbody tr:first-child td {
	background-color: #1479B8;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    padding-bottom:100px;
}
#sidebar-menu {
	position: relative;
	z-index: 1;
}
.ui-dialog-titlebar.ui-widget-header {
	background-color: #1479B8;
}
.page-title .title_left {
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
.payment-receipt-row
{
    margin-left:0;
    margin-right:0;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none;
}
/*media*/
@media(max-width:400px)
{
	#txtDateTo {
		width: 80px !important;
	}
	#txtDateFrom {
		width: 80px !important;
	}
}
@media (max-width:767px)
{
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
        padding-bottom:10px;
    }
    .bill_detail {
	    width: 98%;
	}
    .payment-receipt-x-panel
    {
        overflow:auto;
    }
}
@media screen and (max-width:1300px) and (min-width:1150px) {
	.bill_detail input {
		width: 215px;
	}
	.bill_detail select {
		width: 215px;
	}
	.bill_detail td:first-child {
		width: 215px;
	}
}
@media screen and (max-width:1149px) and (min-width:1000px) {
	.bill_detail input {
		width: 215px;
	}
	.bill_detail select {
		width: 215px;
	}
	.bill_detail td:first-child {
		width: 215px;
	}
	.payment_dialog {
		width: 85% !important;
	}
}
@media screen and (max-width:999px) and (min-width:768px)
{
.bill_detail input{width: 190px;}
.bill_detail select{width: 190px;}
.bill_detail td:first-child{width: 215px;}
.payment_dialog{width: 100% !important;}
}
@media screen and (max-width:767px) and (min-width:620px)
{
.bill_detail input{width: 190px;height: 30px;}
.bill_detail select{width: 190px;height: 30px;}
.bill_detail td:first-child{width: 215px;}
.payment_dialog{width: 100% !important;}
.bill_detail td {padding: 10px 4px; font-size: 12px;}
.bill_detail td:nth-child(3) {text-align: right;}
.bill_detail tbody tr:first-child td{padding: 10px 4px;}
.payment_dialog .btn{width: 150px; height: 40px;}
}
@media screen and (max-width:619px) and (min-width:500px)
{
.bill_detail input{width: 150px;height: 30px;}
.bill_detail select{width: 150px;height: 30px;}
.bill_detail td:first-child{width: 215px;}
.payment_dialog{width: 100% !important;}
.bill_detail td {padding: 10px 4px; font-size: 12px;}
.bill_detail td:nth-child(3) {text-align: right;}
.bill_detail tbody tr:first-child td{padding: 10px 4px;}
.payment_dialog .btn{width: 150px; height: 40px;}
}
@media screen and (max-width:499px) and (min-width:400px)
{
.bill_detail input{width: 100px;height: 30px;}
.bill_detail select{width: 100px;height: 30px;}
.bill_detail td:first-child{width: 215px;}
.payment_dialog{width: 100% !important;}
.bill_detail td {padding: 5px 4px; font-size: 12px;line-height: 12px;}
.bill_detail td:nth-child(3) {text-align: right;}
.bill_detail tbody tr:first-child td{padding: 5px 4px;}
.payment_dialog .btn{width: 120px; height: 40px;}
}