﻿.customer-info-div {
    float: left;
    width: 100%;
	margin-bottom:10px;
}
.form-heading {
    float: left;
    width: 100%;
    background: #1479B8;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
}
.form-heading h2 {
    margin: 0;
    padding: 4px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
}
.customer-form {
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
	box-sizing: border-box;
}
.customer-label {
    float: left;
    width: 20%;
    color: #000;
    font-size: 12px;
    font-weight: 700;
}
.customer-field {
    float: left;
    width: 80%;
}
.customer-field select {
    line-height: 25px !important;
    padding: 0px 0px;
}
/*----responsive----*/
@media(min-width:768px) and (max-width:991px){
	.customer-label {
		 width: 14%;
	}
}
@media(min-width:992px) {
	.customer-info-div {
       padding: 0 20px 0 250px;
	}
}
/*----responsive----*/