﻿[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    padding: 0px;
}
[aria-labelledby=ui-id-1] .order_dialog {
    padding: 0px;
    background: rgb(225, 225, 225);
}
.order_xpanel {
	padding: 0px 25px;
	width: 100%;
	float: left;
	background-color: transparent;
	margin: 0px;
}
.order_xcontant {
    width: 100%;
    float: left;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #46c9ac;
}
.order_xcontant table label {
    margin: 0px;
    font-size: 14px;
}
.order_xcontant table td {
    padding: 0 15px 0 0;
}
.order_xcontant table input {
    margin: 0px !important;
    width: 200px;
    height: 25px;
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 0px;
    border: 1px solid #c2c2c2;
}
.order_xcontant table [type=radio] {
    width: auto;
    height: auto;
    position: relative;
    top: 2px;
    cursor: pointer;
}
.xpanel_information {
    padding: 0px;
    margin: 0 auto 10px;
    height: 205px;
    width: 99%;
}
.xpanel_information .x_title {
    background-color: #1479B8;
}
.xpanel_information h2 {
    margin: 0px;
    width: 100%;
    font-size: 12px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
}

.xpanel_information_contant {
    margin: 0px;
    padding: 0 10px;
    width: 100%;
    float: left;
}
.xpanel_information_contant .form-group {
    padding: 0 0 25px;
}

.xpanel_information_contant label {
    margin: 2px 0 0;
    font-size: 13px;
    float: left;
}

.xpanel_information_contant input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
        height: 25px;
}
.xpanel_information_contant select {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
        height: 25px;
}
.xpanel_information_contant textarea {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
}
.xpanel_information_middle {
    padding: 0px 0px;
    margin: 0 auto 10px;
    height: auto;
    width: 100%;
}
.xpanel_contant_middle {
    padding: 0px;
    margin: 0px;
}
.xpanel_contant_middle table {
    width: 100%;
}
.xpanel_contant_middle table th {
    background-color: #1479B8;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 0px;
    text-align: center;
    border-right: 1px solid #fff;
}
.xpanel_contant_middle table input {
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    width: 100%;
    height: 25px;
}
.xpanel_contant_middle table td {
    padding: 0px 20px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.xpanel_bottom {
    padding: 0px;
    margin: 0 auto 10px;
    height: 200px;
    width: 99%;
    overflow-y: scroll;
}
.xpanel_contant_bottom {
	padding: 0px;
	margin: 0px;
}
.xpanel_contant_bottom table th {
    background-color: #1479B8;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0px !important;
    text-align: center;
    border-right: 1px solid #fff;
}
.order_xcontant {
    width: 100%;
    float: left;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #1479B8;
}
button#addproduct {
    background-color: #1479B8;
    padding: 5px 11px;
    margin-top: 3px;
}
.order_panal_buttons {
    display: grid;
    float: left;
    width: 30%;
}
textarea#txtRemarks {
    width: 99% !important;
    height: 73px;
    padding: 0 10px;
}
table.customer_info_order_table img.src-img {
    position: relative;
    top: -8px;
    bottom: 0;
    left: 5px;
    right: 0;
}
table.customer_info_order_table img#btnAddCustomer {
    position: relative;
    top: -8px;
    bottom: 0;
    left: 10px;
    right: 0;
}
.input-group.search_input_grp {
    margin-bottom: 0;
}
.xpanel_information_contant .customer_info_order_table textarea {
  margin-top: 8px;
}
.order_panal_buttons.place_order_btn
{
    display:block;
    width:auto;
}
table.order_dispatch_btns button {
    font-size: 16px !important;
    width: auto !important;
    padding: 10px 11px !important;
    margin-top: 88px;
}
table#tbCal {
    width: 100%;
}
table.order_dispatch_btns table{
  
    margin: auto;
}
.right_col.place_order_right_col
{
    min-height:unset;
}
body
{
    background: lavender !important;
}
.x_panel.order_dispatc_mob_dis .x_content table label {
	    padding-left:10px;
}
.x_panel.place-roder-x-panel .ui-jqgrid-titlebar 
{
    background-color: #1479B8;
}
.page-title .title_left {
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
.place-order-row
{
    margin-left:0;
    margin-right:0;
}
#gbox_jQGridDemo {
	width: 100% !important;
}
#gview_jQGridDemo {
	width: 100% !important;
}
#t_jQGridDemo {
	width: 100% !important;
}
.ui-state-default.ui-jqgrid-hdiv {
	width: 100% !important;
}
.ui-jqgrid-bdiv {
	width: 100% !important;
}
#jQGridDemoPager {
	width: 100% !important;
	overflow-x: auto;
}
#jQGridDemo {
    width: 100% !important;
}
.ui-jqgrid-htable {
	width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hbox {
	    padding-right: 0;
}
.ui-jqgrid-bdiv {
	z-index: 1;
}
#jQGridDemoPager {
	z-index: 1;
}
#sidebar-menu 
{
    position:relative;
	z-index: 1;
}
.contact-info-form label {
    padding-right: 12px;
}
.contact-info-form select#cm_ddlPrefix {
    margin-top: 10px;
    width: 15% !important;
}
.contact-info-form input#cm_Name {
    width: 85% !important;
}
.contact-info-form select#cm_ddlArea {
    margin-top: 10px;
    width: 33.33% !important;
}
.contact-info-form select#cm_ddlCities {
    width: 33.33% !important;
}
.contact-info-form select#cm_ddlState {
    width: 33.33% !important;
}
.contact-info-form input#cm_ContactNumber {
    width: 30% !important;
    margin-top: 10px;
}
.contact-info-form input#cm_EmailId
{
    width:70% !important;
}
.contact-info-form .foc-label {
    padding-top: 0;
    margin-top: -2px;
}
.form-group.area-frm-grp {
    margin-top: -10px;
}
.ui-widget-header
{
     background :#1479B8 !important;
}
.xpanel_information_contant label,td.srch-td {
     color: #73879C;
}
.xpanel_information_contant input {
    border: 1px solid #DDE2E8;
    color: #73879C;
}
.xpanel_information_contant select {
    border: 1px solid #DDE2E8;
    color: #73879C;
}
.xpanel_information_contant textarea {
    border: 1px solid #DDE2E8;
     color: #73879C;
}
table.place-order-date-table input {
    font-size: 14px;
    height: 25px;
}
div#btnGo {
    margin-bottom: 0;
    padding: 4px 8px;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none;
}
input#txtName {
    width: 280px;
}
input#txtCode {
    width: 55px;
}
.detail-tble-oder-booking-temp td
{
	text-align:center;
}
#tbCal tr td {
    padding: 1.5px 2px 0 !important;
}
table#tbCal input, table#tbCal select {
    height: 25px;
}
table#tbCal input#txtOrderValue {
    width: 165px !important;
}
table#tbCal input#txtDiscount {
    width: 115px !important;
}
table#tbCal input#txtAfterDis {
    width: 165px !important;
}
table#tbCal input#txtVat {
    width: 165px !important;
}
table#tbCal input#txtNetAmount {
    width: 165px !important;
}
table#tbCal select#ddlOrderPaymentModes {
    width: 120px !important;
}
table#tbCal input#txtBalance {
    width: 165px !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    padding: 0px;
}
.dispatch-frm-place-odr input#txtOValue {
    width: 120px !important;
}
.dispatch-frm-place-odr input#txtAdv {
    width: 120px !important;
}
.dispatch-frm-place-odr input#txtBillValue {
    width: 120px !important;
}
.dispatch-frm-place-odr input#txtDiscountPer {
    width: 57.5px !important;
}
.dispatch-frm-place-odr input#txtDiscountAmt {
    width: 58px !important;
}
.dispatch-frm-place-odr input#txtTotalVat {
    width: 120px !important;
}
.dispatch-frm-place-odr input#txtTotalNetAmount {
    width: 120px !important;
}
.dispatch-frm-place-odr input#txtDispatchedAmt {
    width: 120px !important;
}
.dispatch-frm-place-odr input#txtLastBalance {
    width: 120px !important;
}
.dispatch-frm-place-odr select#ddlPrefix {
    height: 25px !important;
    width: 120px !important;
    border-radius: 0;
}
.dispatch-frm-place-odr input#txtCashRecvd {
    width: 120px !important;
}
div#dispatchDialog {
    padding-bottom: 56px;
}
div#packageDialog {
    height: 610px !important;
}
tr.order-infor-package-tr {
	background-color: #1479B8 !important;
	height: 25px !important;
	font-size: 12px;
	padding: 5px 10px;
	color: #fff;
	font-weight: 600;
}
table.order-infor-package-tbl-data {
    width: 100%;
    background: #fff;
	margin-bottom: 10px;
}
tr.order-infor-package-tr td {
    padding-left: 7px;
    text-transform: uppercase;
}
table.order-infor-package-tbl-data tr:first-child td {
	padding-top:10px;
}
table.order-infor-package-tbl-data td {
	padding-left: 7px;
	padding-bottom:10px;
}
table.order-infor-package-tbl-data tr td:first-child, table.order-infor-package-tbl-data tr td:nth-child(3) {
    font-size: 13px;
    font-weight: 700;
}
select#ddlpaymode {
    height: 25px !important;
    border-radius: 0;
    border: 1px solid #DDE2E8;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#packageDialog div#gbox_jQGridDemoAdv {
    margin-top: 10px;
    width: 100% !important;
}
#packageDialog div#gview_jQGridDemoAdv {
    width: 100% !important;
}
#packageDialog div#t_jQGridDemoAdv {
    width: 100% !important;
    padding-bottom: 24px;
}
#packageDialog table#jQGridDemoAdv {
    width: 100% !important;
}
#packageDialog div#jQGridDemoPagerAdv {
    width: 100% !important;
}
#packageDialog div#btnDeleteAdv {
    margin-top: 10px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
    width: 550px !important;
    left: 26% !important;
    top: 40px !important;
}
span.fa.fa-plus.city-plus {
    line-height: 30px;
}
.prefix-inp select {
    float: left;
    width: 18%;
}
.prefix-inp input#cm_Name {
    float: left;
    width: 82% !important;
    position: relative;
    right: 0;
}
/*-----responsive-----*/
@media(max-width:389px)
{
    .plc-ord-btn button {
	    font-size: 12px;
	    padding: 3px 4px;
	    box-sizing: border-box;
    }
}
@media(max-width:480px)
{
     #t_jQGridDemo #globalSearchText {
	    width: 45%;
    }
    .place-order-date-table {
	    width: 100% !important;
    }
	#txtDateFrom, #txtDateTo {
		width: 90% !important;
	}
	.dispatch-frm-place-odr input#txtOValue, .dispatch-frm-place-odr input#txtTotalNetAmount, .dispatch-frm-place-odr input#txtDispatchedAmt, 
	.dispatch-frm-place-odr input#txtLastBalance,.dispatch-frm-place-odr input#txtCashRecvd, .dispatch-frm-place-odr input#txtAdv,
	  .dispatch-frm-place-odr input#txtBillValue, .dispatch-frm-place-odr input#txtTotalVat, .dispatch-frm-place-odr select#ddlPrefix  {
		width: 80px !important;
	}
 	.dispatch-frm-place-odr input#txtDiscountPer {
		width: 37.5px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountAmt {
		width: 38px !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
       left: 0% !important;
	   width:100% !important;
	}
	.form-lbl {
      width: 100%;
	}
	.form-inp {
        width: 100%;
	}
	.first-inp {
		width: 100%;
	}
	.sec-inp {
		width: 100%;
	}
	.sec-lbl {
      width: 100%;
	}
	.sec-input {
		float: left;
		width: 100%;
	}
	.first-inp select#cm_ddlState {
		width: 100% !important;
	}
	.sec-input select#cm_ddlCities {
       width: 95% !important;
	}
	.sec-input input#cm_Pincode {
		width: 100%;
	}
	.sec-input input#cm_EmailId {
		width: 100% !important;
	}
	.sec-input input#cm_Tag {
		width: 100%;
	}
	.sec-input input#cm_DOA {
		margin-left: 0;
		width: 100%;
	} 
	.first-inp select#cm_ddlArea {
		width: 94% !important;
	}
	.first-inp input#cm_ContactNumber {
		width: 100% !important;
	}
	.first-inp input#cm_Discount {
		width: 100%;
	}
	input#cm_DOB {
		width: 100%;
	}
}
@media(min-width:481px) and (max-width:567px)
{
	.dispatch-frm-place-odr input#txtOValue, .dispatch-frm-place-odr input#txtTotalNetAmount, .dispatch-frm-place-odr input#txtDispatchedAmt, 
	.dispatch-frm-place-odr input#txtLastBalance,.dispatch-frm-place-odr input#txtCashRecvd, .dispatch-frm-place-odr input#txtAdv,
	  .dispatch-frm-place-odr input#txtBillValue, .dispatch-frm-place-odr input#txtTotalVat, .dispatch-frm-place-odr select#ddlPrefix  {
		width: 100px !important;
	}
 	.dispatch-frm-place-odr input#txtDiscountPer {
		width: 47.5px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountAmt {
		width: 48px !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
       left: 1% !important;
	   width:470px !important;
	}
	.sec-input select#cm_ddlCities {
       width: 95px !important;
	}
	.sec-input input#cm_Pincode {
		width: 115px;
	}
	.sec-input input#cm_EmailId {
		width: 115px !important;
	}
	.sec-input input#cm_Tag {
		width: 115px;
	}
	.sec-input input#cm_DOA {
		margin-left: 0;
		width: 115px;
	}
}
@media(min-width:568px) and (max-width:767px)
{
		.dispatch-frm-place-odr input#txtOValue, .dispatch-frm-place-odr input#txtTotalNetAmount, .dispatch-frm-place-odr input#txtDispatchedAmt, 
	.dispatch-frm-place-odr input#txtLastBalance,.dispatch-frm-place-odr input#txtCashRecvd, .dispatch-frm-place-odr input#txtAdv,
	  .dispatch-frm-place-odr input#txtBillValue, .dispatch-frm-place-odr input#txtTotalVat, .dispatch-frm-place-odr select#ddlPrefix  {
		width: 100px !important;
	}
 	.dispatch-frm-place-odr input#txtDiscountPer {
		width: 47.5px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountAmt {
		width: 48px !important;
	}
}
@media(max-width:624px)
{
    .x_panel.order_xpanel.mobile_order_xpanel .order_xcontant table label {
		min-height: 35px;
    }
}
@media(min-width:568px) and (max-width:667px){
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
       left: 2% !important;
	}
}
@media(min-width:668px) and (max-width:767px){
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		left: 10% !important;
	}
}
@media(max-width:767px)
{
     .x_panel.order_xpanel.mobile_order_xpanel {
	        width: auto;
     }
     .x_panel.order_xpanel.mobile_order_xpanel .order_xcontant table label {
		font-size: 11px;
     } 
     .x_panel.order_xpanel.mobile_order_xpanel .xpanel_information {
	    min-height: 271px;
    }
    .x_panel.order_xpanel.mobile_order_xpanel .xpanel_contant_middle table input {
	    width: 50px;
	 }
	 table.customer_info_order_table img#btnAddCustomer {
	    top: -19px;
	    left: 24px;
	    width: 16px !important;
	    vertical-align: unset !important;
    }
	 table.customer_info_order_table img.src-img {
	    position: relative;
	    top: -4px;
	    bottom: 0;
	    left: 5px;
	    right: 0;
	    width: 16px !important;
	    vertical-align: unset !important;
    }
	 .xpanel_contant_middle table td {
	    padding: 0px 2px;
	 }
	 
	 .x_panel.order_dispatc_mob_dis {
            width: auto;
     }
     .x_panel.order_dispatc_mob_dis .x_content table {
	    width: 100% !important;
    }
    .x_panel.order_dispatc_mob_dis .x_content table label {
	    padding-left:10px;
    }
    table.order_dispatch_btns button {
	    font-size: 14px !important;
	    margin-top: 20px;
    }
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	    width: 100% !important;
    }
    #formID table
    {
        width: 100% !important;
    }
	input#txtName {
		width: 200px;
	}
}
@media(min-width:768px) and (max-width:1100px) {
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
		width: 100% !important;
		top: 0 !important;
	}
}
@media(min-width:768px) and (max-width:991px){
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
       left: 16% !important;
	}
}
@media(min-width:768px) and (max-width:820px) {
	.or-no-table-place-order {
		width: 80% !important;
	}
	.dispatch-frm-place-odr input#txtOValue, .dispatch-frm-place-odr input#txtTotalNetAmount, .dispatch-frm-place-odr input#txtDispatchedAmt,
	.dispatch-frm-place-odr input#txtLastBalance, .dispatch-frm-place-odr input#txtCashRecvd, .dispatch-frm-place-odr input#txtAdv,
	.dispatch-frm-place-odr input#txtBillValue, .dispatch-frm-place-odr input#txtTotalVat, .dispatch-frm-place-odr select#ddlPrefix {
		width: 80px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountPer {
		width: 37.5px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountAmt {
		width: 38px !important;
	}
}
@media(min-width:768px) and (max-width:875px) {
	.mobile_order_xpanel .xpanel_information_contant {
		padding: 0 5px !important;
	}
	.mobile_order_xpanel .xpanel_information_contant label {
		font-size: 10px;
	}
	.mobile_order_xpanel .xpanel_contant_middle table td {
		padding: 0px 2px;
	}
	.mobile_order_xpanel .customer_info_order_table td b {
		font-size: 10px;
		position: relative;
		top: -5px;
	}
}
@media(min-width:768px) and (max-width:867px)
{
	.input-group.search_input_grp {
	    margin-bottom: 0px;
    }
	table.customer_info_order_table img#btnAddCustomer {
	    top: -10px;
	    left: 2px;
	}
}
@media(min-width:768px) and (max-width:874px)
{
	.after-dis-order-booking-temp {
		width: 100px;
		float: left;
	}
	table#tbCal input#txtOrderValue {
		width: 125px !important;
	}
	table#tbCal input#txtDiscount {
		width: 76px !important;
	}
	table#tbCal input#txtAfterDis {
		width: 126px !important;
	}
	table#tbCal input#txtVat {
		width: 126px !important;
	}
	table#tbCal input#txtNetAmount {
		width: 126px !important;
	}
	table#tbCal select#ddlOrderPaymentModes {
		width: 83px !important;
	}
	table#tbCal input#txtBalance {
		width: 126px !important;
	}
}
@media(min-width:821px) and (max-width:991px)
{
    .dispatch-frm-place-odr input#txtOValue, .dispatch-frm-place-odr input#txtTotalNetAmount, .dispatch-frm-place-odr input#txtDispatchedAmt, 
	.dispatch-frm-place-odr input#txtLastBalance,.dispatch-frm-place-odr input#txtCashRecvd, .dispatch-frm-place-odr input#txtAdv,
	  .dispatch-frm-place-odr input#txtBillValue, .dispatch-frm-place-odr input#txtTotalVat, .dispatch-frm-place-odr select#ddlPrefix  {
		width: 95px !important;
	}
 	.dispatch-frm-place-odr input#txtDiscountPer {
		width: 44.5px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountAmt {
		width: 44px !important;
	}
}
@media(min-width:868px) and (max-width:875px)
{
	table.customer_info_order_table img#btnAddCustomer {
		top: -8px;
		left: 6px;
	}
}
@media(min-width:876px) and (max-width:906px)
{
    .mobile_order_xpanel .xpanel_information_contant {
		padding: 0 5px !important;
	}
	table.customer_info_order_table img#btnAddCustomer {
	    top: -30px;
	    left: 32px;
	}
	.input-group.search_input_grp {
	    margin-bottom: -20px;
    }
    .mobile_order_xpanel .xpanel_information_contant label {
	    font-size: 11px;
	 }
	.mobile_order_xpanel .xpanel_contant_middle table td {
	    padding: 0px 2px;
	 }
	 .mobile_order_xpanel .customer_info_order_table td b {
	    font-size: 11px;
	    position: relative;
	    top: -5px;
    }
}
@media(min-width:907px) and (max-width:911px)
{
    .mobile_order_xpanel .xpanel_information_contant {
		padding: 0 5px !important;
	}
	.mobile_order_xpanel .xpanel_information_contant label {
	    font-size: 11px;
	 }
	  .mobile_order_xpanel .customer_info_order_table td b {
	    font-size: 11px;
	    position: relative;
	    top: -5px;
    }
	.mobile_order_xpanel .xpanel_contant_middle table td {
	    padding: 0px 2px;
	 }
}
@media(min-width:912px) and (max-width:947px)
{
    table.customer_info_order_table img#btnAddCustomer {
	    top: -30px;
	    left: 32px;
	}
	.input-group.search_input_grp {
	    margin-bottom: -20px;
    }
    .mobile_order_xpanel .xpanel_information_contant label {
	    font-size: 11px;
	 }
	  .mobile_order_xpanel .customer_info_order_table td b {
	    font-size: 11px;
	    position: relative;
	    top: -5px;
    }
    .mobile_order_xpanel .xpanel_contant_middle table td {
	    padding: 0px 2px;
	 }
}
@media(min-width:948px) and (max-width:978px)
{
    .mobile_order_xpanel .xpanel_information_contant label {
	    font-size: 11px;
	 }
	  .mobile_order_xpanel .customer_info_order_table td b {
	    font-size: 11px;
	    position: relative;
	    top: -5px;
    }
    .mobile_order_xpanel .xpanel_contant_middle table td {
	    padding: 0px 2px;
	 }
}
@media(min-width:979px) and (max-width:1024px)
{
    .mobile_order_xpanel .xpanel_contant_middle table td {
	    padding: 0px 2px;
	 }
	.mobile_order_xpanel .xpanel_information_contant label {
	    font-size: 11px;
	 }
	.mobile_order_xpanel .customer_info_order_table td b {
		font-size: 12px;
		position: relative;
		top: -5px;
	}
}
@media(min-width:992px) and (max-width:1024px)
{
	.xpanel_information {
		margin: 0 auto 4px;
		height: 182px;
	}
	.xpanel_information_contant .form-group {
		padding: 0 0 20px;
	}
	.xpanel_information_middle {
		margin: 0px auto 5px;
	}
	.xpanel_bottom {
		margin: 0 auto 3px;
		height:192px;
	}
	#tbCal tr td {
		padding: 1px 2px 0 !important;
	}
	.dispatch-frm-place-odr input#txtOValue, .dispatch-frm-place-odr input#txtTotalNetAmount, .dispatch-frm-place-odr input#txtDispatchedAmt, 
	.dispatch-frm-place-odr input#txtLastBalance,.dispatch-frm-place-odr input#txtCashRecvd, .dispatch-frm-place-odr input#txtAdv,
	  .dispatch-frm-place-odr input#txtBillValue, .dispatch-frm-place-odr input#txtTotalVat, .dispatch-frm-place-odr select#ddlPrefix  {
		width: 95px !important;
	}
 	.dispatch-frm-place-odr input#txtDiscountPer {
		width: 44.5px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountAmt {
		width: 44px !important;
	}
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.custdia-pop {
		left: 21% !important;
	}
}
@media(min-width:1025px) and (max-width:1100px)
{
    .dispatch-frm-place-odr input#txtOValue, .dispatch-frm-place-odr input#txtTotalNetAmount, .dispatch-frm-place-odr input#txtDispatchedAmt, 
	.dispatch-frm-place-odr input#txtLastBalance,.dispatch-frm-place-odr input#txtCashRecvd, .dispatch-frm-place-odr input#txtAdv,
	  .dispatch-frm-place-odr input#txtBillValue, .dispatch-frm-place-odr input#txtTotalVat, .dispatch-frm-place-odr select#ddlPrefix  {
		width: 105px !important;
	}
 	.dispatch-frm-place-odr input#txtDiscountPer {
		width: 50.5px !important;
	}
	.dispatch-frm-place-odr input#txtDiscountAmt {
		width: 51px !important;
	}
}
@media(min-width:1025px) and (max-width:1300px)
{
    .xpanel_information {
		margin: 0 auto 4px;
		height: 182px;
	}
	.xpanel_information_contant .form-group {
		padding: 0 0 20px;
	}
	.xpanel_information_middle {
		margin: 0px auto 5px;
	}
	.xpanel_bottom {
		margin: 0 auto 3px;
		height:192px;
	}
	#tbCal tr td {
		padding: 1px 2px 0 !important;
	}
}
@media(min-width:1101px)
{
    .input-group.search_input_grp {
	     width: 100%;
    }
    table.customer_info_order_table img#btnAddCustomer {
	    left: 0;
        float: right;
    }
	input#txtCustomerSearch {
		top: 0px;
	}
}
/*-----responsive-----*/