﻿.manal-tbl {
    float: left;
    width: 100%;
}
.manual-order-field {
    float: left;
    width: 50%;
}
.oder-non-cake-div {
    float: left;
    width: 100%;
    padding-top: 0px;
    box-sizing: border-box;
}
.manual-order-label {
    float: left;
    width: 38%;
}
.manual-order-input {
    float: left;
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}
.manual-input {
    float: left;
    width: 100%;
 }
.customer-info-div {
    float: left;
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
	 background: #fff;
}
.form-heading {
    float: left;
    width: 100%;
    background: #1479B8;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
}
.form-heading h2 {
    margin: 0;
    padding: 4px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
}
.customer-form {
    float: left;
    width: 100%;
	padding-right:10px;

    padding-top: 0px;
	box-sizing: border-box;
}
.customer-label {
    float: left;
    width: 20%;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
.customer-field {
    float: left;
    width: 100%;
}
.customer-field select {
    line-height: 25px !important;
    padding: 0px 0px;
}
img#btnAddCustomer {
    position: absolute;
    top: 0;
    right: 0;
}
.input-group.search_input_grp {
    width: 100%;
    position: relative;
}
input#txtCustomerSearch {
    width: 97%;
}
.order-no-field {
    width: 50%;
}
.deli-field {
    width: 50%;
}
.add-field {
    width: 50%;
}
.xpanel_information {
    height: auto;
    width: 100%;
    background: lavender;
}
.order-title {
    float: left;
    width: 100%;
    background: #1479B8;
    text-align: center;
}
.next-btn-div {
    float: left;
    width: 100%;
    text-align: center;
}
.customer-form.order-no-field {
    float: left;
    width: 100%;
    padding-left: 0;
}
.customer-form.order-no-field .customer-field {
	width: 50%;
}
.search-part-div {
    float: left;
    width: 100%;
}
.order_xpanel {
    background-color: #fff
}
.customer-info-div.employee-info-div .customer-form,.delivery-info  .customer-form{
    padding-right: 0;
}
.order_xcontant {
    border: none;
}
.customer-field textarea {
    height: 30px;
}
.item-info {
    float: left;
    width: 100%;
	padding: 0px 25px;
	box-sizing:border-box; 
	background:#fff;
}
.xpanel_contant_middle table td {
	padding: 0px 2px;
	box-sizing:border-box; 
}
.customer-field.order-no-input {
    padding-right: 10px;
    box-sizing: border-box;
}
textarea#txtAddress {
    height: 59px;
	overflow:auto;
}
.xpanel_bottom {
    height: auto;
	overflow:hidden; 
	margin-bottom:0;	
}
.mode-filed{
	padding-right:10px;
	box-sizing:border-box;
}
.employee-info-div .customer-form {
    width: 50%;
}
.time-div{
	padding-right:10px;
	box-sizing:border-box;
}
.customer-form input, .customer-form select, .customer-form textarea {
    border: 1px solid #333;
}
.order_xcontant {
    margin: 0px 0;
}
.xpanel_contant_middle table td {
    padding: 0;
    box-sizing: border-box;
}
.customTextBox {
    width: 62px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.xpanel_contant_middle table input {
      text-align: center;
}
.xpanel_information_middle {
	margin: 0 auto 0px;
}
input#txtSearch {
    width: 330px;
}
.form-control {
	height: 30px;
	padding: 2px;
	font-size: 12px;
}
select#ddpos {
    height: 30px;
}
.order_xpanel {
    padding: 0px 5px;
}
table.adv-tbl{
	width:100%;
}
.cust-info {
    padding-right: 0;
}
.cust-info .customer-form {
    padding-right: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0 10px;
    position: relative;
}
.order_panal_buttons.place_order_btn {
	display: block;
	width: 100%;
	text-align: center;
}
.custom-notifications {
    width: 40% !important;
}
/*----responsive----*/
@media(max-width:399px){
	img#btnAddCustomer {
		position: absolute;
		top: 4px;
		right: -16px;
	}
	input#txtSearch {
		width: 180px;
	}
	input#txtAdvance {
		width: 32px !important;
	}
	select#ddlOrderPaymentModes {
		width: 50px !important;
	}
	input#txtBalance {
		width: 87px !important;
	}
	button#Button1, div#btnSave {
		padding: 4px 4px;
		font-size: 12px;
	}
	table#tbCal input#txtOrderValue {
		width: 103px !important;
	}
	table#tbCal input#txtDiscount {
		width: 54px !important;
	}
	table#tbCal input#txtNetAmount {
		width: 108px !important;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 9px 5px;
	}
	.xpanel_contant_bottom {
      min-height: 165px;
	  max-height: 165px;
	 height: 165px;
	 overflow: auto;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 9px 5px;
		font-size: 12px;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td img {
		width: 16px;
	}
	.form-control {
		 height: 29px;
	}
	select#ddpos {
		height: 29px;
	}
	.oder-non-cake-div label {
		font-size: 11px;
	}
}
@media(min-width:400px) and (max-width:480px){
	img#btnAddCustomer {
		position: absolute;
		top: 4px;
		right: -16px;
	}
	input#txtSearch {
		width: 260px;
	}
	input#txtAdvance {
		width: 32px !important;
	}
	select#ddlOrderPaymentModes {
		width: 50px !important;
	}
	input#txtBalance {
		width: 87px !important;
	}
	button#Button1, div#btnSave {
		padding: 4px 4px;
		font-size: 12px;
	}
	table#tbCal input#txtOrderValue {
		width: 103px !important;
	}
	table#tbCal input#txtDiscount {
		width: 54px !important;
	}
	table#tbCal input#txtNetAmount {
		width: 108px !important;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 9px 5px;
	}
	.xpanel_contant_bottom {
      min-height: 165px;
	  max-height: 165px;
	 height: 165px;
	 overflow: auto;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 9px 5px;
		font-size: 12px;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td img {
		width: 16px;
	}
	.form-control {
		 height: 29px;
	}
	select#ddpos {
		height: 29px;
	}
}
@media(min-width:481px) and (max-width:567px){
	img#btnAddCustomer {
       top: 3px;
	   right: -15px;
	}
	button#Button1, div#btnSave {
		padding: 4px 4px;
		font-size: 12px;
	}
	table#tbCal tr td:first-child {
		width: 40px !important;
	}
	table#tbCal input#txtOrderValue {
		width: 96% !important;
	}
	input.dis-cls.form-control.input-small.dis-td {
		width: 40% !important;
	}
	table#tbCal input#txtDiscount {
		width: 56% !important;
	}
	input#txtBalance {
		width: 95% !important;
	}
	input#txtAdvance {
		width: 36% !important;
	}
	select#ddlOrderPaymentModes {
		width: 56% !important;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 9px 5px;
	}
	.xpanel_contant_bottom {
      min-height: 165px;
	  max-height: 165px;
	 height: 165px;
	 overflow: auto;
	}
	input#txtSearch {
		width: 278px;
	}
	.plc-ord-btn button {
		padding: 5px;
		margin-right: 0;
		box-sizing: border-box;
	}
}
@media(min-width:568px) and (max-width:667px)
{
	img#btnAddCustomer {
       top: 3px;
	   right: -15px;
	}
	button#Button1, div#btnSave {
		padding: 4px 4px;
	}
	table#tbCal tr td:first-child {
		width: 40px !important;
	}
	table#tbCal input#txtOrderValue {
		width: 96% !important;
	}
	input.dis-cls.form-control.input-small.dis-td {
		width: 40% !important;
	}
	table#tbCal input#txtDiscount {
		width: 56% !important;
	}
	input#txtBalance {
		width: 95% !important;
	}
	input#txtAdvance {
		width: 36% !important;
	}
	select#ddlOrderPaymentModes {
		width: 56% !important;
	}
	table#tbCal input#txtNetAmount {
		width: 96%  !important;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 9px 5px;
	}
	.xpanel_contant_bottom {
      min-height: 165px;
	  max-height: 165px;
	 height: 165px;
	 overflow: auto;
	}
	input#txtSearch {
		width: 300px;
	}
	.plc-ord-btn button {
		margin-right: 0;
	}
}
@media(min-width:668px) and (max-width:767px)
{
	img#btnAddCustomer {
       top: 3px;
	   right: -11px;
	}
	button#Button1, div#btnSave {
		padding: 4px 4px;
	}
	table#tbCal tr td:first-child {
		width: 40px !important;
	}
	table#tbCal input#txtOrderValue {
		width: 96% !important;
	}
	input.dis-cls.form-control.input-small.dis-td {
		width: 40% !important;
	}
	table#tbCal input#txtDiscount {
		width: 56% !important;
	}
	input#txtBalance {
		width: 94% !important;
	}
	input#txtAdvance {
		width: 36% !important;
	}
	select#ddlOrderPaymentModes {
		width: 56% !important;
	}
	table#tbCal input#txtNetAmount {
		width: 96%  !important;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 9px 5px;
	}
	.xpanel_contant_bottom {
      min-height: 165px;
	  max-height: 165px;
	 height: 165px;
	 overflow: auto;
	}
	input#txtSearch {
		width: 360px;
	}
}
@media(min-width:768px) and (max-width:991px){
	img#btnAddCustomer {
       top: 3px;
	   right: -11px;
	}
	button#Button1, div#btnSave {
		padding: 4px 4px;
	}	
	.xpanel_contant_bottom {
      min-height: 165px;
	  max-height: 165px;
	 height: 165px;
	 overflow: auto;
	}
	input#txtSearch {
		width: 390px;
	}
	table#tbCal tr td:first-child {
		width: 40px !important;
	}
	table#tbCal input#txtOrderValue {
		width: 96% !important;
	}
	input.dis-cls.form-control.input-small.dis-td {
		width: 40% !important;
	}
	table#tbCal input#txtDiscount {
		width: 56% !important;
	}
	input#txtBalance {
		width: 94% !important;
	}
	input#txtAdvance {
		width: 36% !important;
	}
	select#ddlOrderPaymentModes {
		width: 56% !important;
	}
	table#tbCal input#txtNetAmount {
		width: 96%  !important;
	}
	table.table.table-striped.detail-tble-oder-booking-temp td {
		padding: 10px 11px;
		box-sizing: border-box;
	}
}
@media(min-width:992px) and (max-width:1024px){
	
	.input-group.search_input_grp {
			width: 100%;
	}
	textarea#txtRemarks {
	   height: 50px;
    }
	input#txtSearch {
		width: 100%;
	}
	table#tbCal tr td:first-child {
		width: 40px !important;
	}
	table#tbCal input#txtOrderValue {
		width: 96% !important;
	}
	input.dis-cls.form-control.input-small.dis-td {
		width: 40% !important;
	}
	table#tbCal input#txtDiscount {
		width: 56% !important;
	}
	input#txtBalance {
		width: 94% !important;
	}
	input#txtAdvance {
		width: 36% !important;
	}
	select#ddlOrderPaymentModes {
		width: 56% !important;
	}
	table#tbCal input#txtNetAmount {
		width: 96%  !important;
	}
	.xpanel_contant_bottom {
		height: 160px;
		min-height: 160px;
		max-height: 160px;
		overflow:auto;
	}
}
@media(min-width:1025px){
	input#txtCustomerSearch {
		top: 0px;
	}
	input#txtSearch {
		width: 100%;
	}
	table#tbCal tr td:first-child {
		width: 40px !important;
	}
	table#tbCal input#txtOrderValue {
		width: 96% !important;
	}
	input.dis-cls.form-control.input-small.dis-td {
		width: 40% !important;
	}
	table#tbCal input#txtDiscount {
		width: 56% !important;
	}
	input#txtBalance {
		width: 94% !important;
	}
	input#txtAdvance {
		width: 36% !important;
	}
	select#ddlOrderPaymentModes {
		width: 56% !important;
	}
	table#tbCal input#txtNetAmount {
		width: 96%  !important;
	}
	.xpanel_contant_bottom {
		height: 160px;
		min-height: 160px;
		max-height: 160px;
		overflow:auto;
	}
}
/*----responsive----*/