﻿.settlement_panel {
    padding: 0px;
    margin: 0px;
    border: 1px solid #46c9ac;
    overflow: hidden;
    border-radius: 10px;}
.settlement_panel .x_title {margin: 0px; padding: 0px;border: none;}
.settlement_panel h1.settlement_header {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 10px 0px;
    background-color: #46c9ac;
    color: #fff;
    font-weight: 600;}
   .settlement_panel .Search {margin: 0 9px; width: 98%; background-color: #46c9ac;}
.settlement_product div#products {
    height: 400px;
    background-color: #fff;
    border: 1px solid #46c9ac;
    margin: 0px 0 0 16px;
    border-radius: 10px;
    width: 90%;
}
.settlement_product {margin: 15px 0 0;}
.settlement_panel .form-group {background-color: #fffff6; margin: 0px;}
.settlement_product .leftside {
    margin: 0 10px;
    float: left;
    background-color: #fff;
    padding: 10px 10px;
    width: 90%;
    border: 1px solid #46c9ac;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
}
    .settlement_window table {width: 100%;}
    .settlement_window select#ddlbillttype {color: #000; font-size: 18px; padding: 0px; margin: 0 0 10px;}
    #ddlbillttype option {border-bottom: 1px solid #dde2e8; padding: 5px 10px;}
    #ddlbillttype option:last-child {border: none;}
    .settlement_window table td {color: #000;font-size: 14px;}
    .settlement_buttons .button1 {width: 140px; font-size: 14px;font-weight: 600;}
    .settlement_buttons .button3 {width: 140px; font-size: 14px;font-weight: 600;}
table.settlement_buttons {
	width: 430px;
	margin: 0 auto;
	display: block;
} 
   .settlement_window table input {width: 100px; margin: 3px 0;}
    .settlement_window select#ddlChosseCredit {width: 100px; height: 35px;float: right;}
    .settlement_window select#ddlBank {width: 100px;height: 35px;}
    .settlement_window select#ddlType {width: 100px; height: 35px; float: right;}
    .settlement_window select#ddlOtherPayment {width: 100px; height: 35px;}
    .settlement_window input#txtpaymentAmount {float: right;}
    .select_customer {border: 1px dashed #dde2e8;height: 35px;padding: 5px 0;}
    .select_customer label#lblCreditCustomerName {margin: 0px;font-weight: normal;}
    
  .right_col
  {
      min-height:auto;
  }  
   
  body
  {
      background:lavender !important;
  }
    
  tr.balance-tr.cashtr table {
       width: auto;
  }
    
  tr.balance-tr.cashtr table tr td:first-child {
    width: 91px;
  }
  tr.rdocod-tr.cashtr {
        display: none;
  }
  tr.cash-rec-tr.cashtr td:first-child label{
    font-weight: normal;
    margin-bottom: 0;
  }  
   
  tr.balance-tr.credittr table
  {
      width: auto;
  }
   tr.balance-tr.credittr table tr td:first-child {
    width: 91px;
  }
  tr.rdocod-tr.credittr {
        display: none;
  }
    tr.cash-rec-tr.credittr
    {
        display:none;
    }
    tr.cash-amt.credittr select#ddlChosseCredit {
        width: auto;
        height: 24px;
        float: left;
    }  
    tr.balance-tr.creditcardtr table
    {
          width: auto;
    } 
    tr.balance-tr.creditcardtr table tr td:first-child {
        width: 121px;
    } 
    tr.crcardamttr.creditcardtr td#CrCardlbl {
        width: 120px;
    }
    tr.crcardamttr.creditcardtr select#ddlType {
        height: 26px;
        float: left;
        padding: 2px;
    } 
    tr.lbbanktr.creditcardtr select#ddlBank {
        padding: 2px;
        height: 26px;
        font-size: 13px;
        margin-top: 3px;
        margin-bottom:3px;
    }
    tr.rdocod-tr.creditcardtr {
        display: none;
    }
    tr.optr td#OP {
        width: 120px;
    }
    tr.balance-tr.onlinepaytr table
    {
          width: auto;
    } 
    tr.balance-tr.onlinepaytr table tr td:first-child {
        width: 121px;
    } 
    .onlinepaytr input[type="text"] {
        width: 140px !important;
    }
    tr.optr.onlinepaytr select#ddlOtherPayment {
        width: 140px;
        padding: 2px;
        height: 27px;
        margin-top: 4px;
    margin-bottom: 4px;
    }
    tr.rdocod-tr.onlinepaytr input[type="checkbox"] {
        width: 12px !important;
        height: 12px !important;
    }
    tr.rdocod-tr.onlinepaytr input#txtpaymentAmount
    {
          float:left;
    }
    tr.rdocod-tr.onlinepaytr label#COD,tr.rdocod-tr.onlinepaytr label#Online {
        font-weight: normal;
    }
     div#Div1 {
        padding-bottom: 20px;
    }
     table.settlement_net_amount_table {
        width: 100%;
        margin: auto;
     }
     label#lblAmt {
        width: 100%;
        margin: 0;
        padding: 5px 0;
        border: 1px solid #f06671;
        border-radius: 6px;
    }
    tr.transactiontr.cashtr {
        display: none !important;
    }
    
    .settlement_product div#products {
       overflow-y: auto;
    }
   .settlement_panel h1.settlement_header
   {
       background-color: #1479B8;
   }
div#dvProductsInfo {
    text-align: center;
    border: 1px solid #46c9ac;
    height: 400px;
    max-height: 400px;
    min-height: 400px;
    overflow: auto;
    border-radius: 10px;
}
div#txtitem {
    color: #000;
    font-size: 19px;
    font-weight: 700;
}
div#dvBillWindow .button1 {
    height: auto;
    width: 110px;
    padding: 14px 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 2px auto;
}
.ui-widget-header {
    background-color: #1479B8;
    border: 1px solid #147988;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditCardWindow"] {
    width: 300px !important;
    left: 40% !important;
}
select#ddlCreditCardBank {
    width: 120px;
    margin-right: 10px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvOnlineWindow"] {
    width: 300px !important;
    left: 40% !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable[aria-describedby="dvCreditWindow"] {
    width: 300px !important;
    left: 40% !important;
}
.credit-select {
    float: left;
    width: 80%;
}
.credit-select select {
    width: 100%;
    height: 25px;
}
.credit-img {
    float: left;
    width: 17%;
    margin-left: 5px;
}
div#btnCreditBilling {
    margin: 30px auto 0;
    display: block;
    width: 100px;
}
.online-select {
    float: left;
    width: 100%;
}
select#ddlOtherPayment {
    width: 100%;
    height: 30px;
}
div#btnOnlineBilling {
    display: block;
    width: 100px;
    margin: 0px auto 0;
}
table.online-tbl tr.rdocod-tr.cashtr {
    display: block;
}
input#txtCODAmount {
    margin-top: 0;
    width: 90%;
}
input#txtpaymentAmount {
    margin-top: 0px;
}
label#COD {
    position: relative;
    top: -3px;
}
label#Online {
    position: relative;
    top: -3px;
}
.total-amt-div {
    width: 100%;
    margin: 10px 0;
}
tr.rdocod-tr.cashtr td:nth-child(3) {
    width: 25%;
}
div#dvCreditCardWindow table tr {
    float: left;
}
div#dvCreditCardWindow table td:nth-child(3) {
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0% 0;
}
select#ddlBank {
    width: 200px;
    padding: 0;
}
/*------responsive--------*/
@media screen and (max-width:767px) and (min-width:580px)
{
    .settlement_buttons .button1 {width: 125px; font-size: 12px;}
    .settlement_product .leftside {width: 93%;padding: 8px 8px;}
    .settlement_window table td {font-size: 12px;}
    .settlement_panel h1.settlement_header {font-size: 22px;padding: 8px 0px;}
}

@media(max-width:325px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 67px;
    }
}

@media (min-width:326px) and (max-width:330px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 71px;
    }
}
@media (min-width:331px) and (max-width:335px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 77px;
    }
}
@media (min-width:336px) and (max-width:340px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 82px;
    }
}
@media (min-width:341px) and (max-width:345px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 86px;
    }
}
@media (min-width:346px) and (max-width:350px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 91px;
    }
}
@media (min-width:351px) and (max-width:355px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 96px;
    }
}
@media (min-width:356px) and (max-width:360px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 101px;
    }
}
@media (min-width:361px) and (max-width:366px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 104px;
    }
}
@media (min-width:367px) and (max-width:370px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 109px;
    }
}
@media (min-width:371px) and (max-width:375px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 115px;
    }
}

@media (min-width:376px) and (max-width:379px)
{
    tr.balance-tr.creditcardtr table tr td:first-child {
	    width: 118px;
    }
}
@media(min-width:320px) and (max-width:402px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 68px;
    }
}
@media(min-width:403px) and (max-width:410px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 70px;
    }
}
@media(min-width:411px) and (max-width:412px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 76px;
    }
}
@media(min-width:413px) and (max-width:418px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 78px;
    }
}
@media(min-width:419px) and (max-width:427px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 85px;
    }
}
@media(min-width:428px) and (max-width:432px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 92px;
    }
}
@media(min-width:433px) and (max-width:438px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 98px;
    }
}
@media(min-width:439px) and (max-width:446px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 104px;
    }
}
@media(min-width:447px) and (max-width:452px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 111px;
    }
}
@media(min-width:453px) and (max-width:460px)
{
    tr.balance-tr.onlinepaytr table tr td:first-child {
	    width: 117px;
    }
}
@media (max-width:480px)
{
    .settlement_buttons button {
	    width: 87px !important;
	    font-size: 12px !important;
    }
  
    .settlement_window table td {
	    font-size: 13px;
	}
    .onlinepaytr input[type="text"] {
	    width: 134px !important;
    }
    tr.optr.onlinepaytr select#ddlOtherPayment {
	    width: 134px;
		font-size:12px;
	}
	#lblCustomer {
		float: left;
		width: 100px;
	}
	tr.cash-amt.credittr select#ddlChosseCredit {
		width: 150px;
	}
    .Search table input {
		font-size: 13px !important;
	}
	.settlement_product .leftside {
		margin: 0 20px;
		width: 90%;
	}
	div#dvProductsInfo {
       width: 90%;
		margin: 0 20px 20px !important;
		float: left;
	}
	.settlement_product div#products {
		width: 90% !important;
       margin: 0 20px 20px !important;	
	}
	table.settlement_buttons {
		width: 270px;
		margin: 0 auto;
		display: block;
	}
}
@media(max-width:440px)
{
    .Search table input {
	    width: 75% !important;
	    margin-left: 10px;
    }
}
@media (min-width:481px) and (max-width:567px)
{
    .settlement_buttons button {
	    width: 110px !important;
	    font-size: 14px !important;
    }
    .settlement_window table td {
	    font-size: 13px;
	}
	#lblCustomer {
		float: left;
		width: 100px;
	}
	tr.cash-amt.credittr select#ddlChosseCredit {
		width: 140px;
	}
	tr.optr.onlinepaytr select#ddlOtherPayment {
		width: 130px;
	}
	.onlinepaytr input[type="text"] {
		width: 130px !important;
	}
	.settlement_product .leftside {
		margin: 0 20px;
		width: 92%;
	}
	div#dvProductsInfo {
       width: 92%;
		margin: 0 20px 20px !important;
		float: left;
	}
	.settlement_product div#products {
		width: 92% !important;
       margin: 0 20px 20px !important;	
	}
	table.settlement_buttons {
		width: 350px;
	}
}
@media(min-width:568px) and (max-width:667px){
	.settlement_product .leftside {
		margin: 0 20px;
		width: 93%;
	}
	div#dvProductsInfo {
       width: 93%;
		margin: 0 20px 20px !important;
		float: left;
	}
	.settlement_product div#products {
		width: 93% !important;
       margin: 0 20px 20px !important;	
	}
	table.settlement_buttons {
		width: 410px;
	}
}
@media(min-width:668px) and (max-width:767px){
	.settlement_product .leftside {
		margin: 0 20px;
		width: 94%;
	}
	div#dvProductsInfo {
       width: 94%;
		margin: 0 20px 20px !important;
		float: left;
	}
	.settlement_product div#products {
		width: 94% !important;
       margin: 0 20px 20px !important;	
	}
	table.settlement_buttons {
		width: 55%;
	}
}
@media(min-width:481px) and (max-width:767px)
{
	 .Search table input {
		font-size: 15px !important;
	}
}
@media(max-width:767px)
{
	.settlement_product div#products {
		height: 250px;
	}
}
@media(min-width:768px) and (max-width:991px)
{
    .onlinepaytr input[type="text"] {
	    width: 110px !important;
    }
    tr.optr.onlinepaytr select#ddlOtherPayment {
	    width: 110px;
	}
     .settlement_product div#products {
	    height:320px;
    }
    .settlement_product .leftside {
	   height:320px;
    }
	div#dvProductsInfo {
       height: 320px;
	   max-height: 320px;
       min-height: 320px;
  }
	#lblCustomer {
		float: left;
		width: 102px;
	}
	.settlement_window table input {
		margin: 1px 0;
	}
	tr.lbbanktr.creditcardtr select#ddlBank {
		margin-top: 1px;
		margin-bottom: 1px;
	}
	div#Div1 {
		padding-bottom: 10px;
	}
	label#lblAmt {
		font-size: 14px !important;
		padding:3px 0 !important;
	}
	.settlement_window select#ddlbillttype {
		font-size: 14px;
		margin-bottom:0 !important;
	}
	.settlement_product .leftside {
		padding: 0px 10px;
	}
}
@media(min-width:992px) and (max-width:1200px)
{
    .settlement_product div#products {
	    height:320px;
    }
    .settlement_product .leftside {
	   height:320px;
    }
	div#dvProductsInfo {
  
		height: 320px;
		max-height: 320px;
		min-height: 320px;
		overflow: auto;
		border-radius: 10px;
	}
	.settlement_product .leftside {
	    width: 87%;
    }
    .onlinepaytr input[type="text"] {
	    width: 106px !important;
    }
    tr.optr.onlinepaytr select#ddlOtherPayment {
	    width: 106px;
	}
    tr.cash-amt.credittr select#ddlChosseCredit {
	    width: 105px;
	}
	label#lblAmt {
		font-size: 14px !important;
	}
	.settlement_window select#ddlbillttype {
		font-size: 15px;
		margin: 0 0 0px;
	}
	.settlement_product .leftside {
		padding: 0px 10px;
	}
	.settlement_window table input {
		margin: 1px 0;
	}
	div#Div1 {
		padding-bottom: 2px;
	}
}
@media(min-width:1201px) and (max-width:1300px) {
    .settlement_product div#products {
        height: 330px;
    }

    .settlement_product .leftside {
        height: 330px;
    }
	div#dvProductsInfo {
       height: 330px;
	   max-height: 330px;
       min-height: 330px;
  }
	.settlement_product .leftside {
		padding: 0px 10px;
	}
	.settlement_window table input {
		margin: 1px 0;
	}
	.settlement_window select#ddlbillttype {
		color: #000;
		font-size: 16px;
	}
	label#lblAmt {
		font-size: 16px !important;
	}
	div#Div1 {
		padding-bottom: 2px;
	}
}
/*------responsive--------*/