﻿.x-panel-title-frmone {
    border: none;
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    height: 44px;
    margin-bottom: 0;
}

.x-panel-title-frmone .x_title {
    border-bottom: unset;
    padding: 4px 0;
    margin-bottom: 0px;
}
.x-panel-title-frmone .x_title h2 {
    font-size: 24px;
	color:#ffffff;
}
.taxswap-first-panel {
	float: left;
	width: 100%;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 4px;
}
.taxswap-second-panel {
	float: left;
	width: 100%;
}
.taxswap-third-panel {
	float: left;
	width: 100%;
}
.choose-branch-taxswap {
	float: left;
	width: 100%;
}
.taxwap-branch-section {
	float: left;
	width: 100%;
}
.taxwap-branch-section label {
	float: left;
	width: 120px;
	line-height:30px;
}
.taxwap-branch-section select {
	float: left;
	width: 60%;
	height: 30px;
}
.taxwap-date-section {
	float: left;
	width: 100%;
}
.taxwap-date-section label {
	float: left;
	width: 40px;
	line-height:30px;
}
.taxwap-date-section input {
	float: left;
	width: 60% !important;
	height: 30px !important;
	margin-top:0 !important;
}
.taxwap-tax-section {
	float: left;
	width: 100%;
}
.taxwap-tax-section label {
	float: left;
	width: 120px;
	line-height:30px;
}
.taxwap-tax-section select {
	float: left;
	width: 60% !important;
	height: 30px;
}
.taxwap-tax-to-section {
	float: left;
	width: 100%;
}
.taxwap-tax-to-section label {
	float: left;
	width: 100px;
	line-height:30px;
}
.taxwap-tax-to-section select {
	float: left;
	width: 60% !important;
	height: 30px;
}
.taxwap-scan-section {
	float: left;
	width: 100%;
}
.taxwap-scan-section label {
	float: left;
	width: 120px;
	line-height:30px;
}
.taxwap-scan-section input {
	float: left;
	width: 60% !important;
	height: 30px;
}
.taxwap-total-section {
	float: left;
	width: 70%;
	line-height:39px;
	font-size:large;
}
.taxwap-total-section label {
	color: #000;
}
.x_panel.x-panel-frmone-colone.taxswap-below-tbl {
	min-height: 300px;
	max-height: 300px;
	overflow: auto;
}
.taxwap-btn-section {
    float: left;
    width: 30%;
}
.taxwap-btn-section.btnshow-div {
	float: left;
	width: auto;
	margin-left: 10px;
}
.taxswap-third-panel a {
	background: transparent;
	color: #5a738e !important;
	border: none;
	margin: 0;
	border-bottom: 1px solid #d0d0d0;
	width: 160px;
	text-align: left;
	font-weight: 600;
	text-decoration: none;
	box-shadow: none;
}
	.taxswap-third-panel a:hover, .taxswap-third-panel a:active, .taxswap-third-panel a:focus {
		background: transparent;
		box-shadow: none;
	}
	.right_col {
    min-height: unset;
}

.taxwap-btn-section.update-groups-btn, .taxwap-btn-section.second-update-btn {
	float: left;
	width: 100%;
	text-align: center;
}
button#btnsubmit {
	margin: 0 auto;
	display: block;
	font-size: 18px;
	font-weight: 600;
}
/*----responsive----*/
@media(max-width:767px)
{
	.taxwap-branch-section select,.taxwap-date-section input,.taxwap-tax-section select,.taxwap-tax-to-section select,.taxwap-scan-section input {
		width: 50% !important;
	}
	input#txtStartDate {
		width: 160px !important;
	}
	.taxwap-date-section label,.taxwap-tax-to-section label	 {
		width: 40px;
	}
}
@media(min-width:768px) and (max-width:931px)
{
	.taxwap-branch-section select, .taxwap-date-section input, .taxwap-tax-section select, .taxwap-tax-to-section select {
		width: 50% !important;
	}
	.taxwap-scan-section input {
		width: 71% !important;
	}
	.taxwap-total-section {
		font-size: 16px;
	}
}
@media(min-width:992px) and (max-width:1181px)
{
	.taxwap-tax-to-section select,.taxwap-date-section input {
		width: 49% !important;
	}
	.taxwap-scan-section input {
		width: 74% !important;
	}
	.taxwap-total-section {
		font-size: 14px;
	}
	.taxswap-cst-col{
		width:45%;
	}
}
/*----responsive----*/