﻿.update_itemcode_table .headings {
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    background-color: #f06671;
}
.update_itemcode_table table {
    width: 100%;
}
.heading_table select#ddlCat2,.heading_table select {
    color: #000;
    height: 30px;
    border: none;
    font-size: 14px;
    width: 200px;
    padding: 0 5px;
}
table.heading_table {
    width: 90%;
}
.updateitemcode_products .btn {
    font-size: 12px;
    border-radius: 0px;
    height: 30px;
    padding: 6px 0;
    width: 90px;
    background: #f06671 none repeat scroll 0 0;
    box-shadow: inset -2px -5px 5px #8d3c42;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
}

.updateitemcode_products #dvProducts tr:nth-child(even) {
    background-color: #f9e4e6;
}
.updateitemcode_products #dvProducts tr:nth-child(even) td {
    border-right: 1px solid #fff;
}
.updateitemcode_products #dvProducts tr:nth-child(odd) td {
    border-right: 1px solid #f9e4e6;
}
.updateitemcode_products #dvProducts tr:nth-child(1) th {
    border-right: 1px solid #fff;
}
.updateitemcode_products #dvProducts tr:nth-child(1) {
    background-color: #46c9ac;
    color: #fff;
}
.updateitemcode_products #dvProducts td {
    padding: 9px 10px !important;
    width: auto;
}

.update_itemcode_table .headings
{
    background-color:#1479B8;
}

 .update_itemcode_table {
        position: relative;
    }
.update_itemcode_table a.update-price-exit-btn {
    position: absolute;
    right: 10px;
    top: 66px;
    bottom: 0;
    background: #f06671;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
}
   tr.branch-name-udate-item-code-table {
        background: #46C7AC;
        color: #fff;
    } 
   tr.branch-name-udate-item-code-table td {
        padding: 10px;
        font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
        font-size: 1.1em;
        font-weight: bold;
    }

input#txtfromHSN, input#txttoHSN {
    color: #000;
    width: 200px;
    height: 30px;
}

    @media(max-width:380px)
    {
        .heading_table select#ddlCat2 {
	        font-size: 12px;
	        width: 160px;
	     }
	     .update_itemcode_table a.update-price-exit-btn {
	        top: 54px;
	        padding: 10px 10px;
	        font-size: 12px;
        }
    }
    @media(min-width:381px) and (max-width:480px)
    {
        .update_itemcode_table a.update-price-exit-btn {
	        top: 54px;
        }
    }
    @media(min-width:481px) and (max-width:567px)
    {
        table.heading_table {
	        width: 382px;
        }
    }
    @media(min-width:568px) and (max-width:767px)
    {
        table.heading_table {
	        width: 400px;
        }
    }
    @media(min-width:768px) and (max-width:1220px)
    {
        table.heading_table {
	        width: 93%;
        }
    }
	@media(min-width:768px) and (max-width:1024px)
	{
		.heading_table select#ddlCat2, .heading_table select {
			 width: 100px;
		}
		input#txtfromHSN, input#txttoHSN {
			width: 100px;
		}
	}
	@media(min-width:1025px) and (max-width:1100px)
	{
		.heading_table select#ddlCat2, .heading_table select {
			 width: 110px;
		}
		input#txtfromHSN, input#txttoHSN {
			width: 110px;
		}
	}
	@media(min-width:1101px) and (max-width:1340px)
	{
		.heading_table select#ddlCat2, .heading_table select {
			 width: 120px;
		}
		input#txtfromHSN, input#txttoHSN {
			width: 120px;
		}
	}