﻿.right_col.gst-bill-right-col
{
    min-height:unset;
}
body
{
        background: lavender !important;
}
div#screenDialog {
    display: none;
}
[aria-labelledby=ui-id-1] {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
        padding: 0px !important;
}
[aria-labelledby=ui-id-1] .ui-dialog-titlebar {
    border: none;
    border-radius: 0px;
    background-color: #f06671;
}
.vatbilling_dialog {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
        overflow: unset !important;
}
.vatbilling_searchbar .input-group {
    margin: 0px;
}
.vatbilling_searchbar {
    background-color: #46c9ac !important;
    margin: 1px 0px !important;
    border: none !important;
    padding: 10px 70px !important;
    border-radius: 0px !important;
}
.vatbilling_searchbar input {
    margin: 0px;
    width: 330px !important;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    height: 40px;
    padding: 0 15px;
}
.vatbilling_searchbar img {
    width: 40px;
    margin: 0 30px;
}
.vatbilling_products .leftside {
	margin: 0px;
	border: none;
	width: 100%;
	float: left;
	background-color: #f06671 !important;
	border-radius: 0px;
}
.vatbilling_products table th {
    text-align: center;
    padding: 0px;
}
.vatbilling_products {
    width: 90%;
    margin: 15px auto;
    border: 1px solid #ddd;
}
.vatbilling_cate2 {
    width: 100% !important;
    float: left;
    padding: 0px !important;
    margin: 0px !important;
}
.vatbilling_cate2 table#tbamountinfo {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}
#tbamountinfo td {
    padding: 5px 10px;
}
table#myCustomTable {
    width: 50%;
    float: right;
    margin: 0px;
    border: 1px solid #ddd;
}
#myCustomTable td {
    padding: 3px 5px;
    font-size: 12px;
    width: 100px;
}
.input_table td {
    padding: 0px !important;
}
.input_table input {
    margin: 0px;
    width: 80px;
}
#myCustomTable tr:nth-child(even) {
    background-color: #f9e4e6;
}
.vatbilling_bottom {
    width: 90%;
    margin: 15px auto;
}
.vatbilling_btns .button1 {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 0px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.vatbilling_btns .button3 {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-weight: 600;
    background: rgb(240, 102, 113);
    box-shadow: inset -2px -5px 5px #8d3c42;
    font-size: 12px;
    height: 40px;
    margin: 0px;
    padding: 10px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    border: none;
}
.vatbilling_btns td {
    width: 200px;
    padding: 5px 5px;
}
.choos_services {
    width: 100%;
}
.choos_services tr {
    float: left;
    padding: 0 35px 0 0;
}
.choos_services td {
    padding: 0 10px;
}
.choos_services select {
    float: left;
    width: 130px;
    height: 40px;
    margin: 0px 8px 0;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    padding: 0 15px;
}
.choos_services div#dvOuter_ddlMobSearchBox {
    float: left;
    width: 130px;
    height: 40px;
    margin: 0px 8px 0;
    border: none;
    box-shadow: inset 2px 2px 5px 0px #bbb;
    border-radius: 0px !important;
    background-color: #eee;
    padding: 0 15px;
}
.date_or_items {
    vertical-align: top;
    font-size: 15px;
}
.numb_of_items {
    width: 100%;
}
.numb_of_items td {
    padding: 0px !important;
}

.box {
    overflow: hidden;
}
.box h3
{
    font-size:18px;
    padding:2px;
}
span.getprice,span.cake-code {
    visibility: hidden;
}

.box h3:hover span.getprice, .box h3:hover span.cake-code {
    visibility: visible;
}
.box h3:hover
{
    height:80px !important;
}
.numb_of_items {
    width: auto;
}
.vatbilling_products .leftside table tr th:first-child {
    width: 189px;
}
.x_panel.vatbilling-x-panel .ui-widget-header {
    background: #1479B8;
}
div#btnGo {
    margin-bottom: 0;
    padding: 4px 8px;
}
.vatbilling_products .leftside
{
    background: #1479B8 !important;
}
 div#t_jQGridDemoBill {
    height: 30px;
}
 #sidebar-menu 
{
    position:relative;
	z-index: 1;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    background: #1479B8 !important;
}
.page-title .title_left {
    width: 100%;
    padding-left: 15px;
    background: #1479B8;
    color: #ffffff;
}
.gst-row
{
    margin-left:0 !important;
    margin-right:0 !important;
}

/*grid*/
.vatbilling-x-panel div#gbox_jQGridDemoBill {
    width: 100% !important;
}
.vatbilling-x-panel div#gview_jQGridDemoBill {
    width: 100% !important;
}
.vatbilling-x-panel div#t_jQGridDemoBill {
    width: 100% !important;
}
.vatbilling-x-panel .ui-state-default.ui-jqgrid-hdiv {
    width: 100% !important;
	overflow:hidden
}
.vatbilling-x-panel table.ui-jqgrid-htable {
    width: 100% !important;
}
.vatbilling-x-panel .ui-jqgrid-hbox {
    padding-right: 0 !important;
}
.vatbilling-x-panel .ui-jqgrid-bdiv {
    width: 100% !important;
	z-index:1;
}
.vatbilling-x-panel table#jQGridDemoBill {
    width: 100% !important;
}
.vatbilling-x-panel div#jQGridDemoPagerBill {
    width: 100% !important;
}
/*grid*/
table.vat-bill-table {
    font-size: 14px !important;
}
table.vat-bill-table input, table.vat-bill-table select {
    width: 130px !important;
}
td.vat-bill-table-type-td {
    width: 59px;
}  
table.vat-bill-table select#ddlbillttype {
    height: 25px !important;
}
table.vat-bill-table div#dvOuter_ddlCreditCustomers {
    height: 25px !important;
    min-height: 25px !important;
    border-radius: 0;
}
table.vat-bill-table input#txtddlCreditCustomers {
    padding: 3px;
}
table.vat-bill-table select#ddlChosseCredit
{
	width:192px !important;
	 height: 25px !important;

}
/*----responsive----*/
@media(max-width:347px)
{
	#globalSearchText {
		width: 46%;
	}
}
@media(max-width:480px)
{
    #btnShowScreen {
	    font-size: 12px;
	    padding: 6px;
    }
    #btnReprint {
	    font-size: 12px;
	    padding: 6px;
    }
    #btnEdit {
	    font-size: 12px;
	    padding: 6px;
    }
    #btnShowScreen {
	    font-size: 12px;
	    padding: 6px;
    }
     #txtDateFrom, #txtDateTo {
	    width: 100px !important;
    }
    .vatbilling_searchbar {
	    padding: 10px 20px !important;
	}
	.vatbilling_searchbar img {
	    width: 30px;
	    margin: 0 10px;
    }
    #txtItemCode {
	    width: 100px !important;
    }
    #txtSearch {
	    width: 100px !important;
    }
    #tbProductInfo td {
		font-size: 12px !important;
	}
	#tbamountinfo .date_or_items {
		font-size: 12px;
	}
}

@media(min-width:481px) and (max-width:567px)
{
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	    min-height: 567px;
    }
	#tbProductInfo td {
		font-size: 14px !important;
	}
} 
@media(min-width:568px) and (max-width:667px)
{
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	    min-height: 667px !important;
    }
	#tbProductInfo td {
		font-size: 14px !important;
	}
} 
@media(min-width:668px) and (max-width:767px)
{
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	    min-height: 767px !important;
    }
	#tbProductInfo td {
		font-size: 15px !important;
	}
} 
@media(min-width:768px) and (max-width:991px)
{
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
	    min-height: 991px !important;
    }
} 
@media(max-width:767px)
{
        div#gbox_jQGridDemoBill {
             width: 100% !important;
        }
        div#gview_jQGridDemoBill {
            width: 100% !important;
        }
        div#t_jQGridDemoBill {
            width: 100% !important;
            height: 30px;
        }
        .ui-state-default.ui-jqgrid-hdiv {
	        width: 100% !important;
	        overflow-x: scroll;
	        z-index: 1;
        }
        #jQGridDemoPagerBill {
	        width: 100% !important;
	        overflow-x: scroll;
	        z-index: 1;
        }
        .box h3 {
	        font-size: 12px;
	        padding: 2px;
        }
        .box h3:hover
        {
             font-size: 10px !important;
        }
        .vatbilling_products .leftside table tr th:first-child {
	        width: 92px;
        }
        .x_panel.vatbilling-x-panel {
	        overflow: auto;
			z-index:1;
        }
      
}
@media (min-width:768px) and (max-width:991px)
{
    .vatbilling_btns .button3 {
	    font-size: 11px;
	    padding: 7px 5px 5px;
	 }
	 .vatbilling_btns .button1 
	 {
	      font-size: 11px;
		padding: 7px 5px 5px;
	}
	.box h3:hover
    {
        height:90px !important;
    }
}
@media (min-width:992px) and (max-width:1024px)
{
    .vatbilling_btns .button3 {
	    font-size: 11px;
	    padding: 7px 5px 5px;
	 }
	 .vatbilling_btns .button1 
	 {
	      font-size: 11px;
		padding: 7px 5px 5px;
	}
	.cate {
	    min-height: 150px !important;
    }
    .box h3:hover
    {
        height:90px !important;
    }
	table.vat-bill-table input, table.vat-bill-table select {
		height: 21px !important;
	}
	table.vat-bill-table {
		font-size: 13px !important;
	}
	table.vat-bill-table select#ddlbillttype {
		height: 21px !important;
		padding: 0;
	}
	table.vat-bill-table div#dvOuter_ddlCreditCustomers {
		height: 21px !important;
		min-height: 21px !important;
	}
	table.vat-bill-table select#ddlChosseCredit {
		height: 21px !important;
	}
	table.vat-bill-table #btnBillWindowOk, table.vat-bill-table #btnBillWindowClose
	{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}
	.vat-bill-cate{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}
}
@media (min-width:1025px) and (max-width:1100px)
{
    .vatbilling_btns .button3 {
	    font-size: 11px;
	    padding: 7px 5px 5px;
	 }
	 .vatbilling_btns .button1 
	 {
	      font-size: 11px;
		padding: 7px 5px 5px;
	}
	.cate {
	    min-height: 150px !important;
    }
    .box h3:hover
    {
        height:90px !important;
    }

	table.vat-bill-table input, table.vat-bill-table select {
		height: 21px !important;
	}
	table.vat-bill-table {
		font-size: 13px !important;
	}
	table.vat-bill-table select#ddlbillttype {
		height: 21px !important;
		padding: 0;
	}
	table.vat-bill-table div#dvOuter_ddlCreditCustomers {
		height: 21px !important;
		min-height: 21px !important;
	}
	table.vat-bill-table select#ddlChosseCredit {
		height: 21px !important;
	}
	table.vat-bill-table #btnBillWindowOk, table.vat-bill-table #btnBillWindowClose
	{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}
	.vat-bill-cate{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}

}
@media (min-width:1101px) and (max-width:1200px)
{
    .vatbilling_btns .button3 {
	    font-size: 11px;
	 }
	 .vatbilling_btns .button1 
	 {
	      font-size: 11px;
	 }
	.cate {
	    min-height: 150px !important;
    }
    .box h3:hover
    {
        height:90px !important;
    }

	table.vat-bill-table input, table.vat-bill-table select {
		height: 21px !important;
	}
	table.vat-bill-table {
		font-size: 13px !important;
	}
	table.vat-bill-table select#ddlbillttype {
		height: 21px !important;
		padding: 0;
	}
	table.vat-bill-table div#dvOuter_ddlCreditCustomers {
		height: 21px !important;
		min-height: 21px !important;
	}
	table.vat-bill-table select#ddlChosseCredit {
		height: 21px !important;
	}
	table.vat-bill-table #btnBillWindowOk, table.vat-bill-table #btnBillWindowClose
	{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}
	.vat-bill-cate{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}


}
@media (min-width:1201px) and (max-width:1300px)
{
    .vatbilling_btns .button3 {
	    font-size: 11px;
	 }
	 .vatbilling_btns .button1 
	 {
	      font-size: 11px;
	 }
	.cate {
	    min-height: 150px !important;
    }
    .box h3:hover
    {
        height:90px !important;
    }
    .vatbilling_bottom {
	   margin: 15px auto 80px;
    }
	table.vat-bill-table input, table.vat-bill-table select {
		height: 21px !important;
	}
	table.vat-bill-table {
		font-size: 13px !important;
	}
	table.vat-bill-table select#ddlbillttype {
		height: 21px !important;
		padding: 0;
	}
	table.vat-bill-table div#dvOuter_ddlCreditCustomers {
		height: 21px !important;
		min-height: 21px !important;
	}
	table.vat-bill-table select#ddlChosseCredit {
		height: 21px !important;
	}
	table.vat-bill-table #btnBillWindowOk, table.vat-bill-table #btnBillWindowClose
	{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}
	.vat-bill-cate{
		padding-top:2px !important;
		padding-bottom:2px !important;
	}

}
@media (min-width:1301px) and (max-width:1400px)
{
    .box h3:hover
    {
        height:90px !important;
    }
    .vatbilling_bottom {
	   margin: 15px auto 20px;
    }
    .cate {
	    min-height: 150px !important;
    }
}

@media (min-width:1401px)
{
    .box h3:hover
    {
        height:90px !important;
    }
    .vatbilling_bottom {
	   margin: 15px auto 80px;
    }
    .cate {
	    min-height: 140px !important;
    }
}
@media(min-width:768px) and (max-width:1310px)
{
    .box h3 {
	        font-size: 16px;
	   }
	   .box h3:hover
        {
             font-size: 12px !important;
        }
}
@media screen and (max-width:999px) and (min-width:768px)
{
    .vatbilling_searchbar{padding: 10px 40px !important;}
    .vatbilling_searchbar input{width: 265px !important;}
    table#myCustomTable{width: 80%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 4px;}
    .vatbilling_products{margin: 8px auto;}
}
@media screen and (max-width:767px) and (min-width:620px)
{
    .vatbilling_searchbar{padding: 10px 33px !important;}
    .vatbilling_searchbar input{width: 230px !important;}
    table#myCustomTable{width: 100%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 0px;}
    .vatbilling_products{margin: 8px auto;}
    .vatbilling_searchbar img {margin: 0 10px;}
    .date_or_items {font-size: 14px; width: 50%;}
    .choos_services select{width: 110px; margin: 0px 2px 0;}
    .choos_services div#dvOuter_ddlMobSearchBox{width: 110px !important; margin: 0px 2px 0; min-width: auto !important;}
    .vatbilling_btns .button1{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns .button3{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns td {padding: 5px 1px;}
}
@media screen and (max-width:619px) and (min-width:500px)
{
    .vatbilling_searchbar{padding: 10px 25px !important;}
    .vatbilling_searchbar input{width: 172px !important;}
    table#myCustomTable{width: 100%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 0px;}
    .vatbilling_products{margin: 8px auto;}
    .vatbilling_searchbar img {margin: 0 10px;}
    .date_or_items {font-size: 12px; width: 50%;}
    .choos_services select {width: 85px; margin: 0px 1px 0; padding: 0 1px;}
    .choos_services div#dvOuter_ddlMobSearchBox{width: 85px !important; margin: 0px 1px 0; min-width: auto !important;}
    .vatbilling_btns .button1{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns .button3{font-size: 10px; padding: 12px 0px; line-height: 10px;}
    .vatbilling_btns td {padding: 5px 1px;}
    .date_or_items span {line-height: 15px;}
    .input_table input {width: 40px;}
    #myCustomTable td{padding: 1px 5px;}
    .vatbilling_bottom{width: 95%;}
    .vatbilling_cate2 table#tbamountinfo{width: 95%;}
}
@media screen and (max-width:499px) and (min-width:400px)
{
    .vatbilling_searchbar{padding: 10px 25px !important;}
    .vatbilling_searchbar input{width: 130px !important; height: 30px;}
    table#myCustomTable{width: 100%;}
    .choos_services tr {padding: 0 0px 0 0;}
    .choos_services td {padding: 0 0px;font-size: 10px;}
    .vatbilling_products{margin: 8px auto;}
    .vatbilling_searchbar img {margin: 0 10px; width: 28px;}
    .date_or_items {font-size: 12px; width: 50%;}
    .choos_services select {width: 64px; height: 30px; margin: 0px 1px 0; padding: 0 1px;}
    .choos_services div#dvOuter_ddlMobSearchBox{width: 70px !important; height: 30px; margin: 0px 1px 0; min-width: auto !important;}
    .vatbilling_btns .button1{font-size: 10px; padding: 5px 0px; line-height: 10px;}
    .vatbilling_btns .button3{font-size: 10px; padding: 5px 0px; line-height: 10px;}
    .vatbilling_btns td {padding: 5px 1px;}
    .date_or_items span {line-height: 15px;}
    .input_table input {width: 40px;}
    #myCustomTable td{padding: 1px 5px !important; font-size: 10px;}
    .vatbilling_bottom{width: 95%;}
    .vatbilling_cate2 table#tbamountinfo{width: 95%;}
    #tbamountinfo td {padding: 5px 1px;font-size: 9px;}
}


