﻿table#tbliteminfo1 {
    width: 100% !important;
	height:151px;
}
.amt-details-tbl {
    float: left !important;
}
.betlist_form_table {
    height: 478px;
    max-height: 478px;
    min-height: 478px;
	overflow:auto;
}
div#ScrollHgt1{
	height:305px !important;
	overflow:auto !important;
}
input#txtBillPrice1 {
    margin-left: 5px;
    margin-right: 5px;
}
select#ddlUser {
    width: 80px;
}
select#ddPos {
    width: 80px;
}
table.view-date-tbl {
    width: 100%;
}
input#dvsbtotal1 {
    width: 100% !important;
}
input#dvVat1 {
    width: 100% !important;
}
input#dvDeliveryChrg1 {
    width: 100% !important;
}
input#dvnetAmount1 {
    width: 100% !important;
}
table#tbliteminfo1 input {
    width: 50px !important;
}
select#ddlBranch {
    width: 80px;
}
.title_left h3 label {
    font-size: 22px;
}
.title_left h3 span {
    font-size: 15px !important;
}
.page-title.bill-screen-page-title .title_left {
    border-bottom: 1px solid #000;
}
.x_panel.view-bill-xpanel {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    
}
.page-title.bill-screen-page-title {
    float: left;
    width: 93%;
}
.view-btn-div {
	float: left;
	width: 7%;
	border: 2px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}
.view-btn-close{
    width: 100%;
    height: 45px;
    margin-bottom: 0;
}
.view-btn-close i{
    line-height:1.7;
	font-size:large;
}

@media(min-width:1201px){
	table#tbliteminfo1 {
     height: 182px;
	}
	div#ScrollHgt1 {
		height: 278px !important;
	}
}