﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="RptDetailbyGrpid.aspx.cs" Inherits="Reports_Rdlc_RptDetailbyGrpid" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
      <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
  <div>
    <rsweb:ReportViewer ID="ReportViewer1"  runat="server" Font-Names="Verdana" Font-Size="8pt" Height="1100" WaitMessageFont-Names="Verdana" WaitMessageFont-Size="14pt" Width="900px" >

    </rsweb:ReportViewer>
      </div>
</asp:Content>

